{% extends 'base.html' %}

{% load data_import %}
{% load utilities %}

{% block head_title %}Genome and Exome files{% endblock %}

{% block main %}
  <h3>Genome and Exome files</h3>
  <p>
    You can add your genome, exome, or genotyping data to Open Humans here.
    Files should be in <a
    href="https://en.wikipedia.org/wiki/Variant_Call_Format">VCF format</a>.
  </p>
  <p>
    Not sure if you have genome or exome data? Example sources include:
    <a href="https://www.fullgenomes.com/">Full Genomes Corporation</a>,
    <a href="https://genosresearch.com/">Genos Research</a>,
    <a href="http://www.illumina.com/company/events/understand-your-genome.html/">Illumina
      Understand Your Genome</a>, and
    <a href="https://www.veritasgenetics.com/">Veritas Genetics</a>. This does
    NOT include genotyping data that's not in VCF format; we separately support
    data donation from <a href="{% url 'activities:ancestry-dna:upload' %}">
      AncestryDNA</a> and <a href="{% url 'activities:23andme:upload' %}">
      23andMe</a>.
  </p>
  <p>
    If you have more than one VCF file data set, these can be added one at a
    time.
  </p>
  <p>
    <b>Only upload your own genome or exome data.</b>
  </p>

  <hr>

  {% if data_files %}
    <table class="table file-table table-hover">
      <thead>
        <tr>
          <th>Source</th>
          <th>Notes</th>
          <th>VCF file name</th>
          <th></th>
        </tr>
      </thead>

      {% for vcf_data in data_files %}

        <tr>
          <td style="width: 15%;">
            {{ vcf_data.get_vcf_source_display }}
          </td>
          <td style="width: 35%;">
            {{ vcf_data.additional_notes }}
          </td>
          <td>
            {{ vcf_data.vcf_file_basename }}
          </td>

          <td>
            <a href="{% url 'activities:genome-exome-data:file' vcf_data=vcf_data.id %}"
                class="btn btn-default btn-xs">Edit</a>
            <a
              href="{% url 'activities:genome-exome-data:delete-file' vcf_data=vcf_data.id %}"
              role="button"
              tabindex="0"
              data-toggle="popover"
              data-trigger="focus"
              data-content="
                <form class='delete-ubiome-file'
                  action='{% url 'activities:genome-exome-data:delete-file' vcf_data=vcf_data.id %}'
                  method='POST' style='display: inline-block;'>
                  {% csrf_token %}

                  <input class='btn btn-danger btn-xs' value='Confirm'
                    type='submit'>
                </form>
              "
              class="btn btn-danger btn-xs delete-button">Delete</a>
          </td>
        </tr>
      {% endfor %} {# vcf_data in data_files #}
    </table>
  <hr>
  {% endif %}
  <a href="{% url 'activities:genome-exome-data:upload' %}"
    style="margin-right: 5px;"
    class="btn btn-primary">Add a new genome or exome file</a>
  <a href="{% url 'activity-management' 'genome-exome-data' %}"
    class="btn btn-default">
    Go to Genome/Exome Data activity page
  </a>
{% endblock %}
