{% extends 'scopes/scope-container.html' %}

{% block icon %}
<span class="glyphicon glyphicon glyphicon-folder-open"
  aria-hidden="true"></span>
{% endblock %}

{% block description %}
<p>This permission grants access to your <strong>Wildlife of Our Homes</strong>
  data. A combination of read and write access is granted based on the other
  requested permissions.</p>

<p><strong>Write Access</strong> allows the requesting application to add and
  remove Wildlife of Our Homes files to and from your Open Humans account.</p>

<p><strong>Read Access</strong> allows the requesting application to access the
  list of Wildlife of Our Homes files associated with your Open Humans
  account.</p>
{% endblock %}
