<p>
  Projects have a powerful features that enable you to build a variety of
  research studies and more.
</p>

<ul>
  <li>
    <p>
      <b>Get data access</b><br>
      Looking for data? Members have a variety of data that they're ready to
      share! Invite members to share data with you. Data is immediately
      available via API, and you'll have ongoing access to updated data.
    </p>
  </li>
  <li>
    <p>
      <b>Work with members</b><br>
      It's not just data access &ndash; it's member access!
    </p>
    <p>
      For research you often want to build on data &ndash; ask a new question,
      examine data from a new angle! Projects are able to interact with their
      members via member ID. You can share a survey, send reminders, and share
      updates with your members.
    </p>
  </li>
  <li>
    <p>
      <b>Add new data</b></br>
      Projects can also be data sources &ndash; they can load data into member
      accounts!
    </p>
    <p>
      Are you a data holder? A researcher that wants to share data with your
      participants? With our API tools you can enable data export for your
      users, return data to participants, and build apps that add new data
      sources.
    </p>
  </li>
</ul>

<p>
  Project features work immediately! Up to ten users can join your project,
  enabling you to test all features before you're ready to deploy it.
</p>
