{% if oauth2_project %}
<h3 id="api-access-oauth2-member-endpoint">API data access: OAuth2 project member endpoint</h3>

<p>
  Using access tokens for specific users, OAuth2 projects can use this
  endpoint to:
</p>

<ul>
  <li>retrieve the user's project member ID</li>
  <li>access other data associated with the project member</li>
</ul>

<p>
  To use this endpoint, send a secure GET request (using 'https') to the following
  URL with the 'access_token' parameter set to the user's OAuth2 "access token":
</p>
<p><code>
  https://www.openhumans.org/api/direct-sharing/project/exchange-member/?access_token=&lt;USER_ACCESS_TOKEN&gt;
</code></p>
<p>
  This returns JSON-formatted data that can be used to
  programmatically access and retrieve data and files for this
  specific project member.  This data is paginated.  The returned JSON
  includes "count", which is the total number of files, a "next" key
  that, if there is more than one page of data will have the URL for
  the next page, and a "previous" key that will point to a URL that
  will point to the previous page of data.
</p>

<h4>Social log in with an Open Humans account</h4>

<p>
  This endpoint can also be used to perform <a href="https://en.wikipedia.org/wiki/Social_login">
  "social login"</a> &ndash; users could log in to your site "through" Open Humans.
  If you expect users to be Open Humans members, this could simplify account management.
</p>
{% endif %}

{% if oauth2_project %}
<h3 id="api-access-master-token">API data access: master access token endpoint</h3>
<p>
  In addition to traditional OAuth2 access tokens, your project will also have
  access to a "master access token" and associated APIs.
</p>
<p>
  <b>We recommend OAuth2 projects use OAuth2 API endpoints when possible.</b>
</p>
<p>
  If you wish to use master access token endpoints, consult
  <a href="{% url 'direct-sharing:on-site-data-access' %}">documentation for
  "On-site" projects</a>.
</p>
{% elif on_site_project %}

<h3 id="master-access-tokens">Master access tokens</h3>

{% include 'direct-sharing/partials/about-master-token.html' %}

<h3 id="api-access-master-token">API data access: master access token endpoint</h3>

<p>
  To access private data shared with your project, send a secure GET request
  (using 'https') to <code>/api/direct-sharing/project/members/</code>
  with the <code>access_token</code> parameter set to your project's
  "master access token".
</p>

<p>
  For example:
</p>

<p>
  <code>https://www.openhumans.org/api/direct-sharing/project/members/?access_token=&lt;MASTER_ACCESS_TOKEN&gt;</code>
</p>

<p>
  This returns <a href="https://en.wikipedia.org/wiki/JSON">JSON formatted</a>
  data that can be used to programmatically access and retrieve data and files
  for your project members.
</p>

<h4>Example API query results</h4>

<p>
  For example, the following result comes from project that requests
  RunKeeper data access and has a single member authorized.
</p>

<pre><code>
{
  "count": 1,
  "next": null,
  "previous": null,
  "results": [
    {
      "created": "2016-04-11T19:50:49.041825Z",
      "project_member_id": "76676885",
      "message_permission": false,
      "username_shared": false,
      "sources_shared": [
        "runkeeper"
      ],
      "username": null,
      "data": [
        {
          "id": 5915,
          "basename": "Runkeeper-activity-data-2016.json",
          "created": "2016-05-19T18:33:10.513837Z",
          "download_url": "https://open-humans-production.s3.amazonaws.com/member-files/runkeeper/d41ca013-8adc-44b2-eaf1-c229140d3f17/Runkeeper-activity-data-2016.json?Signature=phQ3qEf4KFvOdzTrBGvZZ%2bBKp8x%3D&Expires=1467284379&AWSAccessKeyId=AKIAIKOUJTDFSTN6P7GA",
          "metadata": {
            "tags": [
              "GPS",
              "Runkeeper"
            ],
            "complete": false,
            "dataYear": 2016,
            "description": "Runkeeper GPS maps and imported activity data."
          },
          "source": "runkeeper"
        }
      ]
    }
  ]
}
</code></pre>

<h4>Download URLs</h4>

<p>
  Data files for members can be retrieved using the <code>download_url</code>
  information. <b>These URLs are temporary authorizations that will expire.</b>
  You should use a program to immediately to retrieve the data files you need.
</p>

<h4>Pagination</h4>

<p>
  The API uses pagination via the <code>offset</code> querystring
  parameter; the default page size is 100 results. A smaller or larger page
  size can be specified with the <code>limit</code> parameter.
</p>
{% endif %}
