<h3 id="about-messages">About messages</h3>

<p>
  Projects on Open Humans can send messages to their project members. These
  messages are received as emails by members, where the "reply-to" is set to
  the "contact email" you've specified for your project.
</p>

<p>
  Messages are sent based on project member ID &ndash; this means projects
  can send messages to their members without having access to their email or
  other explicitly identifying information.
</p>

<p>
  <b>This feature is only available if your project has requested permission
  to send messages.</b> If a member didn't authorize this for your project,
  then you won't be able to send them messages.
</p>

<p>
  To test message formatting, we recommend you send messages to yourself.
  Join the project with your own account (as a test user) and send messages
  to your project member ID.
</p>

<h3 id="via-form">Sending via website form</h3>

<ol>
  <li><p>
    <b>Go to <a href="{% url 'direct-sharing:manage-projects' %}">your project management
    page</a>.</b>
  </p></li>
  <li><p>
    <b>Click the "Send messages" button for your project.</b>
  </p></li>
  <li><p>
    <b>Specify which members you're messaging.</b> You can either message
    all members in your project, or specify a comma-separated list of
    project member IDs.
  </p></li>
  <li>
    <p>
      <b>Enter your message subject.</b> A prefix
      "[Open Humans Project Message]" is added to create the final subject
      of the email a member receives. If not provided, the default uses your
      project name, e.g. '[Open Humans Project Message] From "Foobar Project"'.
    </p>
  </li>
  <li>
    <p>
      <b>Enter your message text.</b> You can specify the text
      <code>{% templatetag openvariable %} PROJECT_MEMBER_ID {% templatetag closevariable %}
      </code> anywhere in your message (multiple times, if needed). It will be
      replaced with the unique project member ID that identifies the member to
      your project.
    </p>
    <p>
      Including the project member ID can be useful when directing members to
      activities which collect member-specific information. For example, in a
      Google Form the ID can be included as parameter in the URL to
      pre-populate a field in the form. This allows you to automatically
      match the resulting form responses to the Open Humans member.
    </p>
  </li>
  <li>
    <p>
      <b>Send messages.</b> Click "Send messages" to send the message to the
      specified project members. Project members will receive an email with a
      standard footer. The reply-to for the email will be set to your project's
      "contact email".
    </p>
    <p>
      For example, the user "joesmith" might receive the following message if
      "Foobar Project" sends a message with subject "Quick questions about your
      data":
    </p>
    <div class="well">
      <samp>
        <p><b>From:</b> "Foobar Project"
          &lt;foobar.project.contact.email@example.com&gt;</p>
        <p><b>Subject:</b> [Open Humans Project Message] Quick questions
          about your data</p>
        <p>
          Dear participant, thank you for being part of our project! We
          wanted to check in with a brief survey that will help us better
          understand your data. This will greatly increase our ability to
          learn from your data, and should take less than five minutes. To
          complete our survey, please follow this link:
          https://www.example.com/foobar-project/survey-url/?userid=PROJECT_MEMBER_ID
        </p>
        <p>
          -------------------------------------------------------------------------------
        </p>
        <p>
          This email was sent by Open Humans project "Foobar Project" to "joesmith".
          It has been automatically delivered. The project has not been given your email
          address. You have no obligation to reply to this email or take any other action
          that might disclose your identity. Open Humans did not review nor retain a copy
          of this message’s contents and is not responsible for material sent by this
          project. You should retain a copy of this message if you may need it in the
          future.
        </p>
        <p>
          If you respond, the project will know your email address. Your email will go
          directly to the project's email address, this communication is not managed by
          Open Humans.
        </p>
        <p>
          When you authorized this project, you granted permission for it to send
          you messages. You may deauthorize this project by visiting your
          connection management page:
          &lt;https://www.openhumans.org{% url 'my-member-connections' %}&gt;.
          Please report abuses of messaging to Open Humans support
          &lt;support@openhumans.org&gt;.
        </p>
      </samp>
    </div>
  </li>
</ol>

<h3 id="api-master-token-endpoint">Via API with a master access token</h3>

<p>
  You can use the messaging endpoint to send messages to all the members of
  your project or a specified subset.
</p>

<p>
  The endpoint takes these parameters as a JSON object:
</p>

<ul>
  <li><code>all_members</code>: If specified it must be <code>true</code> or
    <code>false</code>.</li>

  <li><code>project_member_ids</code>: An array of project member IDs to send
    messages to.</li>

  <li><code>subject</code>: The text of the subject to use.
    A prefix ("[Open Humans Project Message]") is added to create the final
    subject of the email a member receives. If not provided, the default uses
    your project's name, e.g. '[Open Humans Project Message] From
    "Foobar Project"'.
  </li>

  <li><code>message</code>: The text of the message to send. For details on
    what the message text can contain and how it appears to the end user please
    see the documentation for <a href="#via-form">messages via online form</a>.
  </li>
</ul>

<p>
  You must either specify <code>true</code> for <code>all_members</code>
  <em>or</em> specify an array of <code>project_member_ids</code> but not both.
</p>

<p>
  The URL for the messaging endpoint is:
</p>

<p><code>
  https://www.openhumans.org/api/direct-sharing/project/message/?access_token=&lt;MASTER_ACCESS_TOKEN&gt;
</code></p>

<h5>Examples</h5>

<p>
  These two examples show sending a message to all members and to a specified
  array of project member IDs with the <a
  href="http://www.httpie.org/">httpie</a> tool:
</p>

<pre>
TOKEN="&lt;MASTER_ACCESS_TOKEN&gt;"
URL="https://www.openhumans.org/api/direct-sharing/project/message/?access_token=$TOKEN"

http -v POST $URL all_members:=true message:='"example message text"'
http -v POST $URL project_member_ids:='["12345678", "56781234"]' message:='"example message text"'
</pre>

<p>
  The output of the second command looks like this:
</p>

<pre>
POST /api/direct-sharing/project/message/?access_token=&lt;MASTER_ACCESS_TOKEN&gt; HTTP/1.1
Accept: application/json
Accept-Encoding: gzip, deflate
Connection: keep-alive
Content-Length: 63
Content-Type: application/json
Host: localhost:8000
User-Agent: HTTPie/0.9.3

{
    "message": "test\ntest\n",
    "project_member_ids": [
        "12345678",
        "56781234"
    ]
}

HTTP/1.0 200 OK
Allow: POST, OPTIONS
Cache-Control: no-cache, no-store, must-revalidate, max-age=0
Content-Language: en
Content-Type: application/json
Date: Thu, 21 Apr 2016 16:40:07 GMT
Expires: Thu, 21 Apr 2016 16:40:07 GMT
Last-Modified: Thu, 21 Apr 2016 16:40:07 GMT
Server: WSGIServer/0.1 Python/2.7.11
Vary: Accept, Accept-Language, Cookie
X-Frame-Options: SAMEORIGIN

"success"
</pre>

<h3 id="master-access-tokens">About master access tokens</h3>

{% include 'direct-sharing/partials/about-master-token.html' %}
