{% extends 'panel.html' %}

{% load utilities %}

{% block panel_title %}
Share data with the study "{{ study.title }}"
{% endblock %}

{% block panel_content %}
{% if not error %}
<div class="row" id="approval-form">
  <div class="col-xs-12">
    <form id="authorization" method="post">
      {% csrf_token %}

      {# add hidden fields #}
      {% for field in form %}
        {% if field.is_hidden %}
          {{ field }}
        {% endif %}
      {% endfor %}

      <p>You're connecting to the following study:</p>

      <table class="table">
        <tr>
          <td><strong>Name</strong></td>
          <td>{{ study.title }}</td>
        </tr>

        <tr>
          <td><strong>Description</strong></td>
          <td>{{ study.short_description }}</td>
        </tr>

        <tr>
          <td><strong>Principal Investigator</strong></td>
          <td>{{ study.principal_investigator }}</td>
        </tr>

        <tr>
          <td><strong>Institution/Organization</strong></td>
          <td>{{ study.organization }}</td>
        </tr>

        <tr>
          <td><strong>Website</strong></td>
          <td><a href="{{ study.website }}">{{ study.website }}</a></td>
        </tr>
      </table>

      <p><strong>This study requests access to the following data.</strong> If
        you share access to a data set, this study will have ongoing access to
        updated versions of that data.</p>

      {% if not all_connected %}
      <p><strong>Connecting data sources:</strong> If you connect a source,
        Open Humans will import your data to our site. We will not use that
        connection to modify your account or profile on other websites (e.g. we
        will not post on your behalf).</p>
      {% endif %}

      {% regroup study.data_requests.all by app_name as source_list %}

      {% for source in source_list %}
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <h4>{{ source.grouper }}</h4>
          </div>

          <div class="col-xs-6 col-md-6 text-right">
          {% for data_request in source.list %}
            {% if forloop.first %}
              {% if data_request.app_key not in user.member.connections %}
                <a class="btn btn-xs btn-primary connect-source"
                  href="{{ data_request.app_url }}?next={{ data_request.app_finalization_url }}{{ "?next="|urlencode }}{{ request.path|urlencode }}"
                >Connect <strong>{{ source.grouper }}</strong></a>
              {% endif %}
            {% endif %}
          {% endfor %}
          </div>
        </div>

        <table class="table">
        {% for data_request in source.list %}
          <tr>
            <td class="sharing-description">
              <p><strong>{{ data_request.app_name }}</strong></p>

              <p>{{ data_request.app_data_description }}</p>
            </td>

            <td class="sharing-approval">
              {% if data_request.app_key in user.member.connections %}
                {% if data_request.required %}
                  <label
                    title="This data is required for study participation."
                  >Always requested
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></label>
                {% else %}
                  <label>Share access
                    <input type="checkbox"
                      name="{{ data_request.request_key }}">
                  </label>
                {% endif %}
              {% endif %}
            </td>

            <td class="sharing-info">
              {% if data_request.app_key in user.member.connections %}
                {% if data_request.required %}
                <span class="popover-dismiss glyphicon glyphicon-question-sign"
                  aria-hidden="true"
                  data-placement="left"
                  data-toggle="popover"
                  data-content="This study always requests access to
                                <strong>{{ data_request.app_name }}</strong>
                                data."
                ></span>
                {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </table>
      {% endfor %}

      {{ form.errors }}
      {{ form.non_field_errors }}
    </form>
  </div>
</div>


<div class="row authorize-controls">
  <div class="col-xs-6">
    <p>Sharing this data will earn you a badge from
      <strong>{{ study.title }}</strong> for your Open Humans profile!</p>
  </div>

  <div class="col-xs-6 text-right">
    <div class="control-group">
      <div class="controls">
        <input form="authorization" type="submit"
          class="btn btn-large" value="Cancel">

        {% if required_connected %}
        <input form="authorization" type="submit"
          class="btn btn-large btn-primary" name="allow"
          value="Share this data with the study">
        {% else %}
        <button class="popover-dismiss btn btn-large" name="allow"
          data-placement="top"
          data-toggle="popover"
          data-content="You need to connect your data before you can share
                        with this study! This study always requests data from
                        <strong>{{ required_apps|join_and }}</strong>.">Share
          this data with the study</button>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% else %}
<div class="row">
  <div class="col-xs-12">
    <p>{{ error.description }}</p>
  </div>
</div>
{% endif %}
{% endblock %}
