# This is an example file showing what your local ".env" file should contain.
# (Note the leading period.)

# A long, random string used for cryptographic functions within Django
#SECRET_KEY="3efd62ee86d4a141c3e671d86ba1579f934cf04d"
SECRET_KEY=""

# The PostgreSQL database URL.
# e.g. for local dev with a database 'mydb', user 'jdoe', password 'pa55wd':
DATABASE_URL="postgres://jdoe:pa55wd@localhost/mydb"

# The main host URL. For example, for local development using xip.io:
PARENT_HOST = "127.0.0.1.xip.io"

# The URL for the site running open-humans-data-processing, our Flask app for
# data retrieval. It should include protocol, domain and port.
#DATA_PROCESSING_URL="https://127.0.0.1:5000".
DATA_PROCESSING_URL=""

# Amazon Web Services settings
# We use keys for deployment-specific IAM users to manage permissions.
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_S3_STORAGE_BUCKET_NAME=""

# GoViral API settings
GO_VIRAL_MANAGEMENT_TOKEN=""

# Fitbit API settings
FITBIT_ID=""
FITBIT_SECRET=""

# RunKeeper API settings
RUNKEEPER_ID=""
RUNKEEPER_SECRET=""

# Withings API settings
WITHINGS_ID=""
WITHINGS_SECRET=""

# Mailchimp settings
# The API key from your account page, under 'Extras', 'API Keys'
MAILCHIMP_API_KEY=""
# The ID of the email list, from the Mailchimp.lists.list() command
MAILCHIMP_NEWSLETTER_LIST=""

# The password used for mailgun integration
MAILGUN_PASSWORD=""

# Key used for BrowserStack. Some tests will fail if this isn't enabled.
BROWSERSTACK_KEY=""

# The URL BrowserStack will use to execute Selenium commands.
BROWSERSTACK_EXECUTOR=""

# Enable debugging for local development (required to stop redirecting http://
# to https:// too)
DEBUG="true"

# Log all Django messages to stdout
LOG_EVERYTHING="false"

# Disable memcached
DISABLE_CACHING="false"

# The port the web server should listen on
#PORT=8000
PORT=

# Recaptcha keys from https://www.google.com/recaptcha/admin#list
RECAPTCHA_PUBLIC_KEY=""
RECAPTCHA_PRIVATE_KEY=""

# The SSO secret from
# http://forum.openhumans.org/admin/site_settings/category/login
DISCOURSE_SSO_SECRET=""
