# This is an example file showing what your local ".env" file should contain.
# (Note the leading period.)

# Note: in the 23andme API, "App redirect URI" should be set to use the path:
# "/activities/auth/complete/23andme/", e.g. for local development:
# http://127.0.0.1:8000/activities/auth/complete/23andme/
23ANDME_KEY = client-key-here
23ANDME_SECRET = client-secret-here

# The password used for mailgun integration
MAILGUN_PASSWORD=""

# The port the web server should listen on
PORT=
