[tool.black]
line-length = 88
skip-string-normalization = true
py36 = true
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | migrations
  | static-files

  # The following are specific to Black, you probably don't want those.
  | blib2to3
  | tests/data
)/
'''
