# TODO: Replace this when 1.7 is released
https://www.djangoproject.com/download/1.7c2/tarball/
argparse==1.2.1
astroid==1.1.1
dj-static==0.0.6
flake8==2.2.2
gunicorn==19.1.0
logilab-common==0.62.0
mccabe==0.2.1
pep8==1.5.7
pyflakes==0.8.1
pylint==1.2.1
static3==0.5.1
wsgiref==0.1.2
