-e git+https://github.com/beaugunderson/django-storages-s3upload.git#egg=django-storages-s3upload
-e git+https://github.com/justinmayer/django-autoslug.git@4dc75083d84265e019a900d636273c731457193d#egg=django-autoslug
-e git+https://github.com/rdegges/django-sslify.git@9d8b55925b2493a832f57a6de553d10bb697cfda#egg=django-sslify
-e git+https://github.com/nedbat/django_coverage_plugin@e18f49669f48dd7b49ab6d4de07442026f1f1978#egg=django_coverage_plugin

ansicolors
arrow
beautifulsoup4
bleach
boto3
brotlipy
dj-database-url
Django==2.1.1
django-allauth
django-appconf
django-bootstrap-pagination
django-cors-headers
django-debug-toolbar
django-extensions
django-filter
django-forms-bootstrap
django-ipware
django-oauth-toolkit
django-pylibmc
django-recaptcha
djangorestframework-filters
django-storages
djangorestframework
factory-boy
feedparser
gevent
Jinja2
jsonfield==1.0.3  # can't remove this because migrations depend on it presently
mailchimp
Markdown
mock
Pillow  # for sorl-thumbnail
psycopg2-binary
raven
requests
selenium
sorl-thumbnail
termcolor
uWSGI
whitenoise==4.0

# modules we control
django-gulp
django-hash-filter2
env-tools

# for testing
Flask
Flask-OAuth
click
