-e git+https://github.com/beaugunderson/django-storages-s3upload.git#egg=django-storages-s3upload

# 20200507 Added to enable Apple OAuth from a feature PR in progress.
-e git+https://github.com/madprime/django-allauth.git@9421e182159258d28cf234d1c40d0d6cdab8e24d#egg=django-allauth

ansicolors
arrow
beautifulsoup4
bleach
boto3==1.12
brotlipy
celery==5.4.0
cffi==1.16.0
dj-database-url
Django==3.2
#django-allauth
django-appconf
django-autoslug
django-bmemcached
django-bootstrap-pagination
django-cors-headers
django-debug-toolbar
django-extensions
django-filter
django-forms-bootstrap
django-heroku
django-ipware
django-oauth-toolkit
django-recaptcha
django-storages==1.9.1
django-waffle==0.20.0
django_coverage_plugin
djangorestframework
factory-boy
feedparser
gevent
gunicorn
Jinja2
jsonfield  # can't remove this because migrations depend on it presently
mailchimp
Markdown
mock
Pillow  # for sorl-thumbnail
psycopg2==2.9.9
pyparsing
PyJWT
raven
redis
requests
selenium
sorl-thumbnail
termcolor

# modules we control
django-gulp
django-hash-filter2
env-tools
