-e git+https://github.com/beaugunderson/django-storages-s3upload.git#egg=django-storages-s3upload

# 20200507 Added to enable Apple OAuth from a feature PR in progress.
-e git+https://github.com/madprime/django-allauth.git@9421e182159258d28cf234d1c40d0d6cdab8e24d#egg=django-allauth

ansicolors
arrow
beautifulsoup4
bleach
boto3
brotlipy
celery==4.3.0
dj-database-url
Django==2.2.20
django-appconf
django-autoslug
django-bootstrap-pagination
django-cors-headers
django-debug-toolbar
django-extensions
django-filter
django-forms-bootstrap
django-heroku
django-ipware
django-oauth-toolkit
django-pylibmc
django-recaptcha
django-storages
django-waffle
django_coverage_plugin
djangorestframework
factory-boy
feedparser
gevent
gunicorn
Jinja2
jsonfield  # can't remove this because migrations depend on it presently
mailchimp
Markdown
mock
Pillow  # for sorl-thumbnail
pylibmc==1.5.2 # Note that memcache on heroku doesn't like the new version, so lock it here.
pyparsing
raven
redis
requests
selenium
sorl-thumbnail
termcolor

# modules we control
django-gulp
django-hash-filter2
env-tools
