# We specify the dev branch because it includes a fix for horizontal forms in
# Bootstrap 3 that isn't contained in 1.4.0
https://github.com/maraujop/django-crispy-forms/archive/dev.zip#egg=django-crispy-forms
Django==1.7
Markdown==2.5
Pillow==2.5.3
argparse==1.2.1
astroid==1.2.1
dj-database-url==0.3.0
dj-static==0.0.6
django-appconf==0.6
django-filter==0.7
django-forms-bootstrap==3.0.1
django-oauth2-provider==0.2.6.1
django-user-accounts==1.0c9
djangorestframework==2.4.2
easy-thumbnails==2.1
flake8==2.2.3
gunicorn==19.1.1
logilab-common==0.62.1
mccabe==0.2.1
pep8==1.5.7
pinax-theme-bootstrap-account==1.0b2
psycopg2==2.5.4
pyflakes==0.8.1
pylint==1.3.1
pytz==2014.7
six==1.8.0
static3==0.5.1
wsgiref==0.1.2
