{% load utilities %}

<hr>

<h2>Sharing Opportunities</h2>

<p>
  Data from this data source can be shared with the following projects:
</p>

<ul>
  {% for requesting_activity in requesting_activities %}
  <li>
    <a href="{% url 'activity' requesting_activity.slug %}">
      {{ requesting_activity.name }}:
    </a>

    {{ requesting_activity.authorized_members }}
    member{{ requesting_activity.authorized_members|pluralize }}

    {% project_is_connected requesting_activity user as connected %}
    {% if connected %}
      (joined)
    {% endif %}
  </li>
  {% endfor %}
</ul>
