<hr>

{% load data_import %}
{% load utilities %}

{% include 'partials/public-sharing-button.html' with public_button_next=request.path %}
<h2>Your Data</h2>

{% if data_files.count > 0 %}

  <div class="container-fluid">
    {% for data_file in data_files|dictsort:'basename' %}
    <div class="row datafile-list-row">
      <div class="col-xs-8 col-md-4" style="overflow-wrap: break-word;">
        {{ data_file.basename }}
      </div>
      <div class="col-xs-4 col-md-2 col-md-push-3">
        <a class="btn btn-default btn-xs" href="{% get_download_url data_file %}" download>
          Download</a>
      </div>
      <div class="col-xs-11 col-xs-offset-1 col-md-3 col-md-offset-0 col-md-pull-2">
        <small>
          {% if data_file.size %}<b>({{ data_file.size|filesizeformat }})</b>{% endif %}
          {{ data_file.description }}
        </small>
      </div>
      <div class="hidden-xs hidden-sm col-md-3">
        {% for tag in data_file.tags %}
        <span class="badge" style="background-color: #bbb3dd">{{ tag }}</span>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>

  {% if 'manage_files' in activity %}
    <h3>Upload additional files</h3>
    <p>
      <a href="{{ activity.manage_files }}" class="btn btn-default btn-lg">
        Manage files</a>
    </p>
  {% endif %}

{% else %}

  <p>You have no files from this data source.</p>

{% endif %}

<hr style="margin-bottom: 5px;">
{% if not activity.is_connected %}
<p class="text-muted"><small>
  This data source connection is no longer active, but your account
  retains these files. <a href="{% url 'delete-source-data-files' source=source %}">
    Click here to permanently remove these files</a>.
</small></p>
{% else %}
<p class="text-muted"><small>
  {% if 'project_id' in activity %}{{ activity.verbose_name }} will update your files as needed.
  {% else %}Open Humans will update your files for this source as needed.{% endif %}
  <a href="{{ disconnect_url }}?next={{ request.path }}">Click here to remove this connection</a>.
</small></p>
{% endif %}
