{% load utilities %}

<div id="activity-{{ project.id_label|slugify }}"
  class="item col-xs-12 col-sm-6 col-md-4 {{ activity.classes }}">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-3 col-sm-4 clearfix">
          {% make_badge project %}
        </div>

        <div class="col-xs-9 col-sm-8 description">
          <div>
            <span class="h4 name">{{ project.name }}</span>
          </div>

          {% if project.leader %}
          <div class="leader">
            {{ project.leader}}
            {% if project.organization %}
            <div class="organization">
              <small class="text-muted">
                {{ project.organization }}
              </small>
            </div>
            {% endif %}
          </div>
          {% endif %}


          <div class="connected-members">
            <small>
            {{ project.connect_verb|title }}ed by
            <b><span class="members">
              {{ project.authorized_members|default:'0' }}
            </span></b>
            members
            </small>
          </div>

        </div>
      </div>

      {% if not no_description %}
      <p class="activity-description">
        {{ project.short_description }}
      </p>
      {% endif %}

      <hr>

      <center>
        {% if project.is_connected %}
          <b>Joined!</b><br>
          <span class="joined-subtext text-muted">
            Manage this connection
            {% if project.has_files %}and your data{% endif %} on the
          <a {% if project.slug %}
              href="{% url 'activity-management' project.slug %}"
              {% else %}
              href="{{ project.join_url }}"
              {% endif %}>
            activity page</a>.
        {% else %}
          <a {% if project.slug %}
              href="{% url 'activity-management' project.slug %}"
              {% else %}
              href="{{ project.join_url }}"
              {% endif %}
              class="btn btn-primary btn-xs">
            <b>Learn more</b>
          </a>
        {% endif %}
      </center>
    </div> <!-- /panel-body -->
    {% if project.commentary %}
    <div class="panel-footer">
      <div class="featured-project-commentary">
        {{ project.commentary|safe }}
      </div>
    </div>
    {% endif %}
  </div> <!-- /panel panel-default -->
</div> <!-- /item -->
