{% load utilities %}

<ul>
  {% if permissions.share_username %}
  <li>
    <b>Access to username.</b> The project also receives access to any
    data publicly shared by a member in their Open Humans profile.
  </li>
  {% endif %}

  {% if permissions.send_messages %}
  <li>
    <b>Permission to send messages.</b> Messages are received as emails,
    but the project does not receive access to the member's email address.
  </li>
  {% endif %}

  {% if permissions.all_sources %}
  <li>
    <b>Access to all data sources in your account.</b> This project receives
    ongoing access to all data sources you have in your account.
  </li>
  {% endif %}

  {% if permissions.share_sources %}
  <li>
    <b>Access to these data sources:</b>

    <ul>
      {% for requested_project in permissions.share_sources %}
      {% project_is_connected requested_project user as connected %}
      <li>
        <a href="{% url 'activity-management' source=requested_project.slug %}">
          <strong>{{ requested_project.name }}</strong>
        </a>
        {% if connected %}
          (joined)
        {% endif %}
        </li>
      {% endfor %}
    </ul>

  </li>
  {% endif %}

  <li>
    {% if 'returned_data_description' in permissions and permissions.returned_data_description %}
    <b>Permission to return data:</b> {{ permissions.returned_data_description }}
    {% else %}
    <b>Data management.</b> All projects have the ability to
    return data to your account. However, this project does not
    plan to do so.
    {% endif %}
  </li>
</ul>
