{% load static %}
{% load utilities %}
{# the "info" panel on an activity page #}
<div class="row">
  <div class="col-md">
    <h2>Project membership</h2>

    {# Project membership: joined #}
    {% if project_member %}

      {# Membership info #}
      <div class="mb-3">
        <div class="mb-1">
            <b class="mr-2">Joined:</b>
            {{ project_member.joined_date|date }}
        </div>
        <div class="mb-1">
            <b class="mr-2">Project member ID:</b>
            {{ project_member.project_member_id }}
        </div>
        <div class="mb-1">
          <b class="mr-2">Membership status:</b>
          {% if project_member.visible %}
          Visible
          {% else %}
          Hidden
          {% endif %}
        </div>
        <div class="mb-1">
          <b class="mr-2">Project data status:</b>
          {% if project_member.publicdataaccess.is_public %}
          Public
          {% else %}
          Private
          {% endif %}
        </div>
      </div>
      {# end of: Membership info #}

      {# Message project button #}
      <div class="d-flex mb-3">
        <div class="pr-3">
          <a class="btn btn-primary-hollow btn-md"
            href="{% url 'activity-messaging' source=project.slug %}">Message&nbsp;project</a>
        </div>
        <div class="d-flex align-items-center">
          <div class="reduced text-muted">
            Send a message to project coordinators.
          </div>
        </div>
      </div>
      {# end of: Message project button #}

      {# Membership visibility button #}
      <div class="d-flex mb-3">
        {# Hidden form logic for toggling membership visibility #}
        <form class="toggle-visibility" method="post" id="membership-visibility-form">
          {% csrf_token %}
          {% if project_member.visible %}
            <input type="hidden" name="visible_status" value="False">
          {% else %}
            <input type="hidden" name="visible_status" value="True">
          {% endif %}
        </form>

        {# Buttons for membership visibility form #}
        {% if project_member.visible %}
        <div class="d-flex align-items-center pr-3">
          <button type="submit" form="membership-visibility-form"
              class="btn btn-primary-hollow btn-md">
            Hide&nbsp;membership</button>
        </div>
        <div class="d-flex align-items-center">
          <div class="reduced text-muted">
            Click here to make your membership
            in this project private.
          </div>
        </div>
        {% else %}
        <div class="d-flex align-items-center pr-3">
          <button type="submit" form="membership-visibility-form"
              class="btn btn-primary-hollow btn-md">
            Show&nbsp;membership</button>
        </div>
        <div class="d-flex align-items-center">
          <div class="reduced text-muted">
            Click here to make your membership
            in this project visible to others.
          </div>
        </div>
        {% endif %}
      </div>
      {# end of: Membership visibility button #}

      {# Public data button #}
      {# only show if files exist or project plans to add data #}
      {% if member_data_files or project.returned_data_description %}
      <div class="d-flex mb-3">
        {% if project.no_public_data or not project_member.member.public_data_participant.enrolled %}
        <div class="pr-3">
          <button class="btn btn-primary-hollow btn-md" disabled
            >Make&nbsp;data&nbsp;public</a>
        </div>
        <div class="d-flex align-items-center">
          <div class="reduced text-muted">
            {% if project.no_public_data %}
            Sorry, the option for public data sharing is disabled for this project.
            {% elif not project_member.member.public_data_participant.enrolled %}
            This option is only available to members that have activated the
            <a href='{% url 'public-data:home' %}'>Public Data Sharing</a> feature.
            {% endif %}
          </div>
        </div>
        {% else %}
        <form id="toggle-public-sharing-form"
              action="{% url 'public-data:toggle-sharing' %}" method="POST"
              style="display: inline-block;">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.path }}">
          <input type="hidden" name="source" value="{{ project.id_label }}">
          {% if project_member.publicdataaccess.is_public %}
            <input type="hidden" name="public" value="False">
          {% else %}
            <input type="hidden" name="public" value="True">
          {% endif %}
        </form>
        <div class="pr-3">
          <button type="submit" form="toggle-public-sharing-form"
                class="btn btn-primary-hollow btn-md">
            {% if project_member.publicdataaccess.is_public %}
            Stop&nbsp;public&nbsp;sharing
            {% else %}
            Make&nbsp;data&nbsp;public
            {% endif %}
          </button>
        </div>
        <div class="d-flex align-items-center">
          <div class="reduced text-muted">
            {% if project_member.publicdataaccess.is_public %}
            Stop publicly sharing data from this project.
            Only share with specifically authorized recipients.
            {% else %}
            Publicly share data from this project. If membership
            is visible, your data also appears on your profile.
            {% endif %}
          </div>
        </div>
        {% endif %}

      </div>
      {% endif %}
      {# end of: Public data button #}

      {# Leave project button #}
      <div class="d-flex mb-3">
        <div class="pr-3">
          <a class="btn btn-primary-hollow btn-md"
            href="{% url 'direct-sharing:leave-project' pk=project_member.pk %}?next={{ request.path }}">Leave&nbsp;project</a>
        </div>
        <div class="d-flex align-items-center">
          <div class="reduced text-muted">
              Immediately revoke all permissions, and optionally delete data
              deposited by the project.
          </div>
        </div>
      </div>
      {# end of: Leave project button #}

    {# end of: Project membership: joined #}

    {% else %}
    {# Project membership: not joined / anonymous user #}

      <p>You have not joined <b>{{ project.name }}</b> yet.</p>
      <div class="d-flex mb-3">
        <div class="d-flex align-items-center pr-3">
          <a class="btn btn-primary btn-lg" href="{{ project.join_url }}">{{ project.connect_verb|title }}&nbsp;project</a>
        </div>
        <div class="d-flex align-items-center">
          <div class="reduced text-muted">
            You'll review terms and permissions before finalizing authorization.
          </div>
        </div>
      </div>
      {% if requests_permissions or project.returned_data_description %}
      <hr>
      <h3>
        {% if not requests_permissions %}Added data
        {% elif not project.returned_data_description %}Permissions
        {% else %}Permissions &amp; added data{% endif %}
      </h3>
      {% include 'partials/activity-permissions-bs4.html' %}
      {% endif %}

    {% endif %} {# / if project_member #}

    <hr class="d-md-none">
  </div>

  <div class="col-md">
    {% if requesting_projects %}
      <h2>Projects &amp; studies</h2>
      <p class="mb-1">
        You can use &amp; share your data from {{ project.name }} with the
        following other projects:
      </p>
      <div class="d-flex flex-wrap p-2">
        {% for req_project in requesting_projects %}
        <div class="w-25">
          <a href="{% url 'activity' req_project.slug %}">
            <div class="d-flex justify-content-center">
              <div>
                {% make_badge req_project 'activity-badge-h3rem' %}
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <div class="small text-center">{{ req_project.name }}</div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      <hr>
    {% endif %}
    {% if notebooks %}
      <h2>Notebooks</h2>
      <p>You can explore your data from {{ project.name }} with the
        following <a href="{% url 'activity' 'junos-personal-data-exploratory' %}">personal
        data notebooks</a>.
      </p>
      <ul>
      {% for notebook in notebooks %}
        <li><a href="{{ notebook.details_url }}">{{ notebook.name }}</a>
          by <a href="{% url 'member-detail-direct' notebook.user %}">{{ notebook.user }}</a>
        </li>
      {% endfor %}
      </ul>
      <hr>
    {% endif %}
    <h2>Recent Members</h2>
    <div class="d-flex py-2">
      {% for member in recent_members %}
      <div class="w-25">
        <a href="{% url 'member-detail-direct' member.user.username %}">
          <div class="d-flex justify-content-center">
            <img src="{% static 'images/profile-placeholder.png' %}" style="height:2.5rem;">
          </div>
          <div class="d-flex justify-content-center">
            <div class="small text-center">{{ member.name }}</div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    <p>
      <a href="{% url 'api:members-by-source' %}?source={{ project.id_label }}">See
        all members...</a>
    </p>
    <hr>
    <h2>Project information</h2>
    <div>

      {# repeat short partial from above w/ coordinator #}
      {% include 'partials/activity-info-short-bs4.html' %}

      {# member count, public data, launch date, info url, and contact email #}
      <div class="mb-1">
        <b class="mr-2">Joined by:</b>
        <a href="{% url 'api:members-by-source' %}?source={{ project.id_label }}">
        {{ project.authorized_members }} members</a>
      </div>
      {% if public_count %}
      <div class="mb-1">
        <b class="mr-2">Public data:</b> shared by
        <a href="{% url 'api:public-data' %}?source={{ project.id_label }}">
          {{ public_count }} members</a>
      </div>
      {% endif %}
      <div class="mb-1">
        <b class="mr-2">Launched:</b> {{ project.project_approval_date|date }}
      </div>
      <div class="mb-1">
        <b class="mr-2">Project website:</b>
        <a href="{{ project.info_url }}">{{ project.info_url }}</a>
      </div>
      <div class="mb-1">
          <b class="mr-2">Contact email:</b>
          <a href="mailto:{{ project.contact_email }}">{{ project.contact_email }}</a>
      </div>

      {% if project.review_url %}
      <div class="d-flex mb-1">
        <div class="d-flex mr-2">
          <b>Project&nbsp;review:</b>
        </div>
        <div class="d-flex">
          <p>
          <a href="{{ project.review_url }}">See review in our forum</a>
          <br><small class="text-muted">Projects are community reviewed! <a href="https://forums.openhumans.org/t/activity-review-guide/15">Read more about contributing.</a></small>
          </p>
        </div>
      </div>
      {% endif %}

      {# terms link for OAuth2 projects #}
      {% if project.oauth2datarequestproject %}
      <div class="mb-1">
        <b class="mr-2">Project {% if project.is_study %}informed consent{% else %}terms{% endif %}:</b>
        <a href="{% if project.oauth2datarequestproject.terms_url %}{{ project.oauth2datarequestproject.terms_url }}{% else %}{{ project.info_url }}{% endif %}">Read on project website</a>
      </div>
      {% else %}
      <!-- Button trigger modal -->
      <b class="mr-2">Project {% if project.is_study %}informed consent{% else %}terms{% endif %}:</b>
      <button type="button" class="btn btn-primary-hollow btn-sm" data-toggle="modal" data-target="#termsModal">
        View {% if project.is_study %}informed consent{% else %}terms{% endif %}
      </button>

      <!-- Modal -->
      <div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="{{ project.name}}: {% if project.is_study %}informed consent{% else %}terms{% endif %}" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="termsModalTitle">{{ project.name}}: {% if project.is_study %}informed consent{% else %}terms{% endif %}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {{ project.onsitedatarequestproject.consent_text|markdown }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary-hollow" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      {# describe permissions and added data #}
      {% include 'partials/activity-permissions-bs4.html' %}
    </div>
  </div>
</div>