{% load utilities %}

<hr>

<h2>Sharing Opportunities</h2>

<p>
  Data from this data source can be shared with the following projects:
</p>

<ul>
  {% for requesting_activity in requesting_activities %}
  {% with requesting_project=requesting_activity.requesting_project %}
  <li>
    <a href="{% url 'activity-management' source=requesting_project.slug %}">
      {{ requesting_project.name }}:
    </a>

    {{ requesting_project.authorized_members }} member{{ requesting_project.authorized_members|pluralize }}

    {% project_is_connected requesting_project user as connected %}
    {% if connected %}
      (joined)
    {% endif %}
  </li>
  {% endwith %}
  {% endfor %}
</ul>
