<div class="row">
  <div class="col-md-3">
    <span class="h4">{{ source.verbose_name }}</span>
  </div>

  <hr class="visible-xs-block">
  <hr class="visible-sm-block">

  <div class="col-md-9">

    {% if not user_data.is_connected %}
    <div class="row">
      <div class="col-xs-6 col-md-8">
        Are you a participant?
      </div>

      <div class="col-xs-6 col-md-4">
        <a class="btn btn-xs btn-default"
          href="{{ source.href_connect }}?origin=open-humans">
          Connect your account</a>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-xs-6 col-md-8">
        Want to learn more?
      </div>

      <div class="col-xs-6 col-md-4">
        <a class="btn btn-xs btn-default" href="{{ source.href_learn }}">
          Learn about {{ source.verbose_name }}</a>
      </div>
    </div>

    {% elif not user_data.has_key_data %}
    <div class="row">
      <div class="col-xs-6 col-md-8">
        Additional data required for data import.

        <br>

        {% autoescape off %}
        <small class="text-muted">{{ source.msg_add_data }}</small>
        {% endautoescape %}
      </div>

      <div class="col-xs-6 col-md-4">
        <a class="btn btn-xs btn-default" href="{{ source.href_add_data }}">
          Go to {{ source.verbose_name }} to add data</a>
      </div>
    </div>

    {% else %}
    <div class="row">
      <div class="col-xs-6 col-md-8">
        Perform a new data import?
      </div>

      <div class="col-xs-6 col-md-4">
        <form action="{{ source.retrieval_url }}"
            method="POST" style="display:inline-block;">
          {% csrf_token %}

          <input class="btn btn-default btn-xs" type="submit"
            value="Start new {{ source.verbose_name }} import">
        </form>
      </div>
    </div>
    {% endif %}

  </div>
</div>
