<table style="width:100%;">
  <tbody>
    <tr>
      <th width="25%" style="vertical-align:top;">{{ text_name }}</th>
      <td width="75%">
        <table style="width:100%;">
          <tbody>
          {% if not is_connected %}
            <tr>
              <td width="33%">
                Have a {{ text_name }} account?
              </td>
              <td style="padding-bottom:10px;">
                <a class="btn btn-default btn-xs" href="#" data-toggle="modal"
                  data-target="#{{ modal_target }}">
                Connect your account
            </tr>
          {% else %}
            <tr>
              <td width="33%">
                Perform a new data import?
              </td>
              <td>
                <form action="{{ retrieval_url }}"
                    method="POST" style="display:inline-block;">
                  {% csrf_token %}
                  <input class="btn btn-default btn-xs" type="submit"
                    value="Start new {{ text_name }} import">
                </form>
              </td>
            </tr>
          {% endif %}
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
