{% load hash_filter %}

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

var options = {};

{% if request.user.username %}
options = {
  userId: '{{ request.user.username|hash:'md5' }}'
};
{% endif %}

ga('create', 'UA-88179092-1', 'auto', options);
ga('require', 'linkid');
ga('send', 'pageview');
</script>

<script>
jQuery(document).ready(function(){
  jQuery('.signup-link').click(function(){
    ga('send', 'event','button','click','signup');
  })
  jQuery('.signup-link').click(function(){
    ga('send', 'event','button','click','signup');
  })
  jQuery('a[href="/research/"]').click(function(){
    ga('send', 'event','button','click','research');
  })
  jQuery('a[href="/members/"]').click(function(){
    ga('send', 'event','button','click','members');
  })
  jQuery('a[href="/about/"]').click(function(){
    ga('send', 'event','button','click','about');
  })
  jQuery('a:contains("Activities")').click(function(){
    ga('send', 'event','button','click','Activities');
  })
})
</script>
