{% if user.is_authenticated %}
  {% if user.member.primary_email.verified %}
    {% if source %}
    <a class="btn btn-primary {{ class }}"
      href="{{ source.href_connect }}?origin=open-humans&next={{ source.href_next }}">
      {{ text }}
    </a>
    {% else %}
    <a class="btn btn-primary {{ class }}" href="{{ href }}">
      {{ text }}
    </a>
    {% endif %}
  {% else %}
  <a href="#" class="btn btn-info popover-dismiss {{ class }}"
    role="button" tabindex="0"
    data-container="body" data-toggle="popover" data-placement="bottom"
    data-content="We'd like to make sure we can contact you. Please
      validate your email to enable data import!">
    {{ text }}
  </a>
  {% endif %}
{% else %}
  <a href="#" class="btn btn-info popover-dismiss {{ class }}"
    role="button" tabindex="0"
    data-container="body" data-toggle="popover"
    data-placement="bottom"
    data-content="Create an account to start importing data!">
    {{ text }}
  </a>
{% endif %}
