{% if user.is_authenticated %}
  {% if user.member.primary_email.verified %}
    {% if href %}
    <a class="btn btn-primary {{ class }}" href="{{ href }}">
      {{ text }}
    </a>
    {% elif source %}
    <a class="btn btn-primary {{ class }}"
      href="{{ source.href_connect }}?origin=open-humans&amp;next={{ source.href_next }}">
      {{ text }}
    </a>
    {% endif %}
  {% else %}
  <a href="#" class="btn btn-info popover-dismiss {{ class }}"
    role="button" tabindex="0"
    data-container="body" data-toggle="popover" data-placement="bottom"
    data-content="We'd like to make sure we can contact you. Please
      validate your email before doing data import!">
    {{ text }}
  </a>
  {% endif %}
{% else %}
  <a class="btn btn-info popover-dismiss {{ class }}"
    role="button"
    tabindex="0"
    data-container="body"
    data-toggle="popover"
    data-placement="bottom"
    data-content='<a onClick="return storeRedirect();"
                     href="{% url 'account_signup' %}">Sign up</a> or
    <a onClick="return storeRedirect();"
       href="{% url 'account_login' %}">log in</a> to
    add this.'>
    {{ text }}
  </a>
{% endif %}
