<div class="row">
  <div class="col-md-3">
    <span class="h4">{{ source.verbose_name }}</span>
  </div>

  <hr class="visible-xs-block">
  <hr class="visible-sm-block">

  <div class="col-md-9">
    {% if not user_data.is_connected %}
    <div class="row">
      <div class="col-xs-6 col-md-8">
        Are you a {{ source.verbose_name }} user?
      </div>

      <div class="col-xs-6 col-md-4">
        <a class="btn btn-default btn-xs"
          href="{{ source.href_connect }}?next={{ source.href_next|default:'' }}">
        Connect your account</a>
      </div>
    </div>

    {% else %}
    <div class="row">
      <div class="col-xs-6 col-md-8" style="vertical-align:middle;">
        Update your {{ source.verbose_name }} data?
      </div>

      <div class="col-xs-6 col-md-4">
        <form action="{{ source.retrieval_url }}"
            method="POST" style="display: inline-block;">
          {% csrf_token %}

          <input class="btn btn-default btn-xs" type="submit"
            value="Reprocess your {{ source.verbose_name }} data">
        </form>
        <a class="btn btn-default btn-xs"
          href="{{ source.href_connect }}">
            Upload {{ source.verbose_name }} data again
        </a>
      </div>
    </div>

    {% endif %}
  </div>
</div>
