{{ user_name }},

Congrats! Your Open Humans account is now connected to {{ connection_name }}.
We will import data from this source, if it is available. Imported data may
update automatically in the future.

Imported data is private by default. You choose when to share! There may be
opportunities to share this data directly with studies. You can also make this
data public, contributing it to our public resource of freely available
research data. {% if is_public_data_participant %}To activate the option to
publicly share data, you must be enrolled in our {{ public_data_sharing_url }}
study.  Once enrolled, y{% else %}Y{% endif %}ou can manage which data you're
publicly sharing on your {{ research_data_url }}.

Thank you for being a Member of our site!

Open Humans
