{{ message|linebreaks }}

<br>

<hr>

<p style="font-family: monospace">
  <strong>This email was sent by Open Humans member "{{ sender.username }}" to
  "{{ receiver.username }}".</strong> It has been automatically delivered. The
  sender has not been given the recipient's email address. The recipient has no
  obligation to reply to this email or take any other action that might
  disclose their identity. Open Humans did not review nor retain a copy of this
  message’s contents and is not responsible for material sent by this member.
  You should retain a copy of this message if you may need it in the future.
</p>

<p style="font-family: monospace">
  <strong>If you respond, the sender will know your email address.</strong>
  Your email will go directly to the sender’s email address, this communication
  is not managed by Open Humans.
</p>

<p style="font-family: monospace">
  Receiving messages is optional. You may refuse messages by going to your <a
    href="https://www.openhumans.org/member/me/account-settings/">account
    settings</a> and unselecting “Allow other members to contact you?” Please
  report abuses of messaging to <a href="mailto:support@openhumans.org">Open
    Humans support</a>.
</p>
