{% load utilities %}<p><strong>Thank you for joining the Open Humans community!</strong></p>

<p>
  It's our mission to help connect you and your data with researchers.
  In Open Humans, you'll be able to build a profile with data you receive
  from studies and commercial sources. We'll invite you to share that data
  in various ways, publicly or directly with projects.
</p>

<p>
  To make sure you get future emails from us, add our email to your
  "contacts". Without this step, our emails might be "filtered" by your
  email client!
</p>

<hr>

<b>Add Your Data</b>

<p>
  We have many data sources you can add! Each source you add is a generous
  contribution to science and gets you a badge on your public profile. It also
  helps enable more studies because researchers can design studies more easily
  when they know members have data ready to share.
</p>

<p>
  Check out data sources: <a href="{{ add_data_url }}">{{ add_data_url}}</a>
</p>

<b>Explore and Share</b>

<p>
  Once you've added data, you can start to explore and share it! We support
  diverse projects to help you learn more about your data. You can also join
  projects to contribute to citizen science and academic research studies.
</p>

<p>
  Join projects to explore and share:
  <a href="{{ explore_share_url }}">{{ explore_share_url}}</a>
</p>

<hr>

<b>Public Data Sharing</b>

<p>
  <b>Data is private by default.</b> For each data source, you can opt to turn
  on public sharing. To enable this feature, you'll need to activate it here:
  {{ public_sharing_url }}
</p>

<p>
  You'll be able to turn "public" status on (and off) for each of your data
  sources on individual activity pages, or on your data management page:
  {{ data_management_url }}
</p>

{% if not newsletter %}
<hr>

<b>News and Updates</b>

<p>
  You've opted to not receive news and update emails. Maybe you'd like to enable
  this? We really don't email much! We email to tell Members about new studies and
  activities, and give updates about progress in current studies. You can change
  this on your account settings page: {% url 'my-member-settings' %}
</p>

{% endif %}
<hr>

<p>
  Thank you again for joining Open Humans! With your help, we'll start breaking
  down data silos in human health and research.
</p>

<p>Sincerely,</p>

<p>Mad, Bastian, and the rest of the Open Humans team.</p>

<p>P.S. You can also follow us on Twitter at <a
    href="https://twitter.com/OpenHumansOrg">@OpenHumansOrg</a>,
    <a href="https://www.facebook.com/openhumansorg/">Facebook</a>, and the
    <a href="http://blog.openhumans.org/">Open Humans blog!</a></p>
