{% load utilities %}<p><strong>Thank you for joining the Open Humans community!</strong></p>

<p>
  It's our mission to empower you with your personal data, to explore and
  share for the purposes of education, health, and research.
</p>

<p>
  To make sure you get future emails from us, add our email to your
  "contacts". Without this step, our emails might be "filtered" by your
  email client!
</p>

<hr>

<b>Adding Data</b>

<p>
  Your account can be used to collect and manage any personal data you
  choose to connect to Open Humans. We have activities created by us, as
  well as other members, that enable adding data from a variety of sources.
  enable adding data from a variety of sources.
</p>

<p>
  Check out data sources: <a href="{{ add_data_url }}">{{ add_data_url}}</a>
</p>

<b>Explore and Share</b>

<p>
  We also support a variety of activities that engage members in
  exploring their data, as well as contributing it to group activities –
  from academic studies to citizen science projects. Your data is private
  by default: you choose when to share it.
</p>

<p>
  Activities to explore or share data:
  <a href="{{ explore_share_url }}">{{ explore_share_url}}</a>
</p>

<hr>

<b>Public Data Sharing</b>

<p>
  <b>Data is private by default.</b> But sometimes people decide to make
  some of their data a "public resource". For each data source, you can opt
  to turn on public sharing. To enable this feature, you'll need to activate
  it here: {{ public_sharing_url }}
</p>

<p>
  You'll be able to turn "public" status on (and off) for each of your data
  sources on individual activity pages.
</p>

{% if not newsletter %}
<hr>

<b>News and Updates</b>

<p>
  You've opted to not receive news and update emails. Maybe you'd like to enable
  this? We really don't email much! We email to tell members about new studies and
  activities, and give updates about progress in current studies. You can change
  this on your account settings page: {% url 'my-member-settings' %}
</p>

{% endif %}
<hr>

<p>
  Thank you again for joining Open Humans!
</p>

<p>Sincerely,</p>

<p>Mad, Bastian, and the rest of the Open Humans team.</p>

<p>P.S. You can also follow us on Twitter at <a
    href="https://twitter.com/OpenHumansOrg">@OpenHumansOrg</a>, and on the
    <a href="http://blog.openhumans.org/">Open Humans blog!</a></p>
