{% extends 'panel.html' %}

{% load bootstrap_tags %}
{% load utilities %}

{% block head_title %}Import mPower data{% endblock %}

{% block extra_js %}
  {{ form.media }}
{% endblock %}

{% block panel_content %}
<div>

  {% include "scopes/study-data-description.html" %}

  <hr>
  <h4>About mPower</h4>

  <p>
    The mPower study is an iPhone app for monitoring the symptoms of
    Parkinson's disease (PD). The study uses a combination of surveys, tasks,
    and sensor data to investigate and track symptoms. Contributions from
    people without Parkinsons' disease are welcomed: this "control" data helps
    researchers understand what data is "normal" and what reflects the
    symptoms of Parkinson's disease. Visit the mPower website to learn
    more: <a href="http://parkinsonmpower.org/">http://parkinsonmpower.org</a>
  </p>

  <h4>How to get your data</h4>

  <ol>
    <li>Instructions.</li>
    <li>More instructions.</li>
    <li>Going here.</li>
  </ol>

  <hr>
  <h4>Upload data</h4>
  <p>
    You can use the form below to upload your mPower data to Open Humans.
    Once you're done adding the file, press the "Process" button.
  </p>

  {% include "s3upload/_dropzone_form.html" with form=form %}

  <br>

  <p class="text-right">
    <a class="btn btn-info" id="upload-file-first"
      href="#">Upload a file before continuing</a>

    <a class="btn btn-default" id="process-file"
      href="{% url 'my-member-research-data' %}">Process</a>
  </p>
</div>
{% endblock %}
