{% extends 'panel.html' %}

{% load bootstrap_tags %}
{% load static %}

{% block head_title %}Add a datatype{% endblock %}

{% block panel_content %}
<p>
  Here, you can create new datatypess for your data.  Please try to keep
  new datatypes that are subtypes of existing datatypess associated with
  these existing datatypess.  For instance, if your project uploads genetic
  data, please include your new datatype as a child of the genetic data
  datatype.
</p>
<div class="row pad-all-sides">
  <form class="form-vertical" role="form" method="post"
    action="{% url 'direct-sharing:add-datatype' %}" id="add-datatype-form" rel="persist">
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="alert alert-danger">
      <p>
        {% for error in form.non_field_errors%}
          <strong>Error:</strong> {{ error }}
        {% endfor %}
      </p>
    </div>
    {% endif %}

    {{ form|as_bootstrap }}


    <input id="add-datatype" type="submit"
      value="Add datatype"
      form="add-datatype-form" class="btn btn-default">
  </form>
</div>
{% endblock %}
