{% extends 'private_sharing/authorize-base.html' %}

{% block form_content %}
<form id="authorization" method="post">
  {% csrf_token %}

  {% for field in form %}
    {% if field.is_hidden %}
      {{ field }}
    {% endif %}
  {% endfor %}

  {{ form.errors }}
  {{ form.non_field_errors }}

  <p>
    <input type="checkbox" id="hide-membership" name="hide-membership"
           value="hidden_membership">
    Check here if you would like to hide your project membership from
    others (for instance, whether this project's badge is visible on
    your public profile).  If you elect to also publicly share your
    data, it will continue to be shared, but without your username
    associated with it.
  </p>
  <p>

    <input form="authorization" type="submit"
      class="btn btn-large btn-primary" name="allow" value="Authorize project">

    <input form="authorization" type="submit"
      class="btn btn-large btn-default" value="Cancel">
  </p>
</form>
{% endblock %}
