{% extends 'private_sharing/authorize-base.html' %}

{% block form_content %}
<form class="form-vertical" role="form" method="post"
  action="." id="authorize-project-form">
  {% csrf_token %}
</form>

<form class="form-vertical" role="form" method="post"
  action="." id="cancel-form">
  <input type="hidden" name="cancel" value="cancel">

  {% csrf_token %}
</form>

<p>
  <strong>Membership visibility.</strong><br>
  If hidden, this project's badge will not be visible in your public profile
  and you won't be listed in any public listings of project membership.<br>
  <input type="checkbox" id="hide-membership" name="hide-membership"
         form="authorize-project-form" value="hidden_membership">
         Hide membership
</p>

<hr>

<p>
  <input id="authorize-project" type="submit"
    value="Authorize project"
    form="authorize-project-form" class="btn btn-primary">

  <input id="cancel" type="submit"
    value="Cancel"
    form="cancel-form" class="btn btn-default">
</p>
{% endblock %}
