{% extends 'private_sharing/authorize-base.html' %}

{% block form_content %}
<form id="authorization" method="post">
  {% csrf_token %}

  {% for field in form %}
    {% if field.is_hidden %}
      {{ field }}
    {% endif %}
  {% endfor %}

  {{ form.errors }}
  {{ form.non_field_errors }}

  <p>
  <strong>Membership visibility.</strong><br>
  If hidden, this project's badge will not be visible in your public profile
  and you won't be listed in any public listings of project membership.<br>
  <input type="checkbox" id="hide-membership" name="hide-membership"
         form="authorization" value="hidden_membership">
         Hide membership
  </p>

  <hr>

  <p>
    <input form="authorization" type="submit"
      class="btn btn-large btn-primary" name="allow" value="Authorize project">

    <input form="authorization" type="submit"
      class="btn btn-large btn-default" value="Cancel">
  </p>
</form>
{% endblock %}
