{% extends 'private_sharing/authorize-base.html' %}

{% block form_content %}
<form id="authorization" method="post">
  {% csrf_token %}

  {% for field in form %}
    {% if field.is_hidden %}
      {{ field }}
    {% endif %}
  {% endfor %}

  {{ form.errors }}
  {{ form.non_field_errors }}

  <p>
  <strong>Membership visibility.</strong><br>
  Whether or not your membership in this project is visible to others (e.g.
  whether this project's badge is visible on your public profile). If you're
  publicly sharing your data, it will continue to be shared, but without your
  username associated with it.
  <br>
  <input type="checkbox" id="hide-membership" name="hide-membership"
         form="authorization" value="hidden_membership">
         Hide membership
  </p>

  <hr>

  <p>
    <input form="authorization" type="submit"
      class="btn btn-large btn-primary" name="allow" value="Authorize project">

    <input form="authorization" type="submit"
      class="btn btn-large btn-default" value="Cancel">
  </p>
</form>
{% endblock %}
