{% extends 'private_sharing/authorize-base.html' %}

{% block form_content %}
<form class="form-vertical" role="form" method="post"
  action="." id="authorize-project-form">
  {% csrf_token %}
</form>

<form class="form-vertical" role="form" method="post"
  action="." id="cancel-form">
  <input type="hidden" name="cancel" value="cancel">

  {% csrf_token %}
</form>

<p>
  <strong>Membership visibility.</strong><br>
  Whether or not your membership in this project is visible to others (e.g.
  whether this project's badge is visible on your public profile). If you're
  publicly sharing your data, it will continue to be shared, but without your
  username associated with it.
  <br>
  <input type="checkbox" id="hide-membership" name="hide-membership"
         form="authorize-project-form" value="hidden_membership">
         Hide membership
</p>

<hr>

<p>
  <input id="authorize-project" type="submit"
    value="Authorize project"
    form="authorize-project-form" class="btn btn-primary">

  <input id="cancel" type="submit"
    value="Cancel"
    form="cancel-form" class="btn btn-default">
</p>
{% endblock %}
