{% extends 'base.html' %}

{% block head_title %}Create a data request study or activity{% endblock %}

{% block main %}
<h1>Create a data request study or activity</h1>

<p>
  How will your participants be consented and connect to Open Humans?
</p>

<p>
  There are two options. Your choice here affects the technical process for
  members consenting to your study and opting to share data with you!
</p>

<p>
  Give some thought as to what data, information, and permissions you'll
  request access to through Open Humans. After activity or study approval, this
  list may no longer be edited.
</p>

<h2>A. "OAuth2"</h2>

<p>
  Informed consent occurs on your study website. Users create accounts on your
  site, data access occurs through OAuth2 authorization. (Note: you can use the
  OAuth2 data you access to perform “social authentication” as the basis of
  user accounts on your site.)
</p>

<h3>Overview</h3>

<p>
  Your participants consent to your study elsewhere, outside Open Humans.
</p>

<ol>
  <li>You provide Open Humans with your study’s URL for enrollment&mdash;we’ll
    share this with members interested in contributing to your study.</li>

  <li>Participants go to your website to perform informed consent and
    enroll.</li>

  <li>You’ll use an OAuth2 connection to request access to their Open Humans
    data.</li>
</ol>

<p>
  <a href="{% url 'private-sharing:create-oauth2' %}"
    class="btn btn-large btn-primary">Create an OAuth2 data request
    activity</a>
</p>

<h2>B. Informed consent occurs on Open Humans</h2>

<ol>
  <li>You provide us with text consent to present to members.</li>

  <li>Members are presented with this consent. If they agree, they’ll be
    presented with the data sharing request. This should look the same as the
    data sharing request presenting for process A.</li>
</ol>

<p>
  <a href="{% url 'private-sharing:create-on-site' %}"
    class="btn btn-large btn-primary">Create an on-site data request
    activity</a>
</p>
{% endblock %}
