{% extends 'panel.html' %}

{% load bootstrap_tags %}
{% load static from staticfiles %}

{% block head_title %}Create an activity{% endblock %}

{% block panel_content %}
<div class="row pad-all-sides">
  <form class="form-vertical" role="form" method="post"
    action="." id="create-activity-form">

    {% csrf_token %}

    {{ form|as_bootstrap }}

    <input id="create-activity" type="submit"
      value="Create activity"
      form="create-activity-form" class="btn btn-default">
  </form>
</div>
{% endblock %}
