{% extends 'panel.html' %}

{% load bootstrap_tags %}
{% load static %}

{% block head_title %}Create a project{% endblock %}

{% block panel_content %}
<p>
  The information you enter below initializes your project. It can all be
  edited later! Once initialized, you can start testing and improving your
  project.
</p>
<div class="row pad-all-sides">
  <form class="form-vertical" role="form" method="post"
    action="." id="create-project-form" rel="persist"
    enctype="multipart/form-data">
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="alert alert-danger">
      <p>
        {% for error in form.non_field_errors%}
          <strong>Error:</strong> {{ error }}
        {% endfor %}
      </p>
    </div>
    {% endif %}

    {{ form|as_bootstrap }}


    <input id="create-project" type="submit"
      value="Create project"
      form="create-project-form" class="btn btn-default">
  </form>
</div>
{% endblock %}
