{% extends 'panel.html' %}

{% load utilities %}
{% load private_sharing %}

{% block head_title %}Confirm removal{% endblock %}

{% block panel_content %}
<div class="row">
  <div class="col-xs-12">
    <p>Are you sure you want to leave the project
      <strong>'{{ object.project.name }}'</strong>?</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <form method="POST" action="">
      {% csrf_token %}

      <div class="checkbox">
        <label>
          <input type="checkbox" name="remove_datafiles">

          Remove my data files for {{ object.project.name }} from Open Humans
        </label>
      </div>

      {% erasure_requested_checkbox object %}

      <p class='text-right'>
        <input type="submit" class="btn btn-danger" value="Withdraw &amp; revoke authorization">
      </p>
    </form>
  </div>
</div>
{% endblock %}
