{% extends 'base.html' %}

{% block head_title %}Manage activities and studies{% endblock %}

{% block main %}
<h2>Manage activities and studies</h2>

<h3>OAuth2 activities and studies</h3>

<ul>
  {% for project in oauth2 %}
  <li>
    {{ project.name }} -

    <a href="{% url 'private-sharing:detail-oauth2' pk=project.pk %}">view</a>
    <a href="{% url 'private-sharing:update-oauth2' pk=project.pk %}">edit</a>
  </li>
  {% endfor %}
</ul>

<h3>On-site activities and studies</h3>

<ul>
  {% for project in onsite %}
  <li>
    {{ project.name }} -

    <a href="{% url 'private-sharing:detail-on-site' pk=project.pk %}">view</a>
    <a href="{% url 'private-sharing:update-on-site' pk=project.pk %}">edit</a>
  </li>
  {% endfor %}
</ul>

{% endblock %}
