{% extends 'base.html' %}

{% block head_title %}Working with Members and their private data{% endblock %}

{% block main %}
<h3>Direct data sharing &amp; working with members</h3>

<p>
  Open Humans members bring a multitude of data that they're ready to share.
  Follow our instructions for setting up a project, and get started immediately
  on inviting our members to share data with you.
</p>
<p>
  Want to do more than just see members' data? You'll also be able to invite
  members to your own website or form, where you can collect additional
  information and continue working with them. It's not just data access &ndash;
  it's member access!
</p>
<p>
  Open Humans members want to share their data with research studies, and so
  we expect most projects to be "studies" &ndash; human subjects research
  with IRB review. However, on a case-by-case basis we may also allow
  non-research "activities" &ndash; e.g. data visualizations or reports
  that help members understand their data.
</p>

<hr>
<h4>How to make data requests</h4>

<p>
  To work with members and request access to their data, you'll need to
  register your project. Your "draft" stage project can be edited and tested
</p>

<ol>
  <li>
    <p>
      <b>Decide what type of interaction you want.</b>
    </p>
    <p>
      We support two methods for requesting data access...
    </p>
    <ol>
      <li>
        <b>OAuth2 authorization</b>
        <br>
        <p>
          Are you running your own website with user accounts? You probably
          want the "OAuth2" method, where you send users to authorize data
          access on our website using an OAuth2 process. The OAuth2 process
          can also be used for "social login". Running your own website
          maximimizes your ability to work with individuals, but requires a lot
          of technicial ability!
        </p>
      </li>
      <li>
        <b>On site authorization</b>
        <br>
        <p>
          Not a website techie? No worries! You can give us your consent
          text and we'll present it to our users on this website. You'll
          be able to retrieve the data members share with you via our API.
        </p>
        <p>
          If you want to ask members to do something more ­&ndash; fill out a
          survey, for example &ndash; you have the option of forwarding them to
          a URL of your choosing. Their user ID code can be embedded in this
          URL. That means you could (for example) send them to a Google Form
          with the user ID code in a pre-filled field.
        </p>
      </li>
    </ol>
  </li>
  <li>
    <p><b>Draft your project</b></p>
    <p>
      Complete our forms to create your project. Create an account or log in,
      then fill out information to start your project, including...
    </p>
    <p>
      <ul>
        <li>Project name and description</li>
        <li>Leader(s) or principal investigator(s)</li>
        <li>Organization or insitution</li>
        <li>Contact email</li>
        <li>Consent form (for "on site" authorization)</li>
      </ul>
    </p>
    <p>
      These are drafts! You can keep editing these during your project
      drafting stage.)
    </p>
    <p>
      <a href="{% url 'private-sharing:manage-projects' %}"
        class="btn btn-default">
      Start a new project on your project management page
      </a></p>
  </li>
  <li>
    <p><b>Try running it!</b></p>
    <p>
      You can get started immediately: projects in the drafting stage are able
      to work with up to 10 members.
    </p>
    <p>
      Follow instructions on the project's management page to test...
    </p>
    <p>
      <ul>
        <li>Requesting permission from members</li>
        <li>Collecting additional data from members</li>
        <li>Using our API to access data</li>
      </ul>
    </p>
    <p>
      Once you feel like everything is working correctly, you can request
      approval to upgrade the project.
    </p>
  </li>
  <li>
    <p><b>Request approval</b></p>
    <p>
      To work with more than 10 members, you'll need to contact us and ask
      to be approved by Open Humans. Once approved, your project can also be
      shared with our members! Please follow the instructions on your project's
      management page for seeking project approval.
    </p>
    <p>
      For approval, we require any project classified as a "study" to have
      been reviewed and approved by an Institutional Review Board or equivalent
      ethics board.
    </p>
  </li>
</ol>

<h4>What you can request...</h4>

<p>
  You'll be able to request access to any of the following data sources.
  This list evolves and expands as Open Humans supports new types of data.
</p>

<ul>
{% for source in sources %}
<li>
  <b>{{ source.1.verbose_name }}</b>
  <br>
  <p>{{ source.1.data_description.description }}</p>
</li>
{% endfor %}
</ul>

<p>
  You can also request:
</p>

<ul>
  <li>
    <b>Permission to send messages</b>
    <br>
    <p>
      Permission to send the Member messages. (This does not share their email
      address with you.) We know that sometimes you'll want to send updates and
      reminders!
  </p>
  </li>
  <li>
    <b>Access to username</b>
    <br>
    <p>
      Access to username is optional - and some projects might not want it!
      All direct data sharing is done with random, project-specific user codes.
      Requesting access to the username implicitly grants you access to all
      public data that Member is sharing. (For many Members, this makes them
      identified or more identifiable.)
    </p>
  </li>
</ul>

<p>
  Once you set up your project, it will be immediately possible for Members to
  approve data sharing with it. Immediate access enables you to start developing
  for your project, in advance of IRB approval. Until Open Humans approves it,
  however, it won't be promoted to Members and it will be capped to a maximum
  of 10 Members.
</p>
<p>
  Contact Open Humans to request approval for your project. All "study"
  projects must have approval from an IRB or equivalent ethics board to be
  approved by Open Humans.
</p>

<h3>Accessing data</h3>

<p>
  <b>
    Note - the API is in development!
  </b>
  The following isn't currently true, but it should be true soon!
</p>
<p>
  Once Members are sharing data with you, you'll be able to immediately access
  that data via our Private Data API. Your project will have a master token
  that you can use to retrieve data from Members, associated with a
  project-specific user ID code.
</p>
<p>
  Projects interacting with OAuth2 authorization will also be able to retrieve
  the user ID code corresponding to the token their OAuth2 process generates.
  This API endpoint can also be used for "social login", enabling your users
  to log in with their Open Humans account.
</p>
{% endblock %}
