{% extends 'base.html' %}

{% load utilities %}

{% block head_title %}Activity detail{% endblock %}

{% block main %}
<h1>{{ object.name }}</h1>

<p>ID: {{ object.id }}</p>
<p>Leader: {{ object.leader }}</p>
<p>Organization: {{ object.organization }}</p>
<p>Contact email: {{ object.contact_email }}</p>
<p>Information URL: {{ object.info_url }}</p>
<p>Short description: {{ object.short_description }}</p>
<p>Long description: {{ object.long_description|markdown }}</p>
<p>Active: {{ object.active }}</p>
<p>Badge image: {{ object.badge_image }}</p>
<p>Requested sources: {{ object.request_sources_access }}</p>
<p>Requested message permission: {{ object.request_message_permission }}</p>
<p>Requested username permission: {{ object.request_username_access }}</p>

{% if object.type == 'oauth2' %}
<p>Enrollment URL: {{ object.enrollment_url }}</p>
<p>Redirect URL: {{ object.redirect_url }}</p>
{% elif object.type == 'on-site' %}
<p>Consent text: {{ object.consent_text|markdown }}</p>
<p>Post-sharing URL: {{ object.post_sharing_url }}</p>
{% endif %}
{% endblock %}
