{% extends 'base.html' %}



{% block head_title %}Members requesting data erasure{% endblock %}

{% block main %}

<h3>Members requesting data erasure</h3>

Below you can find a listing of the project members that have requested erasure
of their data from &#34;{{ object.name }}&#34;.

<hr>

{% for project_member in object_list %}

  {{ project_member.project_member_id }}<br>

{% endfor %}

<p>

{% if page_obj.has_previous %}
  <a href="?page=1">&laquo; first</a>
  <a href="?page={{ page_obj.previous_page_number }}">previous</a>
{% endif %}

<span class="current">
  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
</span>

{% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}">next</a>
  <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
{% endif %}

</p>
{% endblock %}
