{% extends 'base.html' %}

{% load utilities %}

{% block head_title %}Activity detail{% endblock %}

{% block main %}
<h3>Project details</h3>

<p>
  Below are the details of your project. Click the "edit" button for the
  project in <a href="{% url 'direct-sharing:manage-projects' %}">your
  project management page</a> to change these.
</p>

<p>
  <a class="btn btn-default"
    href="{% url 'direct-sharing:message-members' slug=object.slug %}">
    Message project members</a>
</p>

<hr>

<h4><strong>"{{ object.name }}"</strong></h4>

<dl class="dl-horizontal">
  <dt>Project ID</dt>
  <dd>{{ object.id }}</dd>

  <dt>Authorized members</dt>
  <dd>{{ object.authorized_members }}</dd>

  {% if object.type == 'on-site' %}
  <dt>Signup URL</dt>
  <dd>
    {% if object.active %}
    <a href="{% url 'direct-sharing:join-on-site' slug=object.slug %}">
      {% url 'direct-sharing:join-on-site' slug=object.slug %}
    </a>
    {% else %}
    <em>Projects must be "active" to have a functioning signup URL.</em>
    {% endif %}
  </dd>
  {% endif %}

  <dt>Project type</dt>
  <dd>
    {% if object.is_study %}
      Study
    {% else %}
      Activity
    {% endif %}
  </dd>

  <dt>Leader</dt>
  <dd>{{ object.leader }}</dd>

  <dt>Organization</dt>
  <dd>{{ object.organization }}</dd>

  <dt>Academic/non-profit?</dt>
  <dd>{{ object.is_academic_or_nonprofit }}</dd>

  <dt>Contact email</dt>
  <dd><a href="mailto:{{ object.contact_email }}">{{ object.contact_email }}</a></dd>

  <dt>Information URL</dt>
  <dd><a href="{{ object.info_url }}">{{ object.info_url }}</a></dd>

{% if object.type == 'oauth2' %}
  <dt>Enrollment URL</dt>
  <dd><a href="{{ object.enrollment_url }}">{{ object.enrollment_url }}</a></dd>

  <dt>Redirect URL</dt>
  <dd><a href="{{ object.redirect_url }}">{{ object.redirect_url }}</a></dd>
{% elif object.type == 'on-site' %}
  <dt>Post-sharing URL</dt>
  <dd><a href="{{ object.post_sharing_url }}">{{ object.post_sharing_url }}</a></dd>
{% endif %}

  <dt>Short description</dt>
  <dd>{{ object.short_description }}</dd>

  <dt>Long description</dt>
  <dd>{{ object.long_description }}</dd>

  <dt>Active</dt>
  <dd>{{ object.active }}</dd>

  <dt>Badge image</dt>
  <dd>{{ object.badge_image|default:'None' }}</dd>

  <dt>Requested sources</dt>
  <dd>
    {% if not object.request_sources_access|length %}
      None
    {% else %}
      {{ object.request_sources_access_names|join_and }}
    {% endif %}
  </dd>

  <dt>Message permission</dt>
  <dd>{{ object.request_message_permission }}</dd>

  <dt>Username permission</dt>
  <dd>{{ object.request_username_access }}</dd>

{% if object.type == 'on-site' %}
  <dt>Consent text:</dt>
  <dd>
    <div class="panel panel-default">
      <div class="panel-body on-site-consent">
        {{ object.consent_text|markdown }}
      </div>
    </div>
  </dd>
{% endif %}
</dl>

<h4>API access credentials</h4>

<p><em>Please keep your master access token safe! It's meant to be
confidential. Contact us to regenerate it if you believe it's been shared
with unauthorized individuals or security is otherwise compromised.</em></p>

<dl class="dl-horizontal">
  <dt>Master access token</dt>
  <dd>
    <code>{{ object.master_access_token }}</code>

    (expires {{ object.token_expiration_date }})
  </dd>
</dl>

{% if object.type == 'oauth2' %}
<h4>OAuth2 credentials</h4>

<p><em>Please keep your client secret safe! It's meant to be confidential.
Contact us to regenerate it if it's ever accidentally made public.</em></p>

<dl class="dl-horizontal">
  <dt>Client ID</dt>
  <dd><code>{{ object.application.client_id }}</code></dd>

  <dt>Client secret</dt>
  <dd><code>{{ object.application.client_secret }}</code></dd>
</dl>

<h4>OAuth2 URLs</h4>

<dl class="dl-horizontal">
  <dt>Authorization</dt>
  <dd><code>https://www.openhumans.org/direct-sharing/projects/oauth2/authorize/</code></dd>

  <dt>Access token</dt>
  <dd><code>https://www.openhumans.org/oauth2/token/</code></dd>

  <dt>List members</dt>
  <dd><code>https://www.openhumans.org/api/direct-sharing/project/members/?access_token=&lt;MASTER_ACCESS_TOKEN&gt;</code></dd>

  <dt>Get member by token</dt>
  <dd><code>https://www.openhumans.org/api/direct-sharing/project/exchange-member/?access_token=&lt;USER_ACCESS_TOKEN&gt;</code></dd>
</dl>
{% endif %}
{% endblock %}
