{% extends 'base.html' %}



{% block head_title %}Members requesting data erasure{% endblock %}

{% block main %}

<h3>Members requesting data erasure</h3>

Below you can find a listing of the project members that have requested erasure
of their data from &#34;{{ object.name }}&#34;.

<hr>

<table class="table">
  <thead>
    <tr>
      <th style="width: 45px;"></th>
      <th>Project Member ID</th>
    </tr>
  </thead>

  <tbody>

    {% for project_member in object_list %}

      <tr>
        <td>
          {{ project_member.project_member_id }}
        </td>
      </tr>

    {% endfor %}
  </tbody>
</table>
<p>


{% endblock %}
