{% extends 'panel.html' %}

{% load bootstrap_tags %}
{% load static from staticfiles %}

{% block head_title %}Update an activity{% endblock %}

{% block panel_content %}
<div class="row pad-all-sides">
  <form class="form-vertical" role="form" method="post"
    action="." id="update-activity-form">

    {% csrf_token %}

    {{ form|as_bootstrap }}

    <input id="update-activity" type="submit"
      value="Update activity"
      form="update-activity-form" class="btn btn-default">
  </form>
</div>
{% endblock %}
