{% extends 'panel.html' %}

{% load bootstrap_tags %}
{% load static from staticfiles %}

{% block head_title %}Update a project{% endblock %}

{% block panel_content %}
<p>
  Use the form below to edit the information about your project.
</p>
<div class="row pad-all-sides">
  <form class="form-vertical" role="form" method="post"
    action="." id="update-project-form">

    {% csrf_token %}

    {{ form|as_bootstrap }}

    <input id="update-project" type="submit"
      value="Update project"
      form="update-project-form" class="btn btn-default">
  </form>
</div>
{% endblock %}
