{% extends 'panel.html' %}

{% load utilities %}

{% block head_title %}Confirm deletion{% endblock %}

{% block panel_content %}
<div class="row">
  <div class="col-xs-12">
    <p>
      Are you sure you want to remove <strong>{{ object.basename }}</strong>?
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-right">
    <form method="POST" action="">
      {% csrf_token %}

      <p>
        <input type="submit" class="btn btn-danger" value="Delete file">
      </p>
    </form>
  </div>
</div>
{% endblock %}
