{% extends 'panel.html' %}

{% load bootstrap_tags %}
{% load utilities %}

{% block extra_js %}
  {{ form.media }}
{% endblock %}

{% block head_title %}Upload Data Selfie files{% endblock %}

{% block panel_content %}
<div class="row pad-all-sides">
  <p>
    Use the form below to upload any files you would like. Once you're
    done, you can add descriptions for them on the file management page.
  </p>

  <p>
    If you change your mind about a file after it's uploaded you can delete the
    file on the next page.
  </p>

  <p>
    Note: we won't do any processing of Data Selfie files to remove
    potentially sensitive information!
  </p>

  <hr>

  {% include "s3upload/_dropzone_form.html" with form=form %}

  <div class="text-right">
    <br>

    <a class="btn btn-info" id="upload-file-first"
      href="#">Upload a file before continuing</a>

    <a class="btn btn-default" id="go-to-data-selfie"
      href="{% url 'activities:data-selfie:manage' %}">Manage Data Selfie files</a>
  </div>
</div>
{% endblock %}
