{% extends 'panel.html' %}

{% load utilities %}

{% block panel_title %}
{% if not error %}
Authorization Request
{% else %}
Error: {{ error.error }}
{% endif %}
{% endblock %}

{% block panel_content %}
{% if not error %}
<div class="row">
  <div class="col-xs-12">
    <form id="authorization" method="post">
      {% csrf_token %}

      {% for field in form %}
        {% if field.is_hidden %}
          {{ field }}
        {% endif %}
      {% endfor %}

      <p><strong>{{ application.name }}</strong>, a third-party application, is
        requesting access to the following
        permission{{ scopes|length|pluralize }}:</p>

      {% for scope, description, type in scopes %}
        {% with "scopes/"|add:scope|add:".html" as template %}
          {% try_include template %}
        {% endwith %}
      {% endfor %}

      {{ form.errors }}
      {{ form.non_field_errors }}
    </form>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-right">
    <div class="control-group">
      <div class="controls">
        <input form="authorization" type="submit"
          class="btn btn-large" value="Cancel">
        <input form="authorization" type="submit"
          class="btn btn-large btn-primary" name="allow" value="Authorize">
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col-xs-12">
    <p>{{ error.description }}</p>
  </div>
</div>
{% endif %}
{% endblock %}
