{% extends 'panel.html' %}

{% block panel_title %}
{% if not error %}
Authorize {{ application.name }}?
{% else %}
Error: {{ error.error }}
{% endif %}
{% endblock %}

{% block panel_content %}
{% if not error %}
<div class="row">
  <div class="col-xs-12">
    <form id="authorization" method="post">
      {% csrf_token %}

      {% for field in form %}
        {% if field.is_hidden %}
          {{ field }}
        {% endif %}
      {% endfor %}

      <p>The application requires the following permission(s):</p>

      <ul>
      {% for scope in scopes_descriptions %}
        <li>{{ scope }}</li>
      {% endfor %}
      </ul>

      {{ form.errors }}
      {{ form.non_field_errors }}
    </form>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-right">
    <div class="control-group">
      <div class="controls">
        <input form="authorization" type="submit"
          class="btn btn-large" value="Cancel">
        <input form="authorization" type="submit"
          class="btn btn-large btn-primary" name="allow" value="Authorize">
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col-xs-12">
    <p>{{ error.description }}</p>
  </div>
</div>
{% endif %}
{% endblock %}
