{% extends 'panel.html' %}

{% load utilities %}

{% block head_title %}
{% if not error %}
Authorization Request
{% else %}
Error: {{ error.error }}
{% endif %}
{% endblock %}

{# TODO: this file is not in use, its intended use is in allowing third-party
         access to our API. #}

{% block panel_content %}
{% if not error %}
<div class="row">
  <div class="col-xs-12">
    <form id="authorization" method="post">
      {% csrf_token %}

      {% for field in form %}
        {% if field.is_hidden %}
          {{ field }}
        {% endif %}
      {% endfor %}

      <p><strong>{{ application.name }}</strong>, a third-party application,
        requests the following permission{{ scopes|length|pluralize }}:</p>

      {% for scope, description, type in scopes %}
        {% include "scopes/study-data-description.html" %}
      {% endfor %}

      {# If a study app, len(scopes) is 1 and refers to the study data #}
      {% with scope=scopes.0.0 description="Potentially sensitive information" type="warning" %}
        {% try_include "scopes/"|add:scope|add:"-study-sensitive.html" %}
      {% endwith %}

      {% try_include "scopes/"|add:scopes.0.0|add:"-study-badge.html" %}

      {{ form.errors }}
      {{ form.non_field_errors }}
    </form>
  </div>
</div>

<div class="row authorize-controls">
  <div class="col-xs-12 text-right">
    <div class="control-group">
      <div class="controls">
        <input form="authorization" type="submit"
          class="btn btn-large" value="Cancel">
        <input form="authorization" type="submit"
          class="btn btn-large btn-primary" name="allow" value="Authorize">
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col-xs-12">
    <p>{{ error.description }}</p>
  </div>
</div>
{% endif %}
{% endblock %}
