{% load static %}
{% load utilities %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block head_title %}{% endblock %}{% block head_title_suffix %} - Open Humans{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{% block meta_description %}Open Humans empowers people with their personal data. From genomes to GPS: you can explore data analyses, do citizen science, and donate data to research.{% endblock meta_description %}">

    {# Application JavaScript #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.8.0/parsley.min.js" integrity="sha256-ixgfZ1KX2FiT8fYtfpU1l3NgfV4X18K1XxyQkdIAd+E=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js" integrity="sha256-FcVIknBiVRk5KLQeIBb9VQdtFRMqwffXyZ+D8q0gQro=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>

    <script src="{% static 'js/main.js' %}"></script>

    {# Per-page JavaScript #}
    {% page_bundle %}

    {# But some URLs are dynamic, e.g. '/members/username'. #}
    {% block extra_js %}{% endblock %}

    <link rel="icon" type="image/png"
      href="{% static 'images/open_humans_favicon.png' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="https://static.openhumans.org/css/oh-fonts.css">

    {# For internal CSS stylesheets. #}
    {% block extra_css %}{% endblock %}

  </head>

  <body id="{% page_body_id %}" class="{% page_body_class %}">
    <div id="blurred-people-background"
      style="{% block background_image %}{% endblock %}"></div>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#main-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/" id="oh-navbar-brand">
            <img src="{% static 'images/open-humans-logo-horizontal-80px.png' %}">
          </a>
        </div>

        <div class="collapse navbar-collapse" id="main-navbar-collapse">
          <ul class="nav navbar-nav navbar-right">

            <li class="{% active 'add-data' %}">
              <a href="{% url 'add-data' %}">Add data</a>
            </li>

            <li class="{% active 'explore-share' %}">
              <a href="{% url 'explore-share' %}">Explore &amp; share</a>
            </li>

            <li class="{% active 'create' %}">
              <a href="{% url 'create' %}">Create</a>
            </li>

            {% if user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                  data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">My account
                  <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'my-member-dashboard' %}">Public profile</a></li>
                <li><a href="{% url 'my-member-joined' %}">Projects joined</a></li>
                <li><a href="{% url 'my-member-data' %}">My data</a></li>
                <li><a href="{% url 'my-member-settings' %}">Account settings</a></li>
                {% if user.member.datarequestproject_set.all %}
                <li class="divider"></li>
                <li><a href="{% url 'direct-sharing:manage-projects' %}">Manage projects</a></li>
                {% endif %}
                <li class="divider"></li>
                <li><a class="logout-link" href="{% url 'account_logout' %}">
                  Log out</a></li>
              </ul>
            </li>
            {% else %}

            <li class="{% active 'login' %}">
              <p class="navbar-btn">
                <a href="{% url 'account_login' %}"
                   class="btn btn-default login-link">Log in</a>
              </p>
            </li>

            <li class="{% active 'signup' %}">
              <p class="navbar-btn">
                <a href="{% url 'account_signup' %}"
                   class="btn btn-primary signup-link">Join now!</a>
              </p>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="body-main">
      <div class="container">
        <div class="row">
          <div class="message warning">
            Our Terms of Use are updating on March 8 2019!
            <a href="{% url '201903-notice-of-terms-update' %}?next={{ request.path }}">Read
              more.</a>
          </div>
        </div>
        {% if request.user.is_authenticated and not request.user.member.primary_email.verified %}
        <div class="row">
          <div class="message error">
            Please
            <a href="{% url 'my-member-send-confirmation-email' %}?next={{ request.path }}">verify
              your email address</a>! As good stewards of your data, we want to
              be able to contact you.
          </div>
        </div>
        {% endif %}
        {% block messages_block %}
          {% if messages %}
          <div class="row">
            {% for message in messages %}
            <div{% if message.tags %} class="message {{ message.tags }}"{% endif %}>
              {{ message }}</div>
            {% endfor %}
          </div>
          {% endif %}
        {% endblock messages_block %}

        {% block main %}{% endblock %}
      </div>
      {% block body_main %}
      {% endblock body_main %}
    </div>

    <div class="footer">
      <div class="container">
        <div class="text-center">
          <a href="{% url 'about' %}">About&nbsp;Us</a> |
          <a href="http://blog.openhumans.org/">Blog</a> |
          <a href="http://slackin.openhumans.org">Chat</a> |
          <a href="{% url 'jobs' %}">Jobs</a> |
          <a href="{% url 'member-list' %}">Member list</a></li> |
          <a href="{% url 'statistics' %}">Statistics</a></li> |
          <a href="https://twitter.com/OpenHumansOrg"><img src="{% static 'images/twitter-xs-logo.png' %}" alt="Twitter" style="max-height:15px"></a> |
          <a href="https://www.facebook.com/openhumansorg/"><img src="{% static 'images/FB-f-Logo__blue_29.png' %}" alt="Facebook" style="max-height:15px"></a> |
          <a href="{% url 'contact_us' %}">Contact&nbsp;Us</a> |
          <a href="{% url 'community_guidelines' %}">Community&nbsp;Guidelines</a> |
          <a href="{% url 'terms-of-use' %}">Terms&nbsp;of&nbsp;Use</a> |
          <a href="{% url 'data-use-policy' %}">Data&nbsp;Use&nbsp;Policy</a>
        </div>
      </div>
    </div>

    {% include 'account/signup-modal.html' %}
    {% include 'account/login-modal.html' %}

    {% block extra_modals %}{% endblock %}
  </body>
</html>
