{% extends 'base.html' %}

{% block body %}
<div class="call-to-action">
  <p>Open Humans envisions a community of researchers and participants, sharing
    data with each other.</p>

  <h1>Get your data ready</h1>

  <a class="btn btn-lg btn-success" href="#">Become a Member</a>
</div>

<div class="row">
  <div class="col-md-8">
    What happens when ...
  </div>

  <div class="col-md-4 sub-actions">
    <a class="btn btn-info" href="#">Explore Member Profiles</a>

    <h4>Sign up to our mailing list</h4>

    <p>Receive updates as we expand the site!</p>

    <input type="text"> <button class="btn btn-primary">Sign up</button>

    <h4>Follow our blog</h4>

    <p>Read about news, updates, and issues related to Open Humans.

    <a class="btn btn-info" href="#">Visit the Open Humans blog</a>
  </div>
</div>
{% endblock %}
