{% extends "base.html" %}

{% block background_image %}url('/static/images/get2014_background.jpg'){% endblock %}

{% block main %}
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 panel-over-full-background">
    <div class="contain-fluid">
      <div class="row-fluid">
        <div class="col-xs-12">
          <h3>Log in to Open Humans </h3>
          <hr />
          <div class="row-fluid">
            {% include 'login-form.html' %}
          </div>
          <div class="row-fluid">
            <div class="col-sm-8 col-sm-offset-4 text-right">
              <button id="login" type="button" class="btn btn-primary">Log&nbsp;in</button>
            </div>
          </div>
          <div class="hidden-xs" style="height:20px; width:100%;"></div>
          <hr style="margin-top:40px;margin-bottom:10px;"/>
          <div class="text-center small">
            <a href="#">Reset&nbsp;password</a> |
            <a href="{% url 'accounts-signup' %}">Create&nbsp;account</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
