<div class="modal fade" id="login-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span
          aria-hidden="true">&times;</span><span
          class="sr-only">Log in</span></button>

        <h4 class="modal-title">Log in to Open Humans</h4>
      </div>

      <div class="modal-body">
        {% include "login-form.html" %}
        <div class="text-right">
          <button type="button" class="btn btn-default"
                  data-dismiss="modal">Close</button>
          <button id="login" type="button"
                  class="btn btn-primary">Log in</button>
        </div>
      </div>
      <div class="modal-footer">
          <div class="text-center small">
            <a href="#">Reset&nbsp;password</a> |
            <a href="{% url 'auth_signup' %}">Create&nbsp;account</a>
          </div>
      </div>
    </div>
  </div>
</div>
