{% extends "base.html" %}

{% load static from staticfiles %}

{% block background_image %}background-image: url('{% static 'images/get2014_background.jpg' %}');{% endblock %}

{# override messages_block #}
{% block messages_block %}{% endblock %}

{% block main %}
<div class="row">
  <div class="panel-over-full-background col-xs-12 col-md-{{ panel_width|default:'6' }} col-md-offset-{{ panel_offset|default:'3' }}">
    {% if messages %}
      {% for message in messages %}
      <div {% if message.tags %}
        class="message {{ message.tags }}"{% endif %}>{{ message }}</div>
      {% endfor %}
    {% endif %}

    <h3 class="page-header">{% block head_title %}{% endblock %}</h3>

    {% block panel_content %}{% endblock %}
  </div>
</div>
{% endblock %}
