{% load open_humans_templatetags %}
{# Note: This is a temporary hack for django-user-accounts #}
<!DOCTYPE html>
<html>
  <head profile="http://www.w3.org/2005/10/profile">
    <title>{% block head_title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/static/vendor/jquery.js"></script>
    <script src="/static/vendor/bootstrap.js"></script>

    {# Application JavaScript #}
    <script src="/static/js/bundle-main.js"></script>

    {# Per-page JavaScript #}
    {% page_bundle %}

    <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap.css">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700'
      rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quando'
      rel='stylesheet' type='text/css'>

    <link rel="icon" type="image/png"
      href="/static/images/open_humans_favicon.png">

    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  </head>

  <body>

    <div style="width:100%; height: 100%; z-index: -1; position:absolute;
                background-size: cover; background-image:
                {% block background_image %}{% endblock %};">
    </div>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#main-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/">Open Humans</a>
        </div>

        <div class="collapse navbar-collapse" id="main-navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="{% active 'about' %}"><a href="/about/">About Us</a></li>
            <li><a href="#">Member Profiles</a></li>
            <li><a href="#">Activities</a></li>
            <li class="divider"></li>

            {% if user.is_authenticated %}
            <li class="{% active 'profile' %}"><a
              href="{% url 'profile_detail' %}">My Profile</a></li>

            <li class="{% active 'login' %}"><a
              href="{% url 'account_logout' %}?next=/">Log Out</a></li>
            {% else %}
            <li class="{% active 'signup' %}"><a
              href="{% url 'account_signup' %}">Create Account</a></li>

            <li class="{% active 'login' %}"><a
              href="{% url 'account_login' %}">Log In</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="body-main">
      {% block body_main %}
      <div class="container">
        {% block body %}{% endblock %}
      </div>
      {% endblock body_main %}
    </div>

    <div class="footer">
      <div class="container">
        <div class="text-center">
          <a href="{% url 'about' %}">About Us</a> |
          <a href="http://blog.openhumans.org/">Our Blog</a> |
          <a href="#">Contact Us</a> |
          <a href="#">Community Guidelines</a> |
          <a href="#">Terms of Service</a>
        </div>
      </div>
    </div>

    {% include 'signup-modal.html' %}
    {% include 'login-modal.html' %}
  </body>
</html>
