{% extends 'panel.html' %}

{% load data_import %}
{% load private_sharing %}
{% load utilities %}

{% block head_title %}{{ activity.verbose_name }}{% endblock %}

{% block panel_content %}
  {% badge activity.badge %}

  <div class="activity-labels">
  {% for _, label in activity.labels.items %}
    <span class="label {{ label.class }}">{{ label.name|safe }}</span>
  {% endfor %}
  </div>

  <p>
    {% if activity.leader %}
    <div class="leader">
      <b>Leader/organizer:</b> {{ activity.leader}}
    </div>
    {% endif %}

    {% if activity.organization %}
    <div class="organization">
      <b>Organization:</b> {{ activity.organization }}
    </div>
    {% endif %}
  </p>

  <p class="connected-members">
    <span class="members">{{ activity.members|default:'0' }}</span>
    members connected
  </p>

  <p class="description">
    {{ activity.description }}
  </p>

  {% url 'home' as home_next %}

  <div class="text-center">
    {% if activity.data_source %}
      {% if not activity.is_connected %}
        {% if activity.info_url %}
          <a href="{{ activity.info_url }}"
            class="btn btn-md btn-default">Visit the website</a>
        {% endif %}

        {# MPB 2016/04: I'd like it if the included partial could have #}
        {# btn-default style, not btn-primary. #}
        {% if activity.add_data_text and activity.add_data_url %}
          {% with text=activity.add_data_text href=activity.add_data_url class='btn-md' next=home_next %}
            {% include 'partials/import-button.html' %}
          {% endwith %}
        {% endif %}
      {% endif %}
    {% endif %}

    {% if activity.share_data %}
      {% if not activity.is_connected %}
        {% if activity.info_url %}
          <a href="{{ activity.info_url }}"
            class="btn btn-md btn-default">Visit the website</a>
        {% endif %}

        {% with text="Join project" href=activity.join_url class='btn-md' next=home_next %}
          {% include 'partials/import-button.html' %}
        {% endwith %}
      {% endif %}
    {% endif %}
  </div>

  {% if activity.project_id %}

    {% source_is_public source as is_public %}
    {% project_is_connected activity.project_id user.member as is_connected %}

    {% include 'partials/share-and-delete-buttons.html' %}

    {% if data_files.count > 0 %}
      <table class="table file-table table-hover">
        <thead>
          <tr>
            <th>File</th>
            <th>Size</th>
            <th>Downloads</th>
            <th>Description</th>
          </tr>
        </thead>

        {% for data_file in data_files %}
          {% if data_file.file %}
          <tr>
            <td style="width: 40%;">
              <a href="{{ data_file.file.url }}">{{ data_file.basename }}</a>
            </td>

            <td style="width: 10%;">
              {{ data_file.size|filesizeformat }}
            </td>

            <td style="width: 10%;">
              {{ data_file.access_logs.count }}
            </td>

            <td>
              {{ data_file.metadata.description }}
            </td>
          </tr>
          {% endif %}
        {% endfor %}
      </table>
    {% endif %}

  {% else %}

    {% source_is_public source as is_public %}
    {% source_is_connected source user as is_connected %}
    {% source_is_individual_deletion source as is_individual_deletion %}

    {% include 'partials/share-and-delete-buttons.html' %}

    {% if data_files.count > 0 %}
      <table class="table file-table table-hover">
        <thead>
          <tr>
            <th>File</th>
            <th>Size</th>
            <th>Downloads</th>
            <th>Description</th>
            {% if is_individual_deletion %}
            <th></th>
            {% endif %}
          </tr>
        </thead>

        {% for data_file in data_files|dictsort:'basename' %}
          <tr>
            <td style="width: 40%;">
              <a href="{{ data_file.file.url }}">{{ data_file.basename }}</a>
            </td>

            <td style="width: 10%;">
              {{ data_file.size|filesizeformat }}
            </td>

            <td style="width: 10%;">
              {{ data_file.access_logs.count }}
            </td>

            <td>
              {{ data_file.description }}
            </td>

            {% if is_individual_deletion %}
            <td>
              <a href="#" class="btn btn-danger btn-xs">Delete</a>
            </td>
            {% endif %}
          </tr>
        {% endfor %} {# data_file in data_files #}
      </table>
    {% else %}
      <p>
        There are no files associated with this source.
      </p>
    {% endif %}

  {% endif %}
{% endblock %}
