{% extends 'base.html' %}

{% load data_import %}
{% load private_sharing %}
{% load utilities %}

{% block head_title %}{{ activity.verbose_name }}{% endblock %}

{% block main %}

  {% url 'home' as home_next %}

  {% if user.is_authenticated %}
    {% if activity.project_id %}
      {% url 'direct-sharing:leave-project' pk=project_member.pk as disconnect_url %}
    {% else %}
      {% url 'my-member-connections-delete' connection=activity.source_name as disconnect_url %}
    {% endif %}
  {% endif %}

  <div class="row">
    <div class="col-sm-4 col-sm-push-8">
      {% badge activity.badge %}
      <div class="activity-labels text-center">
      {% for _, label in activity.labels.items %}
        <span class="label {{ label.class }}">{{ label.name|safe }}</span>
      {% endfor %}
    </div>
    </div>
    <div class="col-sm-8 col-sm-pull-4">
      <div class="hidden-xs">
        <h1 style="margin-top:20px;">{{ activity.verbose_name }}</h1>
        {% include 'partials/activity-info-table.html' with activity=activity %}
      </div>
      <div class="visible-xs-block">
        <h1 class="text-center">{{ activity.verbose_name }}</h1>
        {% include 'partials/activity-info-table.html' with activity=activity %}
      </div>
    </div>
  </div>

  <p class="description">
    {% if activity.long_description %}
      {{ activity.long_description }}
    {% else %}
      {{ activity.description }}
    {% endif %}
  </p>

  {% if activity.is_connected and activity.data_source or data_files.count > 0 %}

    <hr>
    {% include 'partials/share-and-delete-buttons.html' with next=request.path %}
    <h2>Your data</h2>

    {% if data_files.count > 0 %}

      {% include 'partials/member-data-files-table.html' %}

      {% if not activity.is_connected %}
      <small class="text-muted">
        This connection is no longer active, but your account
        retains these files. <a href="{% url 'delete-source-data-files' source=source %}">
          Click here to permanently remove these files</a>.
      </small>
      {% endif %}

    {% else %}

    {# Connected data source, but no files? #}
    <p>You have no files from this data source.</p>

    {% endif %}

  {% endif %}

  <hr>
  {# ACTIVITY HAS BEEN JOINED/ADDED #}
  {% if activity.is_connected %}

    {# JOINED PROJECT THAT RECEIVES DATA #}
    {% if 'share-data' in activity.labels %}
      <h3>{{ activity.verbose_name }} joined</h3>
      <p>
        Congrats! You've joined {{ activity.verbose_name }}. Members of
        this project are granting it the following permissions:
      </p>
      {# 2016/09 MPB: We should handle when the permissions a user granted #}
      {# differ from the current requested set. Usually they'e the same. #}
      {% include 'partials/project-permissions-list.html' %}
      <p class="text-muted"><small>
        Want to quit this project? <a href="{{ disconnect_url }}">Click here to
        withdraw and deauthorize</a>.
        {% if project.request_sources_access %} The project will
        no longer have access to your data in Open Humans, but may retain copies
        previously downloaded.{% endif %}
      </small></p>
    {% else %}

      {# ADDED OTHER PROJECT #}
      {% if project %}
        <h3>{{ activity.verbose_name }} added</h3>
        <p>
          Congrats! You've added {{ activity.verbose_name }}. Members of
          this project are granting it the following permissions:
        </p>
        {# 2016/09 MPB: We should handle when the permissions a user granted #}
        {# differ from the current requested set. Usually they'e the same. #}
        {% include 'partials/project-permissions-list.html' %}

      {# ADDED OPEN HUMANS DATA SOURCE #}
      {% else %}
        <h3>{{ activity.verbose_name }} added</h3>
        <p>
          Congrats! You've added {{ activity.verbose_name }}.
        </p>
        <p class="text-muted"><small>
          Open Humans will update your files for this source as needed.
          <a href="{{ disconnect_url }}">Click here to remove this connection.</a>
        </small></p>

      {% endif %}
    {% endif %}

  {# ACTIVITY COULD BE JOINED/ADDED #}
  {% elif activity.active %}

    {# INVITE TO JOIN PROJECT THAT RECEIVES DATA #}
    {% if 'share-data' in activity.labels %}
      <h3>Join {{ activity.verbose_name }}</h3>
      <p>
        If join this project, you will grant it the following permissions:
      </p>
      {% include 'partials/project-permissions-list.html' %}
      {% with text="Join "|add:activity.verbose_name href=activity.join_url class='btn-md' next=home_next %}
        {% include 'partials/import-button.html' %}
      {% endwith %}
    {% else %}

      {# INVITE TO ADD OTHER PROJECT #}
      {% if project %}
        <h3>Add {{ activity.verbose_name }}</h3>
        <p>
          Adding {{ activity.verbose_name }} will grant this project the
          following permissions:
        </p>
        {% include 'partials/project-permissions-list.html' %}
        {% with text="Add "|add:activity.verbose_name href=activity.join_url class='btn-md' next=home_next %}
          {% include 'partials/import-button.html' %}
        {% endwith %}

      {# INVITE TO ADD OPEN HUMANS DATA SOURCE #}
      {% else %}
        <h3>Add {{ activity.verbose_name }}</h3>
        <p>
          Add {{ activity.verbose_name }} to import data to your
          Open Humans profile.
        </p>
        <p>
          <b>Data description:</b> {{ activity.data_description }}
        </p>
        {% if data_files > 0 %}
        <p><em>This source is no longer connected to your
          account, but your account retains related data files. These files will
          not be updated unless you renew your connection.
        </em></p>
        {% endif %}
        {% with text="Add "|add:activity.verbose_name href=activity.add_data_url class='btn-md' next=home_next %}
          {% include 'partials/import-button.html' %}
        {% endwith %}

      {% endif %}
    {% endif %}

  {# ACTIVITY IS NO LONGER ACTIVE: CONNECTION NO LONGER POSSIBLE #}
  {% else %}

    <h3>Project closed</h3>
    <p>
      This project is no longer active, and is not accepting new members.
    </p>

  {% endif %}

  {% if activity.data_source or data_files %}
    <hr>
    {% if activity.is_connected %}
    <h3>Share your data</h3>
    {% elif requesting_activities %}
    <h3>Data sharing</h3>
    {% endif %}

    {% if requesting_activities %}
      <p>
        Data from this data source can be shared with the following projects.
      </p>

      <ul>
        {% for requesting_activity in requesting_activities %}
        <li>
          <a href="{% url 'activity-management' source=requesting_activity.slug %}">
            {{ requesting_activity.name }}

            {% if requesting_activity.joined %}
              (joined)
            {% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
    {% elif activity.is_connected %}
      <p>
        Currently there are no projects seeking access to this data.
        You can still share it with researchers, though, by publicly sharing
        it through our <a href="{% url 'public-data:home' %}">Public Data
          Sharing</a> study!.
      </p>
    {% endif %}
  {% endif %}

  {% comment %}

  {% url 'home' as home_next %}

  <div class="text-center">
    {% if activity.data_source %}
      {% if not activity.is_connected %}
        {# MPB 2016/04: I'd like it if the included partial could have #}
        {# btn-default style, not btn-primary. #}
        {% if activity.add_data_text and activity.add_data_url %}
          {% with text=activity.add_data_text href=activity.add_data_url class='btn-md' next=home_next next=home_next %}
            {% include 'partials/import-button.html' %}
          {% endwith %}
        {% endif %}
      {% endif %}
    {% endif %}

    {% if activity.share_data %}
      {% if activity.info_url %}
        <a href="{{ activity.info_url }}"
          class="btn btn-md btn-default">Visit the website</a>
      {% endif %}

      {% if not activity.is_connected %}
        {% with text="Join project" href=activity.join_url class='btn-md' next=home_next %}
          {% include 'partials/import-button.html' %}
        {% endwith %}
      {% endif %}
    {% endif %}
  </div>
  {% endcomment %}


{% endblock %}
