{% extends 'base-bs4.html' %}
{% load static %}
{% load utilities %}

{% block head_title %}{{ activity.verbose_name }}{% endblock %}

{% block meta_description %}&quot;{{ activity.verbose_name }}&quot; on Open Humans: {{ activity.description }}{% endblock meta_description %}

{% block main %}
<div class="d-flex mt-4">
    <div class="flex-grow-1 mb-3">
        <div class="d-none d-sm-inline-block">
            <h1>{{ project.name }}</h1>
            {% include 'partials/activity-info-short-bs4.html' %}
        </div>
        <div class="d-flex justify-content-center d-sm-none">
          <div class="w-25 m-2">
            <img class="img-fluid" src="{% static 'images/default-badge.png' %}">
          </div>
        </div>
        <div class="d-flex justify-content-center d-sm-none text-center">
            <h1 class="justify-content-center">{{ project.name }}</h1>
        </div>
        <div class="d-flex justify-content-center d-sm-none">
            {% include 'partials/activity-info-short-bs4.html' %}
        </div>
    </div>
    <div class="d-none d-sm-inline-block w-25">
        <img class="img-fluid max-width px-sm-1 pt-sm-1 px-md-3 pt-md-2" src="{% static 'images/default-badge.png' %}" style="max-height:10rem;">
    </div>
</div>
<h2>About {{ project.name }}</h2>
<p>{{ project.long_description|markdown }}</p>

<hr>

<div class="row">
  <div class="col-md">
    <h2>Project membership</h2>
    {% if project_member %}

      {# Project membership -joined #}
      <div class="mb-3">
        <div class="mb-1">
            <b class="mr-2">Joined:</b>
            {{ project_member.joined_date|date }}
        </div>
        <div class="mb-1">
            <b class="mr-2">Project member ID:</b>
            {{ project_member.project_member_id }}
        </div>
        <div class="mb-1">
          <b class="mr-2">Membership status:</b>
          {% if project_member.visible %}
          Visible
          {% else %}
          Hidden
          {% endif %}
        </div>
        <div class="mb-1">
          <b class="mr-2">Project data status:</b>
          {% if member_public_data %}
          Public
          {% else %}
          Private
          {% endif %}
        </div>
      </div>
      <div class="d-flex mb-3">
        <div class="pr-3">
          <a class="btn btn-primary-hollow btn-md"
            href="{% url 'activity-messaging' source=project.slug %}">Message&nbsp;project</a>
        </div>
        <div class="d-flex align-items-center">
          <div class="reduced text-muted">
            Send a message to project coordinators.
          </div>
        </div>
      </div>
      <div class="d-flex mb-3">
        <div class="d-flex align-items-center pr-3">
          <a class="btn btn-primary-hollow btn-md"
            href="#">Hide&nbsp;membership</a>
        </div>
        <div class="d-flex align-items-center">
          <div class="reduced text-muted">
            Click here to make your membership
            in this project private.
          </div>
        </div>
      </div>

    {% else %}

      {# Project membership - anon / not joined #}
      <p>You have not joined <b>{{ project.name }}</b> yet.</p>
      <div class="d-flex mb-3">
        <div class="d-flex align-items-center pr-3">
          <a class="btn btn-primary btn-lg" href="{{ project.join_url }}">{{ project.connect_verb|title }}&nbsp;project</a>
        </div>
        <div class="d-flex align-items-center">
          <div class="reduced text-muted">
            You'll review terms and permissions before finalizing authorization.
          </div>
        </div>
      </div>
      {% if requests_permissions or project.returned_data_description %}
      <hr>
      <h3>
        {% if not requests_permissions %}Added data
        {% elif not project.returned_data_description %}Permissions
        {% else %}Permissions &amp; added data{% endif %}
      </h3>
      {% include 'partials/activity-permissions-bs4.html' %}
      {% endif %}

    {% endif %} {# / if project_member #}

    <hr class="d-md-none">
  </div>

  <div class="col-md">
    {% if requesting_projects %}
      <h2>Projects &amp; studies</h2>
      <p class="mb-1">
        You can use &amp; share your data from {{ project.name }} with the
        following other projects:
      </p>
      <div class="d-flex flex-wrap p-2">
        {% for req_project in requesting_projects %}
        <div class="w-25">
          <a href="{% url 'activity' req_project.slug %}">
            <div class="d-flex justify-content-center">
              <div>
                <img src="{% static 'images/default-badge.png' %}" style="height:3rem;">
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <div class="small text-center">{{ req_project.name }}</div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      <hr>
    {% endif %}
    {% if notebooks %}
      <h2>Notebooks</h2>
      <p>You can explore your data from {{ project.name }} with the
        following <a href="{% url 'activity' 'junos-personal-data-exploratory' %}">personal
        data notebooks</a>.
      </p>
      <ul>
      {% for notebook in notebooks %}
        <li><a href="{{ notebook.details_url }}">{{ notebook.name }}</a>
          by <a href="{% url 'member-detail-direct' notebook.user %}">{{ notebook.user }}</a>
        </li>
      {% endfor %}
      </ul>
      <hr>
    {% endif %}
    <h2>Recent Members</h2>
    <div class="d-flex py-2">
      {% for member in recent_members %}
      <div class="w-25">
        <a href="{% url 'member-detail-direct' member.user.username %}">
          <div class="d-flex justify-content-center">
            <img src="{% static 'images/profile-placeholder.png' %}" style="height:2.5rem;">
          </div>
          <div class="d-flex justify-content-center">
            <div class="small text-center">{{ member.name }}</div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    <p>
      <a href="{% url 'api:members-by-source' %}?source={{ project.id_label }}">See
        all members...</a>
    </p>
    <hr>
    <h2>Project information</h2>
    <div>

      {# repeat short partial from above w/ coordinator #}
      {% include 'partials/activity-info-short-bs4.html' %}

      {# member count, public data, launch date, info url, and contact email #}
      <div class="mb-1">
        <b class="mr-2">Joined by:</b>
        <a href="{% url 'api:members-by-source' %}?source={{ project.id_label }}">
        {{ project.authorized_members }} members</a>
      </div>
      {% if public_count %}
      <div class="mb-1">
        <b class="mr-2">Public data:</b> shared by
        <a href="{% url 'api:public-data' %}?source={{ project.id_label }}">
          {{ public_count }} members</a>
      </div>
      {% endif %}
      <div class="mb-1">
        <b class="mr-2">Launched:</b> {{ project.project_approval_date|date }}
      </div>
      <div class="mb-1">
        <b class="mr-2">Project website:</b>
        <a href="{{ project.info_url }}">{{ project.info_url }}</a>
      </div>
      <div class="mb-1">
          <b class="mr-2">Contact email:</b>
          <a href="mailto:{{ project.contact_email }}">{{ project.contact_email }}</a>
      </div>

      {# terms link for OAuth2 projects #}
      {% if project.oauth2datarequestproject %}
      <div class="mb-1">
        <b class="mr-2">Project terms:</b>
        <a href="{% if project.terms_url %}{{ project.terms_url }}{% else %}{{ project.info_url }}{% endif %}">Read here</a>
      </div>
      {% endif %}

      {# describe permissions and added data #}
      {% include 'partials/activity-permissions-bs4.html' %}
    </div>
  </div>
</div>
{% endblock main %}
