{% load thumbnail %}
{% load utilities %}
{% load static from staticfiles %}

<div class="row">
  <div class="col-xs-12" id="about-me">
    {% if member.profile_image %}
    {% thumbnail member.profile_image '250x250' as image %}
      <img class="img-rounded img-responsive profile-image"
        src="{{ image.url }}">
    {% endthumbnail %}
    {% endif %}

    <div>
      <span class="h3">
        {{ member.name }} <small>({{ member.user.username }})</small>
      </span>

      {% comment %}
      {% if member.allow_user_messages and user != member.user %}
        {% if user.is_authenticated %}
        <div class="pull-right">
          {# TODO: add progressive enhancement #}
          <a class="btn btn-primary btn-xs" href="#" data-toggle="modal"
              data-target="#contact-member-modal">
            Contact member
          </a>
        </div>
        {% else %}
        <div class="pull-right">
          <button data-container="body" data-toggle="popover"
            data-placement="bottom" class="btn btn-xs btn-info popover-dismiss"
            data-content="
              <a href='{% url 'account_signup' %}' class='signup-link'>
                Create an account
              </a>
              or
              <a href='{% url 'account_login' %}' class='login-link'>
                log in
              </a>
              to contact this member.">
            Contact member
          </button>
        </div>
        {% endif %}
      {% endif %}
      {% endcomment %}
    </div>

    {% if member.badges %}
    <h6 class="text-muted section-header" style="width: 68%; margin-top: 30px;">
      Connected studies and activities</h6>

    <hr class="section-header"
      style="width: 67%; text-align: left; margin: 0 auto 10 0;">

    {% for badge in member.badges %}
      <img src="{% static badge.url %}"
        alt="{{ badge.name }}"
        title="{{ badge.name }}">
    {% endfor %}
    {% endif %}

    {% if member.about_me %}
      {# TODO: remove inline style #}
      <h6 class="text-muted section-header"
        style="width: 68%; margin-top: 30px;">About me</h6>

      {# TODO: remove inline style #}
      <hr class="section-header"
        style="width:67%;text-align:left;margin: 0 auto 0 0;">

      <div class="profile-text">
        {{ member.about_me|markdown }}
      </div>
    {% endif %}
  </div>
</div>

{% if member.public_data_participant.enrolled %}
<div class="member-data-list">
  <h4>Imported data</h4>

  {% if not public_data %}
  <p>No currently public data sets.</p>

  {% else %}
  <table class="table">
    <tr>
      <th style="width:30%">Source</th>
      <th>Filename</th>
      <th>Actions</th>
    </tr>
    {% for source, task in public_data.items %}
    {% for datafile in task.data_files %}
    <tr>
      <td>{{ datafile.source }}</td>
      <td>{{ datafile.basename }}</td>
      <td>
        <a class="btn btn-primary btn-xs"
          href="{{ datafile.download_url }}">Download</a>
      </td>
    </tr>
    {% endfor %}
    {% endfor %}
  </table>
  {% endif %}
</div>
{% endif %}
