{% load thumbnail %}
{% load utilities %}
{% load static from staticfiles %}

<div class="row">
  <div class="col-xs-12" id="about-me">
    {% if member.profile_image %}
    {% thumbnail member.profile_image '250x250' as image %}
      <img class="img-rounded img-responsive profile-image"
        src="{{ image.url }}">
    {% endthumbnail %}
    {% endif %}

    <div>
      <span class="h3">
        {{ member.name }} <small>({{ member.user.username }})</small>
      </span>

      {% if member.allow_user_messages and user != member.user %}
        <div class="pull-right">
        {% if user.is_authenticated %}
          {% if user.member.primary_email.verified %}
          <a class="btn btn-primary btn-xs"
            href="{% url 'member-email' slug=member.user.username %}">
            Contact member
          </a>
          {% else %}
          <a tabindex="0" role="button" data-toggle="popover"
            data-trigger="focus" data-container="body"
            data-placement="ottom" class="btn btn-xs btn-info popover-dismiss"
            data-content="
              You must
              <a href='{% url 'my-member-send-confirmation-email' %}?next={{ request.path }}'>
              verify your email address</a> before you contact other members">
            Contact member
          </a>
          {% endif %}
        {% else %}
        <a tabindex="0" role="button" data-toggle="popover"
          data-trigger="focus" data-container="body"
          data-placement="bottom" class="btn btn-xs btn-info popover-dismiss"
          data-content="
            <a href='{% url 'account_signup' %}' class='signup-link'>
              Create an account
            </a>
            or
            <a href='{% url 'account_login' %}?next={{ request.path }}'
              class='login-link'>log in</a>
            to contact this member.">
          Contact member
        </a>
        {% endif %}
        </div>
      {% endif %}
    </div>

    {% if member.badges %}
    <h6 class="text-muted section-header" style="width: 68%; margin-top: 30px;">
      Connected studies and activities</h6>

    <hr class="section-header"
      style="width: 67%; text-align: left; margin: 0 auto 10 0;">

    {% for badge in member.badges %}
      {% badge badge %}
    {% endfor %}
    {% endif %}

    {% if member.about_me %}
      {# TODO: remove inline style #}
      <h6 class="text-muted section-header"
        style="width: 68%; margin-top: 30px;">About me</h6>

      {# TODO: remove inline style #}
      <hr class="section-header"
        style="width:67%;text-align:left;margin: 0 auto 0 0;">

      <div class="profile-text">
        {{ member.about_me|markdown }}
      </div>
    {% endif %}
  </div>
</div>

{% if member.public_data_participant.enrolled %}
<div class="member-data-list">
  <h4>Public data</h4>

  {# note from @madprime: Not using context because the template is being #}
  {# called by different views, which would require redundant context code. #}
  {% with member.public_data_participant.public_files_by_source as public_files_by_source %}
  {% with member.public_data_participant.public_selfie_files as public_selfie_files %}
  {% with member.public_data_participant.public_direct_sharing_project_files as public_direct_sharing_project_files %}

  {% if public_files_by_source or public_selfie_files %}

  {% if public_files_by_source %}
    {% for source, files in public_files_by_source.items %}
    <p>
      <strong>{{ source|source_to_name }}</strong>
    </p>

    <table class="table table-hover">
      {% for datafile in files|dictsort:'basename' %}
      <tr>
        <td style="width: 85px">
          {% if datafile.size %}{{ datafile.size|filesizeformat }}{% endif %}
        </td>

        <td style="width: 36%; max-width: 410px">
          <a href="{{ datafile.download_url }}">{{ datafile.basename }}</a>
        </td>

        <td style="width: 40%; max-width: 460px;">
          {{ datafile.description }}
        </td>

        <td>
          {% for tag in datafile.tags %}
          <span class="badge">{{ tag }}</span>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endfor %}
  {% endif %}  {# public_files_by_source #}

  {% if public_direct_sharing_project_files %}

  {% for project, files in public_direct_sharing_project_files.items %}
  <p>
    <b>{{ project.name }}</b>
  </p>

  <table class="table table-hover">
    {% for datafile in files|dictsort:'basename' %}
    <tr>
      <td style="width: 85px;">
        {% if datafile.size %}
          {{ datafile.size|filesizeformat }}
        {% endif %}
      </td>

      <td style="width: 36%; max-width: 410px">
        <a href="{{ datafile.download_url }}">{{ datafile.basename }}</a>
      </td>

      <td style="width: 40%; max-width: 460px;">
        {{ datafile.user_description }}
      </td>

      <td>
        {% for tag in datafile.tags %}
        <span class="badge">{{ tag }}</span>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endfor %}
  {% endif %}

  {% if public_selfie_files %}
  <p>
    <b>Data Selfie</b>
  </p>

  <table class="table table-hover">
    {% for datafile in public_selfie_files|dictsort:'basename' %}
    <tr>
      <td style="width: 85px;">
        {% if datafile.size %}
          {{ datafile.size|filesizeformat }}
        {% endif %}
      </td>

      <td style="width: 36%; max-width: 410px">
        <a href="{{ datafile.download_url }}">{{ datafile.basename }}</a>
      </td>

      <td style="width: 40%; max-width: 460px;">
        {{ datafile.user_description }}
      </td>

      <td>
        {% for tag in datafile.tags %}
        <span class="badge">{{ tag }}</span>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}  {# public_selfie_files #}

  {% endif %}  {# public_files_by_source or public_selfie_files #}

  {% endwith %} {# member.public_data_participant.public_files_by_source as public_files_by_source #}
  {% endwith %} {# member.public_data_participant.public_selfie_files as public_selfie_files #}
  {% endwith %} {# member.public_data_participant.public_direct_sharing_project_files as public_direct_sharing_project_files #}
</div>
{% else %}

<p>No currently public data sets.</p>

{% endif %}  {# member.public_data_participant.enrolled #}
