{% extends 'base.html' %}

{% load static from staticfiles %}

{% block main %}
<div style="margin-top:15px;">
  <div class="member-detail-panel">
    {% include 'member/member-detail-content.html' %}
  </div>
  {% if member.public_data_participant.enrolled %}
  <div class="member-data-list">
    <h3>Publicly shared data</h3>
    {% if not public_data %}
      <p>No currently public data sets.</p>
    {% else %}
    <table class="table">
      <tr><th style="width:30%">Source</th><th>Data</th></tr>
      {% for item in public_data %}
      <tr>
        <td>{{ item.source }}</td>
        <td>
          <a class="btn btn-primary btn-xs" href="{{ item.file.url }}">
            Download</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endblock main %}

{% block extra_modals %}
  {% include 'member/member-contact-modal.html' %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/bundle-member-detail.js' %}"></script>
{% endblock %}
