{% extends 'base.html' %}

{% load bootstrap_pagination %}
{% load cache %}
{% load humanize %}
{% load static %}
{% load utilities %}

{% block head_title %}Members{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css"
    href="{% static 'vendor/select2.min.css' %}">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.9/select2-bootstrap.css">
  <link rel="stylesheet" type="text/css"
    href="{% static 'css/_pages-members.css' %}">
{% endblock %}

{% block main %}

{% if user.is_authenticated %}
<p class="lead" style="margin-top: 20px;">
  Want to chat with other members?
  <a href="http://slackin.openhumans.org/">Check out our Slack!</a>
</p>

<hr>
{% endif %}

<h3>Members list <small>{{ page_obj.start_index|intcomma }} to
  {{ page_obj.end_index|intcomma }} of
  {{ page_obj.paginator.count|intcomma }}</small>
</h3>

<div class="row">
  <div class="col-md-6 col-sm-6">
    <select class="form-control input-lg select2-single"
      id="member-search"></select>
  </div>

  <div class="col-md-6 col-sm-6">
    <select class="form-control input-lg select2-single" id="source-search">
      <option></option>

      {% for project in projects %}
        <option
          {% if filter == project.id_label %}selected="selected"{% endif %}
          value="{{ project.id_label }}">
            {{ project.name }}
        </option>
      {% endfor %}
    </select>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th style="width: 45px;"></th>
      <th>Name</th>
      <th>Studies</th>
    </tr>
  </thead>

  {% cache 28800 member_list page_obj.number filter %}
  <tbody>
    {% for member in members %}
    <tr>
      <td>
        {% if member.profile_image %}
            <img class="img-circle member-profile-img" src="{{ member.profile_image.url }}"
              alt="The Member's profile image.">
        {% else %}
          <img class="img-circle" style="width: 30px; height: 30px;"
            src="{% static 'images/profile-placeholder.png' %}"
            alt="A placeholder image for a user without a profile image.">
        {% endif %}
      </td>

      <td>
        <a href="/member/{{ member.user.username }}">
          {{ member.name }}
        </a>

        <span class="text-muted">({{ member.user.username }})</span>
      </td>

      <td>
        {% render_user_badges member %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  {% endcache %}
</table>

<nav class="text-center">
  {% bootstrap_paginate page_obj range=10 show_first_last='true' url_view_name='member-list-paginated' %}
</nav>
{% endblock main %}
