{% extends 'base.html' %}

{% load bootstrap_pagination %}
{% load cache %}
{% load humanize %}
{% load thumbnail %}
{% load static %}

{% block head_title %}Members{% endblock %}

{% block main %}

<h3>Members <small>{{ page_obj.start_index|intcomma }} to
  {{ page_obj.end_index|intcomma }} of
  {{ page_obj.paginator.count|intcomma }}</small>

  <a style="float: right;" class="btn btn-default btn-xs"
    href="?sort={{ sort_direction }}">Sort {{ sort_description }}</a>
</h3>

<table class="table">
  <thead>
    <tr>
      <th style="width: 45px;"></th>
      <th>Name</th>
      <th>Studies</th>
    </tr>
  </thead>

  {% cache 28800 member_list page_obj.number sort_direction %}
  <tbody>
    {% for member in members %}
    <tr>
      <td>
        {% if member.profile_image %}
          {% thumbnail member.profile_image '30x30' crop='center top' as image %}
            <img class="img-circle" src="{{ image.url }}"
              alt="The Member's profile image.">
          {% endthumbnail %}
        {% else %}
          <img class="img-circle" style="width: 30px; height: 30px;"
            src="{% static 'images/profile-placeholder.png' %}"
            alt="A placeholder image for a user without a profile image.">
        {% endif %}
      </td>

      <td>
        <a href="/member/{{ member.user.username }}">
          {{ member.name }}
        </a>

        <span class="text-muted">({{ member.user.username }})</span>
      </td>

      <td>
        {% for badge in member.badges %}
          <img src="{% static badge.url %}"
            alt="{{ badge.name }}"
            title="{{ badge.name }}"
            style="width: 30px; height: 30px; margin-right: 10px;">
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  {% endcache %}
</table>

<nav class="text-center">
  {% bootstrap_paginate page_obj range=10 show_first_last='true' url_view_name='member-list-paginated' %}
</nav>
{% endblock main %}
