{% load thumbnail %}
{% load utilities %}
{% load static from staticfiles %}

<div class="row">
  <div class="col-xs-12" id="about-me">
    {% if member.profile_image %}
    {% thumbnail member.profile_image '250x250' as image %}
      <img class="img-rounded img-responsive profile-image"
        src="{{ image.url }}">
    {% endthumbnail %}
    {% endif %}

    <div>
      <span class="h3">
        {{ member.name }} <small>({{ member.user.username }})</small>
      </span>

      {% if member.allow_user_messages and user != member.user %}
        <div class="pull-right">
        {% if user.is_authenticated %}
          {% if user.member.primary_email.verified %}
          <a class="btn btn-primary btn-xs"
            href="{% url 'member-email' slug=member.user.username %}">
            Contact member
          </a>
          {% else %}
          <a tabindex="0" role="button" data-toggle="popover"
            data-trigger="focus" data-container="body"
            data-placement="bottom" class="btn btn-xs btn-info popover-dismiss"
            data-content="
              You must
              <a href='{% url 'my-member-send-confirmation-email' %}?next={{ request.path }}'>
              verify your email address</a> before you contact other members">
            Contact member
          </a>
          {% endif %}
        {% else %}
        <a tabindex="0" role="button" data-toggle="popover"
          data-trigger="focus" data-container="body"
          data-placement="bottom" class="btn btn-xs btn-info popover-dismiss"
          data-content="
            <a href='{% url 'account_signup' %}' class='signup-link'>
              Create an account
            </a>
            or
            <a href='{% url 'account_login' %}?next={{ request.path }}'
              class='login-link'>log in</a>
            to contact this member.">
          Contact member
        </a>
        {% endif %}
        </div>
      {% endif %}
    </div>

    {% if member.badges %}
    <h6 class="text-muted section-header" style="width: 68%; margin-top: 30px;">
      Connected studies and activities</h6>

    <hr class="section-header"
      style="width: 67%; text-align: left; margin: 0 auto 10 0;">

    {% for badge in member.badges %}
      <img src="{% static badge.url %}"
        alt="{{ badge.name }}"
        title="{{ badge.name }}"
        class="member-badge-large">
    {% endfor %}
    {% endif %}

    {% if member.about_me %}
      {# TODO: remove inline style #}
      <h6 class="text-muted section-header"
        style="width: 68%; margin-top: 30px;">About me</h6>

      {# TODO: remove inline style #}
      <hr class="section-header"
        style="width:67%;text-align:left;margin: 0 auto 0 0;">

      <div class="profile-text">
        {{ member.about_me|markdown }}
      </div>
    {% endif %}
  </div>
</div>

{% if member.public_data_participant.enrolled %}
<div class="member-data-list">
  <h4>Public data</h4>

  {% if not public_data_tasks %}
  <p>No currently public data sets.</p>

  {% else %}
  {% for source, task in public_data_tasks.items %}
  <p class="pull-right">Last update: {{ task.complete_time }}</p>
  <p><b>{{ source|source_to_name }}</b></p>
  <table class="table table-hover">
    {% for datafile in task.data_files %}
    <tr>
      <td>{{ datafile.basename }}</td>
      <td style="width:85px">
        {% if datafile.size %}{{ datafile.size|filesizeformat }}{% endif %}
      </td>
      <td style="width:80px">
        <a class="btn btn-primary btn-xs"
          href="{{ datafile.download_url }}">Download</a>
      </td>
    </tr>
    {% endfor %}
    </table>
    {% endfor %}
  {% endif %}
</div>
{% endif %}
