{% extends 'member/my-member-dashboard.html' %}

{% load data_import %}
{% load private_sharing %}
{% load utilities %}

{% block head_title %}Projects joined{% endblock %}

{% block dashboard_main %}

<div class="panel panel-default pad-all-sides">
  <h2>Current projects</h2>
  <p>
    You are sharing data with the following projects that you have
    joined. Click on a project to visit its activity page and learn
    more about it, deauthorize it, or send a message to project
    coordinators.
  </p>
  <ul>
  {% for activity in activities %}
    {% if activity.is_connected and activity.share_data and activity.active %}
    <li>
      <p>
        <b><a href="{% if activity.url_slug %}
          {% url 'activity-management' activity.url_slug %}
          {% else %}
          {{ activity.join_url }}
          {% endif %}">{{ activity.verbose_name }}</a></b><br>
        {{ activity.description }}
      </p>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
  <h2>Past projects</h2>
  <p>
    You have shared with the following projects in the past. Your data remains
    available to these projects, but they are no longer accepting new members.
  </p>
  <ul>
  {% for activity in activities %}
    {% if activity.is_connected and activity.share_data and not activity.active %}
    <li>
      <p>
        <b><a href="{% url 'activity-management' activity.url_slug %}">{{ activity.verbose_name }}</a></b><br>
        {{ activity.description }}
      </p>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
</div>

{% endblock dashboard_main %}
