{% extends 'panel.html' %}

{% load utilities %}

{% block panel_title %}Confirm removal{% endblock %}

{% block panel_content %}
<div class="row">
  <div class="col-xs-12">
    <p>Are you sure you want to remove the connection to
      <strong>{{ connection_name }}</strong>?</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <form method="POST" action="">
      {% csrf_token %}

      <div class="checkbox">
        <label>
          <input type="checkbox" name="remove_datafiles">

          Also remove my data files for {{ connection_name }}
        </label>
      </div>

      <p class="text-right">
        <input type="submit" class="btn btn-danger" value="Remove connection">
      </p>
    </form>
  </div>
</div>
{% endblock %}
