{% extends 'member/my-member-dashboard.html' %}

{% load data_import %}
{% load private_sharing %}
{% load utilities %}

{% block head_title %}Projects joined{% endblock %}

{% block dashboard_main %}

<div class="panel panel-default pad-all-sides">
  <h2>Current projects</h2>
  <p>
    You are sharing data with the following projects that you have
    joined. Click on a project to visit its activity page and learn
    more about it, deauthorize it, or send a message to project
    coordinators.
  </p>
  <ul>
  {% for current_membership in current_memberships %}
    {% with project=current_membership.project %}
      <li>
        <p>
          <b><a href="{% if project.slug %}
                      {% url 'activity' project.slug %}
                      {% else %}
                      {% url 'direct-sharing:join-on-site' slug=project.slug %}
                      {% endif %}">{{ project.name }}</a></b><br>
          {{ project.short_description }}
        </p>
      </li>
    {% endwith %}
  {% endfor %}
  </ul>
  <h2>Past projects</h2>
  <p>
    You have shared with the following projects in the past. Your data remains
    available to these projects, but they are no longer accepting new members.
  </p>
  <ul>
  {% for past_membership in past_memberships %}
    {% with project=past_membership.project %}
      <li>
        <p>
          <b><a href="{% if project.slug %}
                      {% url 'activity' project.slug %}
                      {% else %}
                      {% url 'direct-sharing:join-on-site' slug=project.slug %}
                      {% endif %}">{{ project.name }}</a></b><br>
          {{ project.short_description }}
        </p>
      </li>
    {% endwith %}
  {% endfor %}
  </ul>
</div>

{% endblock dashboard_main %}
