{% extends 'member/my-member-dashboard.html' %}

{% load bootstrap_tags %}

{% block head_title %}Edit file{% endblock %}

{% block dashboard_main %}
  <h2>Editing <strong>{{ object.basename }}</strong></h2>

  <form class="form-horizontal" role="form" method="post"
    action="{% url 'edit-data-selfie-file' data_file=object.id %}" id="data-selfie-edit-form"
    enctype="multipart/form-data">

    {% csrf_token %}

    {{ form|as_bootstrap_horizontal }}

    <input id="data-selfie-edit" type="submit" value="Update file"
      form="data-selfie-edit-form" class="btn btn-primary col-md-offset-2">
  </form>
{% endblock dashboard_main %}
