{% extends 'member/my-member-dashboard.html' %}

{% load bootstrap_tags %}

{% block head_title %}Edit profile{% endblock %}

{% block dashboard_main %}
  <form class="form-horizontal" role="form" method="post"
    action="{% url 'my-member-profile-edit' %}" id="member-profile-edit-form"
    enctype="multipart/form-data">

    {% csrf_token %}

    {{ form|as_bootstrap_horizontal }}

    {% if request.user.member.public_data_participant.enrolled %}
    <div class="form-group">
      <label class="col-sm-2 control-label">Public data</label>

      <div class="col-sm-10">
        <p class="form-control-static text-muted">
          To manage your public sharing of your imported data, visit your
          <a href="{% url 'my-member-connected-data' %}">your connected data</a>
          page.
        </p>
      </div>
    </div>
    {% endif %}

    <div class="form-group">
      <label class="col-sm-2 control-label">Badges</label>

      <div class="col-sm-10">
        <p class="form-control-static text-muted">
          Badges reflect your current data connections. You can visit your
          <a href="{% url 'my-member-connections' %}">connections page</a> to
          manage these.
        </p>
      </div>
    </div>

    <input id="member-profile-edit" type="submit" value="Update profile"
      form="member-profile-edit-form" class="btn btn-primary col-md-offset-2">
  </form>
{% endblock dashboard_main %}
