{% extends 'member/my-member-dashboard.html' %}

{% load utilities %}

{% block dashboard_main %}
<div class="panel panel-default pad-all-sides">
  <table class="table">
    <tr>
      <th>Study/Activity</th>
      <th>Date</th>
      <th>Files</th>
    </tr>
    {% for task in data_retrieval_tasks %}
    <tr>
      <td><small>{{ task.source }}</small></td>
      <td>
        <small>
          {% if task.complete_time %}
          {{ task.complete_time }}
          {% else %}
          Submitted at {{ task.start_time }}
          {% endif %}
        </small>
      </td>
      <td>
        {% if not task.complete_time %}
        <small>
          {% if task.get_status_display == 'Postponed' %}
          Task Status: Postponed pending email verification.
          <br>
          <a href="{% url 'my-member-send-confirmation-email' %}">
            [Resend email confirmation]</a>
          {% else %}
          <b>N/A.</b> Task status: {{ task.get_status_display }}
          {% endif %}
        </small>
        {% else %}
        <table>
          {% if not task.data_files %}
            <small>No data available.</small>
          {% endif %}
          {% for data_file in task.data_files %}
          <tr>
            <td style="width:50%;"><small>{{ data_file.basename }}</small></td>
            <td>
              <a class="btn btn-primary btn-xs" href="{{ data_file.file.url }}">
                Download
              </a>
              {% if user.member.public_data_participant.enrolled %}
              <form action="{% url 'public-data:toggle-sharing' %}"
                  method="POST" style="display:inline-block;">
                {% csrf_token %}
                <input type="hidden" name="data_file" value="{{ data_file.file }}">
                {% if data_file.is_public %}
                  <input type="hidden" name="public" value="False">
                  {% else %}
                  <input type="hidden" name="public" value="True">
                {% endif %}
                <input class="btn btn-primary btn-xs"
                  {% if data_file.is_public %}
                    value="Stop public sharing"
                  {% else %}
                    value="Publicly share"
                  {% endif %}
                  type="submit">
              </form>
              {% else %} {# if user.member.public_data_participant.enrolled #}
              <a href="#" class="popover-dismiss btn btn-xs btn-info"
                data-container="body" data-toggle="popover" data-placement="bottom"
                data-content="Only available to participants in the
                  <a href='{% url 'public-data:home' %}'>Public Data Sharing</a> study.">
                Share publicly
              </a>
              {% endif %} {# if user.member.public_data_participant.enrolled #}
            </td>
          <tr>
          {% endfor %} {# data_file in task.data_files #}
        </table>
        {% endif %} {# not task.complete_time #}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% if not data_retrieval_tasks %}
  <hr>
  <p class="text-center">No data imports initiated!</p>
  {% endif %}
</div>

{% if not user.member.primary_email.verified %}

  <button data-container="body" data-toggle="popover"
    data-placement="bottom"
    class="btn btn-info popover-dismiss"
    data-content="We'd like to make sure we can contact you. Please
      validate your email to enable data import!">
    Import data
  </button>

{% else %}

  <h4>Studies</h4>
  <hr style="margin-top:0px;">
  {% with text_name='American Gut' is_connected='american_gut'|is_in:user.member.connections href_connect='https://microbio.me/AmericanGut/authed/open-humans/' href_learn='http://americangut.org/' %}
    {% include 'partials/connection-study.html' %}
  {% endwith %}
  <hr>
  {% with text_name='GoViral' is_connected='go_viral'|is_in:user.member.connections href_connect='http://www.goviralstudy.com/open-humans' href_learn='http://goviralstudy.com/' %}
    {% include 'partials/connection-study.html' %}
  {% endwith %}
  <hr>
  {% with text_name='PGP Harvard' is_connected='pgp'|is_in:user.member.connections href_connect='https://my.pgp-hms.org/open_humans/participate' href_learn='http://www.personalgenomes.org/harvard/' %}
    {% include 'partials/connection-study.html' %}
  {% endwith %}
  <hr style="margin-bottom:30px;">

  <h4>Activities</h4>
  <hr style="margin-top:0px;">
  {% comment %}
    Note: We check profile_id for 23andme because it's possible to start a
    connection, but fail to complete the process. The member needs to
    select/confirm their 23andme profile, because it's possible for multiple
    profiles to exist in one account.
  {% endcomment %}
  {% url 'activities:23andme:request-data-retrieval' as retrieval_url_23andme %}
  {% with text_name='23andMe' retrieval_url=retrieval_url_23andme is_connected='23andme'|is_in:user.member.connections|bool_and:user.twenty_three_and_me.profileid modal_target='add-data-23andme-modal' %}
    {% include 'partials/connection-activity.html' %}
  {% endwith %}

{% endif %} {# if user.primary_email.validated is true #}

{% endblock dashboard_main %}

{% block extra_modals %}
  {% include 'twenty_three_and_me/add-data-23andme-modal.html' with 23andme_data_sets=data_sets %}
{% endblock %}
