{% extends 'member/my-member-dashboard.html' %}

{% block head_title %}Manage connections{% endblock %}

{% block dashboard_main %}
<div class="panel panel-default pad-all-sides">
  <h3 style="border-bottom: solid 1px #eee;margin-top:0px;margin-bottom:20px;">Manage connections</h3>

  {% for label, connection in connections %}
  <div class="connection">
    <span>{{ connection.verbose_name }}</span>

    <a href="{% url 'my-member-connections-delete' connection=connection.label %}"
      class="btn btn-xs btn-danger">Remove connection</a>
  </div>
  {% endfor %}

  {% for study_grant in study_grants %}
  <div class="connection">
    <span>{{ study_grant.study.title }}</span>

    <a href="{% url 'my-member-study-grants-delete' study_grant=study_grant.pk %}"
      class="btn btn-xs btn-danger">Remove study grant</a>
  </div>
  {% endfor %}

  {% for project_member in project_members %}
  <div class="connection">
    <span>{{ project_member.project.name }}</span>

    <a href="{% url 'direct-sharing:leave-project' pk=project_member.pk %}"
      class="btn btn-xs btn-danger">Withdraw from project &amp; revoke
      authorization</a>
  </div>
  {% endfor %}
</div>
{% endblock dashboard_main %}
