{% extends 'member/my-member-dashboard.html' %}

{% load data_import %}
{% load utilities %}

{% block head_title %}Research data{% endblock %}

{% block dashboard_main %}
<div class="panel panel-default pad-all-sides">
  {% for source, task in data_retrieval_tasks.items %}
    {% source_is_public source as is_public %}
    {% source_is_connected source user as is_connected %}
    {% source_is_individual_deletion source as is_individual_deletion %}

    {% if not forloop.first %}
      <hr class="source-divider">
    {% endif %}

    {% with data_files=task.datafiles.all %}
      {% include 'partials/share-and-delete-buttons.html' %}
    {% endwith %}

    <h4 class="source-name">
      {{ source|source_to_name }}
    </h4>

    <p>
      Last updated: {{ task.complete_time }}
    </p>

    {% if task.datafiles.count > 0 %}
      <table class="table file-table table-hover">
        <tr>
          <th>File</th>
          <th>Size</th>
          <th>Downloads</th>
          <th>Description</th>
          {% if is_individual_deletion %}
          <th></th>
          {% endif %}
        </tr>

        {% for data_file in task.datafiles.all|dictsort:'basename' %}
          <tr>
            <td style="width: 40%;">
              <a href="{{ data_file.file.url }}">{{ data_file.basename }}</a>
            </td>

            <td style="width: 10%;">
              {{ data_file.size|filesizeformat }}
            </td>

            <td style="width: 10%;">
              {{ data_file.access_logs.count }}
            </td>

            <td>
              {{ data_file.description }}
            </td>

            {% if is_individual_deletion %}
            <td>
              <a href="#" class="btn btn-danger btn-xs">Delete</a>
            </td>
            {% endif %}
          </tr>
        {% endfor %} {# data_file in task.datafiles.all #}
      </table>
    {% else %}
      <p>
        {% if task.status == DataRetrievalTask.TASK_SUCCEEDED %}
        There are no files associated with this source.
        {% elif task.status == DataRetrievalTask.TASK_FAILED %}
        Data processing for this source seems to have failed.
        {% else %}
        Data for this source is currently processing.
        {% endif %}
      </p>
    {% endif %}
  {% endfor %}

  <hr>

  {% with source='data_selfie' %}
    {% source_is_public source as is_public %}
    {% source_is_connected source user as is_connected %}

    {% with data_files=data_selfie_files %}
      {% include 'partials/share-and-delete-buttons.html' %}
    {% endwith %}
  {% endwith %}

  <h4 class="source-name">
    Data Selfie files
  </h4>

  <a href="{% url 'my-member-data-selfie' %}"
    style="margin-right: 5px;"
    class="btn btn-default btn-xs">Manage your Data Selfie</a>

  {% if data_selfie_files %}
    <table class="table file-table table-hover">
      <tr>
        <th>File</th>
        <th>Size</th>
        <th>Downloads</th>
        <th>Description</th>
      </tr>

      {% for data_file in data_selfie_files|dictsort:'basename' %}
        {% if data_file.file %}
        <tr>
          <td style="width: 40%;">
              <a href="{{ data_file.file.url }}">{{ data_file.basename }}</a>
          </td>

          <td style="width: 10%;">
            {{ data_file.size|filesizeformat }}
          </td>

          <td style="width: 10%;">
            {{ data_file.access_logs.count }}
          </td>

          <td>
            {{ data_file.user_description }}
          </td>
        </tr>
        {% endif %}
      {% endfor %} {# data_file in data_selfie_files #}
    </table>
  {% else %}
    <p>
      You have not uploaded any data selfie files.
    </p>
  {% endif %}

  {% if postponed %}
    <h4>Postponed tasks</h4>

    <p>Please <a href="{% url 'my-member-send-confirmation-email' %}">
      verify your email address here</a> to start these tasks.</p>

    <ul>
    {% for task in postponed %}
      <li>{{ task.source|source_to_name }}:
        Submitted at {{ task.start_time }}</li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if not data_retrieval_tasks %}
  <hr>

  <p class="text-center">No data imports have been initiated.</p>
  {% endif %}
</div>

{% if not user.member.primary_email.verified %}

  <a href="#" class="btn btn-info popover-dismiss"
    role="button" tabindex="0"
    data-container="body" data-toggle="popover"
    data-placement="top"
    data-content="We'd like to make sure we can contact you. Please
      validate your email to enable data import!">
    Import data
  </a>

{% else %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Connect Data Sources</h4>
    </div>

    <div class="panel-body">
      <p>If you connect a source, Open Humans will import your data to our
        site. We will not use that connection to modify your account or profile
        on other websites (e.g. we will not post on your behalf).</p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Ongoing Studies</h4>
    </div>

    <div class="panel-body">
      {% with user_data=user.american_gut %}
        {% include 'partials/connection-study.html' %}
      {% endwith %}

      <hr>

      {% with user_data=user.go_viral %}
        {% include 'partials/connection-study.html' %}
      {% endwith %}

      <hr>

      {% with user_data=user.pgp %}
         {% include 'partials/connection-study.html' %}
      {% endwith %}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Activities</h4>
    </div>

    <div class="panel-body">
      {% for activity in user_activities %}
        {% with user_data=activity.user_data %}
          {% include activity.template %}
        {% endwith %}

        {% if not forloop.last %}
        <hr>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">In development activities</h4>
    </div>

    <div class="panel-body">
      {% for activity in user_activities_in_development %}
        {% with user_data=activity.user_data %}
          {% include activity.template %}
        {% endwith %}

        {% if not forloop.last %}
        <hr>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Closed Studies</h4>
    </div>
    <div class="panel-body">
      <p>
        Participants in these studies can connect their data to Open Humans,
        but the studies are no longer open for enrollment.
      </p>
      {% with user_data=user.wildlife %}
         {% include 'partials/connection-study.html' %}
      {% endwith %}
    </div>
  </div>

{% endif %} {# if user.primary_email.validated is true #}

<div class="pull-right">
  <a class="btn btn-default"
    role="button" href="{% url 'my-member-connections' %}">
    Manage data sources
  </a>
</div>
{% endblock dashboard_main %}
