{% extends 'member/my-member-dashboard.html' %}

{% load bootstrap_tags %}

{% block dashboard_main %}
<div class="panel panel-default pad-all-sides">
  {# TODO: move inline style to SASS #}
  <h3 style="border-bottom: solid 1px #eee;margin-top:0px;margin-bottom:20px;">
    Account Settings
  </h3>

  {# TODO: move inline style to SASS #}
  <h4 style="border-bottom: solid 1px #eee;">Contact settings</h4>

  <form class="form-horizontal" role="form" method="post"
    action="{% url 'my-member-settings' %}" id="contact-settings-form">

    {% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        {# TODO: move inline style to SASS #}
        <h5 style="margin-bottom:0px;">Receive news and updates?</h5>
      </div>

      <div class="col-md-6">
        <div class="checkbox">
          <label>
            {{ form.newsletter }}
            Receive Open Humans news and updates
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p class="help-block">
          Don't want to miss out on new features and opportunities? Make sure
          you're subscribed to receive news and updates.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        {# TODO: move inline style to SASS #}
        <h5 style="margin-bottom:0px;">Allow other members to contact you?</h5>
      </div>

      <div class="col-md-6">
        <div class="checkbox">
          <label>
            {{ form.allow_user_messages }}
            Allow members to contact me
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p class="help-block">
          You'll receive their message and email address, but your email
          address won't be revealed unless you choose to reply.
        </p>
      </div>
    </div>

    <div class="row">
      {# TODO: move inline style to SASS #}
      <div class="col-md-offset-6" style="padding:0px 15px;">
        <input id="contact-settings" type="submit"
          value="Update contact settings" form="contact-settings-form"
          class="btn btn-sm btn-primary">
      </div>
    </div>
  </form>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <span class="h4">Password:</span>
    </div>

    <div class="col-md-6">
      <a href="{% url 'account_password' %}?next={% url 'my-member-settings' %}"
          class="btn btn-sm btn-primary">
        Change password
      </a>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <span class="h4">Email:</span> 
    </div>

    <div class="col-md-6">
      <p>{{ user.email }}</p>

      <a href="{% url 'my-member-change-email' %}?next={% url 'my-member-settings' %}"
          class="btn btn-sm btn-primary">Change email</a>

      {% if not email_verified %}
      <a href="{% url 'my-member-send-confirmation-email' %}"
        class="btn btn-sm btn-primary">Verify email</a>
      {% endif %}
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <span class="h4">Username:</span>
    </div>

    <div class="col-md-6">
      <p>{{ user.username }}</p>

      <p class="text-muted">
        Username change isn't currently available.
      </p>

      {% comment %}
      <a href="#?next={% url 'my-member-settings' %}"
      class="btn btn-default btn-sm btn-primary">
      Change username
      </a>
      {% endcomment %}
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <span class="h4">Close my account:</span>
    </div>

    <div class="col-md-6">
      <p class="text-muted">
          We have not yet automated the process of closing accounts but are
          committed to closing your account within a day if you
        <a
          href="mailto:support@openhumans.org?subject=Please+close+my+account&body=My+username+is+'{{ user.username }}'.">
          use this link to email us your request</a>. You will need to send the
        email from a confirmed email address.
      </p>
    </div>
  </div>
</div>
{% endblock dashboard_main %}
