{% extends 'base.html' %}

{% load static from staticfiles %}

{% block head_title %}Connecting studies{% endblock %}

{% block main %}
<div class="row">
  <div class="col-xs-12 col-sm-3 col-lg-2">
    <div class="visible-xs">
      <ul class="nav nav-pills">
        <li role="presentation">
          <a href="{% url 'welcome' %}">
            Welcome
          </a>
        </li>

        <li role="presentation">
          <a href="{% url 'welcome-enrollment' %}">
            Enroll in studies
          </a>
        </li>

        <li role="presentation" class="active">
          <a href="{% url 'welcome-connecting' %}">
            Connect study data
          </a>
        </li>

        <li role="presentation">
          <a href="{% url 'welcome-data-import' %}">
            Other data
          </a>
        </li>

        <li role="presentation">
          <a href="{% url 'welcome-profile' %}">
            Public profile
          </a>
        </li>
      </ul>
    </div>

    <div class="hidden-xs">
      <ul class="nav nav-pills nav-stacked" style="margin-top:20px;">
        <li role="presentation">
          <a href="{% url 'welcome' %}">
            Welcome
          </a>
        </li>

        <li role="presentation">
          <a href="{% url 'welcome-enrollment' %}">
            Enroll in studies
          </a>
        </li>

        <li role="presentation" class="active">
          <a href="{% url 'welcome-connecting' %}">
            Connect study data
          </a>
        </li>

        <li role="presentation">
          <a href="{% url 'welcome-data-import' %}">
            Import other data
          </a>
        </li>

        <li role="presentation">
          <a href="{% url 'welcome-profile' %}">
            Public profile
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-xs-12 col-sm-9 col-lg-10">
    <h3>Connecting your study accounts</h3>

    <p>
      If you're enrolled in a research partner's study, that means you have an
      account on their website. If you'd like us to import data from the study
      you'll need to connect these accounts. You'll also get a badge on your
      public profile sharing your contribution to science!
    </p>

    <p>
      Unless otherwise noted, once you connect we'll import your study data (if
      it exists) and we'll automatically import future data from the study as
      it becomes available.
    </p>

    <ul>
      <li>
        <hr>

        <h4>American Gut</h4>

        <p>
          If you’ve signed up for an American Gut sample collection kit,
          you'll need to receive that kit and create an associated account
          before you can connect to Open Humans.
        </p>

        <p>
          Once you've created your American Gut account, click the button
          below to connect.
        </p>

        {% if 'american_gut' not in user.member.connections %}
        <p>
          <a class="btn btn-default"
            href="{{ sources.american_gut.href_connect }}?origin=open-humans">
            Connect your American Gut account</a>
        </p>
        {% else %}
        <strong>Connected!</strong>
        {% endif %}
      </li>

      <li>
        <hr>

        <h4>GoViral</h4>

        <p>
          If you've signed up to GoViral, you can click the button below to
          connect.
        </p>

        {% if 'go_viral' not in user.member.connections %}
        <p>
          <a class="btn btn-default"
            href="{{ sources.go_viral.href_connect }}?origin=open-humans">
            Connect your GoViral account</a>
        </p>
        {% else %}
        <strong>Connected!</strong>
        {% endif %}
      </li>

      <li>
        <hr>

        <h4>Harvard Personal Genome Project</h4>

        {% if 'pgp' not in user.member.connections %}
        <p>
          If you've enrolled in the Harvard Personal Genome Project, you can
          click the button below to connect.
        </p>

        <p>
          <a class="btn btn-default"
            href="{{ sources.pgp.href_connect }}?origin=open-humans">
            Connect your PGP Harvard account</a>
        </p>
        {% else %}
        <strong>Connected!</strong>
        {% endif %}
      </li>

      <li>
        <hr>

        <h4>Wild Life of Our Homes</h4>

        {% if 'wildlife' not in user.member.connections %}
        <p>
          If you participated in Wild Life of Our Homes, you can click the
          button below to connect your data.
        </p>

        <p>
          <a class="btn btn-default"
            href="{{ sources.wildlife.href_connect }}?origin=open-humans">
            Connect your Wild Life of Our Homes data</a>
        </p>
        {% else %}
        <strong>Connected!</strong>
        {% endif %}
      </li>
    </ul>
  </div>
</div>
{% endblock %}
