{% extends 'base.html' %}

{% load static from staticfiles %}

{% block main %}
<div class="row">
  <div class="col-xs-12 col-sm-3 col-lg-2">
    <div class="visible-xs">
      <ul class="nav nav-pills">
        <li role="presentation">
          <a href="{% url 'welcome' %}">
            Welcome
          </a>
        </li>

        <li role="presentation">
          <a href="{% url 'welcome-enrollment' %}">
            Enroll in studies
          </a>
        </li>

        <li role="presentation">
          <a href="{% url 'welcome-connecting' %}">
            Connect study accounts
          </a>
        </li>

        <li role="presentation" class="active">
          <a href="{% url 'welcome-data-import' %}">
            Other data
          </a>
        </li>
      </ul>
      <li role="presentation">
        <a href="{% url 'welcome-profile' %}">
          Your profile
        </a>
      </li>
    </div>

    <div class="hidden-xs">
      <ul class="nav nav-pills nav-stacked" style="margin-top:20px;">
        <li role="presentation">
          <a href="{% url 'welcome' %}">
            Welcome
          </a>
        </li>

        <li role="presentation">
          <a href="{% url 'welcome-enrollment' %}">
            Enroll in studies
          </a>
        </li>

        <li role="presentation">
          <a href="{% url 'welcome-connecting' %}">
            Connect study accounts
          </a>
        </li>

        <li role="presentation" class="active">
          <a href="{% url 'welcome-data-import' %}">
            Import other data
          </a>
        </li>

        <li role="presentation">
          <a href="{% url 'welcome-profile' %}">
            Expand your profile
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-xs-12 col-sm-9 col-lg-10">
    <h3>Import other data sources</h3>

    <p>
      Import your data from other data sources &ndash; to share with other
      members, studies, or even publicly!
    </p>
    <p>
      You'll be able to share these data sets directly with individual studies.
      {% if not user.member.public_data_participant.enrolled %}You can also
      turn public sharing on (or off) on
      <a href={% url 'my-member-research-data' %}>your research data page</a>.
      {% else %}You can also activate the option to publicly share
      individual data sets by enrolling in our
      <a href="{% url 'public-data:home' %}">Public Data Sharing study</a>. It's
      entirely "opt in": you'll be able to turn "public" status on and off
      for individual data sets.
      {% endif %}
    </p>

    <ul>
      <li>
        <hr>
        <h4>RunKeeper</h4>
        <p>
          RunKeeper is a free smartphone app for GPS fitness-tracking. You can
          use it to record GPS timepoint data for runs, walks, bicycling, and
          other exercise.
        </p>
        {% if not 'runkeeper' in user.member.connections %}
        <b>Connected!</b>
        {% else %}
        <p>
          If you authorize access, we'll import this data to Open Humans.
          This data may automatically update periodically.
        </p>
          <a class="btn btn-default"
            href="{{ sources.runkeeper.href_connect }}?origin=open-humans&amp;next={{ sources.runkeeper.href_next }}">
            Connect RunKeeper</a>

        {% endif %}
      </li>
    </ul>

  </div>
</div>
{% endblock %}
