{% extends 'base.html' %}

{% load static from staticfiles %}

{% block head_title %}Importing data{% endblock %}

{% block main %}
<div class="row">
  <div class="col-xs-12 col-sm-3 col-lg-2">
    <div class="visible-xs">
      <ul class="nav nav-pills">
        <li role="presentation">
          <a href="{% url 'welcome' %}">
            Welcome
          </a>
        </li>

        <li role="presentation">
          <a href="{% url 'welcome-enrollment' %}">
            Enroll in studies
          </a>
        </li>

        <li role="presentation">
          <a href="{% url 'welcome-connecting' %}">
            Connect study data
          </a>
        </li>

        <li role="presentation" class="active">
          <a href="{% url 'welcome-data-import' %}">
            Other data
          </a>
        </li>

        <li role="presentation">
          <a href="{% url 'welcome-profile' %}">
            Public profile
          </a>
        </li>
      </ul>
    </div>

    <div class="hidden-xs">
      <ul class="nav nav-pills nav-stacked" style="margin-top:20px;">
        <li role="presentation">
          <a href="{% url 'welcome' %}">
            Welcome
          </a>
        </li>

        <li role="presentation">
          <a href="{% url 'welcome-enrollment' %}">
            Enroll in studies
          </a>
        </li>

        <li role="presentation">
          <a href="{% url 'welcome-connecting' %}">
            Connect study data
          </a>
        </li>

        <li role="presentation" class="active">
          <a href="{% url 'welcome-data-import' %}">
            Import other data
          </a>
        </li>

        <li role="presentation">
          <a href="{% url 'welcome-profile' %}">
            Public profile
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-xs-12 col-sm-9 col-lg-10">
    <h3>Import other data sources</h3>

    <p>
      Import your data from other data sources &ndash; to share with other
      members, studies, or even publicly!
    </p>
    <p>
      You'll be able to share these data sets directly with individual studies.
      {% if not user.member.public_data_participant.enrolled %}You can also
      turn public sharing on (or off) on
      <a href={% url 'my-member-research-data' %}>your research data page</a>.
      {% else %}You can also activate the option to publicly share
      individual data sets by enrolling in our
      <a href="{% url 'public-data:home' %}">Public Data Sharing study</a>. It's
      entirely "opt in": you'll be able to turn "public" status on and off
      for individual data sets.
      {% endif %}
    </p>

    <!-- TODO ACTIVITIES: generate this list automatically -->

    <ul>
      <li>
        <hr>
        <h4>23andMe</h4>
        <p>
          23andMe is a direct-to-consumer genetic testing company that tests
          about one million genetic locations.
        </p>
        {% if 'twenty_three_and_me' in user.member.connections %}
        <b>Uploaded!</b>
        {% else %}
          <a class="btn btn-default"
            href="{{ request.user.twenty_three_and_me.href_connect }}">
            Upload 23andMe</a>
        {% endif %}
      </li>

      <li>
        <hr>
        <h4>AncestryDNA</h4>
        <p>
          Ancestry.com's AncestryDNA is a direct-to-consumer genetic testing
          product that tests about 700,000 genetic locations.
        </p>
        {% if 'ancestry_dna' in user.member.connections %}
        <b>Uploaded!</b>
        {% else %}
          <a class="btn btn-default"
            href="{{ request.user.ancestry_dna.href_connect }}">
            Upload AncestryDNA</a>
        {% endif %}
      </li>

      <li>
        <hr>
        <h4>Moves</h4>
        <p>
          Moves is an always-on location logging app for iPhone and Android. It
          classifies activities as walking, cycling, running, transit, and many
          other types.
        </p>
        {% if 'moves' in user.member.connections %}
        <b>Connected!</b>
        {% else %}
        <p>
          If you authorize access, we'll import this data to Open Humans.
          This data may automatically update periodically.
        </p>
          <a class="btn btn-default"
            href="{{ sources.moves.href_connect }}?origin=open-humans&amp;next={{ sources.moves.href_next }}">
            Connect Moves</a>

        {% endif %}
      </li>

      <li>
        <hr>
        <h4>RunKeeper</h4>
        <p>
          RunKeeper is a free smartphone app for GPS fitness-tracking. You can
          use it to record GPS timepoint data for runs, walks, bicycling, and
          other exercise.
        </p>
        {% if 'runkeeper' in user.member.connections %}
        <b>Connected!</b>
        {% else %}
        <p>
          If you authorize access, we'll import this data to Open Humans.
          This data may automatically update periodically.
        </p>
          <a class="btn btn-default"
            href="{{ sources.runkeeper.href_connect }}?origin=open-humans&amp;next={{ sources.runkeeper.href_next }}">
            Connect RunKeeper</a>

        {% endif %}
      </li>

      <li>
        <hr>

        <h4>Data Selfie</h4>

        <p>
          Do you a have a data type that we don't yet support? Upload any files
          you want to your Data Selfie.
        </p>

        <p>
          Test results, medical imaging, and genetic data, or microbiome data
          are examples of data you might share. When you share new types of
          data in the Data Selfies, it makes it easier for us to add it as a
          supported data type. Of course, we'll never be able to standardize
          everything about our health and biology&mdash;sometimes you have data
          that's uniquely you!
        </p>

        <p>
          We don't do any processing of Data Selfie files.
          If you're a member of the <a href="{% url 'public-data:home' %}">
          Public Data Sharing</a> study you'll be able to share these publicly.
          It'll be your responsibility to understand what's being shared, we
          won't process them to remove potentially sensitive information.
        </p>

        {% if user.data_selfie.datafile_set.all %}
        <p>
          <b>You've added files!</b>
        </p>
        <p>
          <a class="btn btn-default" href="{% url 'my-member-data-selfie' %}">
            Manage files</a>
          <a class="btn btn-default" href="{{ user.data_selfie.href_connect }}">
              Upload new files</a>
        </p>
        {% else %}
        <p>
          <a class="btn btn-default" href="{{ user.data_selfie.href_connect }}">
            Upload files to your Data Selfie</a>
        </p>
        {% endif %}
      </li>
    </ul>

  </div>
</div>
{% endblock %}
