/* Button styles
-------------------------------------------------- */
/* allow button text to break across lines rather than have a button that's too
 * wide, this helps with buttons in table columns */
.btn {
  white-space: normal;
}

.btn-default {
  background-color: #fff;
  border: 2px solid $oh-teal;
  color: $oh-teal-dark;
  padding: 5px 10px;

  &:hover, &:focus {
    background-color: $oh-teal-verylight;
    border: 2px solid $oh-teal;
    color: $oh-teal-verydark;

    &:active, .active {
      background-color: $oh-teal-verylight;
      border: 2px solid $oh-teal-verydark;
      color: $oh-teal-verydark;
    }
  }

  &:active, .active {
    background-color: $oh-teal-verylight;
    border: 2px solid $oh-teal-verydark;
    color: $oh-teal-verydark;
  }

  .btn-xs {
    padding: 0px 4px;
  }

  .btn-sm {
    padding: 4px 9px;
  }

  .btn-lg {
    padding: 9px 15px;
  }
}

.btn-group-xs>.btn.btn-default, .btn-group-xs>.btn.btn-primary-hollow {
  padding: 0px 4px;
}

.btn-group-sm>.btn.btn-default, .btn-group-sm>.btn.btn-primary-hollow {
  padding: 4px 9px;
}

.btn-group-sm>.btn.btn-default, .btn-group-sm>.btn.btn-primary-hollow {
  padding: 9px 15px;
}

.navbar p.navbar-btn {
  padding: 10px 13px;
  margin: 0px;
}

.btn-primary {
  background-color: $oh-orange;
  border-color: $oh-orange;

  &:hover, &:focus {
    background-color: $oh-orange-dark;
    border-color: $oh-orange-dark;

    &:active, .active {
      background-color: $oh-orange-dark;
      border-color: $oh-orange-dark;
    }
  }

  &:active, .active {
    background-color: $oh-orange-dark;
    border-color: $oh-orange-dark;
  }
}

.btn-primary.btn-primary-hollow {
  background-color: #FFF;
  border: 2px solid $oh-orange;
  color: $oh-teal-dark;
  padding: 5px 10px;

  &:hover, &:focus {
    background-color: $oh-orange-verylight;
    border: 2px solid $oh-orange-dark;
    color: $oh-teal-verydark;

    &:active, .active {
      background-color: $oh-orange-verylight;
      border: 2px solid $oh-orange-dark;
      color: $oh-teal-verydark;
    }
  }

  &:active, .active {
    background-color: $oh-orange-verylight;
    border: 2px solid $oh-orange-dark;
    color: $oh-teal-verydark;
  }
}

/* Buttons attached to text inputs need a matching border width or they're
 * improperly offset fromthe text input. */
.input-group .input-group-btn .btn-default {
  border-width: 1px;
  background-color: $oh-orange;

  &:hover, &:focus {
    background-color: $oh-orange-dark;
  }
}

.btn-group .btn {
  border-width: 1px;

  &.selected {
    background-color: color($oh-orange alpha(0.5));
  }
}

/* Navpill styles
-------------------------------------------------- */
.nav-pills {
  li.active > a {
    background-color: $oh-teal-dark;

    &:hover, &:focus {
      background-color: $oh-teal-dark;
    }
  }
}

.nav > li > a {
  &:hover, &:focus {
    color: #000000;
    background-color: $oh-teal-verylight;
  }
}

.nav.nav-pills.below-navbar {
  margin-top: $navbar-border-thickness;

  li {
    margin-right: $navbar-border-thickness;
  }
}
