/* Button styles
-------------------------------------------------- */
/* allow button text to break across lines rather than have a button that's too
 * wide, this helps with buttons in table columns */
.btn {
  white-space: normal;
}

.btn-default {
  background-color: color($oh-orange alpha(0));
  border-color: $oh-orange;
  border-width: 2px;
  color: $oh-indigo-dark;

  &:hover, &:focus {
    border-color: $oh-orange;
    background-color: color($oh-orange alpha(0.15));
  }
}

.btn-primary {
  color: #000000;
  font-weight: 800;
  background-color: color($oh-orange lightness(+5%));
  border-color: color($oh-orange lightness(-10%));
  border-width: 2px;
  text-shadow: 0 0 3px color($oh-orange lightness(+30%));

  &:hover, &:focus {
    color: #000000;
    background-color: $oh-orange;
    border-color: color($oh-orange lightness(-10%));
    text-shadow: 0 0 3px color($oh-orange lightness(+10%));
  }
}

/* Buttons attached to text inputs need a matching border width or they're
 * improperly offset fromthe text input. */
.input-group .input-group-btn .btn-default {
  border-width: 1px;
  background-color: color($oh-orange alpha(0.15));

  &:hover, &:focus {
    background-color: color($oh-orange alpha(0.3));
  }
}

.btn-group .btn {
  border-width: 1px;

  &.selected {
    background-color: color($oh-orange alpha(0.5));
  }
}

/* Navpill styles
-------------------------------------------------- */
$navpill-color: #62548c;

.nav-pills {
  li > a {
    color: $navpill-color;
  }

  li.active > a {
    background-color: $oh-indigo-muted;

    &:hover, &:focus {
      background-color: $oh-indigo-muted;
    }
  }
}

.nav > li > a {
  &:hover, &:focus {
    color: #000000;
    background-color: #f6f5fd;
  }
}

.nav.nav-pills.below-navbar {
  margin-top: $navbar-border-thickness;

  li {
    margin-right: $navbar-border-thickness;
  }
}
