/* Borders
-------------------------------------------------- */
.border-oh-teal {
  border-style: solid;
  border-color: $oh-teal-muted;
  border-width: 2px;
  border-radius: 6px;
}

/* Image styles
-------------------------------------------------- */
.img-center {
  margin: 0 auto;
}

/* Panels and divs
-------------------------------------------------- */
/* For single panel over full background */
.panel-over-full-background {
  background: #ffffff;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 30px;

  .page-header {
    margin-top: 30px;
  }

  .authorize-controls {
    margin-bottom: 20px;
  }
}

.pad-all-sides {
  padding: 15px;
}

.member-detail-panel {
  border-width: 2px;
  border-color: $oh-orange;
  border-radius: 15px;
  padding: 15px;
  border-style: solid;
}

.member-data-list {
  margin-top: 30px;
}

.activities-text-block, .staff-text-block {
  text-align: justify;
  margin-bottom: 1em;
}

/* Needs to be used outside of a "container" div, to stretch full horizontal */
.background-horizontal-block {
  padding-top: 10px;
  padding-bottom: 30px;
  background: #0d0033 url($oh-background-image) no-repeat center;
  background-size: cover;
}
