/* Borders
-------------------------------------------------- */
.border-oh-teal {
  border-style: solid;
  border-color: $oh-teal-muted;
  border-width: 2px;
  border-radius: 6px;
}

/* Image styles
-------------------------------------------------- */
.img-center {
  margin: 0 auto;
}

/* Panels and divs
-------------------------------------------------- */
/* For single panel over full background */
.panel-over-full-background {
  background: #ffffff;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 30px;

  .page-header {
    margin-top: 30px;
  }

  .authorize-controls {
    margin-bottom: 20px;
  }
}

.pad-all-sides {
  padding: 15px;
}

.member-detail-panel {
  border-width: 2px;
  border-color: $oh-orange;
  border-radius: 15px;
  padding: 15px;
  border-style: solid;
}

.member-data-list {
  margin-top: 30px;
}

.activities-text-block, .staff-text-block {
  text-align: justify;
  margin-bottom: 1em;
}

/* Needs to be used outside of a "container" div, to stretch full horizontal */
.background-horizontal-block {
  padding-top: 10px;
  padding-bottom: 30px;
  background: #0d0033 url($oh-background-image) no-repeat center;
  background-size: cover;
}

.on-site-consent {
  font-size: 14px;
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $main-font;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 6px;
  }
  h1, .h1 {
    font-size: 20px;
  }
  h2, .h2 {
    font-size: 18px;
  }
  h3, .h3 {
    font-size: 16px;
  }
  h5, .h5 {
    font-size: 13px;
  }
  h6, .h6 {
    font-size: 12px;
  }
}

.about-step-div {
  text-align:center;
  padding:10px 10px 0px;

  img {
    width: 70%;
  }
}

.about-step-div-xs {
  img {
    max-height: 170px;
    float: left;
    padding-right: 20px;
  }
  h3 {
    padding-top: 72px;
  }
}

.datafile-list-row {
  margin-top: 5px;
  border-top: 1px solid #eee;
  padding-top: 5px;
  padding-bottom: 5px;
}

.datafile-list-row:hover {
  background-color: #eee;
}
