/* Colors
-------------------------------------------------- */
$oh-teal: #4ac1c8;
$oh-teal-dark: #009fa8;
$oh-teal-verydark: #008c94;
$oh-teal-verylight: #e6f9fa;

$oh-orange: #ff9161;
$oh-orange-verylight: #fff1eb;
$oh-orange-dark: #f7763e;

$oh-gray-verydark: #4d4d4d;

$oh-background-image: '/static/images/get2014_background.jpg';

/* Navbar styles
-------------------------------------------------- */
$navbar-height: 50px;
$navbar-border-thickness: 0px;
$navbar-background-color: #ffffff;
$navbar-background-color-active: $oh-teal-verylight;
$navbar-border-color: $fff;
$navbar-color: $oh-teal-dark;
$navbar-color-focus-hover: $oh-teal-verydark;
$navbar-color-active: $oh-teal-verydark;


/* Fonts
-------------------------------------------------- */
$user-input-font: 'Merriweather', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
$heading-font: 'Montserrat', sans-serif;
$main-font: 'Montserrat', sans-serif;
