/* Colors
-------------------------------------------------- */
$oh-indigo-verydark: #0d0033;
$oh-indigo-dark: #1e175c;
$oh-indigo: #322799;
$oh-orange: #ffa633;
$oh-orange-light: lighten($oh-orange, 20%);
$oh-background-image: '/static/images/get2014_background.jpg';
$oh-teal-muted: #b3e5e6;
$oh-indigo-muted: #62548c;

/* Navbar styles
-------------------------------------------------- */
$navbar-height: 50px;
$navbar-border-thickness: 5px;
$navbar-background-color: #ffffff;
$navbar-background-color-active: #e6ffff;
$navbar-border-color: $oh-teal-muted;
$navbar-color: $oh-indigo-muted;
$navbar-color-focus-hover: #000000;
$navbar-color-active: $oh-indigo-verydark;

/* Fonts
-------------------------------------------------- */
$user-input-font: 'Merriweather', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
$heading-font: 'Quando', Georgia, 'Times New Roman', Times, serif;
$main-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
