/* Main page */
#page-home {

  /* No whitespace before footer */
  .body-main {
    padding-bottom: 0px;
  }

  .activity-description {
    font-size: 90%;
    line-height: 1.4;
  }

  .joined-subtext {
    font-size: 80%;
  }

  .call-to-action-1,
  .call-to-action-2,
  .call-to-action-3,
  .call-to-action-4,
  .call-to-action-5 {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 0px;
    }
    .subtitle {
      margin-top: -6px;
    }
    .action-button {
      margin-top: 10px;
    }
  }

  .call-to-action-2,
  .call-to-action-3 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .call-to-action-5 {
    padding-bottom: 50px;
  }

  .call-to-action-1 {
    padding-top: 70px;
    padding-bottom: 25px;
    text-align: center;
    background: #0d0033 url($oh-background-image) no-repeat center;
    background-size: cover;
    color: #ffffff;
    text-shadow: 0 0 8px #0d0033;
    h1 {
      font-size: 48px;
      margin-top: 10px;
    }
    .subtitle {
      margin-bottom: 5px;
    }
    .subsubtitle {
      margin-bottom: 25px;
      color: #ccc;
      a {
        color: #ccc;
      }
    }
    .btn-default {
      color: #ffffff;
      text-shadow: 0 0 8px #0d0033;
      border-color: #ffffff;
      font-weight: 800;

      &:hover, &:focus {
        border-color: #ffffff;
        background-color: color(#ffffff alpha(0.15));
      }
    }
    img.cta-1-profile-xs {
      max-height: 130px;
      margin-top: 20px;
    }
    img.cta-1-profile-sm {
      width: 50%;
      max-width: 150px;
    }
    .cta-1-profile-quote {
      background: rgba(10, 0, 30, 0.7);
      padding: 10px 10px 3px;
      line-height: 1.36;
      border-radius: 10px;
      margin-top:20px;
      p {
        font-size: 13px;
      }
    }
  }

  .call-to-action-2,
  .call-to-action-5 {
    color: #291466;
    .subtitle {
      color: #999;
    }
    .centered-blocks {
      text-align: center;
    }
  }

  .call-to-action-3 {
    background-color:#fff6ee;
    border-color: #ffeedd;
    border-width: 5px 0 5px;
    border-style: solid;
    .action-button {
      margin-top: 20px;
    }
  }

  .call-to-action-4 {
    padding: 40px 0px 20px;
    background-color:#f6f7ff;
    border-color: #e8e6ff;
    border-width: 5px 0 5px;
    border-style: solid;
    .action-button {
      text-shadow: 0 0 1px #0d0033;
      background-color: #696399;
      border-color: #322799;
    }
  }
}
