/* Text, links, and header styles
-------------------------------------------------- */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $heading-font;
  font-weight: 300;
  color: $oh-gray-verydark;
}

body {
  font-family: $main-font;
}

a {
  color: $oh-teal-dark;

  &:hover, &:focus {
    color: $oh-teal-verydark;
  }
}

h6.section-header {
  margin-top: 15px;
  margin-bottom: 0;
}

hr.section-header {
  margin-top: 0;
  margin-bottom: 10px;
}

.profile-text {
  font-family: $user-input-font;

  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: $user-input-font;
  }

  h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 700;
  }

  h1, .h1 {
    font-size: 24px;
  }

  h2, .h2 {
    font-size: 21px;
  }

  h3, .h3 {
    font-size: 18px;
  }

  h4, .h5 {
    font-size: 15px;
  }

  h5, .h5 {
    font-size: 12px;
  }

  h6, .h6 {
    font-size: 9px;
  }
}

.bigger-text {
  font-size: 18px;
}
