@import '_global-variables.css';
@import '_navbar.css';
@import '_buttons.css';
@import '_text.css';
@import '_footer.css';
@import '_divs.css';
@import '_pages.css';
@import '_dropzone.css';

/* The blurred background image shown on every page */
#blurred-people-background {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  background-size: cover;
  background-position: center;
  /* The actual image URL is specified in a template block */
}

/* TODO: Move somewhere appropriate */
.profile-image {
  width: 30%;
  margin-left: 2%;
  float: right;
  max-width: 250px;
}

/* Messages
-------------------------------------------------- */
.message {
  margin: 15px 0;
  padding: 15px;
  background-color: #ddf9ff;
  border-style: solid;
  border-color: $oh-indigo-muted;
  border-width: 2px;
  border-radius: 6px;

  &.error {
    background-color: #ffeeee;
    border-color: #cc0000;
    font-weight: 800;
  }

  &.success {
    background-color: #d9ffee;
    border-color: #00aa22;
  }
}

/* Site-wide modals
-------------------------------------------------- */
#signup-modal {
  overflow: scroll;
}
