/*-------------------------------------------------- */
/* Colors
-------------------------------------------------- */
/* Text styles */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.82rem;
}
body h1 {
  font-size: 1.64rem;
}
body h2 {
  font-size: 1.312rem;
}
body h3 {
  font-size: 1.107rem;
}
body h4 {
  font-size: 0.943rem;
}

footer {
  font-size: 0.738rem;
}

@media (min-width: 576px) {
  body {
    font-size: 0.861rem;
  }
  body h1 {
    font-size: 1.722rem;
  }
  body h2 {
    font-size: 1.3776rem;
  }
  body h3 {
    font-size: 1.16235rem;
  }
  body h4 {
    font-size: 0.99015rem;
  }

  footer {
    font-size: 0.7749rem;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 0.902rem;
  }
  body h1 {
    font-size: 1.804rem;
  }
  body h2 {
    font-size: 1.4432rem;
  }
  body h3 {
    font-size: 1.2177rem;
  }
  body h4 {
    font-size: 1.0373rem;
  }

  footer {
    font-size: 0.8118rem;
  }
}
@media (min-width: 992px) {
  body {
    font-size: 0.943rem;
  }
  body h1 {
    font-size: 1.886rem;
  }
  body h2 {
    font-size: 1.5088rem;
  }
  body h3 {
    font-size: 1.27305rem;
  }
  body h4 {
    font-size: 1.08445rem;
  }

  footer {
    font-size: 0.8487rem;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 0.984rem;
  }
  body h1 {
    font-size: 1.968rem;
  }
  body h2 {
    font-size: 1.5744rem;
  }
  body h3 {
    font-size: 1.3284rem;
  }
  body h4 {
    font-size: 1.1316rem;
  }

  footer {
    font-size: 0.8856rem;
  }
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #4d4d4d;
  font-weight: 300;
}

code {
  background-color: #fff1eb;
  color: #f7763e;
}

a {
  color: #009fa8;
}
a:hover, a:focus {
  color: #008c94;
  text-decoration: underline;
}

/* Navbar styles */
body.oh-proj-template > main > div.container {
  padding-top: 3.6rem;
}

.navbar-toggler-icon.custom-toggler {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(74,193,200, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler.custom-toggler {
  border: 1px solid #009fa888;
}

.navbar.navbar-open-humans {
  background-color: white;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid #c9ecef;
  font-size: 0.9rem;
}
.navbar.navbar-open-humans a.navbar-brand > img {
  height: 1.3rem;
}
.navbar.navbar-open-humans .nav-item.active a {
  color: #008c94;
  background-color: #e6f9fa;
}
.navbar.navbar-open-humans .nav-link:hover {
  text-decoration: underline;
}
.navbar.navbar-open-humans a.dropdown-item {
  font-size: 0.9rem;
  color: #009fa8;
}
.navbar.navbar-open-humans a.dropdown-item:hover, .navbar.navbar-open-humans a.dropdown-item:focus, .navbar.navbar-open-humans a.dropdown-item:active {
  color: #008c94;
  text-decoration: underline;
  background-color: #e6f9fa;
}

/* Button styles */
.btn-default {
  background-color: white;
  border: 2px solid #009fa8;
  color: #009fa8;
}
.btn-default:hover, .btn-default:focus {
  background-color: #e6f9fa;
  border: 2px solid #009fa8;
  color: #008c94;
}

.btn-primary-hollow {
  background-color: white;
  border: 2px solid #ff9161;
  color: #009fa8;
}
.btn-primary-hollow:hover, .btn-primary-hollow:focus {
  background-color: #fff1eb;
  border: 2px solid #f7763e;
  color: #008c94;
}

.btn-primary {
  background-color: #ff9161;
  border: 2px solid #ff9161;
  color: white;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #f7763e;
  border-color: #f7763e;
  color: white;
}

.btn-info {
  background-color: #009fa8;
  border: 2px solid #009fa8;
}
.btn-info:hover, .btn-info:focus {
  background-color: #008c94;
  border-color: #008c94;
}

.login-button {
  display: inline-block;
  text-align: left;
  width: 16rem;
  color: white;
}
.login-button:hover, .login-button:focus {
  color: white;
  text-decoration: none;
}

.fb-button {
  background-color: #4267B2;
  border-color: #4267B2;
  color: white;
}
.fb-button:hover, .fb-button:focus {
  background-color: #34518c;
  border-color: #34518c;
  color: white;
}
.fb-button:hover:active, .fb-button:hover .active, .fb-button:focus:active, .fb-button:focus .active {
  background-color: #34518c;
  border-color: #34518c;
  color: white;
}

.google-button {
  background-color: #4285F4;
  border-color: #4285F4;
  color: white;
}
.google-button:hover, .google-button:focus {
  background-color: #3367d6;
  border-color: #3367d6;
  color: white;
}
.google-button:hover:active, .google-button:hover .active, .google-button:focus:active, .google-button:focus .active {
  background-color: #3367d6;
  border-color: #3367d6;
  color: white;
}

/*# sourceMappingURL=oh-proj-theming.css.map */
