/* Borders
-------------------------------------------------- */
.border-oh-teal {
  border-style: solid;
  border-color: $oh_teal_muted;
  border-width: 2px;
  border-radius: 6px;
}

/* Image styles
-------------------------------------------------- */
.img-center {
  margin: 0 auto;
}

/* Panels and divs
-------------------------------------------------- */
/* For single panel over full background */
.panel-over-full-background {
  background: #ffffff;
  border-radius: 5px;
  margin-top: 30px;
  font-size: 16px;
}

.panel-main-column {
  font-size: 16px;

  .page-header {
    margin-top: 30px;
  }
}

.pad-all-sides {
  padding: 15px;
}

.member-detail-panel {
  border-width: 2px;
  border-color: $oh_orange;
  border-radius: 15px;
  padding: 15px;
  border-style: solid;
}

.activities-text-block, .staff-text-block {
  text-align: justify;
}

// Needs to be used outside of a "container" div, to stretch full horizontal.
.background-horizontal-block {
  padding-top: 10px;
  padding-bottom: 30px;
  background: #0d0033 url($oh_background_image) no-repeat center;
  background-size: cover;
}
