/* Borders
-------------------------------------------------- */
.border-oh-teal {
  border-style: solid;
  border-color: $oh_teal_muted;
  border-thickness: 2px;
  border-radius: 6px;
}

/* Image styles
-------------------------------------------------- */
.img-center {
  margin: 0 auto;
}
