/* Page specific styles
-------------------------------------------------- */

@import 'pages-home';
@import 'pages-public-data-quiz';

/* Public data page */
#page-public-data {
  .call-to-action {
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    background: #0d0033 url($oh-background-image) no-repeat center;
    background-size: cover;
    color: #ffffff;
    text-shadow: 0 0 8px #0d0033;

    h1 {
      font-size: 48px;
      margin-bottom: -16px;
    }

    h3 {
      color: #cccccc;
    }

    p {
      border-radius: 25px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 15px;
      font-size: 18px;
    }
  }
}

/* About page */
#page-about {
  #team {
    img {
      max-height: 200px;
      max-width: 200px;
    }
  }
  #research {
    img.section-highlight {
      padding: 10px;
      border: 4px solid #eee;
      border-radius: 25px;
      margin:20px auto 0px;
    }
    img.section-highlight.visible-xs {
      margin: 0px 0px 0px 15px;
      float: right;
      max-width: 25%;
      max-height: 120px;
    }
  }
}

#page-oauth2-authorize {
  img.study-badge {
    float: left;
    max-height: 70px;
    max-width: 20%;
    margin-right: 20px;
  }
}

/* News page */
#page-news {
  ul.news-items {
    li {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

#approval-form {
  .connect-source {
    margin-top: 1.5em;
  }

  table tr:first-child td {
    border: none;
  }

  td.sharing-description {
    width: 60%;
  }

  td.sharing-approval {
    text-align: right;

    input {
      margin-left: 0.35em;
    }
  }

  td.sharing-info {
    width: 5%;

    span {
      color: $oh-indigo-dark;
    }
  }
}

#study-completion {
  .completion-button-study {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .completion-button-open-humans {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
}
