/* Page specific styles
-------------------------------------------------- */

@import 'pages-home';
@import 'pages-public-data-quiz';

/* Public data page */
#page-public-data {
  .call-to-action {
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    background: #0d0033 url($oh-background-image) no-repeat center;
    background-size: cover;
    color: #ffffff;
    text-shadow: 0 0 8px #0d0033;

    h1 {
      font-size: 48px;
      margin-bottom: -16px;
    }

    h3 {
      color: #cccccc;
    }

    p {
      border-radius: 25px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 15px;
      font-size: 18px;
    }
  }
}

/* About page */
#page-about {
  #team {
    img {
      max-height: 200px;
      max-width: 200px;
    }
  }
  #research {
    img.section-highlight.hidden-xs {
      float: right;
      max-width: 40%;
      max-height: 129px;
      margin-left: 20px;
    }
    img.section-highlight.visible-xs {
      max-height: 100px;
      text-align:center;
      margin:0px auto;
    }
  }
}
