/* Colors
-------------------------------------------------- */

$oh_indigo_verydark: #0d0033;
$oh_indigo_dark: #1e175c;
$oh_indigo: #322799;
$oh_orange: #ffa633;
$oh_orange_light: lighten($oh_orange, 20%);
$oh_background_image: "/static/images/get2014_background.jpg";

/* Front page "call to action"
-------------------------------------------------- */
.call-to-action {
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
  background: #0d0033 url($oh_background_image) no-repeat center;
  background-size: cover;
  color: #ffffff;
  text-shadow: 0px 0px 8px #0d0033;
  h1 {
    font-size: 48px;
    margin-bottom: -16px;
  }
  .btn-default {
    color: #ffffff;
    text-shadow: 0px 0px 8px #0d0033;
    border-color: #ffffff;
    font-weight: 800;
  }
  .btn-default:hover, .btn-default:focus {
    border-color: #ffffff;
    background-color: rgba(#ffffff, 0.15);
  }
  .btn-primary {
    color: #000000;
    background-color: lighten($oh_orange, 5%);
    border-color: darken($oh_orange, 10%);
    text-shadow: 0 0 3px lighten($oh_orange, 30%);
  }
  .btn-primary:hover, .btn-primary:focus {
    color: #000000;
    background-color: darken($oh_orange, 0%);
    border-color: darken($oh_orange, 10%);
    text-shadow: 0 0 3px lighten($oh_orange, 10%);
  }
}

.sub-actions {
  text-align: center;
}

/* Button styles
-------------------------------------------------- */
.btn {
  background-color: rgba($oh_orange, 0);
  border-color: $oh_orange;
  border-width: 2px;
  color: $oh_indigo_dark;
}
.btn:hover, .btn:focus {
  border-color: $oh_orange;
  background-color: rgba($oh_orange, 0.15);
}
.btn-primary {
  color: #000;
  font-weight: 800;
  background-color: $oh_orange;
  border-color: darken($oh_orange, 10%);
  text-shadow: 0 0 3px lighten($oh_orange, 20%);
}
.btn-primary:hover, .btn-primary:focus {
  color: #000;
  background-color: darken($oh_orange, 10%);
  border-color: darken($oh_orange, 20%);
  text-shadow: 0 0 3px lighten($oh_orange, 10%);
}


/* Navbar styles
-------------------------------------------------- */
$navbar-height: 50px;
$navbar-border-thickness: 5px;
$navbar-background-color: #fff;
$navbar-background-color-active: #e6ffff;
$navbar-border-color: #b3e5e6;
$navbar-color: #62548c;
$navbar-color-focus-hover: #000;
$navbar-color-active: $oh_indigo_verydark;

.navbar {
  min-height: $navbar-height;
}
.navbar-default {
  background-color: $navbar-background-color;
  border-color: $navbar-border-color;

  /* Navbar brand styles
  ------------------------------------------------ */
  .navbar-brand {
    color: $navbar-color;
  }
  .navbar-brand:hover,
  .navbar-brand:focus {
    color: $navbar-color-focus-hover;
  }

  /* Navbar list link styles
  ------------------------------------------------ */
  .navbar-nav > li > a {
    color: $navbar-color;
  }
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
    color: $navbar-color-focus-hover;
  }
  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    color: $navbar-color-active;
    background-color: $navbar-background-color-active;
  }
}

/* Fixed top navbar styles
-------------------------------------------------- */
$fixed-navbar-offset: $navbar-height + $navbar-border-thickness;
.navbar-fixed-top {
  border-width: 0 0 $navbar-border-thickness;
}
/* Offset container within body to compensate for fixed navbar */
body > .body-main {
  padding-top: $fixed-navbar-offset;
}


/* Sticky footer styles
-------------------------------------------------- */
$footer-height: 60px;
$footer-border-color: $navbar-border-color;
$footer-border-thickness: $navbar-border-thickness;
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  background-color: #fff;
  border-color: $footer-border-color;
  border-width: $footer-border-thickness 0 0;
  border-style: solid;
}
.footer > .container-fluid, .footer > .container {
  padding: 15px;
}

/* Text, links, and header styles
-------------------------------------------------- */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Quando", Georgia, "Times New Roman", Times, serif;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $oh_indigo_verydark;
}
a {
  color: $oh_indigo;
}
a:hover, a:focus {
  color: $oh_indigo_dark;
}

/* Single panel over full background */
.panel-over-full-background {
  background: #fff;
  border-radius: 5px;
  padding: 5px 10px 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
}
