@import 'global_vars';

@import 'navbar';
@import 'buttons';
@import 'text';
@import 'footer';
@import 'divs';

/* Messages
-------------------------------------------------- */
.message {
  margin: 15px 0;
  padding: 15px;
  background-color: #ddf9ff;
  border-style: solid;
  border-color: $oh_indigo_muted;
  border-width: 2px;
  border-radius: 6px;

  &.error {
    background-color: #ffeeee;
    border-color: #cc0000;
    font-weight: 800;
  }

  &.success {
    background-color: #d9ffee;
    border-color: #00aa22;
  }
}

/* Page specific styles
-------------------------------------------------- */

/* Main page */
#page-home {
  .call-to-action {
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    background: #0d0033 url($oh_background_image) no-repeat center;
    background-size: cover;
    color: #ffffff;
    text-shadow: 0 0 8px #0d0033;

    h1 {
      font-size: 48px;
      margin-bottom: -16px;
    }

    .btn-default {
      color: #ffffff;
      text-shadow: 0 0 8px #0d0033;
      border-color: #ffffff;
      font-weight: 800;

      &:hover, &:focus {
        border-color: #ffffff;
        background-color: rgba(#ffffff, 0.15);
      }
    }
  }

  .sub-actions {
    text-align: center;
  }
}

/* Main page */
#page-public-data {
  .call-to-action {
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    background: #0d0033 url($oh_background_image) no-repeat center;
    background-size: cover;
    color: #ffffff;
    text-shadow: 0 0 8px #0d0033;

    h1 {
      font-size: 48px;
      margin-bottom: -16px;
    }

    h3 {
      color: #cccccc;
    }

    p {
      border-radius: 25px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 15px;
      font-size: 18px;
    }
  }
}

/* About page */
#page-about {
  #team {
    img {
      max-height: 200px;
      max-width: 200px;
    }
  }
}
