$navbar-height: 50px;
$navbar-border-thickness: 2px;

/* Fixed top navbar styles
-------------------------------------------------- */
$fixed-navbar-offset: $navbar-height + $navbar-border-thickness;

.navbar {
  min-height: $navbar-height;
}

.navbar-fixed-top {
  border-width: 0 0 $navbar-border-thickness;
}

/* Offset container within body to compensate for fixed navbar */
body > .body-main {
  padding-top: $fixed-navbar-offset;
  padding-bottom: 20px;
}

/* Fix : anchor links fail because the content starts under the navbar.
   This fix is adapted from:
   http://nicolasgallagher.com/jump-links-and-viewport-positioning/demo/  */
.anchor-tag:before {
  display: block;
  content: '';
  height: $navbar-height + 20px;
  margin: -1 * ($navbar-height + 20px) 0 0;
}

/* Sticky footer styles
-------------------------------------------------- */
$footer-height: 60px;
$footer-border-color: #ddd;
$footer-border-thickness: 2px;

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  background-color: #ffffff;
  border-color: $footer-border-color;
  border-width: $footer-border-thickness 0 0;
  border-style: solid;
}

.footer > .container-fluid,
.footer > .container {
  padding: 15px;
}

/* Messages
-------------------------------------------------- */
.message {
  margin: 15px 0;
  padding: 15px;
  background-color: #ddddee;
  border-style: solid;
  border-color: #111122;
  border-width: 1px;
  border-radius: 6px;

  &.error {
    background-color: #ffeeee;
    border-color: #cc0000;
    font-weight: 800;
  }

  &.success {
    background-color: #d9ffee;
    border-color: #00aa22;
  }
}
