{% extends 'base.html' %}

{% block main %}
<div class="row">
  <div class="col-lg-12">
    <h2>Open Humans Public Data Sharing</h2>
    <h4 class="page-header" style="margin-top:0px;margin-bottom:5px;">Feature activation process</h4>
  </div>
</div>
<div class="row" style="margin-top:5px;">
  <div class="col-xs-3">
    <ul class="nav nav-pills nav-stacked">
      <li {% if not section %}class="active"{% endif %}>
        <a data-toggle="pill" href="#a-intro">
          A. Introduction
        </a>
      </li>
      {% if section >= 1 %}
      <li {% if section == 1 %}class="active"{% endif %}>
        <a data-toggle="pill" href="#c-risks">
          B. Risks
        </a>
      </li>
      {% endif %}
      {% if section >= 2 %}
      <li {% if section == 2 %}class="active"{% endif %}>
        <a data-toggle="pill" href="#d-benefits">
          C. Benefits
        </a>
      </li>
      {% endif %}
      {% if section >= 3 %}
      <li {% if section >= 3 %}class="active"{% endif %}>
        <a data-toggle="pill" href="#f-consent">
          D. Activate Feature
        </a>
      </li>
      {% endif %}
    </ul>
    <hr class="visible-xs-block" style="margin-top:0px;">
  </div>
  <div class="col-xs-9">
    <div class="tab-content">
      <div class="tab-pane{% if not section %} active{% endif %}" id="a-intro">
        <h4>Why enable public data sharing?</h4>
        <p>
          Public data is broadly believed to benefit society and help advance
          science. However, when data is identifiable, data holders usually
          keep their data private and secure to respect privacy concerns of
          individuals. Although some might be comfortable with sharing their
          data, others will not.
        </p>
        <p>
          We believe some individuals may want to publicly share their
          data, despite the risk to personal privacy. By doing this, they
          create public data resources that would not otherwise exist.
        </p>
        <h4>What will this feature do?</h4>
        <p>
          This feature will allow you to publicly share data you have
          added to your Open Humans account. You can choose which data to share
          and you may remove public sharing status for any given data set at any
          time.
        </p>
        <p>
          When you share data publicly on the Open Humans website, it will be
          publicly visible and associated with your member profile. Access
          is unrestricted: anyone may download it.
        </p>
        <p>Data you choose to share publicly might include:</p>
        <ul>
          <li>Research data returned to you by researchers</li>
          <li>
            Data collected directly by Open Humans through online surveys and
            other methods
          </li>
          <li>Data you bring to Open Humans from third parties</li>
        </ul>
        <h4>How will you protect my privacy?</h4>
        <p>
          <u>We do not guarantee privacy.</u> The types of data you
          choose to share through this feature may be extremely identifiable.
          Publicly shared data will be connected to your Open Humans username.
          Many participants choose to share with their real name, but this is
          not required.
        </p>
        <p>
          We will not remove all identifying features from your imported data. It
          will be your responsibility to determine when to share data you have
          imported or received from studies and activities. You should review
          data for the presence of personal information before choosing to make
          it public.
        </p>
        <h4>Can I change my mind?</h4>
        <p>
          You can turn off public sharing at any time, but you should
          understand that others may have made copies of your public
          data, and we have no control over these. After public data
          is removed from the Open Humans website, other copies may
          continue to exist.
        </p>
        <p>
          We reserve the right to remove this feature at any time, without
          your consent, for any reason. If we do terminate this feature, we
          will provide you with a reason for that decision.
        </p>
      </div> <!-- class="tab-pane" id="b-procedures" -->
      <div class="tab-pane{% if section == 1 %} active{% endif %}" id="c-risks">
        <h4>What types of risks should I be aware of?</h4>
        <p>
          Because this type of public data sharing is a new activity, it is
          hard to anticipate all the risks of harm that may be involved.
        </p>
        <p>
          The foreseeable risks include loss of privacy and experiences of
          discrimination. We strongly encourage you to:
        </p>
        <ul>
          <li>
            Consider your own circumstances and how that might affect your
            personal risks
          </li>
          <li>
            Discuss potential risks of publicly sharing your data with your
            immediate family members
          </li>
        </ul>
        <p>
          If you are planning to share data while hiding your identity
          ("anonymously"), someone may determine your identity. Having your
          identity associated with your data has many risks, including risks
          of discrimination or embarrassment.
        </p>
        <h4>What do you mean when you say my data is "identifiable"?</h4>
        <p>
          Even if you remove your name, data could be connected to your
          identity. The risk of this varies depending on the type of data, but
          it is often surprisingly easy to identify people.
        </p>
        <p>Some examples of identifiable data you may choose to share:</p>
        <ul>
          <li>
            <strong>Demographic data.</strong> Just three pieces of information
            - your birth date, sex/gender, and ZIP code - are enough to uniquely
            identify most individuals. If you share these, someone may use them
            to figure out who you are.
          </li>
          <li>
            <strong>Genetic data.</strong> Your genome data can be used to learn
            about your ancestors, and this information can be used to identify
            you. For example, a man’s Y chromosome can be used to predict his
            last name (or "family name") - this method has been used to identify
            individuals from "anonymous" genomes. Identifying people from
            genetic data is likely to get easier as genealogy tools become more
            powerful.
          </li>
          <li>
            <strong>Location data.</strong> Even a tiny amount of location data
            is enough to give a strong clue to someone's identity. Most people
            spend their time in two locations: work and home. That combination
            is often unique, and could be used to identify you.
          </li>
        </ul>
        <h4>Why can't you remove the identifying parts of my data?</h4>
        <p>
          For many types of data, it is impossible to make the data
          "de-identified". Methods to "scramble" or make data "fuzzy" can make
          identification more difficult, but also make the data much less
          valuable for research and re-use. Also, even "fuzzy" data becomes
          very identifying when combined with other data - e.g. when combined
          with other data on your Open Humans public profile.
        </p>
        <h4>
          Methods for figuring out my identity sound difficult and obscure,
          isn't the risk actually pretty low?
        </h4>
        <p>
          Even if identification sounds difficult to you, it might be trivial
          for others to identify you, and it will become easier in the future.
          In some cases, identification can be performed automatically, using a
          computer program that cross- references different public records.
        </p>
        <p>
          Theoretically, someone could create a website which automatically uses
          software to identify an Open Humans public profile. In fact, websites
          already exist which do this with public records, social networks, and
          other online content.
        </p>
        <h4>
          Okay, let's assume my name is attached. What is the risk of publicly
          sharing this data?
        </h4>
        <p>
          The risks of sharing data associated with your identity vary based on
          the type of data. Risks may include:
        </p>
        <ul>
          <li>
            <strong>Identity theft.</strong> The more information about yourself
            that you publicly share, the more likely it is that someone will be
            able to use that information to pretend to be you to access money,
            resources, and information.
          </li>
          <li>
            <strong>Embarrassment.</strong> Your data may contain information
            that you're not always comfortable with someone else knowing. When
            you share your data in a public space, you are taking a risk that
            someone will learn something about you that you would rather they
            not know.
          </li>
          <li>
            <strong>Discrimination.</strong> While there are laws protecting you
            from some types of discrimination, these protections have limits. It
            is also possible that someone will ignore the law and use your
            information in illegal ways.
          </li>
          <li>
            <strong>Data may later become sensitive.</strong> Data you are
            currently comfortable sharing might become sensitive later. Your
            personal circumstances might change, or your data might reveal
            things you didn’t anticipate. Data is often not well understood,
            and later techniques or discoveries could reveal things about your
            data that weren’t previously known.
          </li>
        </ul>
        <p>
          Some types of data also come with specific risks, for example:
        </p>
        <ul>
          <li>
            <strong>Location data reveals your daily patterns.</strong> Someone
            might be able to use daily patterns inferred from your location data
            to approach you unexpectedly.
          </li>
          <li>
            <strong>Genetic data and crime scenes.</strong> Genetic data could
            be used by police to match your identity - or one of your relatives
            - to evidence discovered at a crime scene.
          </li>
        </ul>
        <p>
          It is important to recognize that not all risks are known or knowable:
          new or unanticipated risks may arise with advances in science and
          technology.
        </p>
      </div> <!-- class="tab-pane" id="c-risks" -->
      <div class="tab-pane{% if section == 2 %} active{% endif %}" id="d-benefits">
        <h4>How might public data sharing by participants benefit society?</h4>
        <p>
          We believe that public data, shared without legal
          restrictions, can have powerful potential benefits for society, such
          as:
        </p>
        <ul>
          <li>
            Data can be re-used beyond the initial reason it was collected.
          </li>
          <li>
            Data from different sources is easily combined (it can be difficult
            to do this when data sets have different legal restrictions).
          </li>
          <li>
            Researchers can check and confirm data analyses done by other
            researchers.
          </li>
          <li>
            Researchers can be inspired by the existing public data and build
            upon it with new research, including potentially recruiting
            participants to new research projects on the basis of their publicly
            shared data.
          </li>
          <li>
            Public data is a public resource that may serve important functions
            to diverse individuals not part of typical research groups,
            including software engineers, health care workers, educators,
            students, and citizen scientists.
          </li>
          <li>
            Individuals can advance their own understanding and empowerment,
            as they can compare their own data with data shared by others.
          </li>
        </ul>
      </div> <!-- class="tab-pane" id="d-benefits" -->
      <div class="tab-pane{% if section >= 3 %} active{% endif %}" id=f-consent>
        {% if not section == 6 %}
        <div class="panel panel-default">
          <div class="panel-body lead" style="padding:20px 30px 10px;">
            <p>
              To activate the feature you must complete our quiz to demonstrate
              understanding &ndash; this usually takes 2 to 3 minutes.
            </p>
            <form action="{% url 'public-data:enroll-quiz' %}" method="POST">
              {% csrf_token %}
              <input class="btn btn-primary" type="submit" value="Take the quiz">
            </form>
          </div>
        </div>
        {% else %}
        <div>
          <h4>Activate "Public Data Sharing"</h4>
          <p><em>
            To activate this feature, confirm each statement below
            and type your name to electronically sign this form.
          </em></p>
          <form class="form-horizontal"
            role="form" method="POST" id="consent-form"
            action="{% url 'public-data:enroll-information' %}">

            {% csrf_token %}
            {% if form.check_uncertainty.errors or form.check_any_purpose.errors or form.check_privacy.errors or form.check_withdraw.errors or form.check_rights.errors or form.check_eligible.errors or form.check_name.errors %}
            <div class="alert alert-danger">
              You must mark all checkboxes to submit this form.
            </div>
            {% endif %}

            <div class="checkbox">
              <label>
                <input id="id_check_uncertainty" name="check_uncertainty"
                type="checkbox">
                {{ form.check_uncertainty.label }}
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input id="id_check_any_purpose" name="check_any_purpose"
                type="checkbox">
                {{ form.check_any_purpose.label }}
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input id="id_check_privacy" name="check_privacy"
                type="checkbox">
                {{ form.check_privacy.label }}
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input id="id_check_withdraw" name="check_withdraw"
                type="checkbox">
                {{ form.check_withdraw.label }}
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input id="id_check_rights" name="check_rights"
                type="checkbox">
                {{ form.check_rights.label }}
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input id="id_check_eligible" name="check_eligible"
                type="checkbox">
                {{ form.check_eligible.label }}
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input id="id_check_name" name="check_name"
                type="checkbox">
                {{ form.check_name.label }}
              </label>
            </div>

            <hr>

            {% if form.signature.errors %}
            <div style="color:#a94442;">
              {% for error in form.signature.errors %}
              {{ error }}<br>
              {% endfor %}
            </div>
            {% endif %}
            <div class="form-group{% if form.signature.errors %} has-error{% endif %}"
                style="margin-left:0px;margin-right:0px;">
              <label for="id_signature">{{ form.signature.label }}</label>
              <input type="text" class="form-control" id="id_signature"
                name="signature">
            </div>

            <input class="btn btn-primary btn-lg" type="submit"
              value="Activate feature">

          </form>

        </div> <!-- end of consent signature form -->
        {% endif %}
      </div> <!-- class="tab-pane" id="f-consent" -->
    </div> <!-- tab-content -->

    {# Buttons for stepping through the informed consent document. #}
    {% if not section >= 3 %}
    <form action="{% url 'public-data:enroll-information' %}" method="POST">
      {% csrf_token %}
      {% if not section %}
      <input type="hidden" name="section" value="1">
      {% elif section == 1 %}
      <input type="hidden" name="section" value="2">
      {% elif section == 2 %}
      <input type="hidden" name="section" value="3">
      {% endif %}
      <input class="btn btn-primary" type="submit" value="Continue">
    </form>
    {% endif %}

    {% if section >= 3 %}
    {% endif %}
  </div> <!-- col-sm-9 -->
</div> <!-- row -->
{% endblock %}
