{% extends 'base.html' %}

{% load static from staticfiles %}

{% block head_title %}Public Data Study{% endblock %}

{% block body_main %}
<div class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Public Data Sharing</h1>
        <h3>Make your data a public resource!</h3>
      </div>
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <!-- more content could go here -->
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <p style="padding-top:15px;">
        Public data has the potential to help many – from students to
        researchers to citizen scientists! Open Humans allows members
        to publicly share data. Which data you share is up to you,
        and you can turn off sharing at any time.
      </p>
      <p>
        <b>To activate this feature, we require a member to demonstrate an
        understanding of potential risks.</b>
      </p>
      <p>
        Choosing to publicly share personal data also has potential
        risks. Because of this, the option to publicly share feature is not available by
        default. We celebrate sharing, but public sharing
        of personal data is not for everyone. Each individual experiences
        different risks, and has different preferences.
      </p>
      <h3>Feature activation</h3>
      {% if user.is_authenticated %}
        {% if user.member.public_data_participant.enrolled %}
          <p>
            The "public data sharing" feature is currently active for your
            account.
          </p>
          <p>
            <small><a href="{% url 'public-data:withdraw' %}">
              Click here to deactive the feature.</a></small>
          </p>
        {% else %}
        <p>
          <p>
            This feature is open to Open Humans members who meet our eligibility
            requirements. By seeking to activate this feature, you agree that
            you meet these requirements.
          </p>
          <h4>Feature requirements:</h4>
          <ul>
            <li>An active Open Humans member account</li>
            <li>At least 18 years of age</li>
          </ul>
          <a class="btn btn-large btn-primary" href="{% url 'public-data:enroll-overview' %}">
            Begin "public data sharing" activation
          </a>
        </p>
        {% endif %}
      {% else %}
      <p>
        To activate this feature, you first need to create an account or log
        in.
      </p>

      <p>
        <a class="btn btn-large btn-primary signup-link"
          href="{% url 'account_signup' %}">Create an Open Humans account</a>

        <br>

        <span class="small">Already a member?
          <a href="{% url 'account_login' %}" class="login-link">Log in</a>.
        </span>
      </p>
      {% endif %}
      <hr>
      <h3>More information</h3>
      <p>
        When sharing your data, you’ll need to understand that the data may
        be very identifiable. This means that someone may figure out your
        identity, even if you don’t share your name. Some members do
        not attempt to be anonymous, and associate their name with their Open
        Humans account and data.
      </p>
      <p>Sharable data sets supported by Open Humans</p>
      <ul>
        {% for activity in activities %}
          <li>
            <a href="{% url 'activity-management' activity.url_slug %}" title="{{ activity.description }}">
              {{ activity.verbose_name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock body_main %}
