{% extends 'base.html' %}

{% block body_main %}
<div class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Open source yourself.</h1>
        <h3>Make your research data a public resource.</h3>
      </div>
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p style="margin-top:15px;font-size:16px;">
          Turn your data into a public resource! The Open Humans: Public Data
          Sharing study enables you to publicly share the research data you've
          imported into Open Humans. It is entirely under your control: you'll
          decide which data sets to share. The data you share in this manner
          will become publicly available on your Open Humans member profile.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h3>Enrollment</h3>
      <p>
        This study is open to Open Humans members who meet our eligibility
        requirements.
      </p>
      {% if user.is_authenticated %}
      <p>
        <a class="btn btn-large btn-primary" href="{% url 'public-data:enroll-overview' %}">
          Begin enrollment process
        </a>
      </p>
      {% else %}
      <p>To enroll, you first need to create an account or log in.</p>

      <p>
        <a class="btn btn-large btn-primary signup-link"
          href="{% url 'account_signup' %}">Create an Open Humans account</a>

        <br>

        <span class="small">Already a member?
          <a href="{% url 'account_login' %}" class="login-link">Log in</a>.
        </span>
      </p>
      {% endif %}
      <hr>
      <h3>More information</h3>
      <p>
        When sharing your data, you’ll need to understand that the data may
        be very identifiable. This means that someone may figure out your
        identity, even if you don’t share your name. Many members do not
        attempt to be anonymous, and instead proudly put their name on their
        Open Humans account and data.
      </p>
      <p>Sharable data sets supported by Open Humans</p>
      <ul>
        <li>23andme (genotyping data)</li>
        <li>Harvard PersonalGenome (whole genome data)</li>
        <li>GoViral (viral surveillance)</li>
        <li>American Gut (microbiome profiling)</li>
      </ul>
      <h3>Eligibility Requirements</h3>
      <ul>
        <li>An active Open Humans member account</li>
        <li>At least 18 years of age</li>
        <li>United States citizen or permanent resident</li>
      </ul>
      <h3>Documents describing the study</h3>
      <ul>
        <li><a href="{% url 'public-data:consent' %}">Consent document (PDF)</a></li>
        <li><a href="{% url 'public-data:protocol' %}">Study protocol (PDF)</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock body_main %}
