{% extends 'base.html' %}

{% block main %}
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Open Humans Public Data Sharing</h2>
    <h3>Overview of Feature Activation</h3>
  </div>
  <div class="col-lg-12">
    <p>
      Activating this feature will allow you to publicly share data sets you
      have imported to Open Humans, turning it into a public resource available
      to researchers, citizen scientists, and any others that may wish to
      learn from it and build upon it.
    </p>
    <hr>
    <h5>Requirements</h5>
    <p>
      To activate this feature, you must:
    </p>
    <ul>
      <li>
        <strong>be at least 18 years of age</strong><br>
        <span class="text-muted">
          Sharing data publicly could involve risks. To make this decision,
          we require you to be at least 18 years of age.
        </span>
      </li>
        </span>
      </li>
      <li>
        <strong>enroll yourself</strong><br>
        <span class="text-muted">
          This decision must be made by the individual themselves. A parent or
          legal guardian may not choose to publicly share data from a child or
          adult in their care.
        </span>
      </li>
      <li>
        <strong>read the information provided</strong><br>
        <span class="text-muted">
          The information we provide here is designed to be informative and
          readable. It is very important that you take the time to read this.
        </span>
      </li>
      <li>
        <strong>pass our quiz</strong><br>
        <span class="text-muted">
          You must complete a brief quiz to demonstrate your understanding of
          this feature. This quiz should take only a few minutes of your time,
          and helps assure us that you understand potential risks.
        </span>
      </li>
    </ul>
    <hr>
    <a href="{% url 'public-data:enroll-information' %}" class="btn btn-primary">
      Read about public data sharing &#8594;
    </a>
  </div> <!-- col-lg-12 -->
</div> <!-- row -->
{% endblock %}
