{% extends 'panel.html' %}

{% load utilities %}

{% block head_title %}Confirm deletion{% endblock %}

{% block panel_content %}
<div class="row">
  <div class="col-xs-12">
    <p>
      Are you sure you want to remove your <strong>{{ object.sample_date }} {{ object.get_sample_type_display }}</strong> sample?
    </p>
    <p>
      Sample notes: {% if object.additional_notes %}{{ object.additional_notes }}{% else %}None{% endif %}
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-right">
    <form method="POST" action="">
      {% csrf_token %}

      <p>
        <input type="submit" class="btn btn-danger" value="Delete sample">
      </p>
    </form>
  </div>
</div>
{% endblock %}
