{% extends 'panel.html' %}

{% load bootstrap_tags %}
{% load utilities %}

{% block head_title %}Import uBiome data: Step 2{% endblock %}

{% block extra_js %}
  {{ form.media }}
{% endblock %}

{% block panel_content %}
<div class="row pad-all-sides">
  <p><b>To find your sample data...</b></p>
  <ol class='ubiome-instructions'>
    <li>Log in to <a href="https://app.ubiome.com/">the uBiome site</a>.</li>
    <li>Your most recent sample should be highlighted.<br><span class="text-muted">(If you have multiple samples, find the one you want.)</span></li>
    <li>Scroll down to find the "Explore your Gut sample from..." section.</li>
    <li>The "Download my sample data" panel has links for your raw data.</li>
  </ol>

  <hr>

  <h4>Step 2: Upload sequencing file</h4>

  <p>
    On the uBiome website, click "Download raw data" to get your sequencing
    data file.
  </p>

  {% include "s3upload/_dropzone_form.html" with form=form %}

  <div class="text-right">
    <br>
    <a class="btn btn-info" id="upload-file-first"
      href="#">Upload a file before continuing</a>

    <a class="btn btn-default" id="process-file"
      href="{% url 'activities:ubiome:manage-samples' %}">Done</a>
  </div>
</div>
{% endblock %}
