{% extends 'panel.html' %}

{% load static from staticfiles %}

{% block head_title %}Withings data import - Finalization{% endblock %}

{% block panel_content %}
<p>If available, we'll import the following data from
  <strong>Withings</strong>. We may update your data sets over time to
  reflect updated data available from this data source.</p>

{% include "scopes/study-data-description.html" %}

<hr>

<div class="clearfix">
  <img src="{% static 'withings/images/badge.png' %}" class="pull-left"
    alt="The white silhouette of a running person against a light blue background"
    style="margin-right: 1em;">

  <p>Connecting this data to your account will earn you a <strong>Withings
    badge</strong> for your Open Humans profile!</p>
</div>

<form method="POST" action="{% url 'activities:withings:disconnect' %}"
  id="disconnect-form">
  {% csrf_token %}
</form>

<form method="POST" id="connect-form">
  {% csrf_token %}
</form>

<p class="text-center">
  <input type="submit" class="btn btn-default" value="Cancel"
    form="disconnect-form">

  <input type="submit" class="btn btn-primary" value="Connect data"
    form="connect-form">
</p>
{% endblock %}
