{% load utilities %}

{# Note - submit button not included. #}
<form class="form-horizontal" role="form" method="POST"
  action="{% url 'account_login' %}" id="login-form">
  {% csrf_token %}

  <input type="hidden" name="next" value="{% get_next_url %}">

  {% if form.non_field_errors %}
  <div class="alert alert-danger">
    <p>
      {% for error in form.non_field_errors%}
      <strong>Error:</strong> {{ error }}
      {% endfor %}
    </p>
  </div>
  {% endif %}

  <div class="form-group{% if form.username.errors %} has-error{% endif %}">
    <label for="login"
      class="col-sm-4 control-label">Username or Email</label>

    <div class="col-sm-8">
      <input type="text" class="form-control" name="login"
        id="login" placeholder="Username"
        value="{{ form.username.value|default:'' }}">
        {% if form.username.errors %}
          {% for error in form.username.errors %}
          <span class="help-block">{{ error }}</span>
          {% endfor %}
        {% endif %}
    </div>
  </div>

  <div class="form-group{% if form.password.errors %} has-error{% endif %}">
    <label for="login-password"
      class="col-sm-4 control-label">Password</label>

    <div class="col-sm-8">
      <input type="password" class="form-control" name="password"
        id="login-password" placeholder="Password"
        value="{{ form.password.value|default:'' }}">
        {% if form.password.errors %}
          {% for error in form.password.errors %}
          <span class="help-block">{{ error }}</span>
          {% endfor %}
        {% endif %}
    </div>
  </div>
</form>
