{% load socialaccount %}
{% load static %}


<div class="text-right">
  <a href="{% provider_login_url "facebook" method="oauth2" %}">
    <img alt="Facebook Login" title="Facebook Login"
         src="{% static 'images/fb-login.png' %}" width="50%">
  </a>
  <a href="{% provider_login_url "google" %}">
    <img alt="Google Login" title="Google Login"
         src="{% static 'images/btn_google_signin_dark_normal_web.png' %}">
  </a>
  <a href="{% provider_login_url "twitter" %}">
    <img alt="Twitter Login" title="Twitter Login"
         src="{% static 'images/sign-in-with-twitter-gray.png' %}">
  </a>
</div>
