{% load socialaccount %}
{% load static %}
{% load utilities %}

<!-- Facebook button style based on the appearance here:
https://developers.facebook.com/docs/facebook-login/web/login-button

And using image asset from here:
https://en.facebookbrand.com/#brand-guidelines-assets -->

<div class="login-button-div">
  <a href="{% provider_login_url "facebook" method="oauth2" %}"
     class="btn login-button fb-button redirect-storage-link mb-3">
    <img alt="Facebook Login" title="Facebook login"
        src="{% static 'images/FB-F.png' %}" width="24" height="24" style="margin-right:12px;"> Continue with Facebook
  </a>
</div>


<!-- Adapted Google logo silohuette and brand colors from assets here:
https://developers.google.com/identity/branding-guidelines -->
<div class="login-button-div">
  <a href="{% provider_login_url "google" %}"
     class="btn login-button google-button redirect-storage-link mb-3">
    <div style="background:#fff; width:24px; height:24px; margin-right: 12px; border-radius: 2px; padding-top: 2px; display:inline-block;">
      <img alt="Google Login" title="Google Login" style="margin-left:4px;margin-bottom:4px;" src="/static/images/google-logo-g.png" width="15">
    </div> Continue with Google
  </a>
</div>
