{% load socialaccount %}
{% load static %}

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<!-- https://developers.facebook.com/docs/facebook-login/web/login-button -->
<div class="top-buffer">
  <a href="{% provider_login_url "facebook" method="oauth2" %}"
     class="fb-button">
    <img alt="Facebook Login" title="Facebook login"
         src="{% static 'images/FB-F.png' %}" style="margin-left: -1em;" width="15%"> Continue with Facebook
  </a>
</div>


<!-- https://developers.google.com/identity/sign-in/web/sign-in -->
<div class="top-buffer">
  <a href="{% provider_login_url "google" %}"
     class="google-button">
    <img alt="Google Login" title="Google Login"
         src="{% static 'images/g-normal.png' %}" style="margin-left: -.6em;" width="15%"> Sign in with Google
  </a>
</div>
