{% extends 'panel.html' %}

{% load utilities %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Log in to Open Humans" %}{% endblock %}
{% block head_title_suffix %}{% endblock %}

{% block panel_content %}

<div class="row">
  <div class="col-md-6">
    {% include 'account/login-form.html' %}
    <input id="login" type="submit" value="Log in" form="login-form"
           class="btn btn-primary">
  </div>
  <div class="col-md-6">
    <center>
      <span class="h4">or</span>
    </center>
    {% include 'account/login-social.html' %}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <hr>
  </div>

  <div class="row">
    <div class="col-xs-12 text-center small">
      <p>
        <a href="{% url 'account_reset_password' %}?next={% get_next_url %}">Reset&nbsp;password</a>
        |
        <a href="{% url 'account_signup' %}?next={% get_next_url %}"
           class="signup-link">Create&nbsp;account</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
