{% extends 'panel.html' %}

{% load utilities %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Log in to Open Humans" %}{% endblock %}
{% block head_title_suffix %}{% endblock %}

{% block panel_content %}

<div id="login-container">
  <div class="row">
    <div class="col-xs-12">
      {% include 'account/login-form.html' %}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-right">
      <input id="login" type="submit" value="Log in" form="login-form"
             class="btn btn-primary">
    </div>

    <div class="col-xs-12">
      <hr>
    </div>

    {% include 'account/login-social.html' %}

  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-center small">
    <p>
      <a href="{% url 'account_reset_password' %}?next={% get_next_url %}">Reset&nbsp;password</a>
      |
      <a href="{% url 'account_signup' %}?next={% get_next_url %}"
         class="signup-link">Create&nbsp;account</a>
    </p>
  </div>
</div>
{% endblock %}
