{% extends 'panel.html' %}

{% load bootstrap_tags %}

{% block panel_title %}Set your new password{% endblock %}

{% block panel_content %}
<div class="row">
  <div class="col-xs-12">
    {{ form.non_field_errors }}
    <p>
      You can set your new password using the form below.
    </p>
    <form class="form-horizontal" role="form" method="POST"
        action="{% url 'account_password_reset_token' uidb36=uidb36 token=token %}"
        id="password-reset-token-form">

      {% csrf_token %}

      {{ form|as_bootstrap_horizontal:"col-md-4" }}

      <input type="hidden" name="{{ redirect_field_name }}"
        value="{{ redirect_field_value }}">

      <input id="password-reset-token" type="submit" value="Change password"
        form="password-reset-token-form"
        class="btn btn-primary col-md-offset-4">
    </form>
  </div>
</div>
{% endblock %}
