{% extends 'panel.html' %}

{% load bootstrap_tags %}
{% load utilities %}
{% load i18n %}

{% block head_title %}Reset your Open Humans password{% endblock %}
{% block head_title_suffix %}{% endblock %}

{% block panel_content %}
<div class="pad-all-sides">
  <div class="row">
    <div class="col-xs-12">
      {{ form.non_field_errors }}
      <p>
        {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
      </p>

      <form class="form-horizontal" role="form" method="POST"
        action="{% url 'account_reset_password' %}" id="password-reset-form">
        {% csrf_token %}

        <input type="hidden" name="next" value="{% next_page %}">

        {{ form|as_bootstrap_horizontal:'col-md-4' }}

        <input id="password-reset" type="submit"
          value="Send password reset email" form="password-reset-form"
          class="btn btn-primary col-md-offset-4">
      </form>

      <hr>

      <h4>Still having trouble?</h4>
      <p>
        Please wait several minutes for our email. If you're still having
        trouble, you can contact us at:
        <a href="mailto:support@openhumans.org">support@openhumans.org</a>.
      </p>

    </div>
  </div>
</div>
{% endblock %}
