{% extends 'panel.html' %}

{% load bootstrap_tags %}

{% block panel_title %}
Reset your Open Humans password
{% endblock %}

{% block panel_content %}
<div class="pad-all-sides">
<div class="row">
  <div class="col-xs-12">
    {{ form.non_field_errors }}
    <p>
      Forgot your password? Enter your email address below, and we'll send you an email allowing
      you to reset it.
    </p>
    <form class="form-horizontal" role="form" method="POST"
        action="{% url 'account_password_reset' %}" id="password-reset-form">

      {% csrf_token %}

      {{ form|as_bootstrap_horizontal:"col-md-4" }}

      <input type="hidden" name="{{ redirect_field_name }}"
        value="{{ redirect_field_value }}">

      <input id="password-reset" type="submit" value="Send password reset email"
        form="password-reset-form" class="btn btn-primary col-md-offset-4">
    </form>

  </div>
</div>
</div>
{% endblock %}
