{% extends 'panel.html' %}

{% load bootstrap_tags %}

{% block panel_title %}Change Password{% endblock %}

{% block panel_content %}
<div class="row pad-all-sides">

  <form class="form-horizontal" role="form" method="POST"
      action="{% url 'account_password' %}" id="password-change-form">

    {% csrf_token %}

    {{ form|as_bootstrap_horizontal:"col-md-4" }}

    <input type="hidden" name="{{ redirect_field_name }}"
      value="{{ redirect_field_value }}">

    <input id="password-change" type="submit" value="Change password"
      form="password-change-form" class="btn btn-primary col-md-offset-4">

  </form>

</div>
{% endblock %}
