{% load utilities %}

<form class="form-horizontal" role="form" method="POST"
      action="{% url 'account_signup' %}" id="signup-form">
  {% csrf_token %}

  <input type="hidden" name="next" value="{% next_page %}">

  {% if form.code.value %}
  <input type="hidden" name="code" value="{{ form.code.value }}">
  {% endif %}

  <div class="well">
    <p>Members must have a <strong>public username and public
      name</strong>. You can use any name if it meets our
      <a href="{% url 'community_guidelines' %}#naming">Naming Guidelines</a>.
    </p>

    <p>
      Imported data will be private by default. An account should be yours, or
      someone for whom you are a legal guardian.
    </p>

    <p>
      This site is intended only for United States residents, but we
      strive to meet EU GDPR standards. <a href="{% url 'gdpr' %}">Read more
      here.</a>
    </p>

  </div>

  {% if form.non_field_errors %}
  <div class="alert alert-danger">
    {% for error in form.non_field_errors %}
      {{ error }}<br>
    {% endfor %}
  </div>
  {% endif %}

  <div class="form-group{% if form.username.errors %} has-error{% endif %}">
    <label for="signup-username" class="col-sm-4 control-label">Username</label>

    <div class="col-sm-8">
      <input type="text" class="form-control" name="username"
        id="signup-username" placeholder="Username"
        value="{{ form.username.value|default:'' }}"
        required>
      {% if form.username.errors %}
        {% for error in form.username.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
      {% else %}
        <span class="help-block">Must be unique. Letters, numbers, or
          underscore only.</span>
      {% endif %}
    </div>
  </div>

  <div class="form-group{% if form.name.errors %} has-error{% endif %}">
    <label for="signup-name" class="col-sm-4 control-label">Name</label>

    <div class="col-sm-8">
      <input type="text" class="form-control" name="name"
      id="signup-name" placeholder="Your name"
      value="{{ form.name.value|default:'' }}"
      required>

      {% if form.name.errors %}
      {% for error in form.name.errors %}
      <span class="help-block">{{ error }}</span>
      {% endfor %}
      {% else %}
      <span class="help-block">The name you'd like to use.</span>
      {% endif %}
    </div>
  </div>

  <div class="form-group{% if form.email.errors %} has-error{% endif %}">
    <label for="email-address" class="col-sm-4 control-label">Email</label>

    <div class="col-sm-8">
      <input type="email" class="form-control" name="email" id="email-address"
        placeholder="Email" value="{{ form.email.value|default:'' }}"
        required>

      {% if form.email.errors %}
        {% for error in form.email.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
      {% else %}
      <span class="help-block">We'll ask you to verify this later.</span>
      {% endif %}
    </div>
  </div>

  <div class="form-group{% if form.password.errors %} has-error{% endif %}">
    <label for="signup-password" class="col-sm-4 control-label">Password</label>

    <div class="col-sm-8">
      <input type="password" class="form-control" name="password1"
        id="signup-password" placeholder="Password"
        value="{{ form.password.value|default:'' }}"
        minlength="6" required>

      {% if form.password.errors %}
        {% for error in form.password.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="form-group{% if form.password_confirm.errors %} has-error{% endif %}">
    <label for="signup-password-confirm" class="col-sm-4 control-label">
      Re-enter password
    </label>

    <div class="col-sm-8">
      <input type="password" class="form-control" name="password2"
        id="signup-password-confirm" placeholder="Password"
        value="{{ form.password_confirm.value|default:'' }}"
        data-parsley-equalto="#signup-password" required>

      {% if form.password_confirm.errors %}
        {% for error in form.password_confirm.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="newsletter">

          Receive Open Humans news and updates
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="allow_contact">

          Allow other members to contact me
        </label>
      </div>
    </div>
  </div>

  {% if form.terms.errors %}
  <div class="col-sm-offset-4 col-sm-8" style="color:#a94442;">
    {% for error in form.terms.errors %}
    {{ error }}<br>
    {% endfor %}
  </div>
  {% endif %}

  <div class="form-group{% if form.terms.errors %} has-error{% endif %}">
    <div class="col-sm-offset-4 col-sm-8">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="terms" required>

          I agree to the Open Humans <a
            href="{% url 'terms-of-use' %}">Terms of Use</a>
        </label>
      </div>
    </div>
  </div>
</form>
