{% load static %}

<div class="modal fade" id="signup-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>

        <h4 class="modal-title">Create an Open Humans account</h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">

            <div class="text-center">

              {% include 'account/login-social.html' %}

              <center>
                <h4>or</h4>
              </center>

              <div class="login-button-div">
                <a href="{% url 'email_signup' %}" class="btn btn-lg btn-primary login-button">
                  <img alt="Email login" title="Email login" class="login-logo"
                      src="{% static 'images/email-icon.png' %}" width="24" height="24" style="margin-right:8px;">
                  Continue with Email
                </a>
              </div>

            </div>
          </div>

          <div class="col-xs-12">
            <hr>
          </div>

          <div class="col-xs-12 text-center small">
            <p>
              Already have an account?

              <a href="{% url 'account_login' %}" class="login-link">Log&nbsp;in</a>

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
