{% load utilities %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-show-password/1.1.2/bootstrap-show-password.min.js"></script>


<form role="form" method="POST"
      action="{% url 'email_signup' %}" id="signup-form">
  {% csrf_token %}

  {% if form.code.value %}
  <input type="hidden" name="code" value="{{ form.code.value }}">
  {% endif %}

  <p>
    <small>
      Imported data is private by default. An account must be your own, or
      someone you are a legal guardian for. This site is intended
      only for United States residents, but
      <a href="{% url 'gdpr' %}">we strive to meet EU GDPR standards</a>.
    </small>
  </p>

  {% if form.non_field_errors %}
  <div class="alert alert-danger">
    {% for error in form.non_field_errors %}
      {{ error }}<br>
    {% endfor %}
  </div>
  {% endif %}

  <div class="form-group{% if form.username.errors %} has-error{% endif %}">
    <label for="signup-username">Username (public)</label>

    <input type="text" class="form-control" name="username"
      id="signup-username"
      placeholder="Letters, numbers, or underscore only."
      value="{{ form.username.value|default:'' }}"
      required>
    {% if form.username.errors %}
      {% for error in form.username.errors %}
      <span class="help-block">{{ error }}</span>
      {% endfor %}
    {% endif %}
  </div>

  <div class="form-group{% if form.name.errors %} has-error{% endif %}">
    <label for="signup-name">Name (public)</label>

    <input type="text" class="form-control" name="name"
    id="signup-name" placeholder="Doesn't need to be your real name."
    value="{{ form.name.value|default:'' }}"
    required>
    {% if form.name.errors %}
      {% for error in form.name.errors %}
      <span class="help-block">{{ error }}</span>
      {% endfor %}
    {% endif %}
  </div>

  <div class="form-group{% if form.email.errors %} has-error{% endif %}">
    <label for="email-address">Email</label>

    <input type="email" class="form-control" name="email" id="email-address"
      placeholder="We'll send a verification email."
      value="{{ form.email.value|default:'' }}"
      required>

    {% if form.email.errors %}
      {% for error in form.email.errors %}
      <span class="help-block">{{ error }}</span>
      {% endfor %}
    {% endif %}
  </div>

  <div class="form-group{% if form.password.errors %} has-error{% endif %}">
    <label for="signup-password">Password</label>

    <input type="password" class="form-control" name="password1"
      id="signup-password" placeholder="At least 8 characters."
      data-toggle="password"
      value="{{ form.password.value|default:'' }}"
      minlength="8" required>

    <script type="text/javascript">
$("#signup-password").password('toggle');
    </script>

    {% if form.password.errors %}
      {% for error in form.password.errors %}
      <span class="help-block">{{ error }}</span>
      {% endfor %}
    {% endif %}
  </div>

  <div class="form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox" name="newsletter">
        <div class="checkbox-label-div">
          Receive Open Humans news and updates
        </div>
      </label>
    </div>
  </div>

  <div class="form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox" name="allow_contact">
        <div class="checkbox-label-div">
          Allow other members to contact me
        </div>
      </label>
    </div>
  </div>

  {% if form.terms.errors %}
  <div style="color:#a94442;">
    {% for error in form.terms.errors %}
    {{ error }}<br>
    {% endfor %}
  </div>
  {% endif %}

  <div class="form-group{% if form.terms.errors %} has-error{% endif %}">
    <div class="checkbox">
      <label>
        <input type="checkbox" name="terms" required>
        <div class="checkbox-label-div">
          I agree to the Open Humans <a
            href="{% url 'terms-of-use' %}">Terms of Use</a>
        </div>
      </label>
    </div>
  </div>
</form>
