{% extends 'panel.html' %}

{% block head_title %}Create an Open Humans account{% endblock %}

{% block panel_content %}

<div class="col-md-auto">
  <div class="text-center">
    <div class="top-buffer">
      <a href="{% url 'email_signup' %}" class="email-button">
        Signup with Email
      </a>
    </div>

    {% include 'account/login-social.html' %}

  </div>
</div>

<div class="col-xs-12">
  <hr>
</div>

<div class="col-xs-12 text-center small">
  <p>
    Already have an account?

    <a href="{% url 'account_login' %}" class="login-link">Log&nbsp;in</a>
  </p>
</div>
{% endblock %}
