<div class="modal fade" id="signup-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>

        <h4 class="modal-title">Create an Open Humans account</h4>
      </div>

      <div class="modal-body">
        <div class="col-md-auto">
          <div class="text-center">
            <div class="top-buffer">
              <a href="{% url 'email_signup' %}" class="email-button">
                Signup with Email
              </a>
            </div>

            {% include 'account/login-social.html' %}

          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <hr>
          </div>

          <div class="col-xs-12 text-center small">
            <p>
              Already have an account?

              <a href="{% url 'account_login' %}" class="login-link">Log&nbsp;in</a>

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
