<div class="modal fade" id="signup-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Create an Open Humans account</h4>
      </div>

      <div class="modal-body">
        {% include 'account/signup-form.html' %}

        <div class="text-right">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>

          <input type="submit" form="signup-form" id="create-account"
            class="btn btn-primary" value="Create my account" />
        </div>
      </div>

      <div class="modal-footer">
        <div class="text-center small">
          Already have an account?
          <a href="#" data-dismiss="modal" data-toggle="modal"
              data-target="#login-modal">
            Log&nbsp;in
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
