<div class="modal fade" id="add-data-23andme-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span
            aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>

        <h4 class="modal-title">Import 23andMe data</h4>
      </div>

      <div class="modal-body">
        <table class="table">
          <tr><th>Current data</th>
            {% if data_sets %}
            <td>
              <P>Currently you have 23andMe data already imported. <b>Are you
              sure you mean to import 23andMe data again?</b></p>
              <p><a href="{% url 'my-member-research-data' %}">Visit your research
                data page</a> to see existing data.</p>
            </td>
            {% endif %}
          <tr><th>Data type</th><td>Full genotyping</td></tr>
          <tr><th>Additional information</th>
            <td><p>This data contains:</p>
              <ul>
                <li>
                  Genetic data for up to a million locations in your genome<br/>
                  <i>Note: this may predict various information about your
                    current and future health.</i>
                </ul>
              </ul>
            <p>This includes potentially personally identifiable
              information:</p>
              <ul>
	              <li>Detailed genetic data</li>
              </ul>
            </td>
          </tr>
      </table>
      <p><b>We respect your privacy.</b> You may later choose to share this data,
        but we will not share this data with others unless you request it.</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default"
            data-dismiss="modal">Close</button>

        <a class="btn btn-primary"
          href="{% url 'social:begin' '23andme' %}?next={% url 'activities:23andme:complete-import' %}">
            Import 23andMe data</a>
      </div>
    </div>
  </div>
</div>
