{% extends 'panel.html' %}

{% load bootstrap_tags %}
{% load utilities %}

{% block head_title %}Import 23andMe data{% endblock %}

{% block extra_js %}
  <script>
    var dropzoneOptions = {
      maxFiles: 1,
      addRemoveLinks: true
    };
  </script>

  {{ form.media }}
{% endblock %}

{% block panel_content %}
<div>

  {% include "scopes/study-data-description.html" %}

  <hr>
  <h4>How to get your data</h4>
  <p>
    To import 23andMe data you'll need to download your raw data file from
    23andMe:
  </p>

  <ol>
    <li>Go to the 23andMe <b><a href="https://www.23andme.com/you/download/">
      raw data download page</a></b>.</li>
    <li>Enter your password and secret answer.</li>
    <li>Select your profile.</li>
    <li>Select the <b>"All DNA" data set.</b></li>
    <li>Select <b>"Download Data"</b>.</li>
  </ol>

  <hr>
  <h4>Upload data</h4>
  <p>
    You can use the form below to upload your raw 23andMe data to Open Humans.
    Files are uploaded immediately. Once you're done adding the file, press the
    "Process" button to process your 23andMe data.
  </p>

  {% include "s3upload/_dropzone_form.html" with form=form %}

  <div class="text-right">
    <br>

    <a class="btn btn-default" id="process-file" style="margin-bottom:15px"
      href="{% url 'my-member-research-data' %}">Process</a>
  </div>
</div>
{% endblock %}
