{% load private_sharing %}

<p>
  Hello,
</p>

<p>
  This email is to inform you that a member, {{ project.project_member.project_member_id }},
  has withdrawn their participation from your project.
</p>
<p>
  For your convenience, we maintain a list of project members that have requested
  withdrawal.  It can be found at {{ withdrawn_url }}.
</p>
<p>
  {% erasure_requested_txt erasure_requested %}
</p>
<p>
  Questions? Email us at
  <a href="mailto:support@openhumans.org">support@openhumans.org</a>.
</p>
<p>
  Thank you for being a member of our community!
</p>

<p>
  The Open Humans Team
</p>

<p>
  &#40;0&#41; {{ withdrawn_data }}
</p>
