{% extends 'panel.html' %}

{% load bootstrap_tags %}
{% load utilities %}

{% block head_title %}Import Illumina UYG data{% endblock %}

{% block extra_js %}
  <script>
    var dropzoneOptions = {
      maxFiles: 1,
      addRemoveLinks: true
    };
  </script>

  {{ form.media }}
{% endblock %}

{% block panel_content %}
<div>

  {% include "scopes/study-data-description.html" %}

  <hr>
  <h4>Upload data</h4>
  <p>
    To contribute your Illumina Understand Your Genome data to Open Humans,
    you should upload your main VCF genome file (in "gVCF" format). This should
    have a name similar to "PG0012345-BLD.genome.vcf.gz" (but with a different
    number), and is probably the largest VCF file you received.
  </p>

  {% include "s3upload/_dropzone_form.html" with form=form %}

  <div class="text-right">
    <br>

    <a class="btn btn-default" id="process-file" style="margin-bottom:15px"
      href="{% url 'my-member-research-data' %}">Process</a>
  </div>
</div>
{% endblock %}
