{% extends 'panel.html' %}

{% load bootstrap_tags %}
{% load utilities %}

{% block head_title %}Import Illumina UYG data{% endblock %}

{% block extra_js %}
  {{ form.media }}
{% endblock %}

{% block panel_content %}
<div>

  {% include "scopes/study-data-description.html" %}

  <hr>
  <h4>Data upload instructions</h4>
  <p><b>Did you participate in Illumina's Understand Your Genome?</b></p>
  <p style="padding-left:15px;">
    This upload form is only intended for genomes produced through Illumina's
    <a href="http://www.illumina.com/company/events/understand-your-genome.html">
      Understand Your Genome symposium</a>.
  </p>
  <p><b>Find the correct genome file.</b></p>
  <div style="padding-left:15px;">
    <p>The file should:</p>
    <ul>
      <li>Have a filename similar to "PG0012345-BLD.genome.vcf.gz"</li>
      <li>Be over 1 GB in size</li>
    </ul>
    <p>(This should be the largest VCF file you received from Illumina.)</p>
  </div>
  <p><b>Use the form below to upload your file.</b></p>
  <p style="padding-left:15px;">
    Please let us know at <a href="mailto:support@openhumans.org">
    support@openhumans.org</a> about any issues with the form.
    Thank you for bringing your data to Open Humans!
  </p>
  <hr>

  {% include "s3upload/_dropzone_form.html" with form=form %}

  <div class="text-right" style="margin-bottom:15px;">
    <br>
    <a class="btn btn-info" id="upload-file-first"
      href="#">Upload a file before continuing</a>

    <a class="btn btn-default" id="process-file"
      href="{% url 'my-member-research-data' %}">Process</a>
  </div>
</div>
{% endblock %}
