<div class="modal fade" id="add-data-runkeeper-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span
            aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>

        <h4 class="modal-title">Import RunKeeper data</h4>
      </div>

      <div class="modal-body">
        <table class="table">
          <tr><th>Current data</th>
            {% if data_sets %}
            <td>
              <p>
                Currently you already have some RunKeeper data imported.
                The following import will import a new data set based on
                your currently available data in RunKeeper.
              </p>
              <p>
                <a href="{% url 'my-member-research-data' %}">Visit your
                research data page</a> to see existing data.
              </p>
            </td>
            {% endif %}
          <tr>
            <th>Data types</th>
            <td>
              <ul>
                <li>
                  <b>Activity data</b><br>
                  Includes: activity maps (geographical coordinates with
                  timepoints), elevation data, estimated calories, activity
                  start/end times, and type of activity (e.g. walking, running,
                  or cycling).
                </li>
                <li>
                  <b>Sleep data</b>
                  Includes: logged sleep time and duration
                </li>
                <li>
                  <b>Social data</b>
                  Includes: Your user ID, user IDs for friends, total number
                  of friends, and the sharing status of activities and activity
                  maps (private, friends, or public).
                </li>
              </ul>
            </td>
          </tr>
        </table>
        <p>
          <b>We respect your privacy.</b> You may later choose to share this
          data, but we will not share this data with others unless you request
          it.
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default"
            data-dismiss="modal">Close</button>

        <a class="btn btn-primary"
          href="{% url 'social:begin' 'runkeeper' %}?next={% url 'activities:runkeeper:complete-import' %}">
            Import RunKeeper data</a>
      </div>
    </div>
  </div>
</div>
