{% extends 'base-bs4.html' %}

{% load bootstrap_tags %}
{% load utilities %}

{% block main %}
<h1 class="mt-3">Add a DataType</h1>
<p>
  Use this form to add a new DataType. Please avoid redundant DataTypes and
  assign your DataType to be a subcategory of another DataType when appropriate.
</p>
<form class="form-vertical" role="form" method="post"
  action="{% url 'data-management:datatypes-create' %}" id="add-datatype-form" rel="persist">
  {% csrf_token %}

  {% if form.errors %}
  <div class="alert alert-danger">
    <h4>Form errors</h4>
    <ul>
      {% for error in form.errors %}
        <li><strong>{{ error }}:</strong> {{ form.errors|lookup:error }}</li>
      {% endfor %}
    </ul>
    </p>
  </div>
  {% endif %}

  <div id="div_id_name" class="form-group">
    <label for="id_name" class="control-label required-field ">
      Name
    </label>
    <div class="">
      <input type="text" name="name" maxlength="40" class="form-control"
          required id="id_name">
    </div>
  </div>

  <div id="div_id_parent" class="form-group">
    <label for="id_parent" class="control-label">
      Parent
    </label>
    <div class="">
      <select name="parent" class="form-control" id="id_parent">
        <option value="" selected="">---------</option>
        {% for item in datatypes_sorted %}
        <option value="{{ item.datatype.id }}">
          {{ item.datatype }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div id="div_id_description" class="form-group">
    <label for="id_description" class="control-label required-field mb-0">
      Description
    </label>
    <small id="id_description_helptext" class="form-text text-muted mt-0">
      Brief description of this DataType.
    </small>
    <div class="">
      <input type="text" name="description" maxlength="100" class="form-control"
          required id="id_description">
    </div>
  </div>

  <div id="div_id_uploadable" class="form-group">
    <div class="d-flex align-items-center">
      <input type="checkbox" name="uploadable" id="id_uploadable">
      <div class="d-flex flex-column ml-3">
        <label for="id_uploadable" class="control-label mb-0">Uploadable</label>
        <br><small id="id_details_helptext" class="form-text text-muted mt-0">
          Select this if users can upload this DataType as a file.
        </small>
      </div>
    </div>
  </div>

  <div id="div_id_details" class="form-group">
    <label for="id_details" class="control-label mb-0">
      Details
    </label>
    <small id="id_details_helptext" class="form-text text-muted mt-0">
      (Optional) Markdown-formatted details about this DataType.
      This may include information on how to acquire this data, or
      details about the data format.
    </small>
    <textarea name="details" class="form-control" id="id_details" rows="6"></textarea>
  </div>

  <input id="add-datatype" type="submit"
    value="Add datatype"
    form="add-datatype-form" class="btn btn-default">
</form>
{% endblock %}
