{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block main %}
<h1>DataType: {{ object.name }}</h1>

<p><b>Name: </b> {{ object.name }}</p>
<p><b>Description:</b> {{ object.description }}</p>
<p><b>Parent:</b> {% if object.parent %}<a href="{% url 'data-management:datatypes-detail' object.parent.id %}">{{ object.parent.name }}</a>
  {% else %}None{% endif %} (<a href="{% url 'data-management:datatypes-list' %}">See full list</a>)</p>
<p><b>Children:</b> {% if not object.children.all %}None{% endif %}</p>
{% if object.children.all %}
<ul>
{% for child in object.children.all %}
<li>
  <a href="{% url 'data-management:datatypes-detail' child.id %}">{{ child.name }}</a>
</li>
{% endfor %}
</ul>
{% endif %}
<p><b>Project sources:</b> {% if not object.datarequestproject_set.all %}None{% endif %}</p>
{% if object.datarequestproject_set.all %}
<ul>
  {% for project in object.datarequestproject_set.all %}
  <li>{{ project.name }} {% if project.approved %}(approved){% endif %}</li>
  {% endfor %}
</ul>
{% endif %}
<hr>
{% if object.editable %}
<a class="btn btn-primary" href="{% url 'data-management:datatypes-update' object.id %}">Edit</a>
{% endif %}
{% if object.history_sorted %}
<h2>History</h2>
  <ul>
  {% for entry in object.history_sorted.items %}
  <li style="margin-bottom:10px;">
    <b>{{ entry.0|date:"SHORT_DATETIME_FORMAT" }}</b>
    <ul>
      <li><b>Name:</b> {{ entry.1.name }}</li>
      <li><b>Parent:</b>
        {% if entry.1.parent %}
        <a href="{% url 'data-management:datatypes-detail' entry.1.parent.id %}">{{ entry.1.parent.name }}</a>
        {% else %}
        None
        {% endif %}
      </li>
      <li><b>Description:</b> {{ entry.1.description }}</li>
      <li><b>Editor:</b>
        <a href="{% url 'member-detail-direct' entry.1.editor.user.username %}">
          {{ entry.1.editor.name}} ({{ entry.1.editor.user.username }})</a></li>
    </ul>
  </li>
  {% endfor %}
  </ul>
{% endif %}
{% endblock %}
