{% extends 'direct-sharing/layout.html' %}

{% block content %}
<h3>API data access</h3>

<p>
  Once Members are sharing data with you, you'll be able to immediately access
  that data via our Private Data API. Your project will have a master token
  that you can use to retrieve data from Members, associated with a
  project-specific user ID code.
</p>

<h4>Retrieving data</h4>

<ol>
  <li>
    <p>
      <b>Find your "master access token".</b>
      Go to <a href="{% url 'direct-sharing:manage-projects' %}">your project
      management page</a> and click on your project's name. The master access
      token should be listed in your project's details.
    </p>
  </li>

  <li>
    <p>
      <b>Keep the "master access token" safe!</b> This token is used to
      authorize access to ALL private data shared with your project. If you
      ever believe the security of this token may have been compromised,
      contact us at support@openhumans.org and we'll reset it to a new value.
    </p>
  </li>

  <li>
    <p>
      <b>Use the master access token to access project data.</b> To access
      private data shared with your project, send a secure GET request (using
      'https') to the following URL with the <code>access_token</code>
      parameter set to your project's "master access token":
    </p>

    <p>
      <code>https://www.openhumans.org/api/direct-sharing/project/members/?access_token=&lt;MASTER_ACCESS_TOKEN&gt;</code>
    </p>

    <p>
      This returns JSON-formatted data that can be used to programmatically
      access and retrieve data and files for your project members.
    </p>
  </li>
</ol>

<h4>Uploading data</h4>

<p>
  A project can upload files associated with it. Upload is per project member,
  one file at a time.
</p>

<p>
  The API endpoint for file uploads is
  <code>/api/direct-sharing/project/files/upload/</code>.
</p>

<h5>File upload format</h5>

<p>A POST API request would contain the following:</p>

<ul>
  <li>
    As a querystring parameter or in the "Authorization" header:

    <ul>
      <li><code>access_token=&lt;MASTER_ACCESS_TOKEN&gt;</code></li>
    </ul>

    This identifies and authorizes your project.
  </li>

  <li>
    As "multipart/form-data" fields:

    <ul>
      <li><code>project_member_id</code>: Project member ID (string)</li>
      <li><code>data_file</code>: File</li>
      <li><code>metadata</code>: File metadata (JSON formatted string, see
        below for format)</li>
    </ul>
  </li>
</ul>

<p>
  See below for example API calls using
  <a href="https://github.com/jkbrzt/httpie">httpie</a> on the command line
  and raw request examples.
</p>

<h5>Metadata format</h5>

<p>
  The 'metadata' POST form field is a JSON object.
</p>

<p>
  The following name/value items are always required in the metadata JSON:
</p>

<dl class="dl-horizontal">
  <dt>
    <code>tags</code>
  </dt>

  <dd>
    An array of strings. This should be an array of potentially helpful tags
    that describe the file (maybe useful for automated search for files on Open
    Humans), e.g. data type and format.
  </dd>

  <dt>
    <code>description</code>
  </dt>

  <dd>
    A string. This should be a short string describing the file, 100 characters
    max.
  </dd>
</dl>

<p>
  These are optionally empty, but of course we hope you fill them! For example,
  the following metadata JSON is valid:
</p>

<p>
  <code>{"tags": [], "description": "", "md5": ""}</code>
</p>

<p>
  Though we'd prefer to see some content, e.g.:
</p>

<p>
  <pre>
{
  "tags": ["survey", "diet", "csv"],
  "description": "Diet survey questions and responses.",
  "md5": "156da7fc980988c51682374436849943"
}</pre>
</p>

<p>
  Recommended metadata items with reserved meanings -- use if appropriate.
</p>

<dl class="dl-horizontal">
  <dt>
    <code>md5</code>
  </dt>

  <dd>
    A string. This should be an md5 hash of the file, which can be used to
    check file integrity.
  </dd>

  <dt>
    <code>creation_date</code>
  <dt>

  <dd>
    A string. This should be an ISO 8601 formatted date or date + time,
    indicating when this file was created.
  </dd>

  <dt>
    <code>start_date</code>
  </dt>

  <dd>
    A string. This should be an ISO 8601 formatted date or date + time, and can
    be used to indicate the start of a time range (if this file represents data
    for a particular time range).
  </dd>

  <dt>
    <code>end_date</code>
  </dt>

  <dd>
    A string. This should be an ISO 8601 formatted date or date + time, and can
    be used to indicate the end of a time range (if this file represents data
    for a particular time range).
  </dd>
</dl>

<h5>Example file upload API calls</h5>

<p>Example for <a href="https://github.com/jkbrzt/httpie">httpie</a>:</p>

<pre>
#!/bin/sh

echo "test file data" > test-file.txt

TOKEN=example_token
URL=http://www.openhumans.org/api/project/upload/?access_token=$TOKEN
METADATA='{"tags": ["survey", "diet", "csv"], "description": "Diet survey questions and responses", "md5": "156da7fc980988c51682374436849943"}'

http --verbose --form POST $URL \
  project_member_id='12345678' \
  metadata=$METADATA \
  data_file@./test-file.txt
</pre>

<p>Raw request example:</p>

<pre>
POST /api/project/upload/?access_token=example_token HTTP/1.1
Accept: */*
Accept-Encoding: gzip, deflate
Connection: keep-alive
Content-Length: 491
Content-Type: multipart/form-data; boundary=60b1416fed664815a28bf8be840458ae
Host: www.openhumans.org
User-Agent: HTTPie/0.9.3

--60b1416fed664815a28bf8be840458ae
Content-Disposition: form-data; name="project_member_id"

12345678
--60b1416fed664815a28bf8be840458ae
Content-Disposition: form-data; name="metadata"

{"tags": ["survey", "diet", "csv"], "description": "Diet survey questions and responses", "md5": "156da7fc980988c51682374436849943"}
--60b1416fed664815a28bf8be840458ae
Content-Disposition: form-data; name="data_file"; filename="test-file.txt"

test file data

--60b1416fed664815a28bf8be840458ae--
</pre>

<h4>Deleting files</h4>

<p>The API endpoint for deleting files is:</p>

<p><code>/api/direct-sharing/project/files/delete/</code></p>

<p>
  A project can delete files that it has uploaded to member profiles. Deletion
  requests are made per project member, for individual files or all files.
</p>

<h5>File deletion format</h5>

<p>There are three ways to delete files:</p>

<ul>
  <li>
    One file, by file ID (unique): File ID is available in the project's API
    for data access. (Projects implicitly have access to all data for their
    project via the direct sharing API.)
  </li>

  <li>
    One or more files, by matching filename. Filename is the file's basename,
    including extensions explicitly, e.g. 'surveydata.csv' All exact filename
    matches for this file basename will be deleted, for this project member.
  </li>

  <li>
    Delete all files for this project member.
  </li>
</ul>

<p>A POST API request would contain the following:</p>

<ul>
  <li>
    As a querystring parameter named <code>access_token</code> or in the
    "Authorization" header:

    <ul>
      <li>
        <code>access_token=&lt;MASTER_ACCESS_TOKEN&gt;</code>
      </li>
    </ul>

    This identifies and authorizes your project.
  </li>

  <li>
    A JSON object request body with the project member ID (string), and one the
    follow items: 'file_id' (integer), 'file_basename' (string), 'all_files'
    (boolean). See examples below for usage.
  </li>
</ul>

<h5>Example JSON</h5>

<p>Delete file ID #12345 for member 12345678 for this project:</p>

<p>
  <code>{"project_member_id": "12345678", "file_id": 12345}</code>
</p>

<p>Delete any files with the name 'foobar.txt' for member 12345678 for this
project. Note, file extensions are included in the basename.</p>

<p>
  <code>{"project_member_id": "12345678", "file_basename": "foobar.txt"}</code>
</p>

<p>Delete all files for project member 12345678 for this project:</p>

<p>
  <code>{"project_member_id": "12345678", "all_files": True}</code>
</p>

<h5>Examples for httpie</h5>

<pre>
#!/bin/sh

TOKEN=example_token
URL=http://www.openhumans.org/api/project/files/delete/?access_token=$TOKEN

# deleting a file by its ID
http POST $URL \
  project_member_id='12345678' \
  file_id:=12345

# deleting a file by its name
http POST $URL \
  project_member_id='12345678' \
  file_basename='foobar.txt'

# deleting all files for a project member
http POST $URL \
  project_member_id='12345678' \
  all_files:=True
</pre>

<h5>Raw HTTP request example</h5>

<pre>POST /api/project/upload/?access_token=example_token HTTP/1.1
Accept: application/json
Accept-Encoding: gzip, deflate
Connection: keep-alive
Content-Length: 51
Content-Type: application/json
Host: www.openhumans.org
User-Agent: HTTPie/0.9.3

{
    "file_id": 12345,
    "project_member_id": "12345678"
}
</pre>

<h4>OAuth2 project member endpoint</h4>

<p>
  Projects interacting with OAuth2 authorization have an additional API
  endpoint. This OAuth2-specific API allows OAuth2 projects to retrieve
  the project member ID corresponding to the token their OAuth2 process
  generates. This API also returns other data associated with the
  project member, and can be used for "social login" (i.e. allowing users
  to log in via their Open Humans account, instead of via a password on your
  website or app).
</p>

<p>
  To access project member ID and privately shared project member data for
  a specific user, send a secure GET request (using 'https') to the following
  URL with the 'access_token' parameter set to the user's OAuth2 "access token":
</p>

<p>
  <code>https://www.openhumans.org/api/direct-sharing/project/exchange-member/?access_token=&lt;USER_ACCESS_TOKEN&gt;</code>
</p>

<p>
  This returns JSON-formatted data that can be used to programmatically
  access and retrieve data and files for this specific project member.
</p>

<h4>Messaging endpoint</h4>

<p>
  You can use the messaging endpoint to send messages to all the members of
  your project or a specified subset.
</p>

<p>
  The endpoint takes these parameters as a JSON object:
</p>

<ul>
  <li><code>all_members</code>: If specified it must be <code>true</code> or
    <code>false</code>.</li>

  <li><code>project_member_ids</code>: An array of project member IDs to send
    messages to.</li>

  <li><code>message</code>: The text of the message to send. For details on
    what the message text can contain and how it appears to the end user please
    see the <a href="{% url 'direct-sharing:sending-messages' %}">messaging
    documentation</a>.</li>
</ul>

<p>
  You must either specify <code>true</code> for <code>all_members</code>
  <em>or</em> specify an array of <code>project_member_ids</code> but not both.
</p>

<p>
  The URL for the messaging endpoint is:
</p>

<p><code>
  https://www.openhumans.org/api/direct-sharing/project/message/?access_token=&lt;MASTER_ACCESS_TOKEN&gt;
</code></p>

<h5>Examples</h5>

<p>
  These two examples show sending a message to all members and to a specified
  array of project member IDs with the <a
  href="http://www.httpie.org/">httpie</a> tool:
</p>

<pre>
TOKEN="&lt;MASTER_ACCESS_TOKEN&gt;"
URL="https://www.openhumans.org/api/direct-sharing/project/message/?access_token=$TOKEN"

http -v POST $URL all_members:=true message:='"example message text"'
http -v POST $URL project_member_ids:='["12345678", "56781234"]' message:='"example message text"'
</pre>

<p>
  The output of the second command looks like this:
</p>

<pre>
POST /api/direct-sharing/project/message/?access_token=&lt;MASTER_ACCESS_TOKEN&gt; HTTP/1.1
Accept: application/json
Accept-Encoding: gzip, deflate
Connection: keep-alive
Content-Length: 63
Content-Type: application/json
Host: localhost:8000
User-Agent: HTTPie/0.9.3

{
    "message": "test\ntest\n",
    "project_member_ids": [
        "12345678",
        "56781234"
    ]
}

HTTP/1.0 200 OK
Allow: POST, OPTIONS
Cache-Control: no-cache, no-store, must-revalidate, max-age=0
Content-Language: en
Content-Type: application/json
Date: Thu, 21 Apr 2016 16:40:07 GMT
Expires: Thu, 21 Apr 2016 16:40:07 GMT
Last-Modified: Thu, 21 Apr 2016 16:40:07 GMT
Server: WSGIServer/0.1 Python/2.7.11
Vary: Accept, Accept-Language, Cookie
X-Frame-Options: SAMEORIGIN

"success"
</pre>
{% endblock %}
