{% extends 'direct-sharing/layout.html' %}

{% block content %}
<h3>Create your project</h3>

<p>
  To work with members and request access to their data, you'll need to
  register your project. Your "draft" stage project can be edited and tested
  with up to 10 members.
</p>

<p>
  Complete our forms to create your project. Create an account or log in,
  then fill out information to start your project, including...
</p>

<ul>
  <li>Project name and description</li>
  <li>Leader(s) or principal investigator(s)</li>
  <li>Organization or institution</li>
  <li>Contact email</li>
  <li>Consent form (for "on site" authorization)</li>
</ul>

<p>
  (These are drafts! You can keep editing these during your project
  drafting stage.)
</p>

<p>
  <a href="{% url 'direct-sharing:manage-projects' %}"
    class="btn btn-default">
  Start a new project on your project management page
  </a>
</p>

<h4>Try running it!</h4>

<p>
  You can get started immediately: projects in the drafting stage are able
  to work with up to 10 members.
</p>

<p>
  Follow instructions on the project's management page to test...
</p>

<ul>
  <li>Requesting permission from members</li>
  <li>Collecting additional data from members</li>
  <li>Using our API to access data</li>
</ul>

<p>
  Once you feel like everything is working correctly, you can request
  approval to upgrade the project.
</p>

<h4>Request approval</h4>

<p>
  To work with more than 10 members, you'll need to contact us and ask
  to be approved by Open Humans. Once approved, your project can also be
  shared with our members! Please follow the instructions on your project's
  management page for seeking project approval.
</p>

<p>
  For approval, we require any project classified as a "study" to have
  been reviewed and approved by an Institutional Review Board or equivalent
  ethics board.
</p>

<h4>Additional permissions</h4>

<p>
  In addition to all of the <a href="">data sources</a> we support you can also
  request:
</p>

<ul>
  <li>
    <b>Permission to send messages</b>

    <br>

    <p>
      Permission to send the Member messages. (This does not share their email
      address with you.) We know that sometimes you'll want to send updates and
      reminders!
    </p>
  </li>

  <li>
    <b>Access to username</b>

    <br>

    <p>
      Access to username is optional - and some projects might not want it!
      All direct data sharing is done with random, project-specific user codes.
      Requesting access to the username implicitly grants you access to all
      public data that Member is sharing. (For many Members, this makes them
      identified or more identifiable.)
    </p>
  </li>
</ul>

<p>
  Once you set up your project, it will be immediately possible for Members to
  approve data sharing with it. Immediate access enables you to start developing
  for your project, in advance of IRB approval. Until Open Humans approves it,
  however, it won't be promoted to Members and it will be capped to a maximum
  of 10 Members.
</p>

<p>
  Contact Open Humans to request approval for your project. All "study"
  projects must have approval from an IRB or equivalent ethics board to be
  approved by Open Humans.
</p>
{% endblock %}
