{% load utilities %}

<li role="presentation" class="{% active 'direct-sharing:overview' %}">
  <a href="{% url 'direct-sharing:overview' %}">
    Overview
  </a>
</li>

<hr>

<li role="presentation" class="{% active 'direct-sharing:on-site-features' %}">
  <a href="{% url 'direct-sharing:on-site-features' %}">
    On-site features
  </a>
</li>

<li role="presentation" class="{% active 'direct-sharing:on-site-setup' %}">
  <a href="{% url 'direct-sharing:on-site-setup' %}">
    On-site setup
  </a>
</li>

<li role="presentation" class="{% active 'direct-sharing:on-site-data-access' %}">
  <a href="{% url 'direct-sharing:on-site-data-access' %}">
    On-site data access
  </a>
</li>

<li role="presentation" class="{% active 'direct-sharing:on-site-messages' %}">
  <a href="{% url 'direct-sharing:on-site-messages' %}">
    On-site messages
  </a>
</li>

<li role="presentation" class="{% active 'direct-sharing:on-site-data-upload' %}">
  <a href="{% url 'direct-sharing:on-site-data-upload' %}">
    On-site data upload
  </a>
</li>

<hr>

<li role="presentation" class="{% active 'direct-sharing:oauth2-features' %}">
  <a href="{% url 'direct-sharing:oauth2-features' %}">
    OAuth2 features
  </a>
</li>

<li role="presentation" class="{% active 'direct-sharing:oauth2-setup' %}">
  <a href="{% url 'direct-sharing:oauth2-setup' %}">
    OAuth2 setup
  </a>
</li>

<li role="presentation" class="{% active 'direct-sharing:oauth2-data-access' %}">
  <a href="{% url 'direct-sharing:oauth2-data-access' %}">
    OAuth2 data access
  </a>
</li>

<li role="presentation" class="{% active 'direct-sharing:oauth2-messages' %}">
  <a href="{% url 'direct-sharing:oauth2-messages' %}">
    OAuth2 messages
  </a>
</li>

<li role="presentation" class="{% active 'direct-sharing:oauth2-data-upload' %}">
  <a href="{% url 'direct-sharing:oauth2-data-upload' %}">
    OAuth2 data upload
  </a>
</li>
