{% extends 'direct-sharing/layout.html' %}

{% block content %}
<h2>OAuth2 setup</h2>

<p>
  Topics:
</p>
<ul>
  <li>
    <a href="#setup-create">Creating a project</a>
  </li>
  <li>
    <a href="#setup-closing">Closing a project</a>
  </li>
  <li>
    <a href="#setup-configuration">Configuration details</a>
  </li>
  <li>
    <a href="#setup-oauth2-authorization">OAuth2 authorization setup</a>
  </li>
</ul>

{% include 'direct-sharing/partials/setup.html' with oauth2_project=True %}

<h3 id="setup-oauth2-authorization">OAuth2 authorization setup</h3>

<p>
  This is a brief overview of how to use OAuth2 credentials and URLs to
  authorize a user from your app or website. If you're not familiar with
  OAuth2, we recommend you read the
  <a href="https://en.wikipedia.org/wiki/OAuth">OAuth Wikipedia article</a>
  and other online resources for general information about these processes.
</p>

<ol>
  <li>
    <p>
      <b>Direct your user to the Authorization URL.</b><br>
      This URL should includethe following parameters:
    </p>
    <ul>
      <li><p>"client_id" set to your Client ID</p></li>
      <li><p>"response_type" set to "code"</p></li>
    </ul>
    <p>
      For example, for the authorization URL
      <code>https://www.openhumans.org/direct-sharing/projects/oauth2/authorize/</code>
      and the client ID <code>ABCDEFG1234567</code>, you send your user to:<br>
      <code>https://www.openhumans.org/direct-sharing/projects/oauth2/authorize/?client_id=ABCDEFGJ1234567&response_type=code</code>
    </p>
  </li>
  <li>
    <p>
      <b>User returns with code.</b><br>
      If the user authorizes your project, Open Humans will send them back to
      your "Redirect URL" with the parameter "code" set. For example, if your
      redirect URL is <code>https://www.example.com/authorize_openhumans</code>
      and the code is <code>123abc456def</code> then we'll send the user to:<br>
      <code>https://www.example.com/authorize_openhumans/?code=123abc456def</code>
    </p>
    <p>
      Your website or app will presumably know which user is associated with this
      code. You should immediately exchange the code for token data, which you'll
      store associated with your user's account.
    </p>
  </li>
  <li>
    <p>
      <b>Exchange the code for a token.</b><br>
      Your website or app needs to exchange the code for a more permanent token.
      Do this immediately: the code will expire soon after it's shared.
      Use your client ID and client secret as credentials for this transaction.
      Make sure you do this securely (use https).
    </p>
    <p>
      Use a POST request to the "access token URL" with the following data:
      <ul>
        <li><p>
          'grant_type' set to 'authorization_code'</p></li>
        <li><p>'code' set to the value of the code you received</p></li>
        <li><p>
          'redirect_uri' set to the same redirect URL you've specified in
          Open Humans</p></li>
      </ul>
    </p>
    <p>
      If everything is set correctly, the Open Humans website will return JSON
      data with values for 'access_token', 'refresh_token', and 'expires_in'
      (seconds). <b>Keep this token and refresh token secure.</b> The token
      can be used to access the OAuth2 project member API endpoint to
      retrieve this member's project member ID and other data.
    </p>
    <p>
      For example, the following Python code fragment exchanges a code for
      token data. (This uses the
      <a href="http://docs.python-requests.org/en/master/">requests</a>
      library.)
    </p>
    <pre><code>import requests

data = {
    'grant_type': 'authorization_code',
    'code': received_code,
    'redirect_uri': your_redirect_url
}
token_response = requests.post(
    open_humans_access_token_url,
    data=data,
    auth=requests.auth.HTTPBasicAuth(
        your_open_humans_client_id,
        your_open_humans_client_secret
    )
)
token_data = token_response.json()
access_token = token_data['access_token']
refresh_token = token_data['refresh_token']
seconds_before_expiration = token_data['expires_in']</code></pre>
    <p>
      Another example code-for-token exchange in JavaScript, using the
      <a href="https://github.com/request/request">request</a> library.
      <pre><code>const request = require('request')

request.post(
  {
    url: 'https://www.openhumans.org/oauth2/token/',
    auth: {
        'user': clientID,
        'pass': clientSecret
      },
    formData: {
        'grant_type': 'authorization_code',
        'code': code,
        'redirect_uri': redirectURI
    },
  }, function(err, res) {
    console.log(res.statusCode)
    console.log(res.body)
  })</code></pre>
    </p>
  </li>
  <li>
    <p>
      <b>How to refresh your token.</b><br>
      For security reasons, tokens expire after a period of time. To request
      a fresh token, use a POST request to the "access token URL" with the
      following data:
      <ul>
        <li><p>'grant_type' set to 'refresh_token'</p></li>
        <li><p>'refresh_token' set to the refresh token you received</p></li>
      </ul>
    </p>
    <p>
      If everything is set correctly, the Open Humans website will return JSON
      data with a new 'access_token', 'refresh_token', and 'expires_in'
      (seconds).
    </p>
  </li>
</ol>
{% endblock %}
