{% extends 'direct-sharing/layout.html' %}

{% block content %}
<h2>OAuth2 data access</h2>

<p>
  Once a member authorizes data sharing, you'll be able to immediately access
  that data via our Direct Sharing API.
</p>

<p>
  Topics:
</p>
<ul>
  {% if oauth2_project %}
  <li>
    <a href="#api-access-oauth2-member-endpoint">OAuth2 project member endpoint</a>
  </li>
  {% endif %}
  {% if on_site_project %}
  <li>
    <a href="#master-access-tokens">Master access tokens</a>
  </li>
  {% endif %}
  <li>
    <a href="#api-access-master-token">Master access token endpoint</a>
  </li>
</ul>

{% include 'direct-sharing/partials/data-access.html' with oauth2_project=True %}

{% endblock %}
