{% extends 'direct-sharing/layout.html' %}

{% load static %}

{% block content %}
<h2>Projects on Open Humans</h2>

<h3>About projects</h3>

{% include 'direct-sharing/partials/about-projects.html' %}

<h3>On-site or OAuth2?</h3>

<p>
  There are two different types of projects you can set up, depend on how
  authorization and enrollment occurs.
</p>

<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>On-site projects</h4></div>
      <div class="panel-body">
        <p>
          An on-site project may be appropriate if...
        </p>
        {% include 'direct-sharing/partials/on-site-appropriate-if.html' %}
        <div class="text-center">
          <a href="{% url 'direct-sharing:on-site-features' %}" class="btn btn-default">More about On-site projects</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>OAuth2 projects</h4></div>
      <div class="panel-body">
        <p>
          An OAuth2 project may be appropriate if...
        </p>
        {% include 'direct-sharing/partials/oauth2-appropriate-if.html' %}
        <div class="text-center">
          <a href="{% url 'direct-sharing:oauth2-features' %}" class="btn btn-default">More about OAuth2 projects</a>
        </div>
      </div>
    </div>
  </div>
</div>

<h3>Creating new projects</h3>

{% if user.is_authenticated %}
<p>
  You can create new projects on your project management page.
</p>
<p>
  <a href="{% url 'direct-sharing:manage-projects' %}" class="btn btn-xs btn-default">Go to my project management page</a>
</p>
{% else %}
<p>
  Please <a class="redirect-storage-link"
            href="{% url 'account_signup' %}">create an account</a> or
  <a class="redirect-storage-link"
     href="{% url 'account_login' %}">log in</a> to create a project.
</p>

{% endif %}

<hr>

{% include 'partials/project-grants-blurb.html' %}

{% endblock %}
