{% extends 'direct-sharing/layout.html' %}

{% block content %}
<h3>Sending messages</h3>

<p>
  This feature is only available your project was set up to request permission
  to send messages to project members.
</p>

<p>
  Messages sent to project members are sent as emails but the members' email
  addresses are not revealed to you. The "reply-to" for these emails is set
  to the "contact email" you specify for the project. This means that
  members have the opportunity to reply to you, if they wish.
</p>

<p>
  To send messages...
</p>

<ol>
  <li><p>
    <b>Go to <a href="{% url 'direct-sharing:manage-projects' %}">your project management
    page</a>.</b>
  </p></li>
  <li><p>
    <b>Click the "Send messages" button for your project.</b>
  </p></li>
  <li><p>
    <b>Specify which members you're messaging.</b> You can either message
    all members in your project, or specify a comma-separated list of
    project member IDs.
  </p></li>
  <li>
    <p>
      <b>Enter your message text.</b> You can specify the text
      <code>{% templatetag openvariable %} PROJECT_MEMBER_ID {% templatetag closevariable %}
      </code> anywhere in your message (multiple times, if needed). It will be
      replaced with the unique project member ID that identifies the member to
      your project.
    </p>
    <p>
      Including the project member ID can be useful when directing members to
      activities which collect member-specific information. For example, in a
      Google Form the ID can be included as parameter in the URL to
      pre-populate a field in the form. This allows you to automatically
      match the resulting form responses to the Open Humans member.
    </p>
  </li>
  <li>
    <p>
      <b>Send messages.</b> Click "Send messages" to send the message to the
      specified project members. Project members will receive an email with a
      standard subject and footer. The reply-to for the email will be set
      to your project's "contact email".
    </p>
    <p>
      For example, the user "joesmith" might receive the following message from
      the "Foobar Project":
    </p>
    <div class="well">
      <samp>
        <p><b>From:</b> foobar.project.contact.email@example.com</p>
        <p><b>Subject:</b> Open Humans: Message from "Foobar Project"</p>
        <p>
          Dear participant, thank you for being part of our project! We
          wanted to check in with a brief survey that will help us better
          understand your data. This will greatly increase our ability to
          learn from your data, and should take less than five minutes. To
          complete our survey, please follow this link:
          https://www.example.com/foobar-project/survey-url/?userid=PROJECT_MEMBER_ID
        </p>
        <p>
          -------------------------------------------------------------------------------
        </p>
        <p>
          This email was sent by Open Humans project "Foobar Project" to "joesmith".
          It has been automatically delivered. The project has not been given your email
          address. You have no obligation to reply to this email or take any other action
          that might disclose your identity. Open Humans did not review nor retain a copy
          of this message’s contents and is not responsible for material sent by this
          project. You should retain a copy of this message if you may need it in the
          future.
        </p>
        <p>
          If you respond, the project will know your email address. Your email will go
          directly to the project's email address, this communication is not managed by
          Open Humans.
        </p>
        <p>
          When you authorized this project, you granted permission for it to send
          you messages. You may deauthorize this project by visiting your
          connection management page:
          &lt;https://www.openhumans.org{% url 'my-member-connections' %}&gt;.
          Please report abuses of messaging to Open Humans support
          &lt;support@openhumans.org&gt;.
        </p>
      </samp>
    </div>
  </li>
</ol>
{% endblock %}
