{% extends 'research/base.html' %}
{% load utilities %}

{% block main %}
<div class="row">
  <div class="col-xs-12">
    <h3>Add Researcher Role</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
          You can add a Researcher role to your Open Humans account.
        </p>
        <p>
          (For example, you might want to do this to let Members see how you're
          donating your own data to the research community.)
        </p>
        <p>
          Please note: <b>Researcher accounts must share their real name</b>.
          Both roles will have the same public username, email, and password.
        </p>
        <p>
          If you'd like to have separate accounts (e.g. to keep your real name
          separate from your Member account), you should make a
          <a href="{% url 'account_signup' %}">new Researcher account</a>.
        </p>
      </div>
    </div>

    <form class="form-horizontal" role="form" method="POST"
          action="{% url 'account_add_researcher_role' %}"
          id="add-researcher-role-form">
      {% csrf_token %}

      {% if form.non_field_errors %}
      <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
          {{ error }}<br>
        {% endfor %}
      </div>
      {% endif %}

      <div class="form-group">
        <p class="help-block col-sm-8 col-sm-offset-4">
          Please provide your Member login information.</p>
      </div>

      <div class="form-group{% if form.username.errors %} has-error{% endif %}">
        <label for="signup-username" class="col-sm-4 control-label">
          Member username or email</label>

        <div class="col-sm-8 col-md-6">
          <input type="text" class="form-control" name="username"
            id="signup-username" placeholder="Your Member username or email"
            value="{{ form.username.value|default:'' }}">
          {% if form.username.errors %}
            {% for error in form.username.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
          {% endif %}
        </div>
      </div>

      <div class="form-group{% if form.password.errors %} has-error{% endif %}">
        <label for="signup-password" class="col-sm-4 control-label">
          Member password</label>

        <div class="col-sm-8 col-md-6">
          <input type="password" class="form-control" name="password"
            id="signup-password" placeholder="Your Member password"
            value="{{ form.password.value|default:'' }}">

          {% if form.password.errors %}
            {% for error in form.password.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
          {% endif %}
        </div>
      </div>

      <hr class="col-md-8 col-md-offset-2">

      <div class="form-group">
        <p class="help-block col-sm-8 col-sm-offset-4">
          Please add the following information specific to your new Researcher
          role.
        </p>
      </div>

      <div class="form-group{% if form.name.errors %} has-error{% endif %}">
        <label for="researcher-name" class="col-sm-4 control-label">
          Researcher Name</label>

        <div class="col-sm-8 col-md-6">
          <input type="text" class="form-control" name="name"
            id="researcher-name" placeholder="Your Name Here"
            value="{{ form.name.value|default:'' }}">

          {% if form.name.errors %}
          {% for error in form.name.errors %}
          <span class="help-block">{{ error }}</span>
          {% endfor %}
          {% else %}
          <span class="help-block">Public, used when listing you as part of a
            study. This name is stored separately from your Member name.
            <b>Researchers must use their real name.</b></span>
          {% endif %}
        </div>
      </div>

    </form>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-10 text-right">
  <input type="submit" id="create-account" form="add-researcher-role-form"
    class="btn btn-primary" value="Add Researcher role">
  </div>

  <div class="col-xs-12">
  <hr>
  </div>

  <div class="col-xs-12 text-center small">
    <p>
      Already have a Researcher account?
      <a href="{% url 'account_login' %}">Log&nbsp;in</a>
    </p>
  </div>
</div>
{% endblock main %}
