{% extends 'research/base.html' %}

{% block main %}
<div class="row">
  <div class="col-sm-12">
    <h3>Confirm email</h3>
    <form method="post" class="form-horizontal"
        action="{% url 'account_confirm_email' key=confirmation.key %}">
      <fieldset>
        {% csrf_token %}
        <p>
          Confirm the email address
          <strong>{{ confirmation.email_address.email }}</strong> for Open
          Humans researcher
          <strong>{{ confirmation.email_address.user.username }}</strong>?
        </p>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
