{% extends 'research/base.html' %}

{% block main %}
 <div class="row">
  <div class="col-xs-12">
    <h3>Reset your Open Humans password</h3>
    <p>
      Forgot your password? Enter your email address below, and we'll send you
      an email allowing you to reset it.
    </p>

    {% if form.non_field_errors %}
    <div class="alert alert-danger">
      {% for error in form.non_field_errors %}
        {{ error }}<br>
      {% endfor %}
    </div>
    {% endif %}

    <form class="form-horizontal" role="form" method="POST"
      action="{% url 'account_password_reset' %}" id="password-reset-form">
      {% csrf_token %}

      <div class="form-group{% if form.email.errors %} has-error{% endif %}">
        <label for="email-address" class="col-sm-2 control-label">Email</label>

        <div class="col-sm-10 col-md-8">
          <input type="email" class="form-control" name="email" id="email-address"
            placeholder="Email" value="{{ form.email.value|default:'' }}">

          {% if form.email.errors %}
            {% for error in form.email.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
          {% endif %}
        </div>
      </div>

      <input id="password-reset" type="submit"
        value="Send password reset email" form="password-reset-form"
        class="btn btn-primary col-md-offset-2">
    </form>

    <hr>

    <h4>Still having trouble?</h4>
    <p>
      Please wait several minutes for our email. If you're still having
      trouble, you can contact us at:
      <a href="mailto:support@openhumans.org">support@openhumans.org</a>.
    </p>

  </div>
</div>
{% endblock %}
