{% extends 'research/base.html' %}

{% block main %}
<div class="row">
  <div class="col-xs-12">
    <h3>Set your new password</h3>

    {{ form.non_field_errors }}
    <p>
      You can set your new password using the form below.
    </p>

    <form class="form-horizontal" role="form" method="POST"
      action="{% url 'account_password_reset_token' uidb36=uidb36 token=token %}"
      id="password-reset-token-form">

      {% csrf_token %}

      <div class="form-group{% if form.password.errors %} has-error{% endif %}">
        <label for="password" class="col-sm-2 control-label">Password</label>

        <div class="col-sm-10 col-md-8">
          <input type="password" class="form-control" name="password"
            id="password" placeholder="Password"
            value="{{ form.password.value|default:'' }}">

          {% if form.password.errors %}
            {% for error in form.password.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
          {% endif %}
        </div>
      </div>

      <div class="form-group{% if form.password_confirm.errors %} has-error{% endif %}">
        <label for="password-confirm" class="col-sm-2 control-label">
          Confirm password</label>

        <div class="col-sm-10 col-md-8">
          <input type="password" class="form-control" name="password_confirm"
            id="password-confirm" placeholder="Password"
            value="{{ form.password.value|default:'' }}">

          {% if form.password_confirm.errors %}
            {% for error in form.password_confirm.errors %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
          {% endif %}
        </div>
      </div>

      <input id="password-reset-token" type="submit" value="Change password"
        form="password-reset-token-form"
        class="btn btn-primary col-md-offset-2">
    </form>

  </div>
</div>
{% endblock %}
