/*-------------------------------------------------- */
/* Colors
-------------------------------------------------- */
$oh-teal-verylight: #e6f9fa;
$oh-teal-light: #c9ecef;
$oh-teal: #4ac1c8;
$oh-teal-dark: #009fa8;
$oh-teal-verydark: #008c94;

$oh-orange-verylight: #fff1eb;
$oh-orange-light: #ffceb9;
$oh-orange: #ff9161;
$oh-orange-dark: #f7763e;

$oh-gray-verylight: #eeeeee;
$oh-gray-dark: #4d4d4d;
$oh-gray-verydark: #333333;

$xs-text-base: 0.82rem;
$text-footer-mult: 0.9;
$text-h1-mult: 2.0;
$text-h2-mult: 1.6;
$text-h3-mult: 1.35;
$text-h4-mult: 1.15;
$text-sm-mult: 1.05;
$text-md-mult: 1.1;
$text-lg-mult: 1.15;
$text-xl-mult: 1.2;

/* Text styles */

body {
  color: $oh-gray-verydark;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: $xs-text-base;
  .small {
    line-height: 1.2;
  }
  .reduced {
    font-size: 90%;
    line-height: 1.3;
  }
  h1 {
    font-size: $xs-text-base * $text-h1-mult;
  }
  h2 {
    font-size: $xs-text-base * $text-h2-mult;
  }
  h3 {
    font-size: $xs-text-base * $text-h3-mult;
  }
  h4 {
    font-size: $xs-text-base * $text-h4-mult;
  }
}
footer {
  font-size: $xs-text-base * $text-footer-mult;
}
@media (min-width: 576px) {
  body {
    font-size: $xs-text-base * $text-sm-mult;
    h1 {
      font-size: $xs-text-base * $text-h1-mult * $text-sm-mult;
    }
    h2 {
      font-size: $xs-text-base * $text-h2-mult * $text-sm-mult;
    }
    h3 {
      font-size: $xs-text-base * $text-h3-mult * $text-sm-mult;
    }
    h4 {
      font-size: $xs-text-base * $text-h4-mult * $text-sm-mult;
    }
  }
  footer {
    font-size: $xs-text-base * $text-footer-mult * $text-sm-mult;
  }
}
@media (min-width: 768px) {
  body {
    font-size: $xs-text-base * $text-md-mult;
    h1 {
      font-size: $xs-text-base * $text-h1-mult  * $text-md-mult;
    }
    h2 {
      font-size: $xs-text-base * $text-h2-mult * $text-md-mult;
    }
    h3 {
      font-size: $xs-text-base * $text-h3-mult * $text-md-mult;
    }
    h4 {
      font-size: $xs-text-base * $text-h4-mult * $text-md-mult;
    }
  }
  footer {
    font-size: $xs-text-base * $text-footer-mult * $text-md-mult;
  }
}
@media (min-width: 992px) {
  body {
    font-size: $xs-text-base * $text-lg-mult;
    h1 {
      font-size: $xs-text-base * $text-h1-mult  * $text-lg-mult;
    }
    h2 {
      font-size: $xs-text-base * $text-h2-mult * $text-lg-mult;
    }
    h3 {
      font-size: $xs-text-base * $text-h3-mult * $text-lg-mult;
    }
    h4 {
      font-size: $xs-text-base * $text-h4-mult * $text-lg-mult;
    }
  }
  footer {
    font-size: $xs-text-base * $text-footer-mult * $text-lg-mult;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: $xs-text-base * $text-xl-mult;
    h1 {
      font-size: $xs-text-base * $text-h1-mult  * $text-xl-mult;
    }
    h2 {
      font-size: $xs-text-base * $text-h2-mult * $text-xl-mult;
    }
    h3 {
      font-size: $xs-text-base * $text-h3-mult * $text-xl-mult;
    }
    h4 {
      font-size: $xs-text-base * $text-h4-mult * $text-xl-mult;
    }
  }
  footer {
    font-size: $xs-text-base * $text-footer-mult * $text-xl-mult;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: $oh-gray-dark;
  font-weight: 300;
}

code {
  background-color: $oh-orange-verylight;
  color: $oh-orange-dark;
}

a {
  color: $oh-teal-dark;

  &:hover, &:focus {
    color: $oh-teal-verydark;
    text-decoration: underline;
  }
}

/* Navbar styles */

body.oh-proj-template > main > div.container {
  padding-top: 3.6rem;
}

.navbar-toggler-icon.custom-toggler {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(74,193,200, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler.custom-toggler {
  border: 1px solid #009fa888;
}

.navbar.navbar-open-humans {
  background-color: white;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid $oh-teal-light;
  font-size: 0.9rem;

  a.navbar-brand > img {
    height: 1.3rem;
  }

  .nav-item.active {
    a {
      color: $oh-teal-verydark;
      background-color: $oh-teal-verylight;
    }
  }

  .nav-link:hover {
    text-decoration: underline;
  }

  a.dropdown-item {
    font-size: 0.9rem;
    color: $oh-teal-dark;

    &:hover, &:focus, &:active {
      color: $oh-teal-verydark;
      text-decoration: underline;
      background-color: $oh-teal-verylight;
    }
  }
}

/* Button styles */

.btn-default {
  background-color: white;
  border: 2px solid $oh-teal-dark;
  color: $oh-teal-dark;

  &:hover, &:focus {
    background-color: $oh-teal-verylight;
    border: 2px solid $oh-teal-dark;
    color: $oh-teal-verydark;
  }
}

.btn-primary-hollow {
  background-color: white;
  border: 2px solid $oh-orange;
  color: $oh-teal-dark;

  &:hover, &:focus {
    background-color: $oh-orange-verylight;
    border: 2px solid $oh-orange-dark;
    color: $oh-teal-verydark;
  }

  &:disabled, &:disabled:hover, &:disabled:focus {
    background-color: $oh-gray-verylight;
    color: $oh-gray-dark;
    border: 2px solid $oh-gray-dark;
  }
}

.btn-primary {
  background-color: $oh-orange;
  border: 2px solid $oh-orange;
  color: white;

  &:hover, &:focus {
    background-color: $oh-orange-dark;
    border-color: $oh-orange-dark;
    color: white;
  }
}

.btn-info {
  background-color: $oh-teal-dark;
  border: 2px solid $oh-teal-dark;

  &:hover, &:focus {
    background-color: $oh-teal-verydark;
    border-color: $oh-teal-verydark;
  }
}

.btn {
  padding: 0.3125rem 0.625rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
}

.btn-lg {
  padding: 0.4375rem 0.875rem;
}

btn.btn-xs {
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
}

.login-button {
  display: inline-block;
  text-align: left;
  width: 16rem;
  color: white;

  &:hover, &:focus {
    color: white;
    text-decoration: none;
  }
}

.fb-button {
  background-color: #4267B2;
  border-color: #4267B2;
  color: white;

  &:hover, &:focus {
    background-color: #34518c;
    border-color: #34518c;
    color: white;

    &:active, .active {
      background-color: #34518c;
      border-color: #34518c;
      color: white;
    }
  }
}

.google-button {
  background-color: #4285F4;
  border-color: #4285F4;
  color: white;

  &:hover, &:focus {
    background-color: #3367d6;
    border-color: #3367d6;
    color: white;

    &:active, .active {
      background-color: #3367d6;
      border-color: #3367d6;
      color: white;
    }
  }
}

/* Activity page specific */
.activity-badge-maxh10rem {
  max-height:10rem;
}