{% extends 'base.html' %}

{% block head_title %}Data use policy{% endblock %}

{% block main %}
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">May 2018 Updates to our terms &amp; policies</h2>
  </div>
  <div class="col-lg-12">
    <p>
      Open Humans strives to be a safe and transparent environment for you to
      receive, manage, and share your personal data. From time to time, we
      review our terms and policies and determine that updates are desired, to
      clarify or improve them.
    </p>
    <p>
      We have drafted terms updates for May 2018. While we do not believe most
      changes are substantive for most members, <b>there are substantive
      changes to project guidelines that affect projects running in
      Open Humans</b>. These are summarized below. Projects should review these
      and update their projects accordingly.
    </p>
    <ul>
      <li>
        <p>
          A new guideline has been added that states the following:
        </p>
        <div style="margin-left:20px;">
          <p>
            <b>Explain what you'll do with data you'll receive</b>
          </p>
          <p>
            Give a plain summary that explains what you will do with the data you
            will access. Describe the kind of study or project you are running and
            why you would like to access the data.
          </p>
          <p>
            For example say:
          </p>
          <p style="margin-left:20px">
            <i>"We will use this data to explore whether there is a correlation
              between a person’s location and their diet/weight."</i>
          </p>
        </div>
      </li>
      <li>
        <p>
          A new guideline has been added that states the following:
        </p>
        <div style="margin-left:20px;">
          <p>
            <b>Explain what happens with the data after a user leaves your project</b>
          </p>
          <p>
            Users can leave your project on Open Humans at any time. Explain
            what you will do with their data after this happens. (For example:
            will you delete your copies of their data?)
          </p>
        </div>
      </li>
      <li>
        <p>
          An existing guideline has been updated with a requirement to inform
          project members about data identifiability:
        </p>
        <div style="margin-left:20px;">
          <p>
            <b>Be aware of existing de-identification standards</b>
          </p>
          <p>
            You should be aware of what types of data are considered
            "identifiable" when you're deciding which data to collect and how to
            manage it. Although you may have access to data without explicit
            personal identifiers, that data can still be highly identifiable or
            become identifiable if combined with other data elements. <u>Explain
            how this could happen with the data you are requesting from the
            individual users.</u>
          </p>
        </div>
      </li>
    </ul>
    <p>
      You can visit our staging website to see the full updated versions of our
      <a href="https://staging.openhumans.org/terms/">terms of use</a>,
      <a href="https://staging.openhumans.org/data-use/">data use policy</a>, and
      <a href="https://staging.openhumans.org/community-guidelines/">community
      guidelines</a>.
    </p>
    <p>
      You can also find the full raw text of our planned changes
      <a href="https://github.com/OpenHumans/open-humans/pull/769/files">
      in our open source repository</a>.
    </p>
  </div> <!-- col-lg-12 -->
</div> <!-- row -->
{% endblock %}
