{% extends 'base.html' %}

{% load static from staticfiles %}

{% block head_title %}About{% endblock %}

{% block main %}
<h2>About Open Humans</h2>

<p>
  <i>Open Humans</i> is a platform that allows you to <b>privately upload, connect and
  store your personal data</b> – such as genetic data, activity or social media data.
  You can choose whether to <a href="{% url 'public-data:home' %}">share some of these
  publicly</a>, and you can use your data to <a href="{% url 'explore-share' %}">
  contribute to research projects</a> and
  learn more about yourself.
  As such, <i>Open Humans</i> turns the traditional research pipeline on its head.
  It puts you as an individual at the center of the sharing process, and in full
  control of how your own data is used in research. With this approach Open
  Humans empowers you not only when it comes to participating in traditional
  research, but also to take a closer look into your own data, for example
  enabling you to <a href="https://www.openhumans.org/activity/genevieve-genome-report/">
  analyze your own genome</a> or
  <a href="https://www.openhumans.org/activity/twitter-archive-analyzer/">your own Twitter data</a>.
</p>

<p>
  For researchers and citizen scientists, <i>Open Humans</i> offers <b>a toolbox
  to <a href="{% url 'create' %}">easily create new projects</a> which can
  efficiently ask an engaged audience of participants to share their data</b>
  or join research projects.
  So far the <i>Open Humans</i> community has written a total of 19 different
  data transfer tools that enable data import from external projects at the touch
  of a button and they have contributed numerous projects to the site,
  where research can be done on participants’ shared data.
  And – thanks to the growing community – new data sources,
  visualizations and research projects are becoming available.
</p>

<p>
All of this makes <i>Open Humans</i>
<b><a href="http://slackin.openhumans.org">a vibrant community</a></b>.
People are intrigued by their own data. For this reason, there is no
single user profile: we are researchers; patients; data scientists;
citizen scientists; any and all people who want to learn more about themselves.
And they have continued to be enthusiastic, motivated, and truly engaged in
the work of the <i>Open Humans</i>.
</p>

<p>
We'd love for you to join us in this, analyzing your data, creating projects
and adding data sources. <b>Together we can help empower a
thriving community to make the best use of their personal data.</b>
</p>

{% include 'pages/about-profiles.html' %}

<hr>

<h4>About Open Humans Foundation</h4>
<p>
  Open Humans is a program of the 501(c)(3) nonprofit
  <a href="http://openhumansfoundation.org/">Open Humans Foundation</a>
  and has been funded by the
  <a href="http://www.rwjf.org/en/library/articles-and-news/2015/02/open-humans-project.html">Robert
  Wood Johnson Foundation</a>,
  <a href="http://www.knightfoundation.org/grants/201447980/">Knight Foundation</a>,
  and <a href="https://www.shuttleworthfoundation.org/">Shuttleworth Foundation</a>.
  Our 2015 launch was written up in
  <a href="http://www.forbes.com/forbes/welcome/?toURL=http://www.forbes.com/sites/arleneweintraub/2015/03/27/open-humans-network-invites-everyone-to-share-their-personal-health-data/&refURL=&referrer=">Forbes</a>,
  <a href="http://www.newsweek.com/new-online-platform-allows-you-open-source-your-body-316485">Newsweek</a>,
  <a href="http://www.scientificamerican.com/podcast/episode/donate-your-health-data-to-medical-science/">Scientific American</a>,
  and <a href="{% url 'news' %}">more</a>.
</p>

<h4>Staff</h4>
<p>
  In a sense, our "team" is enormous &ndash; the Open Humans community is
  filled with amazing members, citizen scientists, and researchers that make
  science something we can all be part of. We're humbled by this! Our formal
  staff is a small team committed to making this community a success.
</p>

{% include 'pages/about-staff.html' %}

<h4>Website policies</h4>
<p>
  We have a very readable <a href="{% url 'terms-of-use' %}">Terms of Use</a>,
  <a href="{% url 'data-use-policy' %}">Data Use Policy</a>, and
  <a href="{% url 'community_guidelines' %}">Community Guidelines</a>. We
  welcome feedback on these documents publicly or privately.
</p>

<h4>Open Source</h4>
<p>
  We believe in sharing.
  <a href="https://github.com/OpenHumans/open-humans/">This website
  is an open source project</a>, as are as other modules, packages, and code
  in our technical stack. You're welcome to create "issues" in our
  repository and comment on our code. However, <b>please report security issues
  privately</b> by emailing us at
  <a href="mailto:security@openhumans.org">security@openhumans.org</a>.
</p>

<h4>Questions?</h4>
<p>
  If you have any questions for us, feel free to
  <a href="{% url 'contact_us' %}">contact us</a>, or join the
  <a href="http://slackin.openhumans.org/">Open Humans Community Slack</a>
  to chat with us and other members of the community.
</p>

{% endblock %}
