<h3>Are you a researcher or citizen&nbsp;scientist?</h3>
<p class="bigger-text">
  We want to help you use our platform!
  Get started right away with public data available on
  <a href="{% url 'member-list' %}">members'
  public profiles</a>, and through our
  <a href="{% url 'public-data-api' %}">Public Data API</a>.
</p>
<p class="bigger-text">
  You can also <b><a href="{% url 'research' %}">create projects
  to work directly with members</a></b>, using APIs and on-site
  tools! Projects have tons of options: they can invite members
  to anonymously share data, help members add new data, invite
  them to surveys, and more. It's free and works immediately!
</p>
<p class="bigger-text">
  Got a great idea? <b><a href="{% url 'project-grants' %}">Grants
  of up to $5000 are available</a></b> for projects that expand
  the Open Humans ecosystem.
</p>
