{% load static from staticfiles %}

<div class="profiles-div">
  <div class="row">
    <div class="col-xs-4 visible-xs home-profile-div">
      <img class="img-circle img-responsive img-center profile-pic-xs"
        src="{% static 'images/Mad-Ball.jpg' %}" alt="">
    </div>
    <div class="col-xs-8 col-sm-12 home-profile-div">
      <img class="img-circle img-responsive hidden-xs profile-pic-sm"
        src="{% static 'images/Mad-Ball.jpg' %}" alt="">
        <div class="profile-quote">
        <h4 class="text-center">Mad Price Ball<br>
          <small>Executive Director</small>
        </h4>
        <p>
          Mad is the Executive Director of the Open Humans Foundation and
          co-founder of Open Humans.
          Mad is also a
          <a href="https://shuttleworthfoundation.org/about/">Shuttleworth
          Foundation Fellow</a>, pursuing a vision of open
          approaches to human health data sharing.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 visible-xs home-profile-div">
      <img class="img-circle img-responsive img-center profile-pic-xs"
        src="{% static 'images/bastian-greshake-tzovaras.jpg' %}" alt="">
    </div>
    <div class="col-xs-8 col-sm-12 home-profile-div">
      <img class="img-circle img-responsive hidden-xs profile-pic-sm"
        src="{% static 'images/bastian-greshake-tzovaras.jpg' %}" alt="">

      <div class="profile-quote">
        <h4 class="text-center">Bastian Greshake&nbsp;Tzovaras<br>
          <small>Director&nbsp;of&nbsp;Research</small>
        </h4>

        <p>
          Bastian is Director of Research of the Open Humans Foundation, and
          facilitates our collaborative work with projects, studies, and the
          Open Humans community at large. Bastian has a long history in
          open science, including his work with
          <a href="https://opensnp.org/">openSNP</a>, which he co-founded in 2011.
        </p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-4 visible-xs home-profile-div">
      <img class="img-circle img-responsive img-center profile-pic-xs"
        src="{% static 'images/mike-escalante.jpg' %}" alt="">
    </div>
    <div class="col-xs-8 col-sm-12 home-profile-div">
      <img class="img-circle img-responsive img-center hidden-xs profile-pic-sm"
        src="{% static 'images/mike-escalante.jpg' %}" alt="">

      <div class="profile-quote">
        <h4 class="text-center">Mike Escalante<br>
          <small>Web Development / Operations (part time) </small>
        </h4>
      </div>
    </div>
  </div>

</div> <!-- .profiles-div -->
