{% extends 'base.html' %}

{% load static from staticfiles %}

{% block head_title %}About{% endblock %}

{% block main %}
<h2>About Open Humans</h2>

{% include 'pages/about-main-content.html' %}
<div id="about-main-content-2">
  {% include 'pages/about-main-content-2.html' %}
</div>
<hr>

<h3>Are you a researcher?</h3>
<p class="bigger-text">
  We want to help you use our platform! We have APIs and on-site
  tools for you to set up a study, access data, and work with Open
  Humans members. Everything works immediately! Read more about this
  in our <a href="{% url 'research' %}">Research Section</a>.
</p>

<hr>

<h3>About our organization</h3>
<p class="bigger-text">
  The Open Humans Foundation is a 501(c)(3) nonprofit organization dedicated to
  enabling individuals to access their data and share it with research studies.
  Other projects of the organization include the Global Network of Personal
  Genome Projects and the Genome Environments Trait (GET) Conference.
</p>

<hr>

<h3>Website policies</h3>
<p class="bigger-text">
  We have a very readable <a href="{% url 'terms-of-use' %}">Terms of Use</a>,
  <a href="{% url 'data-use-policy' %}">Data Use Policy</a>, and
  <a href="{% url 'community_guidelines' %}">Community Guidelines</a>. We
  welcome feedback on these documents publicly or privately.
</p>

<hr>

<h3>Open Source</h3>
<p class="bigger-text">
  We believe in sharing.
  <a href="https://github.com/OpenHumans/open-humans/">This website
  is an open source project</a>, as are as other modules, packages, and code
  in our technical stack. You're welcome to create "issues" in our
  repository and comment on our code. However, <b>please report security issues
  privately</b> by emailing us at
  <a href="mailto:security@openhumans.org">security@openhumans.org</a>.
</p>

<hr>

<h3>Questions?</h3>
<p class="bigger-text">
  If you have any questions for us, feel free to
  <a href="{% url 'contact_us' %}">contact us</a>.
</p>

<hr>

<h3>Staff</h3>
<p class="bigger-text">
  In a sense, our "team" is enormous &ndash; the Open Humans community is
  filled with amazing members, citizen scientists, and researchers that make
  science something we can all be part of. We're humbled by this! Our formal
  staff is a small team committed to making this community a success.
</p>
<div class="staff-list">
  <div class="row">
    <div class="col-xs-6 col-sm-4 text-center">
      <img class="img-circle img-responsive img-center"
        src="{% static 'images/Madeleine-Ball.jpg' %}" alt=""
        style="max-width:70%">

      <h4>Madeleine Price Ball<br>
        <small>Executive&nbsp;Director</small>
      </h4>

      <p class="staff-text-block">
        Madeleine is the Executive Director of the Open Humans Foundation,
        co-founder of Open Humans, and PI of the
        <a href="{% url 'public-data:home' %}">Public Data Sharing study</a>.
        She is also a
        <a href="https://shuttleworthfoundation.org/about/">Shuttleworth
        Foundation Fellow</a>, pursuing a vision of open
        approaches to human health data sharing.
      </p>
    </div>

    <div class="col-xs-6 col-sm-4 text-center">
      <img class="img-circle img-responsive img-center"
        src="{% static 'images/Jason-Bobe.jpg' %}" alt=""
        style="max-width:70%">

      <h4>Jason Bobe<br>
        <small>Advisor &amp; Executive&nbsp;Director&nbsp;Emeritus</small>
      </h4>

      <p class="staff-text-block">
         Jason Bobe is former Executive Director of the Open Humans
         Foundation and co-founder of Open Humans. Jason is a steadfast
         advocate of citizen science, access to genomic technologies, and
         DIYbio.
       </p>
    </div>
  </div>
</div> <!-- row -->
{% endblock %}
