<div class="bigger-text">
  <h3>Your data is more powerful when you're a part of it!</h3>
  <p>
    Open Humans is a program of the nonprofit
    <a href="http://openhumansfoundation.org/">Open Humans Foundation</a>
    and has been funded by the
    <a href="http://www.rwjf.org/en/library/articles-and-news/2015/02/open-humans-project.html">Robert
    Wood Johnson Foundation</a> and the
    <a href="http://www.knightfoundation.org/grants/201447980/">Knight Foundation</a>.
    Our 2015 launch was written up in
    <a href="http://www.forbes.com/forbes/welcome/?toURL=http://www.forbes.com/sites/arleneweintraub/2015/03/27/open-humans-network-invites-everyone-to-share-their-personal-health-data/&refURL=&referrer=">Forbes</a>,
    <a href="http://www.newsweek.com/new-online-platform-allows-you-open-source-your-body-316485">Newsweek</a>,
    <a href="http://www.scientificamerican.com/podcast/episode/donate-your-health-data-to-medical-science/">Scientific American</a>,
    and <a href="{% url 'news' %}">more</a>.
  </p>
  <p>
    <b>You decide when to share.</b>
    You have valuable data, and you'll decide when to share it. The data you
    provide will be private by default. You can choose which projects to
    share with. You can also opt to <a href="{% url 'public-data:home' %}">make
    some (or all) of your data public</a>, so anyone can access and research
    it!
  </p>
  <p>
    <b>Studies, projects, and more.</b>
    <a href="{% url 'home' %}#activities-list">Browse our activities list</a>
    to see the many potential data sources you can add, and interesting
    projects you can join.
  </p>
  <p>
    <b>Be a part of research.</b>
    We'll recognize your contributions with badges on your profile page,
    invite you to talk to other community members in
    <a href="https://forums.openhumans.org/">our online forums</a>, and
    periodically post new activities, study updates, and relevant interviews
    in our newsletters and on
    <a href="https://blog.openhumans.org/">our blog</a>.
  </p>
</div>
