{% extends 'base-bs4.html' %}

{% load static %}

{% block head_title %}About{% endblock %}

{% block main %}

<img class="float-right" style="max-width:50%"
  src="{% static 'images/your-data-plus-you-sketch.jpg' %}">

<h2 class="page-title">About Open Humans</h2>
<p>
  Open Humans is dedicated to empowering
  individuals and communities around their personal data, to explore
  and share for the purposes of education, health, and research.
  We want to help people access and understand their personal data, and
  to help them do and share things that use that data.
</p>
<p>
  For individuals, we have <a href="{% url 'self-research' %}">community
  support for self-research</a>,
  <a href="{% url 'add-data' %}">tools for personal data
  access</a>, and
  <a href="https://exploratory.openhumans.org">data analysis notebooks</a>
  you can run in your browser.
</p>
<p>
  For communities, we make it easy to choose to share your data with
  <a href="{% url 'explore-share' %}">group studies and activities</a>.
  We provide the same features to researchers and citizen scientists alike:
  all members can adapt and share new <a href="https://exploratory.openhumans.org">data
  analysis notebooks</a>, as well as <a href="create">create new group
  activities &amp; tools for data import</a>.
</p>
<p>
  All of this makes Open Humans a vibrant community:
  {{ number_members }} members have joined,
  and {{active_projects}} tools &amp; activities are running on the site.
  There is no single user profile: we are researchers; patients; data
  scientists; citizen scientists; any and all people who want to learn
  more about themselves.
  We invite you to meet others in our
  <a href="http://slackin.openhumans.org">community Slack chat</a>!
</p>
<hr>

<h3>Our team</h3>
<p>
  In a sense, our "team" is enormous &ndash; the Open Humans community is
  filled with amazing members. Our formal staff is a small, full-remote
  team committed to making this community a success.
</p>


<div class="row">
  <div class="col-md">
    <div class="text-center">
      <img class="img-thumbnail" style="max-height:180px;"
            src="{% static 'images/Mad-Ball.jpg' %}" alt="">
      <h4>Mad Price Ball<br>
        <small>Executive Director</small>
      </h4>
    </div>
    <p>
      Mad is the Executive Director of the Open Humans Foundation and
      co-founder of Open Humans. Mad lives in San Diego, is involved in
      other open science &amp; data advocacy work, and is a former
      Shuttleworth Foundation fellow.
    </p>
  </div>
  <div class="col-md">
    <div class="text-center">
      <img class="img-thumbnail" style="max-height:180px;"
            src="{% static 'images/bastian-greshake-tzovaras.jpg' %}" alt="">
      <h4>Bastian Greshake&nbsp;Tzovaras<br>
        <small>Director&nbsp;of&nbsp;Research (part-time)</small>
      </h4>
    </div>
    <p>
      Bastian is Director of Research of the Open Humans Foundation, and
      a long term fellow at the Center for Research and Interdisciplinarity
      in Paris. Bastian has a long history in
      open science, including his work with
      <a href="https://opensnp.org/">openSNP</a>, which he co-founded in 2011.
    </p>
  </div>
  <div class="col-md">
    <div class="text-center">
      <img class="img-thumbnail" style="max-height:180px;"
            src="{% static 'images/mdulaney.jpg' %}" alt="">
      <h4>Mairi Dulaney<br>
        <small>Web Admin / Operations (volunteer)</small>
      </h4>
    </div>
    <p>
      Mairi is a former employee and continues to assist with
      operations as a volunteer. Her past and continuing work has
      contributed to free and open source software efforts.
    </p>
  </div>
</div>

<hr>
<h3>More about Open Humans</h3>

<p>
  Open Humans is a program of the 501(c)(3) nonprofit
  <a href="http://openhumansfoundation.org/">Open Humans Foundation</a>.
  The organization is based in the United States and is led by a nine-member
  Board of Directors, which includes seats elected by the Open Humans
  community.
</p>

<p>
  This project has been funded by grants from the
  <a href="http://www.rwjf.org/en/library/articles-and-news/2015/02/open-humans-project.html">Robert
  Wood Johnson Foundation</a>,
  <a href="http://www.knightfoundation.org/grants/201447980/">Knight Foundation</a>,
  and <a href="https://www.shuttleworthfoundation.org/">Shuttleworth Foundation</a>.
  Our 2015 launch was written up in
  <a href="http://www.forbes.com/forbes/welcome/?toURL=http://www.forbes.com/sites/arleneweintraub/2015/03/27/open-humans-network-invites-everyone-to-share-their-personal-health-data/&refURL=&referrer=">Forbes</a>,
  <a href="http://www.newsweek.com/new-online-platform-allows-you-open-source-your-body-316485">Newsweek</a>,
  <a href="http://www.scientificamerican.com/podcast/episode/donate-your-health-data-to-medical-science/">Scientific American</a>,
  and <a href="{% url 'news' %}">more</a>.
</p>

<h4>Website policies</h4>
<p>
  We have a very readable <a href="{% url 'terms-of-use' %}">Terms of Use</a>,
  <a href="{% url 'data-use-policy' %}">Data Use Policy</a>, and
  <a href="{% url 'community_guidelines' %}">Community Guidelines</a>. We
  welcome feedback on these documents publicly or privately.
</p>

<h4>Open Source</h4>
<p>
  We believe in sharing.
  <a href="https://github.com/OpenHumans/open-humans/">This website
  is an open source project</a>, as are as other modules, packages, and code
  in our technical stack. You're welcome to create "issues" in our
  repository and comment on our code. However, <b>please report security issues
  privately</b> by emailing us at
  <a href="mailto:security@openhumans.org">security@openhumans.org</a>.
</p>

<h4>Questions?</h4>
<p>
  If you have any questions for us, feel free to
  <a href="{% url 'contact_us' %}">contact us</a>, or join the
  <a href="http://slackin.openhumans.org/">Open Humans Community Slack</a>
  to chat with us and other members of the community.
</p>

{% endblock %}
