{% load static from staticfiles %}

<h3>Contribute to research &amp; citizen science!</h3>
<p class="bigger-text" style="margin-bottom:40px;">
  Through Open Humans, you can gather valuable data about yourself and find
  cool projects to share it with.
</p>
<div class="row hidden-xs">
  <div class="col-sm-4">
    <div class="about-step-div">
      <h3>1. Sign up</h3>
      <img src="{% static 'images/project-2-test.png' %}" class="img-rounded img-responsive img-center about-step-img">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="about-step-div">
      <h3>2. Connect data</h3>
      <img src="{% static 'images/connect-data.png' %}" class="img-rounded img-responsive img-center">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="about-step-div">
      <h3>3. Join projects</h3>
      <img src="{% static 'images/share-data.png' %}" class="img-rounded img-responsive img-center">
    </div>
  </div>
</div>
<div class="row visible-xs-block about-step-div-xs">
  <div class="col-xs-12">
    <img src="{% static 'images/project-2-test.png' %}">
    <h3>1. Sign up</h3>
  </div>
</div>
<div class="row visible-xs-block about-step-div-xs">
  <div class="col-xs-12">
    <img src="{% static 'images/connect-data.png' %}">
    <h3>2. Connect data</h3>
  </div>
</div>
<div class="row visible-xs-block about-step-div-xs">
  <div class="col-xs-12">
    <img src="{% static 'images/share-data.png' %}">
    <h3>3. Join projects</h3>
  </div>
</div>
