<div class="bigger-text">
  <p>
    <b>Be a part of research.</b>
    We'll recognize your contributions with badges on your profile page,
    invite you to talk to other community members in
    <a href="https://forums.openhumans.org/">our online forums</a>, and
    periodically post new activities, study updates, and relevant interviews
    in our newsletters and on
    <a href="https://blog.openhumans.org/">our blog</a>.
  </p>
  <p>
    <b>You decide when to share.</b>
    You have valuable data, and you'll decide when to share it. The data you
    provide will be private by default. You can choose which projects to
    share with. You can also opt to <a href="{% url 'public-data:home' %}">make
    some (or all) of your data public</a>, so anyone can access and research
    it!
  </p>
  <p>
    <b>Explore.</b>
    <a href="{% url 'home' %}#activities-list">Browse our activities list</a>
    to see the many potential data sources you can add, and interesting
    projects you can join and share your data with.
  </p>
</div>
