{% extends 'base.html' %}

{% load static from staticfiles %}
{% load utilities %}

{% block head_title %}Activities{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.0/imagesloaded.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
{% endblock %}

{% block main %}
<div class="grid" style="margin-top: 15px;">
  {% for activity_label, activity in activities.items %}
  <div class="panel panel-default item">
    <div class="panel-body"{% if activity.is_connected %} style="background: #EEF8F8; color: #777;"{% endif %}>
      <div class="row">
        <div class="col-sm-4">
          <img class="img-responsive" src="{% static activity.badge_path %}" alt="" style="margin-bottom:15px;">

          {% for label in activity.labels %}
          <span class="label {{ label.class }}"
            style="display: inline-block;">{{ label.name }}</span>
          {% endfor %}
        </div>

        <div class="col-sm-8">
          <div style="margin-bottom:10px;">
            <span class="h4">{{ activity.verbose_name }}</span>
          </div>

          {% if activity.leader %}
          <div style="margin-bottom: 10px;">
            {{ activity.leader}}
          </div>
          {% endif %}

          {% if activity.inst_or_org %}
          <div style="margin-bottom: 10px;">
            {{ activity.inst_or_org }}
          </div>
          {% endif %}

          <p>
            {{ activity.description }}
          </p>
        </div>
      </div>

      <hr>

      <center>
        {% url 'activities-grid' as activities_next %}
        {% if activity.data_source %}
          {% if activity.is_connected %}
            <b>Data source connected!</b><br>

            <span class="small">
              Manage data on <a href={% url 'my-member-research-data' %}>your
              research data page</a>
            </span>
          {% else %}
            {% if activity.info_url %}
            <a href="{{ activity.info_url }}"
              class="btn btn-xs btn-default">Visit the website</a>
            {% endif %}

            {# MPB 2016/04: I'd like it if the included partial could have #}
            {# btn-default style, not btn-primary. #}
            {% if activity.add_data_text and activity.add_data_url %}
              {% with text=activity.add_data_text href=activity.add_data_url class='btn-xs' next=activities_next %}
                {% include 'partials/import-button.html' %}
              {% endwith %}
            {% endif %}
          {% endif %}
        {% endif %}

        {% if activity.share_data %}
          {% if activity.is_connected %}
            <b>Project joined!</b>
          {% else %}
            {% with text="Join project" href=activity.join_url class='btn-xs' next=activities_next %}
              {% include 'partials/import-button.html' %}
            {% endwith %}
          {% endif %}
        {% endif %}
      </center>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
