{% extends 'base.html' %}

{% block main %}
<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Meet our network research members!</h2>
  </div>
  <div class="col-lg-4 col-sm-6 text-center">
    <div style="position:relative;max-width:400px;margin-left:auto;margin-right:auto;">
      <img class="img-responsive" src="http://placehold.it/400x200" alt="">
      <div style="position:absolute;left:2%;bottom:3%;max-width:22%;">
        <img class="img-circle img-responsive"
          src="http://placehold.it/80x80/eeeeee" alt="">
      </div>
    </div>
    <h4>American Gut<br/>
      <small>Rob Knight, PhD<br/>
        University of Colorado, Boulder CO</small>
    </h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.</p>
  </div>
  <div class="col-lg-4 col-sm-6 text-center">
    <div style="position:relative;max-width:400px;margin-left:auto;margin-right:auto;">
      <img class="img-responsive" src="http://placehold.it/400x200" alt="">
      <div style="position:absolute;left:2%;bottom:3%;max-width:22%;">
        <img class="img-circle img-responsive"
          src="http://placehold.it/80x80/eeeeee" alt="">
      </div>
    </div>
    <h4>Flu Near You: GoViral<br/>
      <small>Rumi Chunara, PhD<br/>
        Children's Hospital, Boston MA</small>
    </h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.</p>
  </div>
  <div class="col-lg-4 col-sm-6 text-center">
    <div style="position:relative;max-width:400px;margin-left:auto;margin-right:auto;">
      <img class="img-responsive" src="http://placehold.it/400x200" alt="">
      <div style="position:absolute;left:2%;bottom:3%;max-width:22%;">
        <img class="img-circle img-responsive"
          src="http://placehold.it/80x80/eeeeee" alt="">
      </div>
    </div>
    <h4>Harvard Personal Genome Project<br/>
      <small>George Church, PhD<br/>
        Harvard Medical School, Boston MA</small>
    </h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.</p>
  </div>
</div> <!-- row -->
<hr />
<div class="row">
  <div class="col-xs-12">
    <h4>Compatible activities</h4>
  </div>
  <div class="col-xs-12">
    <table class="table">
      <tr>
        <th>Activity</th>
        <th>Data type</th>
      </tr>

      <tr>
        <td>
          <a href="{% url 'social:begin' '23andme' %}?next={{ request.path }}">
            23andMe</a>
        </td>
        <td>Genotyping</td>
      </tr>
    </table>
  </div>
</div> <!-- row -->
{% endblock %}
