{% extends 'base.html' %}

{% load static from staticfiles %}

{% block head_title %}Activities{% endblock %}

{% block main %}
<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Meet our research network!</h2>
  </div>

  <div class="col-xs-12">
    <p>
      Open Humans members are invited to contribute to these research studies and
      activities. Research network members agree to share new data with their
      participants, enabling them to grow their Open Humans profiles.
    </p>
  </div>

  <div class="col-lg-4 col-sm-6 text-center">
    <div style="position:relative;max-width:400px;margin-left:auto;margin-right:auto;">
      <img class="img-responsive" src="{% static 'american_gut/images/american-gut-logo.jpg' %}" alt="">

      <div style="position:absolute;left:2%;bottom:3%;max-width:22%;padding:1%;background-color:#fff;border-radius:50%;">
        <img class="img-circle img-responsive"
          src="{% static 'american_gut/images/Rob-Knight-small.jpg' %}" alt="">
      </div>
    </div>

    <h4>
      American Gut<br>

      <small>Rob Knight, PhD<br>
        University of California, San Diego<br>
        San Diego, CA</small>
    </h4>

    <div class="activities-text-block">
      <p>
        Ever since Antonie van Leeuwenhoek discovered a vast diversity
        of microbes between his own teeth in the 17th century using a
        primitive microscope, the microbes inhabiting our bodies have
        fascinated us. In the last few years, radical advances in DNA
        sequencing have allowed us to examine&mdash;for the first
        time&mdash;the full extent of microbial diversity on or in our
        bodies and to explore possible linkages between microbes and a
        wide range of health and disease states.
      </p>
    </div>

    <div>
      <a class="btn btn-default btn-sm" href="http://americangut.org/">
        Learn more</a>

      {% if 'american_gut' not in user.member.connections %}
      {% with text='Connect this study' class='btn-sm' source=sources.american_gut %}
        {% include 'partials/import-button.html' %}
      {% endwith %}
      {% endif %}
    </div>
  </div>

  <div class="col-lg-4 col-sm-6 text-center">
    <div style="position:relative;max-width:400px;margin-left:auto;margin-right:auto;">
      <img class="img-responsive" src="{% static 'go_viral/images/goviral-logo.jpg' %}" alt="">

      <div style="position:absolute;left:2%;bottom:3%;max-width:22%;padding:1%;background-color:#fff;border-radius:50%;">
        <img class="img-circle img-responsive"
          src="{% static 'go_viral/images/Rumi-Chunara-small.jpg' %}" alt="">
      </div>
    </div>

    <h4>
      GoViral<br>

      <small>Rumi Chunara, PhD<br>
        NYU Polytechnic School of Engineering<br>
        Brooklyn, NY</small>
    </h4>

    <div class="activities-text-block">
      <p>
        The GoViral project enables volunteers to provide easy-to-collect
        specimens when sick with a respiratory infection, and get confirmation
        of what type of viral illness they have. By testing samples when
        symptoms occur, participants can validate symptomatic reports as well
        as enable a better understanding of the representativeness of
        self-reported data and symptom profiles for different acute respiratory
        illnesses. Aggregate, anonymous community data is also available in
        order to see what is circulating in your local community.
      </p>
    </div>

    <div>
      <a class="btn btn-default btn-sm" href="http://www.goviralstudy.com/">
        Learn more</a>

      {% if 'go_viral' not in user.member.connections %}
      {% with text='Connect this study' class='btn-sm' source=sources.go_viral %}
        {% include 'partials/import-button.html' %}
      {% endwith %}
      {% endif %}
    </div>
  </div>

  <div class="col-lg-4 col-sm-6 text-center">
    <div style="position:relative;max-width:400px;margin-left:auto;margin-right:auto;">
      <img class="img-responsive" src="{% static 'pgp/images/pgp-logo.jpg' %}" alt="">

      <div style="position:absolute;left:2%;bottom:3%;max-width:22%;padding:1%;background-color:#fff;border-radius:50%;">
        <img class="img-circle img-responsive"
          src="{% static 'pgp/images/George-Church-small.jpg' %}" alt="">
      </div>
    </div>

    <h4>
      Harvard Personal Genome Project<br>

      <small>George Church, PhD<br>
        Harvard Medical School<br>
        Boston, MA</small>
    </h4>

    <div class="activities-text-block">
      <p>
        The Personal Genome Project (PGP) is creating a freely
        available scientific resource that brings together genomic,
        environmental and human trait data. These data are donated by
        volunteers enrolled in a PGP study from our global network.
        Initiated by George Church at Harvard Medical School in 2005,
        the PGP has pioneered ethical, legal, and technical aspects
        related to the creation of public resources involving highly
        identifiable data like human genomes.
      </p>
    </div>

    <div>
      <a class="btn btn-default btn-sm"
        href="http://www.personalgenomes.org/harvard">Learn more</a>

      {% if 'pgp' not in user.member.connections %}
      {% with text='Connect this study' class='btn-sm' source=sources.pgp %}
        {% include 'partials/import-button.html' %}
      {% endwith %}
      {% endif %}
    </div>
  </div>
</div> <!-- row -->

<hr>

<div class="row" style="margin-top: 30px;">
  <div class="col-xs-12">
    <p>
      Researchers: interested in seeing your study here?
    <a class="btn btn-default btn-xs" href="{% url 'research' %}"
        style="margin-left: 20px;">
      <b>Learn about connecting your study</b></a>
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12">
    <h4>Compatible activities</h4>
  </div>

  <div class="col-xs-12">
    <table class="table">
      <tr>
        <th>Activity</th>
        <th>Data type</th>
        <th></th>
      </tr>

      <tr>
        <td>
          23andMe
        </td>

        <td>Genotyping data</td>

        <td style="width:160px;">
          {% url 'my-member-research-data' as research_data %}
          {% url 'activities:23andme:upload' as upload_23andme %}
          {% if 'twenty_three_and_me' in user.member.connections %}
            <a href="{{ research_data }}">Manage data on<br>research data page</a>
          {% else %}
            {% with text='Upload 23andMe data' class='btn-xs' href=upload_23andme %}
              {% include 'partials/import-button.html' %}
            {% endwith %}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td>
          Fitbit
        </td>

        <td>Health and activity data</td>

        <td style="width:160px;">
          {% url 'my-member-research-data' as research_data %}
          {% if 'fitbit' in user.member.connections %}
            <a href="{{ research_data }}">Manage data on<br>research data page</a>
          {% else %}
            {% with text='Import Fitbit data' class='btn-xs' source=sources.fitbit %}
              {% include 'partials/import-button.html' %}
            {% endwith %}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td>
          RunKeeper
        </td>

        <td>GPS activity data</td>

        <td style="width:160px;">
          {% url 'my-member-research-data' as research_data %}
          {% if 'runkeeper' in user.member.connections %}
            <a href="{{ research_data }}">Manage data on<br>research data page</a>
          {% else %}
            {% with text='Import RunKeeper data' class='btn-xs' source=sources.runkeeper %}
              {% include 'partials/import-button.html' %}
            {% endwith %}
          {% endif %}
        </td>
      </tr>
    </table>
  </div>
</div> <!-- row -->

<hr>

<div class="row">
  <div class="col-xs-12">
    <h3 class="page-header">Connected Past Studies</h3>
  </div>

  <div class="col-xs-12">
    <p>
      Research studies don't last forever. These studies are no longer open
      for enrollment, but their participants are able to connect their
      data to Open Humans. That gives their data a chance to live on in new
      studies!
    </p>
  </div>

  <div class="col-lg-4 col-sm-6 text-center">
    <div style="position:relative;max-width:400px;margin-left:auto;margin-right:auto;">
      <img class="img-responsive" src="{% static 'wildlife/images/wildlife-logo.jpg' %}" alt="">

      <div style="position:absolute;left:2%;bottom:3%;max-width:22%;padding:1%;background-color:#fff;border-radius:50%;">
        <img class="img-circle img-responsive"
          src="{% static 'wildlife/images/Rob-Dunn-small.jpg' %}" alt="">
      </div>
    </div>

    <h4>
      Wild Life of Our Homes<br>

      <small>Rob Dunn, PhD<br>
        North Carolina State University<br>
        Raleigh, NC</small>
    </h4>

    <div class="activities-text-block">
      <p>
        The Wild Life of Our Homes project is the first continental-scale study
        of the home microbiome. Over 1400 citizen scientists sampled four
        common surfaces in and around their homes; we used genetic methods to
        identify the bacteria, archaea and fungi on those surfaces, creating
        an atlas of home microbial diversity. We’re now examining the factors
        that influence microbial diversity in homes and how those microbes
        shape our health and well-being.
      </p>
    </div>

    <div>
      <a class="btn btn-default btn-sm"
          href="http://robdunnlab.com/projects/wild-life-of-our-homes/">
        Learn more</a>

      {% if 'wildlife' not in user.member.connections %}
      {% with text='Connect this study' class='btn-sm' source=sources.wildlife %}
        {% include 'partials/import-button.html' %}
      {% endwith %}
      {% endif %}
    </div>
  </div>

</div>
{% endblock %}
