{% extends 'base.html' %}

{% block main %}
<ul class="nav nav-pills below-navbar">
  <li class="active">
    <a href="#about" data-toggle="pill">About our guidelines</a>
  </li>

  <li><a href="#public-data" data-toggle="pill">Public Data Guidelines</a></li>

  <li><a href="#naming" data-toggle="pill">Naming Guidelines</a></li>

  <li>
    <a href="#study-websites" data-toggle="pill">
      Guidelines for Study Websites
    </a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="about">
    <h1>Community Guidelines</h1>

    <div>
      <p>Currently we have three guideline documents for the Open Humans
        community:</p>

      <ul id="table-of-contents">
        <li><a href="#public-data">Public Data Guidelines</a></li>
        <li><a href="#naming">Naming Guidelines</a></li>
        <li><a href="#study-websites">Guidelines for Study Websites</a></li>
      </ul>
    </div>
  </div>

  <div class="tab-pane" id="public-data">
    <h2>Public Data Guidelines</h2>

    <p class="small"><i>Last updated: August 20 2014</i></p>

    <p>Participants in the Open Humans: Public Data Sharing study generously
      make their data public under the
      <a href="http://creativecommons.org/publicdomain/zero/1.0/">Creative
        Commons Zero Public Domain Dedication</a> (v1.0 or later). The
      following usage guidelines are based on goodwill. These are not a legal
      contract, but we request you follow these guidelines when using data from
      our project.</p>

    <h4>Don't re-identify</h4>

    <p>If an individual has not intentionally shared their name/identity in
      their Open Humans profile, you should not make specific efforts to
      re-identify that individual from this data unless you meet the following
      guidelines:</p>

    <ul>
      <li>You inform Open Humans of your plans to perform this work.</li>
      <li>An ethics review board (e.g. an institutional review board) reviews
        and approves your study as human subjects research (i.e. it is not
        considered exempt).</li>
      <li>We privately receive any reports you plan to publish at least two
        weeks prior to publication and have an opportunity to contact you and
        your ethics board with concerns.</li>
    </ul>

    <h4>Acknowledge and cite where possible</h4>

    <ul>
      <li>Please acknowledge and cite the researchers who created the datasets
        shared by participants.</li>
      <li>Do not misrepresent Open Humans data as something you generated
        yourself.
      </li>
      <li>Please include a reference to these guidelines in any re-distribution
        of our data.</li>
      </ul>

    <h4>Share knowledge</h4>

    <ul>
      <li>Use standard identifiers where possible to assist others interested in
        finding work related to a sample or data set, and to enable participants
        to track research derived from their contributions.</li>
      <li>We encourage open access publication when possible.</li>
    </ul>

    <h4>Use at your own risk</h4>

    <ul>
      <li>Our data is offered "as is", without warranty of any kind.</li>
      <li>Our database will change, as participants may choose to withdraw and/or
        remove data.</li>
      <li>Any use you make of the data must conform to all applicable laws and
        regulations in a given jurisdiction.</li>
    </ul>

    <p>If you have suggestions for changes to these guidelines, please feel free
      to contact us.</p>
  </div>

  <div class="tab-pane" id="naming">
    <h2>Naming Guidelines</h2>
    <p class="small"><i>Last updated: August 20 2014</i></p>

    <p>Members of Open Humans must choose names and usernames that meet the
      following guidelines. These names are public and can uniquely identify
      their account.</p>

    <h4>No shared use</h4>
    <p>Open Humans accounts must represent individual Members, not
      organizations or positions within those organizations. Names and
      usernames must reflect this and may not imply shared use.</p>

    <h4>Real names are allowed, but not required</h4>
    <p>You may use your real name as your name or username (or both). You are
      not required to reveal your real name, but remember that your account's
      data and information might still be highly identifiable.</p>

    <h4>No impersonation</h4>
    <p>You may not use a name that implies you are a specific, identifiable
      person, unless that is your real name. If you have the same name as a
      well-known person to whom you are unrelated and are using your real name
      then you should state clearly on your userpage that you are unrelated to
      the well-known person.</p>

    <h4>Not disruptive or offensive</h4>
    <p>Examples of disruptive or offensive names or usernames are names that
      contain or imply profanity or personal attacks.</p>

    <h4>Not promotional</h4>
    <p>Your name or username should not promote an organization or product.</p>

    <h4>Not otherwise misleading or confusing</h4>
    <p>Your name or username should not be otherwise misleading or confusing.
      For example, you may not have a username that leads people to believe the
      account has permissions it does not have (e.g. "administrator" or
      "moderator").</p>
  </div>

  <div class="tab-pane" id="study-websites">
    <h2>Guidelines for Study Websites</h2>
    <p class="lead">
      Open Humans has the following practices for study websites that it
      expects connected studies to follow.
    </p>
    <hr>
    <h4>Data collection</h4>
    <ul>
      <li><p><b>Explain the data</b></p>
        <p>
          Give a plain English list of the data your study will access and
          store. Give these lists to your participants, and to your IRB.
        </p>
        <p>For example, instead of saying:
          <br>
          <span class="h6" style="margin-left:20px;">
            "We will access and store your 23andMe data."</span>
          <br>
          Say:
          <br>
          <span class="h6" style="margin-left:20px;">
            "We will access and store the following data from 23andMe: your
            profile ID, name, and complete genotyping data."</span>
        </p>
      </li>
      <li><p><b>Only ask for data you need</b></p>
        <p>
          Which data to collect? The possibilities can seem limitless. Try to
          only ask for the data you need. Be especially considerate regarding
          data that increases identifiability or is otherwise sensitive.
        </p>
        <p>
          For example, avoid unnecessary granularity, it makes data more
          identifiable. If someone's year of birth is sufficient for your
          research, don't ask for the month and day.
        </p>
      </li>
      <li><p><b>Be aware of existing de-identification standards</b></p>
        <p>
          The most well known standard for "de-identified data" is
          <a href="http://www.hhs.gov/ocr/privacy/hipaa/understanding/coveredentities/De-identification/guidance.html">
          HIPAA's safe harbor de-identification method</a>.
        </p>
        <p>
          In many research contexts HIPAA regulation does not apply, but you
          should be aware of what types of data are considered "identifiable"
          when you're deciding which data to collect and how to manage it.
        </p>
      </li>
      <li><p><b>Organize data according to type</b></p>
        <p>
          If you have data types that are very different, consider sharing them as
          separate units (e.g. "sequencing data" and "survey data") to facilitate
          your participants' downstream management of that data.
        </p>
      </li>
      <li><p><b>Give participants equal access to data</b></p>
        <p>
          Participants have a right to see and export data your study has
          generated about them. Give participants equal access to this data,
          and do not impose legal restrictions on their usage of it.
        </p>
        <p>
          For studies connected to Open Humans, they must also support participant
          authorization granting Open Humans direct access to their exportable
          data. (This can also be performed generically as an API allowing
          authorization for diverse third parties.)
        </p>
      </li>
    </ul>
    <hr>
    <h4>Security</h4>
    <ul>
      <li><p><b>Use SSL</b></p>
        <p>
          Use Secure Socket Layer (SSL) to encrypt interactions on the site
          (internal as well as external). This is required to protect user
          information, passwords, and other sensitive data that is transmitted.
          SSL should also be audited for using weak encryption algorithms and
          support for perfect forward secrecy with a tool like
          <a href="https://www.ssllabs.com/ssltest/">Qualys SSL Server Test</a>.
        </p>
      </li>
      <li><p><b>Hash passwords</b></p>
        <p>
          Passwords are sensitive data needed for account management, but there is
          no need to store them. Use well-established salt and cryptographic hash
          functions (e.g. bcrypt) to verify passwords without storing them, to
          minimize the damage a database breach could cause.
        </p>
      </li>
      <li><p><b>Monitor and limit admin access</b></p>
        <p>
          Have a policy for who has administrative access to servers and data.
          Revoke access when it is no longer needed.
        </p>
      </li>
      <li><p><b>Use standard software and services</b></p>
        <p>
          Security is hard to implement correctly, and standard web frameworks and
          packages exist that implement these for you (e.g. password hashing).
          Standard services, like platform cloud hosting, can also help by
          implementing and updating standard security tools (e.g. SSL).
        </p>
      </li>
      <li><p><b>Stay up to date</b></p>
        <p>
          Security practices constantly need updating. Be sure to update operating
          systems and software packages to stay up to date with the latest security
          updates.
        </p>
      </li>
      <li><p><b>Keep secrets secret</b></p>
        <p>
          Web security often involves the use of secret keys, passwords, and
          tokens, used to authenticate identity and encrypt interactions. These
          MUST be kept secret as local files or environment variables, and you
          should use encrypted communications to share these with other
          administrators.
        </p>
        <p>
          If a secret is accidentally leaked,
          <a href="https://help.github.com/articles/remove-sensitive-data/">e.g.
          in a code commit</a> (even if private!), make sure removal is complete
          (e.g. using git-filter-branch) but &ndash; more importantly &ndash;
          make sure this secret is invalidated and a new key or token is
          generated.
        </p>
      </li>
      <li><p><b>Backup your database</b></p>
        <p>
          Perform regular backups, and regularly test the data restoration process.
          It's easy to think you are performing backups correctly, until it's too
          late.
        </p>
      </li>
      <li><p><b>Minimize the usage of personal data</b></p>
        <p>
          It's trivial to identify a data set if someone's name or email is
          included. Minimize your export of personal data and, whenever possible,
          manage personal data as separate and not directly linked to research
          data. Anonymous internal identifiers can help retain links indirectly,
          but should be kept private.
        </p>
      </li>
    </ul>
  </div>
</div>
{% endblock main %}
