{% extends 'base.html' %}

{% block head_title %}Contact us{% endblock %}

{% block main %}
<h1>Contact us</h1>

<p>
  For general questions about the Open Humans site, please contact us at
  <a href="mailto:support@openhumans.org">support@openhumans.org</a>.
</p>

<h3>Public Data Sharing study</h3>

<p>
  For questions and concerns about the Public Data Sharing study, you may
  contact:

  <ul>
    <li>Study staff at <a
      href="mailto:support@openhumans.org">support@openhumans.org</a></li>
    <li>The Principal Investigator (Madeleine Ball, PhD) at
      <a href="mailto:madeleine@personalgenomes.org">
        madeleine@personalgenomes.org.</a></li>
  </ul>
</p>
{% endblock %}
