{% extends 'base.html' %}

{% block head_title %}Copyright policy{% endblock %}

{% block main %}
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Open Humans Copyright Policy</h2>
  </div>
  <div class="col-lg-12">
    <p>
      This policy explains how Open Humans responds to claims of unauthorized
      use of copyrighted text, images or links to allegedly infringing materials
      under the Digital Millennium Copyright Act (&ldquo;DMCA&rdquo;).
    </p>
    <h3>The Digital Millennium Copyright Act</h3>
    <p>
      <u>Section 512</u> of the DMCA lays out the legal requirements to
      formally report copyright infringement to a service provider like Open
      Humans. It also explains how the person who posted the disputed content
      can oppose a notice of alleged infringement by submitting a
      counter-notice.
    </p>
    <h3>First and Foremost: Do You Have Rights in a Copyrighted Work?</h3>
    <p>
      Remember that sending a copyright notice or counter-notice can have
      serious consequences, since the DMCA imposes legal and financial penalties
      for making fraudulent or bad-faith claims. It&rsquo;s important that you
      make sure you&rsquo;re the actual copyright holder or that you&rsquo;ve
      been authorized to act on a rights holder’s behalf before submitting a
      takedown notice.
    </p>
    <h3>How To Submit a Copyright Notice</h3>
    <p>
      To send us a notice about copyright infringement, you&rsquo;ll need to
      provide us the following information:
    </p>
    <ol>
      <li>
        A physical or electronic signature of the copyright owner or a person
        authorized to act on their behalf (typing your full name will do);
      </li>
      <li>
        Identification of the copyrighted work claimed to have been infringed
        (<i>e.g.</i>, a copy of or link to your original work or clear
        description of the materials allegedly being infringed);
      </li>
      <li>
        Identification of the infringing material and information reasonably
        sufficient to permit Open Humans to locate the material on our services
        (e.g., a link to the infringing post);
      </li>
      <li>
        Your contact information, including your address, telephone number and
        an email address;
      </li>
      <li>
        A statement that you have a good-faith belief that the use of the
        material in the manner asserted is not authorized by the copyright
        owner, its agent or the law; and
      </li>
      <li>
        A statement that the information in the notification is accurate, and,
        under penalty of perjury, that you are authorized to act on behalf of
        the copyright owner.
      </li>
    </ol>
    <p>
      You can report alleged copyright infringement by emailing the above
      information to
      <a href="mailto:dmca@personalgenomes.org">dmca@personalgenomes.org</a>.
    </p>
    <p>
      You can also mail a copyright notice to:
    </p>
    <p style="padding-left:40px;">
      Designated Copyright Agent<br>
      PersonalGenomes.org<br>
      423 Brookline Avenue #323<br>
      Boston, MA 02115
    </p>
    <h3>How Open Humans Responds to Copyright Claims</h3>
    <p>
      In response to a complete, properly submitted notice of alleged copyright
      infringement, we may remove or restrict access to the allegedly infringing
      material. If we do so, it&rsquo;s our policy to make a good-faith effort
      to notify the affected account holder.
    </p>
    <h3>When You Hear From Open Humans About a DMCA Notice</h3>
    <p>
      If we send you a message saying we&rsquo;ve received a DMCA notice about
      content you&rsquo;ve posted on Open Humans, please read it carefully. It
      will contain information about the nature of the takedown notice and your
      options.
    </p>
    <h3>How to File a Counter-Notice</h3>
    <p>
      If you receive a DMCA notification about content you&rsquo;ve posted and
      you believe that material was misidentified or removed in error, you can
      file a counter-notice by following the instructions below.
    </p>
    <p>
      To submit a counter-notice, please send us the following information:
    </p>
    <ol>
      <li>
        A physical or electronic signature (typing your full name will do);
      </li>
      <li>
        Identification of the material that has been removed or to which access
        has been disabled and the location at which the material appeared before
        it was removed or access to it was disabled (the description from the
        DMCA notice is enough);
      </li>
      <li>
        A statement under penalty of perjury that you have a good-faith belief
        that the material was removed or disabled as a result of mistake or
        misidentification of the material to be removed or disabled; and
      </li>
      <li>
        Your name, address and telephone number, and a statement that you
        consent to the jurisdiction of the federal district court for the
        judicial district in which your address is located, or if your address
        is outside of the United States, for any judicial district in which Open
        Humans may be found, and that you will accept service of process from
        the person who provided the copyright notification or an agent of such
        person.
      </li>
    </ol>
    <p>
      To submit a counter-notice, please respond to our original message
      letting you know about the removal and include the above information in
      the body of your reply.
    </p>
    <p>
      Note: If you re-post material removed in response to a DMCA
      notification, we may permanently suspend your account. If you believe
      content was removed in error, please consider filing a counter-notice
      instead of re-posting the material.
    </p>
    <h3>After You Submit a Counter-Notice</h3>
    <p>
      When we receive a valid counter-notice, we&rsquo;ll promptly forward a
      copy to the person who sent us the DMCA notice. If we aren&rsquo;t
      notified within 10 business days that the original reporter is seeking a
      court order to prevent further infringement of the material, we may
      replace or cease disabling access to the material that was removed.
    </p>
    <h3>Repeat Infringer Policy</h3>
    <p>
      Open Humans has a policy that provides for the termination in
      appropriate circumstances of account holders who are repeat infringers.
    </p>
  </div> <!-- col-lg-12 -->
</div> <!-- row -->
{% endblock %}
