{% extends 'base.html' %}

{% load static %}
{% load utilities %}

{% block head_title %}Research{% endblock %}

{% block main %}
<h3>Create projects on Open Humans</h3>

{% include 'direct-sharing/partials/about-projects.html' %}

<a href="{% url 'direct-sharing:overview' %}" class="btn btn-primary"
    style="margin-top:10px;margin-bottom:20px;"><b>Learn more about projects
    </b></a>
{% if user.is_authenticated and user.member and user.member.datarequestproject_set.all %}
<a href="{% url 'direct-sharing:manage-projects' %}" class="btn btn-default"
    style="margin-top:10px;margin-bottom:20px;"><b>Manage your projects
    </b></a>
{% else %}
<a href="{% url 'direct-sharing:manage-projects' %}" class="btn btn-default"
    style="margin-top:10px;margin-bottom:20px;"><b>Create a project
    </b></a>
{% endif %}

{% include 'partials/project-grants-blurb.html' %}

<hr>

<h3>Public data API</h3>

<img class="img-responsive section-highlight"
  src="{% static 'images/oh-public-data.png' %}">
<p>
  You don't need to set up a project to work with our public data. Get
  started right away with data sets some Open Humans members have
  generously chosen to share publicly!
</p>
<p>
  Data is publicly listed on <a href="{% url 'member-list' %}">members'
  public profiles</a>, and is also available
  through our <a href="{% url 'public-data-api' %}">Public Data API</a>.
  It's very easy to use &ndash; because the API only returns public data,
  no authentication is required.
</p>
<p>
  Users of the API are expected to follow our
  <a href="{% url 'community_guidelines' %}#public-data">guidelines for
  using public data</a>.
</p>
<a href="{% url 'public-data-api' %}" class="btn btn-default"
    style="margin-top:10px;margin-bottom:20px;"><b>Use our Public Data API
    </b></a>

<hr>

<h3>
  Data sources
</h3>

<p>
  Open Humans currently supports data from the following sources.
  This list evolves and expands as Open Humans supports new types of data.
</p>

<p>
  Are you a data holder? Want to see your data represented here? You can
  easily create a project on Open Humans to export your users data to their
  Open Humans accounts.
</p>

<p style="margin-top:40px;">
{% for label, source in sources.items %}
  <div style="width: 120px; display: inline-block; vertical-align: top; padding: 5px; position:relative;"
    class="text-center">
    {% badge source.badge %}

    {{ source.verbose_name }}
  </div>
{% endfor %}
</p>

{% endblock %}
