{% extends 'base.html' %}

{% block main %}
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Open Humans Data Use Policy</h2>
  </div>
  <div class="col-lg-12">
    <p>
      Open Humans strives to be a safe and transparent environment for you to receive,
      manage, and share your personal data, including data from health activities and
      research studies.
    </p>
    <p>
      We want you to know about our practices so that you can make good decisions about
      how you use Open Humans. This policy explains what information we collect about
      you, what we do with it, and how you can make choices about sharing it with
      others.
    </p>
    <p>
      Open Humans is a project of PersonalGenomes.org, a 501(c)(3) nonprofit founded in
      2008 and is dedicated to creating public genome, health, and trait data. Sharing
      data is critical to scientific progress, but has been hampered by traditional
      research practices. Our approach is to invite willing participants to publicly
      share their personal data for the greater good. Open Humans strives to make this
      possible by helping connect researchers and participants who wish to share data
      with each other.
    </p>
    <p>
      Please read this data use policy carefully. It applies to all interactions you have
      with the Open Humans website.
    </p>
    <h3>The Information We Collect</h3>
    <p>
      We collect some personal information from you to create an account that you can use
      to participate in Open Humans and to keep you safe and secure on our site.
    </p>
    <p>
      We also collect personal information to make sure Open Humans works properly and to
      improve your user experience. This may include using your information for
      analytical purposes.
    </p>
    <p>
      Below is a more detailed explanation of the information we collect and use.
    </p>
    <h4>Information We Collect Directly From You</h4>
    <p>
      When you create an account with Open Humans, we ask you to provide an email
      address, name, username, and password. Open Humans stores this information to help
      identify you when you log in, make it possible for you to manage and change
      information in your account, and build the Open Humans community.
    </p>
    <p>
      Once you’ve registered with Open Humans, we’ll ask you to create a user profile.
      The profile includes your name, your username, and you can add a profile picture
      and any other information you like in the &ldquo;About Me&rdquo; field.
    </p>
    <p>
      As long as you follow our <a href="{% url 'community_guidelines'%}#naming">Naming
      Guidelines</a>, you’re free to choose a pseudonym as your name and username.
    </p>
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>A note about inherent identifiability of your data</h5>
        <p>
          Even if you use a pseudonym, you should be aware that data could be connected
          to your identity.
        </p>
        <p>
          Your basic profile information on Open Humans is public information. Public
          information is exactly what it sounds like: anyone, including search engines
          and people who are not users of Open Humans, will be able to see it.
        </p>
        <p>
          Once you’ve created an account, you may import data from a variety of sources,
          such as research studies you’ve participated in. You can choose to share this
          data with researchers, other Open Humans members, or the public. Only the
          recipients you’ve selected will be granted access to your personal data.
        </p>
        <p>
          Even if you use a pseudonym for Open Humans, your data could be connected to
          your identity. The risk of this varies depending on the type of data, but it
          is often surprisingly easy to identify people.
        </p>
        <p>
          Some examples of identifiable data you may choose to share:
        </p>
        <ul>
          <li>
            <b>Demographic data.</b> Just three pieces of information &ndash; your birth
            date, sex/gender, and ZIP code &ndash; are enough to uniquely identify most
            individuals. If you share these, someone may use them to figure out who you
            are.
          </li>
          <li>
            <b>Genetic data.</b> Your genome data can be used to learn about your
            ancestors, and this information can be used to identify you. For example, a
            man’s Y chromosome can be used to predict his last name (or &ldquo;family
            name&rdquo;) &ndash; this method has been used to identify individuals from
            &ldquo;anonymous&rdquo; genomes. Identifying people from genetic data is
            likely to get easier as genealogy tools become more powerful.
          </li>
          <li>
            <b>Location data.</b> Even a tiny amount of location data is enough to give a
            strong clue to someone's identity. Most people spend their time in two
            locations: work and home. That combination is often unique, and could be used
            to identify you.
          </li>
        </ul>
      </div>
    </div>
    <h4>Information We Automatically Collect</h4>
    <p>
      We receive some information automatically when you visit Open Humans. This includes
      information about the device, browser, and operating system you use when accessing
      our site, your IP address, the website that referred you to Open Humans (if any),
      which pages you request and visit, and the date and time of each request you make
      to Open Humans.
    </p>
    <p>
      We may retain access logs containing this data for up to 120 days, and then delete
      them.
    </p>
    <h4>Cookie Policy</h4>
    <p>
      Cookies are small data files placed on your computer by websites you visit in order
      to help them remember certain information about you.
    </p>
    <p>
      When you log in to your account, Open Humans will place a cookie for the purposes
      of creating the session, knowing when you&rsquo;re logged in, and validating form
      submissions. The cookie contains an encrypted user identifier.
    </p>
    <p>
      Most browsers include an option to clear existing cookies or reject new ones.
      However, if you reject new cookies, portions of Open Humans will not function as
      intended.
    </p>
    <h3>How We Use or Disclose Your Information</h3>
    <p>
      We may use your personal information when needed to keep the site running, prevent
      abuse, and improve Open Humans. Your information is used internally only where
      necessary to provide our services.
    </p>
    <p>
      We will share your non-public personal data with others only under these
      circumstances:
    </p>
    <ul>
      <li>
        with your consent, and after letting you know what information will be shared and
        with whom, unless it is otherwise permitted in this policy.
      </li>
      <li>
        if we believe it is reasonably necessary to comply with a law, regulation, or
        valid legal process. If we are going to release your information, our policy is
        to provide you with notice unless we are prohibited from doing so by law or court
        order (e.g., an order under 18 U.S.C. &sect; 2705(b)). However, we may disclose
        your information without providing you with prior notice if we believe
        it&rsquo;s necessary to prevent imminent and serious bodily harm to a person.
      </li>
      <li>
        to third parties helping us offer and improve our service, such as those
        providing Open Humans technical tools and analytics services that help us
        understand how people use our service. We require those companies to observe the
        limitations in this data use policy.
      </li>
      <li>
        in rare cases, if you’re a participant in a study operated by Open Humans, with
        the Institutional Review Board (IRB) that oversees that study.
      </li>
    </ul>
    <p>
      We may also share aggregate information with others &ndash; for instance, with our
      funders &ndash; to help them understand our community and how it uses our service.
    </p>
    <p>
      If PersonalGenomes.org or Open Humans is involved in a reorganization, merger,
      acquisition or sale of our assets, your personal information may be transferred to
      another entity as part of that deal. If that happens, we will notify you and let
      you know what your options are.
    </p>
    <h3>Account Disabling</h3>
    <p>
      You may disable your Open Humans account at any time. This means your user profile
      will no longer be visible on our site, and other Open Humans users will no longer
      have access on our site to the personal data you’ve shared with them.
    </p>
    <p>
      We may also continue to display some information you have made publicly available
      through Open Humans (comments, for example).
    </p>
    <h3>Changes to This Policy</h3>
    <p>
      We may revise this Data Use Policy from time to time. The most current version of
      the policy will govern our use of your information and will always be at
      <a href="/data-use/">https://openhumans.org/data-use/</a>. If we make changes that
      we believe will substantially alter your rights, we will email you and prominently
      display a notice on our site 7 days before we make those changes.
    </p>
    <h3>Contact</h3>
    <p>
      Open Humans welcomes questions, concerns, and feedback about this policy. If you
      have suggestions for us, feel free to let us know at
      <a href="mailto:support@openhumans.org">support@openhumans.org</a>.
    </p>
  </div> <!-- col-lg-12 -->
</div> <!-- row -->
{% endblock %}
