{% extends 'base.html' %}

{% block head_title %}Open Humans Foundation - Executive Director{% endblock %}

{% block main %}
<h2>Job Posting: Executive Director, Open Humans Foundation</h2>

<h3>Position Description and Core Responsibilities</h3>

<p style="font-size:18px;line-height:1.6;">
  Open Humans Foundation is seeking an energetic and experienced leader to
  sustain and grow our organization. Reporting to the Board of Directors, the
  Executive Director is responsible for the programmatic and financial health
  and stability of the organization – and its further development. The ED
  provides oversight to programs, projects, and partnerships and will work
  closely with the Board in the areas of strategy, fundraising, and financial
  management. The ED is the primary point of contact in the community and will
  represent the values and mission of OHF.  The ED should share our vision –
  and also have the background and ability to extend it.
</p>

<p style="font-size:18px;line-height:1.6;">
  The ideal candidate will be a skilled communicator comfortable in the role of
  chief fundraiser and leader of OHF. They will have experience in a senior
  management position in a small organization with direct supervisory
  responsibility for administration, program, budget, and fundraising,
  preferably in an organization focused on medical science. The candidate will
  have expertise in user-engagement strategy and a demonstrable belief in the
  power of data to generate meaning and further scientific progress. The
  candidate must demonstrate the ability to lead with transparency, to balance
  teamwork with autonomy and to make hard decisions.
</p>

<p style="font-size:18px;line-height:1.6;">
  <b>Fundraising:</b>
</P>
<ul style="font-size:18px;line-height:2">
  <li>Cultivate and maintain major donors</li>
  <li>
    Execute creative campaigns to increase individual and institutional
    contributions</li>
  <li>Seek grant-based resources</li>
</ul>

<p style="font-size:18px;line-height:1.6;">
  <b>Administration:</b>
</p>
<ul style="font-size:18px;line-height:2">
  <li>Ensure that existing grants are well-managed and deliverables are met</li>
  <li>Supervise the team and grow it</li>
  <li>Build and maintain relationships with important partners</li>
  <li>Oversee the communications strategy for OHF.</li>
  <li>Lead the strategy with the guidance and support of the board.</li>
</ul>

<p style="font-size:18px;line-height:1.6;">
  <b>Program:</b>
</p>
<ul style="font-size:18px;line-height:2">
  <li>
    Set forth the vision of programming, based on the mission of the
    organization and the needs of its several communities – individual data
    providers, researchers, funders, policy makers</li>
  <li>
    Ensure that programmatic goals are aligned with available resources</li>
  <li>
    Monitor the delivery of the data platform and APIs and other services of
    the organization (GET Conference, PGP Network)</li>
</ul>

<p style="font-size:18px;line-height:1.6;">
  <b>Work Schedule:</b> fulltime and dedicated
</p>

<h3>About Open Humans Foundation</h3>

<p style="font-size:18px;line-height:1.6;">
  The Open Humans Foundation supports the vision of humans having access to
  their own data and sharing it at their own option with others for the benefit
  of science and humanity.
</p>

<p style="font-size:18px;line-height:1.6;">
  OHF is a small and dynamic research and citizen participation organization
  with an 8-year history of dramatic change from a small, 10-person
  public-genome project to a much broader platform for citizen participation
  for data collection and sharing. We collect and share microbiomes, trait
  data and other health data in addition to genomes. Over the past eight years
  we have fostered the creation of the
  <a href="http://www.personalgenomes.org/harvard/global-network">PGP Network</a>,
  the <a href="http://www.getconference.org/">Genomes Environment Traits
  Conference</a>, and the <a href="https://www.openhumans.org">Open Humans Project</a>.
</p>

<p style="font-size:18px;line-height:1.6;">
  The organization is now ready to scale, and is looking for an executive
  director who can help us to do so. We plan to reach a much broader
  data-supplying public as well as more researchers. We intend to become an
  even stronger voice advocating for user access to data with the option of
  sharing it with researchers and/or the public at large, at their option.
</p>

<p style="font-size:18px;line-height:1.6;">
  OHF is committed to providing equal employment opportunity to qualified
  persons without regard to race, sex, color, religion, national origin,
  citizenship, marital status, sexual orientation, age, disability, military,
  veteran status or any other protected status or classification under
  federal, state or local law.
</p>

<p style="font-size:18px;line-height:1.6;">
  <b>To Apply:</b> Please submit thoughtful cover letter and résumé in PDF
  format (single document preferred but not required) to
  <a href="mailto:ed-recruitment@openhumans.org">ed-recruitment@openhumans.org</a>,
  with "Executive Director" and your name in the Subject Line. Alternatively,
  email one of the Open Humans Foundation board members directly (George Church,
  Misha Angrist, John Cammack, Esther Dyson, Steven Keating, Michelle Meyer,
  Ryan Phelan). No phone calls.
</p>
{% endblock %}
