{% extends 'base.html' %}

{% block head_title %}Open Humans Foundation - Executive Director{% endblock %}

{% block extra_css %}
<style>
p {
  font-size: 18px;
  line-height: 1.5;
}
ul {
  font-size: 16px;
}
ul>li {
  margin-bottom: 15px;
}
</style>
{% endblock %}

{% block main %}
<h2>Job Posting: Executive Director, Open Humans Foundation</h2>

<h3>Position Description and Core Responsibilities</h3>

<p>
  Open Humans Foundation (formerly
  <a href="http://www.personalgenomes.org/organization/">PersonalGenomes.org</a>)
  is seeking an energetic and experienced leader to sustain and develop our
  organization, not just into a larger version of its current self, but into
  one that will find new and more effective ways to support its mission.
  That mission is: public availability and research use of genetic and
  matching phenotypic data, which requires support ranging from public policy
  to individual data donation.
</p>

<p>
  Reporting to the Board of Directors, the Executive Director is responsible
  for the programmatic and financial health and stability of the organization,
  and its further development. The ED provides direction and oversight to
  programs, projects, and outside partnerships and will work closely with the
  Board in the areas of strategy, fundraising, and financial management.
</p>

<p>
  The ED is the primary point of contact with the community &ndash; both members
  of the public and institutions - and will represent the values and mission of
  OHF. The ED should share our vision and also have the background, leadership
  skills, and ability to extend it.
</p>

<p>
  The ideal candidate will be a skilled communicator comfortable in the role of
  coalition builder, chief fundraiser and leader of OHF. They should be
  knowledgeable in relevant policy issues and be comfortable interacting with
  policymakers, advocacy organizations and thought leaders. They will have
  experience running a small organization with direct supervisory
  responsibility for administration, program, budget, and fundraising. The
  candidate will have expertise in user-engagement strategy and partnerships,
  and a commitment to the power of data to generate meaning and further
  scientific progress. The candidate must demonstrate the ability to lead with
  transparency, to engage with leaders from outside their own communities, to
  balance teamwork with autonomy and to make hard decisions.
</p>

<hr>
<p>
  <b>Coalition Building:</b>
</p>
<ul>
  <li>
    Work effectively with other organizations that may have conflicting
    visions
  </li>
  <li>
    Be comfortable interacting with stakeholders across the human research
    domain in government, academia, the private sector, the nonprofit world
    and the public at large
  </li>
  <li>
    Become a thought leader in matters related to the organization’s mission
    and ensure that OHF is seen as a leader on these same issues
  </li>
</ul>
<p>
  <b>Fundraising:</b>
</p>
<ul>
  <li>Cultivate and maintain major donors</li>
  <li>
    Execute creative campaigns to increase individual and institutional
    contributions</li>
  <li>Seek grant-based resources</li>
</ul>
<p>
  <b>Administration:</b>
</p>
<ul>
  <li>Ensure that existing grants are well-managed and deliverables are met</li>
  <li>Supervise the team and grow it as necessary</li>
  <li>Build and maintain relationships with important partners</li>
  <li>Oversee the communications strategy for OHF.</li>
  <li>
    Work effectively with the Board to develop OHF’s vision and strategic
    initiative based on the mission of the organization and the needs of its
    stakeholders: individual data providers, researchers, funders,
    policy-makers, and other institutions, interest groups and businesses
  </li>
  <li>
    Communicate effectively with the Board on all other significant OHF matters
  </li>
  <li>
    Communicate OHF’s vision and strategic initiatives to staff
  </li>
  <li>
    Meet the administrative needs and requirements of the organization and
    improve internal policies and practices as needed
  </li>
</ul>

<p>
  <b>Program:</b>
</p>
<ul>
  <li>
    Assume day-to-day responsibility for: 1) implementing OHF’s vision and the
    strategic initiatives developed with the Board; and 2) communicating these
    to collaborating organizations, other stakeholders and the public
  </li>
  <li>
    Ensure that programmatic goals are aligned with available resources
  </li>
  <li>
    Monitor the delivery of the data platform and APIs and other services of
    the organization (GET Conference, PGP Network)
  </li>
  <li>
    Reach out to the broader public, both for individual data donations and for
    educational outreach. (Crowdfunding a secondary issue.)
  </li>
</ul>

<p>
  <b>Work Schedule:</b> fulltime and dedicated
</p>

<p>
  <b>Location:</b> negotiable, but past and present organization headquarters
  have included Boston and New York City
</p>

<p>
  <b>Start Date:</b> ASAP, but no later than September 1, 2016
</p>

<p>
  <b>Salary and Benefits:</b> Competitive
</p>

<hr>

<h3>About Open Humans Foundation</h3>

<p>
  The Open Humans Foundation supports the vision of humans having access to
  their own data and sharing it at their own option with others for the
  benefit of science and humanity.
</p>

<p>
  OHF is a small and dynamic research and citizen participation organization
  with an 8-year history of dramatic change from a nonprofit organization
  created to support what began as a small, 10-participant public-genome
  project (the Harvard Personal Genome Project) to a much broader platform
  for citizen participation for data collection and sharing. We collect and
  share microbiomes, trait data and other health data in addition to genomes.
  Over the past eight years we have fostered the creation of the
  <a href="http://www.personalgenomes.org/harvard/global-network">PGP Network</a>,
  the <a href="http://www.getconference.org/">Genomes Environment Traits
  Conference</a>, and the <a href="https://www.openhumans.org">Open Humans Project</a>.
</p>

<p>
  The organization is now ready to scale, and is looking for an executive
  director who can help us do so. We plan to reach a much broader
  data-supplying public as well as more researchers. We intend to become an
  even stronger voice advocating for user access to data with the option of
  sharing it with researchers and/or the public at large, at their option.
</p>

<p>
  The board of the Open Humans Foundation includes George Church, Misha
  Angrist, John Cammack, Esther Dyson, Steven Keating, Michelle Meyer, Ryan
  Phelan and Juan Enriquez.
</p>

<p>
  OHF is committed to providing equal employment opportunity to qualified
  persons without regard to race, sex, color, religion, national origin,
  citizenship, marital status, sexual orientation, age, disability, military,
  veteran status or any other protected status or classification under
  federal, state or local law.
</p>

<hr>

<p><b>To Apply:</b></p>
<p>
  Please submit a succinct cover letter in which you share
  with us your vision of how the OHF can grow to be even more effective. We do
  not expect you to have perfect knowledge of OHF, but we are interested in your
  views of the needs and challenges in this space, and in how you believe that
  OHF can uniquely contribute to open genotype-phenotype research data and
  related goals.  In addition, please submit your resume or c.v.
</p>
<p>
  Please submit in PDF format (single document preferred but not required) to
  <a href="mailto:ed-recruitment@openhumans.org">ed-recruitment@openhumans.org</a>,
  with "Executive Director" and your name in the subject line.  Kindly copy
  <a href="mailto:John.cammack2009@gmail.com">John.cammack2009@gmail.com</a>.
  No phone calls please.
</p>
{% endblock %}
