{% extends 'base.html' %}

{% block head_title %}GDPR{% endblock %}

{% block main %}
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Open Humans &amp; GDPR</h2>
  </div>
  <div class="col-lg-12">
    <p>
      Open Humans is committed to empowering you with your personal data while
      protecting your rights. Our site is based in the United States and
      complies with all applicable US laws. In addition, we comply with the
      European Union General Data Protection Regulation (GDPR). These policies
      are applied to all members, irrespective of their country of origin.
    </p>
    <p>
      Below are some highlights of how we prioritize your right to determine
      how your personal data is managed and shared.
    </p>

    <h3>You can do it yourself.</h3>
    <p>
      We want to empower you to do it yourself &ndash; so you don't need to
      wait for our response. We strive to automate all actions regarding your
      management of your personal data.
    </p>
    <h3>Right to access</h3>
    <p>
      All the data that projects have put into your Open Humans account is
      available to you. You can download copies of these data at any time
      from the relevant project pages.
    </p>
    <p>
      You can also see an <a href="{% url 'my-member-data' %}">overview of
      all your data files</a> using your account management pages.
    </p>
    <h3>Right to portability</h3>
    <p>
      Your data's portability to third parties, and your control over this,
      is an important aspect of Open Humans. This enables you to participate
      in various projects related to your personal data &ndash; from data
      retrievals, to data analyses, to data donations.
    </p>
    <p>
      We are not the gatekeepers to your data: you are. Anyone can
      <a href="{% url 'create' %}">create a project</a> on the site.
      Projects can immediately use our APIs and interact with members
      that join it. If you join and authorize that project, it
      has access: it's between you and the project.
    </p>
    <p>
      However, we also want to balance this with the safety of our community
      members. For a project to be available to all members (i.e. publicly
      listed and without a user cap), it must agree to our
      <a href="{% url 'community_guidelines' %}#project">project guidelines</a>
      and go through a <a href="{% url 'direct-sharing:project-approval' %}">community
      review process</a>.
    </p>
    <h3>Right to privacy</h3>
    <p>
      As outlined by our <a href="{% url 'data-use-policy' %}">data use policy</a>:
      unless we are required to do so for legal reasons, we will not share
      your private personal data without your affirmative consent.
      You choose when to share.
    </p>
    <h3>Right to erasure</h3>
    <p>
      To delete files related to a specific project you're a member of:
    </p>
    <ul>
      <li>Go to the project activity page</li>
      <li>Withdraw from the project</li>
      <li>When asked, say you also wish to delete associated data files</li>
    </ul>
    <p>
      If you have withdrawn from a project in the past but didn't delete that
      project's files from your account, that option is available on the project's
      activity page.
    </p>
    <p>
      Projects you've shared data with might have their own copies of your
      personal data, outside Open Humans. How they manage this data is according
      to their agreement with you. We provide tools to facilitate members making
      data erasure requests for projects that support this.
    </p>
    <p>
      To delete your account entirely, go to your
      <a href="{% url 'my-member-settings' %}">account management page</a>.
    </p>
    <p>
      When you delete your account or files, they are immediately removed. Your
      data is deleted in our database, and any files you've added can no longer
      be accessed by the website or by projects you've authorized.
    </p>
    <p>
      Because Open Humans might be the only place a member has stored highly
      valuable data, we also want to protect members from accidental data loss.
      Secure back-ups for our database and files are performed and kept in
      restricted storage, and are permanently deleted after 60 days.
    </p>
    <h3>Community leadership</h3>
    <p>
      <a href="http://openhumansfoundation.org/">Open Humans Foundation</a> is
      a nonprofit organization. The closest thing we have to "owners" is our
      board of directors, and we want the community to "own itself" at this
      highest level. Reflecting this, three of our nine board seats are
      elected by the members of Open Humans.
    </p>
    <h3>Project features for GDPR compliance</h3>
    <p>
      In addition to our own site complying with GDPR, we enable the projects
      that operate within it to also comply. To that end, we have features on
      our site that enable this &ndash; e.g. the ability to support data erasure
      requests, with email notifications and/or an API webhook for full
      automation.
    </p>
    <h3>Transparency</h3>
    <p>
      We believe respect for your personal data means you should have
      transparency. In addition to the information on this page,
      <a href="https://github.com/OpenHumans/open-humans/">our website's
      software is open source</a> and <a href="http://slackin.openhumans.org">our
      community chatroom</a> is available for anyone to join. We would love to
      have you join!
    </p>
    <h3>Contacting us</h3>
    <p>
      We have a <a href="http://slackin.openhumans.org">community chatroom</a>
      &ndash; we'd love for you to use it! We believe in transparency and we
      like to have questions and concerns raised within the community.
    </p>
    <p>
      We also receive email at <a href="mailto:support@openhumans.org">
      support@openhumans.org</a>, and our Records of Processing Activities
      Report (per GDPR Article 30) contains contact information for our
      organization and data protection officer.
    </p>
  </div> <!-- col-lg-12 -->
</div> <!-- row -->
{% endblock %}
