{% extends 'base.html' %}

{% block head_title %}GDPR{% endblock %}

{% block main %}
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">GDPR &amp; Open Humans</h2>
  </div>
  <div class="col-lg-12">
    <p>
      While intended only for United States residents (as stated in our
      <a href="{% url 'terms-of-use' %}">terms</a>), Open Humans is committed
      to empowering you to access and control your personal data. (Indeed,
      this is arguably interchangeable with our mission!) As such, we strive to
      meet the standards of the European Union General Data Protection
      Regulation (GDPR). We also provide features to enable projects using
      Open Humans to follow GDPR standards, but cannot guarantee that projects
      running in the site are GDPR compliant.
    </p>
    <p>
      As a modest nonprofit
      <a href="https://www.github.com/OpenHumans/open-humans/">open source
      project</a>, we are not ready to make a legal claim of GDPR
      compliance. Instead, we've documented below how our features support
      user rights enumerated in GDPR, and we invite your feedback on how
      to improve this overview, offers of assistance, &amp; and what
      further improvements we might make.
    </p>
    <p>To contact our individual(s) serving in the role of Data Protection
      Officer regarding these and other issues described by the GDPR,
      please email <a
      mailto="support@openhumans.org">support@openhumans.org</a> and include
      "GDPR" somewhere in the subject line. We also encourage you to create
      issues <a href="https://www.github.com/OpenHumans/open-humans/">in our
      Github repository</a>, and chat with us in our Slack chatroom, which you
      can join via
      <a href="http://slackin.openhumans.org">slackin.openhumans.org</a>.
    </p>
    <ul>
      <li><a href="#1-data-access-and-control">1. Data Access and Control</a>
        <ul>
          <li><a href="#1-1-imported-data">1.1 Imported data</a></li>
          <li><a href="#1-2-public-profile-and-account-data">1.2 Public
            profile and account data</a></li>
        </ul>
      </li>
      <li><a href="#2-security">2. Security</a></li>
      <li><a href="#3-features-for-open-humans-projects">3. Features for Open
        Humans projects</a></li>
    </ul>
    <h3 id="1-data-access-and-control">1. Data Access and Control</h3>
    <h4 id="1-1-imported-data">1.1 Imported data</h4>
    <p>
      Most personal data managed by Open Humans is added to your account via
      a data source activity. This can range from genetic data to social media
      and more.
    </p>
    <ul>
      <li><p>
        <b>Access:</b> If and when an activity adds data to your account,
        this is immediately and always available as a file you may download on
        the activity page.
      </p></li>
      <li><p>
        <b>Control of content:</b> Adding data via activities is an opt-in
        process: you must join an activity to authorize it to add data to your
        account.
      </p></li>
      <li><p>
        <b>Sharing:</b> As described in our
        <a href="{% url 'data-use-policy' %}">Data Use Policy</a>, Open Humans
        will not share individual personal data with others without your
        authorization. You can choose to share subsets of your data with
        activities that request authorization. You can rescind this at any
        time by deauthorizing the relevant activity. In addition, if you activate
        the <a href="{% url 'public-data:home' %}">public data sharing
        feature</a>, you turn public sharing status on &amp; off on an activity
        page.
      </p></li>
      <li><p>
        <b>Deletion:</b> You can delete data at any time by deauthorizing an
        activity (which prevents new data from being added) and electing to
        remove associated data.
      </p></li>
    </ul>
    <h4>1.2 Public profile and account data</h4>
    <p>
      We also collect some data related to your public profile, including:
      username, name, bio, profile image, and participation in projects.
      If you have activated the <a href="{% url 'public-data:home' %}">public
      data sharing feature</a> this may also contain personal data you have
      chosen to publicly share. Private account data includes your email and
      account configurations (e.g. news &amp; updates, allowing other
      members to contact you).
    </p>
    <ul>
      <li><p>
        <b>Access:</b> You can see your own public
        profile{% if request.user.is_authenticated %} at
        <a href="{% url 'member-detail-direct' request.user.username %}">
        https://www.openhumans.org/{{ request.user.username }}</a>{% endif %},
        and the information you see in it is the same as is presented to other
        users. Your settings are available in your
        <a href="{% url 'my-member-settings' %}">member settings page</a>.
      </p></li>
      <li><p>
        <b>Control of content:</b> You can
        <a href="{% url 'my-member-profile-edit' %}">edit public profile
        content</a>, and adjust settings on
        <a href="{% url 'my-member-settings' %}">your account settings
        page</a>. If you are publicly sharing data from an activity, you can
        control public sharing status on the activity's page. Membership
        status for specific activities (the "badges" on your profile) can
        be made visible or hidden via an option on the activity page.
      </p></li>
      <li><p>
        <b>Sharing:</b> Your public profile data is shared publicly.
        Unless you authorize it, your private account data (including your
        email address) will not be shared with third parties, except
        according to exceptions described in our
        <a href="{% url 'data-use-policy' %}">Data Use Policy</a>.
      </p></li>
      <li><p>
        <b>Deletion:</b> Some of these data can be removed by you changing
        the content or setting. All data can be deleted with an account
        deletion, which deletes these entries in our database.
      </p></li>
    </ul>
    <h3 id="2-security">2. Security</h3>
    <p>
      We strive to follow best practices with security, including keeping our
      software tools up-to-date. We use third party service providers when we
      judge them to be a more secure solution. ("Do it yourself" approaches
      can be a major cause of security issues.)
    <ul>
      <li><p>
        <b>Encrypted traffic:</b> Open Humans enforces the use of HTTPS
        to encrypt traffic user-facing and API web traffic.
      </p></li>
      <li><p>
        <b>Data encrypted at rest:</b> Our database is managed by Heroku
        and is encrypted at rest. Files are managed by Amazon web services
        Secure Simple Storage (S3) and are also encrypted at rest.
      </p></li>
      <li><p>
        <b>Limited logging:</b> We limit retention of server access logs to
        a maximum of 120 days.
      </p></li>
      <li><p>
        <b>Cookies:</b> Open Humans limits the use of cookies to a token
        identifying a user to the platform directly. This is necessary to
        allow you to log in to your account. No information is stored in the
        cookie directly, and it is not used outside the website itself.
      </p></li>
    </ul>
    <h3 id="3-features-for-open-humans-projects">3. Features for Open Humans projects</h3>
    <p>
      Projects in Open Humans have the ability to add data to you account,
      and/or access data you authorize us to share with them. The following
      features help enable projects to meet GDPR requirements.
    </p>
    <ul>
      <li><p>
        <b>Data deletion in Open Humans:</b> Projects can delete any data
        they have deposited in Open Humans. This allows them to complete data
        deletion requests made by users.
      </p></li>
      <li><p>
        <b>Project member removal:</b> Projects can further honor deletion
        requests by removing authorizations and membership status of a
        project member.
      </p></li>
      <li><p>
        <b>Data and user deletion outside Open Huamns:</b> We provide
        a webhook that notifies projects when a member rescinds
        project authorization within Open Humans, enabling the project
        to perform account and/or data deletion for users on their end.
      </p></li>
    </ul>
  </div> <!-- col-lg-12 -->
</div> <!-- row -->
{% endblock %}
