{% extends 'base.html' %}

{% load static from staticfiles %}
{% load utilities %}

{% block head_title %}Home{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.0/imagesloaded.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
{% endblock %}

{% block body_main %}

{% if not request.user.is_authenticated %}
<div class="container home-title-pic-div">
  <div class="row">
    <div class="col-sm-7 home-title-div">
      <div style="text-align:center;">
        <h1>Open Humans</h1>
        <h4 class="subtitle">
          Participate&nbsp;in&nbsp;research. Share&nbsp;your&nbsp;data. Learn&nbsp;more&nbsp;together.
        </h4>
        <a href="{% url 'about' %}" class="btn btn-default" style="margin-top:15px;">Learn more</a>
      </div>
    </div>
    <div class="col-sm-5 home-pic-div">
      <img class="home-pic hidden-xs" src="{% static 'images/your-data-plus-you-sketch.jpg' %}">
      <img class="home-pic visible-xs-block" src="{% static 'images/your-data-plus-you-sketch.jpg' %}">
    </div>
  </div>
</div>
{% endif %}

<div class="container">
  {% if not request.user.is_authenticated %}<hr>{% endif %}
  <h3 class="text-center">Featured projects</h3>
  <div class="grid row featured-projects">
  {% for activity in featured_projects %}
  {% include 'partials/activity-panel.html' %}
  {% endfor %}
  </div>
</div>

<div class="container activity-feed">
  <hr>
  <h3 class="text-center">Recent activity</h3>
  <div class="row activity-feed-row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-5 col-lg-offset-1">
      {% for event in recent_activityfeed_1 %}
        {% include 'partials/activity-feed-item.html' %}
      {% endfor %}
    </div>
    <div class="hidden-xs hidden-sm col-md-6 col-md-offset-0 col-lg-5">
      {% for event in recent_activityfeed_2 %}
        {% include 'partials/activity-feed-item.html' %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="container">
  <hr>
  <h3 class="text-center">Recent news</h3>
  <div class="grid row">
    {% for post in recent_blogposts %}
    <div class="item col-sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          {% if post.image_url %}
          <img class="blogpost-image img-thumbnail" src="{{ post.image_url }}">
          {% endif %}
          <h5>{{ post.title }}<br>
          <small>{{ post.published_day }}</small></h5>
          <p class="blogpost-text hidden-xs"><small>
            {{ post.summary_long|safe }}
          </small></p>
          <p class="blogpost-text visible-xs-block"><small>
            {{ post.summary_short }}<br><a href="{{ post.rss_id }}">Read more on our blog!</a>
          </small></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
