{% extends 'base.html' %}

{% load static from staticfiles %}

{% block body_main %}

{% if user.is_authenticated %}
<div class="background-horizontal-block">
  <div class="container">
    <div class="panel-over-full-background col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-xs-12">
          {% if messages %}
            {% for message in messages %}
            <div{% if message.tags %} class="message {{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
          {% endif %}
        </div>
      </div>

      <div class="row" style="padding-bottom:15px;">
        <div class="col-md-12 text-center">
          <h4>Welcome, {{ user.username }}!</h4>

          <p>Where would you like to go from here?</p>

          <div class="row-fluid">
            <hr class="visible-xs-block" style="margin:20px;">

            <div class="col-sm-4">
              <p>
                <a class="btn btn-primary btn-sm"
                    href="{% url 'my-member-research-data' %}">
                  Research data
                </a>
              </p>

              <p>
                Import and manage data from studies and activies.
              </p>
            </div>

            <hr class="visible-xs-block" style="margin:20px;">

            <div class="col-sm-4">
              <p>
                <a class="btn btn-primary btn-sm"
                    href="{% url 'my-member-dashboard' %}">
                  Profile page
                </a>
              </p>

              <p>
                Add a profile pic and tell people about yourself!
              </p>
            </div>

            <hr class="visible-xs-block" style="margin:20px;">

            <div class="col-sm-4">
              <p>
                <a class="btn btn-primary btn-sm"
                    href="{% url 'my-member-settings' %}">
                  Account settings
                </a>
              </p>

              <p>
                Manage email, password, and contact preferences.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="call-to-action-1">
  <div class="container">
    <h1>Open Humans</h1>

    <h3 class="subtitle">
      Researchers and participants, sharing data with each other.
    </h3>

    <p class="lead">Join our free community to connect with studies!</p>

    <a class="btn btn-lg btn-primary signup-link"
      href="{% url 'account_signup' %}">Become a member</a>

    <a class="btn btn-lg btn-default login-link"
      href="{% url 'account_login' %}">Log in</a>
  </div>
</div>
<div class="call-to-action-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-md-5 col-sm-push-3 col-md-offset-2 col-sm-offset-1">
        <div style="max-width:350px;margin:0px auto;">
          <h3>Why become a member?</h3>
          <p>
            With access to your raw data, you can...
          </p>
          <ul>
            <li>see your personal contribution</li>
            <li>explore your data</li>
            <li>share it with others</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3 col-sm-pull-7 col-md-pull-5">
        <div style="max-width:147px;margin:0px auto;max-height:135px;">
          <img class="img-responsive"
            src="{% static 'images/open_humans_logo_only.png' %}">
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
<div class="call-to-action-3">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-lg-6 col-md-offset-2 col-sm-offset-1">
        <h2>Open source yourself.</h2>
        <p>
          Open Humans members can choose to publicly share their data.<br>
          Make your data a public resource! Which data you share is always up
          to you.
        </p>
      </div>
      <div class="col-lg-2 col-sm-offset-1 col-lg-offset-0">
        <a class="btn btn-primary action-button"
            href="{% url 'public-data:home' %}">
          <b>Learn about public sharing</b>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="call-to-action-2">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-offset-1">
        <h3>Meet our studies!</h3>
        <p class="lead">
          We're kicking off with three awesome studies:
        </p>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <a href="{% url 'activities' %}">
          <table style="width:100%">
            <tr>
              <td style="width:33%">
                <img class="img-responsive"
                  src="{% static 'images/american-gut-logo.jpg' %}">
              </td>
              <td style="width:33%">
                <img class="img-responsive"
                  src="{% static 'images/goviral-logo.jpg' %}">
              </td>
              <td>
                <img class="img-responsive"
                  src="{% static 'images/pgp-logo.jpg' %}">
              </td>
            </tr>
          </table>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="call-to-action-4">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-lg-6 col-md-offset-2 col-sm-offset-1">
        <h3>Researchers, connect your studies</h3>
        <p>
          Open Humans members have valuable data &ndash; and they can share it
          with you!
        </p>
      </div>
      <div class="col-lg-2 col-sm-offset-1 col-lg-offset-0">
        <a class="btn btn-info action-button"
          href="{% url 'about' %}"><b>Learn about connecting</b></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
