{% extends 'base.html' %}

{% block head_title %}Jobs{% endblock %}

{% block main %}
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Open Humans: Jobs</h2>
  </div>
  <div class="col-lg-12">
    <h3>Open Humans: Web Developer / Programmer</h3>

    <p>
      Open Humans is seeking staff to support the technology aspects of our
      platform and community. While we would lov someone already highly
      experienced in the relevant technologies, we are also open to otherwise
      experienced programmers learning the technologies along the way.
    </p>

    <p>
      We're hoping to grow our full time staff, but part-time contractors are
      also welcome!
    </p>

    <p><b>
      If interested, please email us at:
      <a href="mailto:jobs@openhumans.org">jobs@openhumans.org</a>
    </b></p>

    <hr>

    <h4>About us</h4>
      Open Humans is an exciting nonprofit project with a growing community.
      Our team is small and dedicated, and we're hoping to find someone that
      loves it as much as we do.
    </p>
    <p>
      We're "full remote" and connect to each other online. Our core staff is
      US/Pacific, but we have folks in Europe as well.
    </p>

    <p><b>Want to learn more about Open Humans?</b> We invite you to...</p>
    <ul>
      <li>Check out the
        <a href="http://www.madeleineball.net/open-sourcing-ourselves/">
        video / transcript of "Open Sourcing Ourselves"</a>.</li>
      <li>Join the
        <a href="http://slackin.openhumans.org">Open Humans Community Slack
          channel</a> and say hi!</li>
    </ul>

    <hr>

    <h4>What we need</h4>
    <p>
      Our current technical stack (see also
      <a href="https://www.github.com/OpenHumans/">https://www.github.com/OpenHumans/</a>)
    </p>
    <li>
      <a href="https://www.github.com/OpenHumans/open-humans">
        Main site</a>: Python Django framework
    </li>
    <ul>
      <li>Heroku deployment</li>
      <li>PostgreSQL database</li>
      <li>OAuth2 provider</li>
    </ul>
    <li>Additional sites:</li>
    <ul>
      <li>
        <a href="https://github.com/OpenHumans/open-humans-data-processing">
          Flask site</a> with custom integration to main site,
        Celery/RabbitMQ asynchronous processing, Data retrieval
        via OAuth APIs with various providers
      </li>
      <li>
        Smaller Django sites w/ Celery processing and standard
        Open Humans API integrations
      </li>
      <li>
        GitHub and continuous integration / testing via Codeship
      </li>
      <li>
        Amazon web services: S3 file storage, Route 53 DNS.
      </li>
      <li>
        G Suite (email, documents, etc.)
      </li>
      <li>
        Assorted other services and integrations: Desk.com,
        IFTTT, Mailchimp, Slack
      </li>
    </ul>
    <p>
      What we’d like a developer to work on with us:
    </p>
    <ul>
      <li>Maintenance of the current software stack</li>
      <li>Implement minor feature improvements</li>
      <li>Optimize the site (improve database queries, site load time)</li>
      <li>Refactor deprecated approaches in site features (i.e. clean-up)</li>
      <li>Implement new data sources</li>
      <li>Work on larger features and projects, like...
        <ul>
          <li>updating an existing iOS app</li>
          <li>cleaning up &amp; re-releasing an old project (iOS/Android/web apps)</li>
          <li>refactoring our backend to facilitate data management by users</li>
        </ul>
      </li>
    </ul>

    <p>
      Skills or features we'd like to see:
    </p>
    <ul>
      <li>Solid programming experience</li>
      <li>Strong Python experience</li>
      <li>JavaScript/JQuery/HTML/CSS experience</li>
      <li>Django framework experience</li>
      <li>
        Full stack web programming experience
        (database to HTML/CSS/JS)</li>
      <li>
        Experience with cloud solutions (AWS, Heroku)
        and related services (Google Analytics)
      </li>
      <li>Experience with OAuth APIs</li>
      <li>Experience with mobile app development (iOS and/or Android)</li>
    </ul>

  </div> <!-- col-lg-12 -->
</div> <!-- row -->
{% endblock %}
