{% extends 'base.html' %}

{% block main %}
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Open Humans: News and Updates</h2>
  </div>
  <div class="col-lg-12">
    <h4>Select recent media coverage about the Open Humans Network</h4>

    <ul class="news-items">
      <li>
        <a href="http://www.scientificamerican.com/podcast/episode/donate-your-health-data-to-medical-science/">Donate Your Health Data to Medical Science</a>
        <strong>Scientific American</strong>
        3/31/2015
      </li>

      <li>
        <a href="http://www.popsci.com/online-platform-open-humans-connects-clinical-trial-subjects-and-researchers">'OPEN HUMANS' WANTS TO BE THE FACEBOOK OF CLINICAL RESEARCH</a>
        <strong>Popular Science</strong>
        3/31/2015
      </li>

      <li>
        <a href="http://www.forbes.com/sites/arleneweintraub/2015/03/27/open-humans-network-invites-everyone-to-share-their-personal-health-data/">This Website Invites You To Donate Your Body To Science Without Having To Die</a>
        <strong>Forbes</strong>
        3/27/2015
      </li>

      <li>
        <a href="http://www.beckershospitalreview.com/healthcare-information-technology/open-humans-network-connects-patients-researchers-to-share-data.html">Open Humans Network connects patients, researchers to share data</a>
        <strong>Becker's Healthcare</strong>
        3/26/2015
      </li>

      <li>
        <a href="http://dataconomy.com/open-sourcing-the-human-body-with-the-open-humans-platform/">Open-Sourcing the Human Body With the “Open Humans” Platform</a>
        <strong>dataconomy.com</strong>
        3/26/2015
      </li>

      <li>
        <a href="http://healthitsecurity.com/2015/03/26/is-patient-data-security-at-risk-with-new-platform/">Is Patient Data Security At Risk with New Platform?
        </a><strong>HealthITSecurity</strong>
        3/26/2015
      </li>

      <li>
        <a style="line-height: 1.5em;" href="http://www.betaboston.com/news/2015/03/25/open-humans-project-allows-healthy-adults-to-open-source-medical-data/">Open Humans project allows healthy adults to open-source medical data
        </a><strong style="line-height: 1.5em;">Boston Globe / BetaBoston</strong>
        3/25/2015
      </li>

      <li>
        <a href="http://www.ihealthbeat.org/articles/2015/3/25/new-open-humans-network-democratizes-patient-data-for-research">New Open Humans Network Democratizes Patient Data for Research</a>
        <strong>iHealthBeat</strong>
        3/25/2015
      </li>

      <li>
        <a href="http://www.nature.com/news/website-recruits-people-to-share-health-data-for-studies-1.17185">Website recruits people to share health data for studies</a>
        <strong>Nature</strong>
        3/25/2015
      </li>

      <li>
        <a href="http://www.engadget.com/2015/03/25/public-medical-database-aims-to-open-source-your-body/">Public medical database aims to 'open-source' your body</a>
        <strong>Engadget</strong>
        3/25/2015
      </li>

      <li>
        <a href="http://www.geek.com/science/its-now-possible-to-open-source-your-body-for-medical-science-1618777/">It’s now possible to open source your body for medical science</a>
        <strong>Geek.com</strong>
        3/25/2015
      </li>

      <li>
        <a href="http://www.businessinsider.com.au/r-online-platform-open-humans-launches-to-share-dna-other-data-2015-3">People can now open-source their very own DNA for science</a>
        <strong>Business Insider Australia</strong>
        3/25/2015
      </li>

      <li>
        <a href="http://www.reuters.com/article/2015/03/24/us-health-openhumans-idUSKBN0MK0CR20150324">Online platform 'Open Humans' launches to share DNA, other data</a>
        <strong>Reuters</strong>
        3/24/2015
      </li>

      <li>
        <a href="http://fortune.com/2015/03/24/open-humans-platform-dna/">‘Open Humans’ platform wants to democratize your DNA for better medical research</a>
        <strong>Fortune</strong>
        3/24/2015
      </li>

      <li>
        <a style="line-height: 1.5em;" href="http://thestack.com/open-humans-network-open-source-dna-240315">Open Humans Network allows volunteers to open-source their DNA
        </a><strong style="line-height: 1.5em;">TheStack.com</strong>
        3/24/2015
      </li>

      <li>
        <a href="http://www.newsweek.com/new-online-platform-allows-you-open-source-your-body-316485">New Online Platform Allows You to Open Source Your Body</a>
        <strong>Newsweek</strong>
        3/24/2015
      </li>

      <li>
        <a style="line-height: 1.5em;" href="http://rt.com/news/243649-body-health-research-project/">‘Open-source your body’: Top researchers launch online platform to share health data
        </a><strong style="line-height: 1.5em;">RT</strong>
        3/24/2015
      </li>

      <li>
        <a style="line-height: 1.5em;" href="http://www.esbtrib.com/2015/03/24/8291/genome-and-dna-sharing-site-open-human-network-launched-tuesday/">Genome and DNA Sharing Site Open Human Network Launched Tuesday
        </a><strong style="line-height: 1.5em;">Empire State Tribune</strong>
        3/24/2015
      </li>

      <li>
        <a style="line-height: 1.5em;" href="http://quantifiedself.com/2015/03/open-research-open-data-open-humans/">Open Research, Open Data, Open Humans
        </a><strong style="line-height: 1.5em;">Quantified Self</strong>
        3/25/2015
      </li>

    </ul>
  </div> <!-- col-lg-12 -->
</div> <!-- row -->
{% endblock %}
