{% extends 'base.html' %}

{% block head_title %}Project grants{% endblock %}

{% block main %}
<h2>Project grants</h2>

<iframe class="visible-lg-inline" frameborder="0" width="560" height="315"
  style="float:right; margin:0px 0px 15px 30px;"
  src="https://www.youtube.com/embed/q97lIpuL-bs"
  allowfullscreen="true"></iframe>

<iframe class="visible-md-inline" frameborder="0" width="560" height="315"
  style="float:right; margin:0px 0px 15px 30px;"
  src="https://www.youtube.com/embed/q97lIpuL-bs"
  allowfullscreen="true"></iframe>

<iframe class="visible-sm-inline" frameborder="0" width="448" height="252"
  style="float:right; margin:0px 0px 5px 20px;"
  src="https://www.youtube.com/embed/q97lIpuL-bs"
  allowfullscreen="true"></iframe>

<p>
  Projects can work with members in a variety of exciting ways
  &ndash; help members add new data sources, or share new ways
  to explore existing data!
</p>
<p>
  For example...
</p>
<ul>
  <li>Share a data report or visualization!</li>
  <li>Help members import a new type of data</li>
  <li>Connect to an existing community or study</li>
</ul>
<p>
  <a href="{% url 'direct-sharing:overview' %}" class="btn btn-default btn-xs">Learn more about projects</a>
</p>
<p>
  Do you have a project that might help grow the Open Humans ecosystem?
</p>
<p>
  <b>You may qualify for funding to support your work!</b>
</p>

<iframe class="visible-xs-block" frameborder="0" width="448" height="252"
  style="margin:0 auto 10px;"
  src="https://www.youtube.com/embed/q97lIpuL-bs"
  allowfullscreen="true"></iframe>

<h3>Criteria</h3>
<p>
  Projects are invited to apply for a project grant of up to $5000 if they
  plan to do one or more of the following:
</p>
<ul>
  <li>
    provide valuable new/novel data sources
  </li>
  <li>
    raise significant awareness of the project
  </li>
  <li>
    attract new members (e.g. by providing an analysis or visualization of
    data) who will continue to contribute to the ecosystem in the future
    after your project rolls out
  </li>
</ul>

<h3>Ideas</h3>

<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6">
    <p>
      <b>Data interpretations</b>
    </p>
    <ul style="margin-bottom:0px;">
      <li>GPS data + something else (activity data? GIS?)</li>
      <li>Genetic data ancestry interpretation</li>
      <li>Other genome reports, browsers, and/or visualizations</li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-4 hidden-sm">
    <div class="visible-xs" style="margin-top:10px;"></div>
    <p>
      <b>Data sources</b>
    </p>
    <ul style="margin-bottom:0px;">
      <li>Time tracking app data (e.g. RescueTime)</li>
      <li>Diet logging app data</li>
      <li>Sleep tracking app data</li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-4 hidden-sm">
    <ul style="margin-bottom:0px;">
      <li>Google Fit</li>
      <li>Google search history (via Takeout)</li>
      <li>Google location history (via Takeout)</li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-4 hidden-sm">
    <ul>
      <li>Social media (Facebook or Twitter)</li>
      <li>Surveys/tools to record phenotype, traits, health history</li>
      <li>Psych profiling (e.g. Big Five personality traits)</li>
    </ul>
  </div>
  <div class="col-sm-6 visible-sm">
    <p>
      <b>Data sources</b>
    </p>
    <ul style="margin-bottom:0px;">
      <li>Time tracking app data (e.g. RescueTime)</li>
      <li>Diet logging app data</li>
      <li>Sleep tracking app data</li>
      <li>Google Fit</li>
      <li>Google search history (via Takeout)</li>
      <li>Google location history (via Takeout)</li>
      <li>Social media (Facebook or Twitter)</li>
      <li>Surveys/tools to record phenotype, traits, health history</li>
      <li>Psych profiling (e.g. Big Five personality traits)</li>
    </ul>
  </div>
</div>

<h3>Guidelines</h3>
<p>
  Unless otherwise agreed upon, funded projects are expected to meet the
  following guidelines:
</p>

<ul>
  <li>
    The project should be deployed on Open Humans within 6 months of funding
    &ndash; "approved" and available to Open Humans members.
  </li>
  <li>
    The project is expected to remain available for at least 6 months after
    deployment, and be responsive to bug reports and other issues.
  </li>
  <li>
    The project should enable others to replicate it and create derivatives,
    through documentation and open source licensing (e.g. BSD, MIT, Apache, or
    GPL).
  </li>
  <li>
    Grants will be distributed in three parts: one third upon grant award,
    one third upon deployment, and one third after the 6 month period is
    complete.
  </li>
</ul>

<p>
  Projects should expect to receive a response from the Open Humans Team
  within four weeks of receipt of application.
</p>

<h3>Application</h3>

<p>
  Interested in applying?
</p>

<p>
  Feel free to join by our
  <a href="http://slackin.openhumans.org/">Slack chatroom</a> to get advice!
</p>

<p>
  Once you're ready, please
  <a href="https://goo.gl/forms/4XnrMNToXHeDxNLH3">use our Google Form to
    submit an application</a>.
</p>

<a href="https://goo.gl/forms/4XnrMNToXHeDxNLH3" class="btn btn-default"
    style="margin-top:10px;margin-bottom:20px;"><b>Apply for a project grant
    </b></a>

{% endblock %}
