{% extends 'base.html' %}

{% block head_title %}Project grants{% endblock %}

{% block main %}
<h2>Project grants</h2>

<iframe class="visible-lg-inline" frameborder="0" width="560" height="315"
  style="float:right; margin:0px 0px 15px 30px;"
  src="https://biteable.com/watch/embed/open-humans-project-grants-1462682/f0278d3d0dcd7b8ad012e1e12908bde7f1e558e7"
  allowfullscreen="true"></iframe>

<iframe class="visible-md-inline" frameborder="0" width="560" height="315"
  style="float:right; margin:0px 0px 15px 30px;"
  src="https://biteable.com/watch/embed/open-humans-project-grants-1462682/f0278d3d0dcd7b8ad012e1e12908bde7f1e558e7"
  allowfullscreen="true"></iframe>

<iframe class="visible-sm-inline" frameborder="0" width="448" height="252"
  style="float:right; margin:0px 0px 5px 20px;"
  src="https://biteable.com/watch/embed/open-humans-project-grants-1462682/f0278d3d0dcd7b8ad012e1e12908bde7f1e558e7"
  allowfullscreen="true"></iframe>

<p>
  Do you have a project that will help grow the Open Humans ecosystem?
</p>
<p>
  <b>You may qualify for funding to support your work!</b>
</p>

<iframe class="visible-xs-block" frameborder="0" width="448" height="252"
  style="margin:0 auto 10px;"
  src="https://biteable.com/watch/embed/open-humans-project-grants-1462682/f0278d3d0dcd7b8ad012e1e12908bde7f1e558e7"
  allowfullscreen="true"></iframe>

<h3>Criteria</h3>
<p>
  Projects are invited to apply for a project grant of up to $5000 if they
  plan to do one or more of the following:
</p>
<ul>
  <li>
    provide valuable new/novel data sources
  </li>
  <li>
    raise significant awareness of the project
  </li>
  <li>
    attract new members (e.g. by providing an analysis or visualization of
    data) who will continue to contribute to the ecosystem in the future
    after your project rolls out
  </li>
</ul>

<h3>Guidelines</h3>
<p>
  Unless otherwise agreed upon, funded projects are expected to meet the
  following guidelines:
</p>

<ul>
  <li>
    The project should be deployed on Open Humans within 6 months of funding
    &ndash; "approved" and available to Open Humans members.
  </li>
  <li>
    The project is expected to remain available for at least 6 months after
    deployment, and be responsive to bug reports and other issues.
  </li>
  <li>
    The project should enable others to replicate it and create derivatives,
    through documentation and open source licensing (e.g. BSD, MIT, Apache, or
    GPL).
  </li>
  <li>
    Grants will be distributed in three parts: one third upon grant award,
    one third upon deployment, and one third after the 6 month period is
    complete.
  </li>
</ul>

<p>
  Projects should expect to receive a response from the Open Humans Team
  within four weeks of receipt of application.
</p>

<h3>Application</h3>

<p>
  Interested in applying?
</p>

<p>
  Feel free to join by our
  <a href="http://slackin.openhumans.org/">Slack chatroom</a> to get advice!
</p>

<p>
  Once you're ready, please
  <a href="https://goo.gl/forms/4XnrMNToXHeDxNLH3">use our Google Form to
    submit an application</a>.
</p>

<a href="https://goo.gl/forms/4XnrMNToXHeDxNLH3" class="btn btn-default"
    style="margin-top:10px;margin-bottom:20px;"><b>Apply for a project grant
    </b></a>

{% endblock %}
