{% extends 'base.html' %}

{% load static %}

{% block head_title %}The Public Data API{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css"
    href="{% static 'vendor/select2.min.css' %}">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.9/select2-bootstrap.css">
{% endblock %}

{% block main %}
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">The Public Data API</h2>
  </div>

  <div class="col-lg-12">
    <p>
      The Open Humans public data API allows you to retrieve JSON
      representations of data shared publicly by Open Humans members, including
      URLs to download that data.
    </p>

    <p>
      <b>if you plan to use public data,
      <a href="{% url 'community_guidelines' %}#public-data">please read our
      guidelines for using public data</a>.</b>
    </p>

    <h3>Instructions</h3>

    <p>
       The base URL for the API is <a
       href="https://www.openhumans.org/api/public-data/">
         <code>https://www.openhumans.org/api/public-data/</code></a>.
    </p>

    <p>
      Because the API only returns public data no authentication is required.
    </p>

    <p>
      The API uses pagination via the <code>offset</code> querystring
      parameter; the default page size is 100 results. A smaller or larger page
      size can be specified with the <code>limit</code> parameter.
    </p>

    <p>
      You may filter the results with these querystring parameters:
    </p>

    <ul>
      <li><code>created_start</code> the start date to filter from
        (inclusive)</li>
      <li><code>created_end</code> the end date to filter to (inclusive)</li>
      <li><code>source</code> the name of a data souce, like
        <code>direct-sharing-134</code> or <code>direct-sharing-139</code>, or
        a comma-separated list of sources, like
        <code>direct-sharing-134,direct-sharing-139</code>.</li>
      <li><code>username</code> a username, like <code>madprime</code></li>
      <li><code>member_id</code> an Open Humans member ID, like
        <code>94621811</code></li>
    </ul>

    <h3>Examples</h3>

    <p>
      This query searches for the 5 most recently updated data files from user
      <code>madprime</code>:
    </p>

    <p>
      <code><a
       href="https://www.openhumans.org/api/public-data/?username=madprime&limit=5">
          https://www.openhumans.org/api/public-data/?username=madprime&limit=5</a>
      </code>
    </p>

    <p>
      This query shows all Harvard Personal Genomes Project data updated on
      2/14/2016:
    </p>

    <p>
      <code><a
       href="https://www.openhumans.org/api/public-data/?created_start=2/14/2016&created_end=2/14/2016&source=direct-sharing-139">
          https://www.openhumans.org/api/public-data/?created_start=2/14/2016&created_end=2/14/2016&source=direct-sharing-139</a>
      </code>
    </p>

    <h3>Which users have which sources?</h3>

    <p>
      There are also two ways to see which users have which data sources:
    </p>

    <ul>
      <li>
        <a href="https://www.openhumans.org/api/public-data/sources-by-member/">
          <code>https://www.openhumans.org/api/public-data/sources-by-member/</code></a></li>

      <li>
        <a href="https://www.openhumans.org/api/public-data/members-by-source/">
          <code>https://www.openhumans.org/api/public-data/members-by-source/</code></a></li>
    </ul>

    <h3>Query for a specific data type</h3>

    <p>
      Create a search URL for a specific data type:
    </p>

    <p>
      <select class="form-control input-lg select2-single" id="source-search">
        <option></option>

        {% for project in projects %}
          <option value="{{ project.id_label }}">
            {{ project.name }}
          </option>
        {% endfor %}
      </select>
    </p>

    <p>
      <strong>URL:</strong> <span id="source-url"></span>
    </p>
  </div>
</div>
{% endblock %}
