{% extends 'base.html' %}

{% load static %}
{% load utilities %}

{% block head_title %}The Public Data API{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css"
    href="{% static 'vendor/select2.min.css' %}">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.9/select2-bootstrap.css">
{% endblock %}

{% block main %}
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Public Data APIs</h2>
  </div>

  <div class="col-lg-12">
    <p>
      The Open Humans public data APIs allows you to retrieve JSON
      representations of publicly available data in Open Humans.
    </p>

    <p>
      <b>If you plan to use public data,
      <a href="{% url 'community_guidelines' %}#public-data">please read our
      guidelines for using public data</a>.</b>
    </p>
  
    <ul>
      <li>
        <a href="#datafile-api-endpoints">DataFile API endpoints</a>
      </li>
      <li>
        <a href="#member-api-endpoints">Member API endpoints</a>
      </li>
      <li>
        <a href="#project-api-endpoints">Project API endpoints</a>
      </li>
      <li>
        <a href="#datatype-api-endpoints">DataType API endpoints</a>
      </li>
    </ul>

    <p>
      List endpoints use pagination via the <code>offset</code> querystring
      parameter; the default page size is 100 results. A smaller or larger page
      size can be specified with the <code>limit</code> parameter.
    </p>

    <h3 id="datafile-api-endpoints">DataFile API endpoints</h3>
    <ul>
      <li>
        <p>
          <h4>DataFiles</h4>
          Information for all public DataFiles.
        </p>
        <p>
          <b>URL path:</b> <a
            href="/api/public/datafiles/">
            <code>/api/public/datafiles/</code>
          </a>
        </p>
        <p>
          <b>Filter options:</b>
        </p>
        <ul>
          <li><code>datatype_id</code> (integer)</li>
          <li><code>source_project_id</code> (integer)</li>
          <li><code>username</code> (string)</li>
        </ul>
        <p>
         <b>Examples:</b>
        </p>
        <ul>
          <li>
            <p>
              <a href="/api/public/datafiles/?source_project_id=70">
                <code>/api/public/datafiles/?source_project_id=70</code>
              </a>
            </p>
          </li>
          <li>
            <p>
              <a href="/api/public/datafiles/?datatype_id=6">
              <code>/api/public/datafiles/?datatype_id=6</code>
              </a>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          <h4>DataFile</h4>
          Information for an individual public DataFiles.
        </p>
        <p>
          <b>URL path:</b>
            <code>/api/public/datafile/{id}</code>
        </p>
      </li>
    </ul>

    <ul>
        <h3 id="member-api-endpoints">Member API endpoints</h3>
      <li>
        <p>
          <h4>Members</h4>
          All active members.
        </p>
        <p>
          <b>URL path:</b> <a
            href="/api/public/members/">
            <code>/api/public/members/</code></a>
        </p>
        <p>
          <b>Filter options:</b>
        </p>
        <ul>
          <li><code>name</code> (string) matches as inexact substring</li>
          <li><code>username</code> (string) matches as inexact substring</li>
        </ul>
        <p>
          <b>Examples:</b>
        </p>
        <ul>
          <li>
            <p>
              <a href="/api/public/members/?name=bastian">
              <code>/api/public/members/?name=bastian</code>
              </a>
            </p>
          </li>
          <li>
            <p>
              <a href="/api/public/members/?username=beau">
              <code>/api/public/members/?username=beau</code>
              </a>
            </p>
          </li>
        </ul>
      </li>

      <li>
        <p>
          <h4>Member</h4>
          Information about an individual member, specified by username.
        </p>
        <p>
          <b>URL path:</b>
            <code>/api/public/member/{username}/</code>
        </p>
        <p>
          <b>Examples:</b>
        </p>
        <ul>
          <li>
            <p>
              <a href="/api/public/member/madprime/">
              <code>/api/public/member/madprime/</code>
              </a>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          <h4>Member public files</h4>
          DataFiles a member has publicly shared.
        </p>
        <p>
          <b>URL path:</b>
            <code>/api/public/member/{username}/datafiles/</code>
        </p>
      </li>
      <li>
        <p>
          <h4>Member projects</h4>
          Projects a member has joined. Restricted to visible memberships in approved projects.
        </p>
        <p>
          <b>URL path:</b>
            <code>/api/public/member/{username}/projects/</code>
        </p>
        <p>
          <b>Examples:</b>
        </p>
        <ul>
          <li>
            <p>
              <a href="/api/public/member/madprime/projects/">
              <code>/api/public/member/madprime/projects/</code>
              </a>
            </p>
          </li>
        </ul>
      </li>
    </ul>

    <h3 id="project-api-endpoints">Project API endpoints</h3>
    <ul>
      <li>
        <p>
          <h4>Projects</h4>
          All approved projects.
        </p>
        <p>
          <b>URL path:</b> <a
            href="/api/public/projects/">
            <code>/api/public/projects/</code></a>
        </p>
        <p>
          <b>Filter options:</b>
        </p>
        <ul>
          <li><code>active</code> (boolean)</li>
          <li><code>id</code> (integer)</li>
          <li><code>name</code> (string)</li>
        </ul>
        <p>
          <b>Examples:</b>
        </p>
        <ul>
          <li>
            <p>
              <a href="/api/public/projects/?active=false">
              <code>/api/public/project/?active=false</code>
              </a>
            </p>
          </li>
          <li>
            <p>
              <a href="/api/public/projects/?id=139">
              <code>/api/public/project/?id=139</code>
              </a>
            </p>
          </li>
          <li>
            <p>
              <a href="/api/public/projects/?name=openSNP">
              <code>/api/public/project/?name=openSNP</code>
              </a>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          <h4>Project</h4>
          Information about an individual project, specified by ID.
        </p>
        <p>
          <b>URL path:</b>
            <code>/api/public/project/{id}/</code></a>
        </p>
        <p>
          <b>Examples:</b>
        </p>
        <ul>
          <li>
            <p>
              <a href="/api/public/project/139/">
              <code>/api/public/project/139/</code>
              </a>
            </p>
          </li>
        </ul>
      </li>

      <li>
        <p>
          <h4>Project datafiles</h4>
          Public DataFiles that were produced by this project.
        </p>
        <p>
          <b>URL path:</b>
            <a href="/api/public/project/139/datafiles/">
              <code>/api/public/project/139/datafiles/</code>
            </a>
        </p>
        <p>
          <b>Examples:</b>
        </p>
        <ul>
          <li>
            <p>
              <a href="/api/public/project/139/members/">
              <code>/api/public/project/139/members/</code>
              </a>
            </p>
          </li>
        </ul>
      </li>

      <li>
        <p>
          <h4>Project members</h4>
          Members that have joined a project. Restricted to visible memberships in approved projects.
        </p>
        <p>
          <b>URL path:</b>
            <code>/api/public/project/{id}/members/</code>
        </p>
        <p>
          <b>Examples:</b>
        </p>
        <ul>
          <li>
            <p>
              <a href="/api/public/project/139/members/">
              <code>/api/public/project/139/members/</code>
              </a>
            </p>
          </li>
        </ul>
      </li>
    </ul>

    <h3 id="datatype-api-endpoints">DataType API endpoints</h3>
    <ul>
      <li>
        <p>
        <h4>DataTypes</h4>
        All registered DataTypes.
        </p>
        <p>
          <b>URL path:</b> <a
            href="/api/public/datatypes/">
            <code>/api/public/datatypes/</code>
          </a>
        </p>
        <p>
          <b>Filter options:</b>
        </p>
        <ul>
          <li><code>source_project_id</code> (integer)</li>
        </ul>
        <p>
          <b>Examples:</b>
        </p>
        <ul>
          <li>
            <p>
              <a href="/api/public/datatypes/?source_project_id=176">
              <code>/api/public/datatypes/?source_project_id=176</code>
              </a>
            </p>
          </li>
        </ul>
      </li>

      <li>
        <p>
        <h4>DataType</h4>
        Information about an individual DataType, specified by ID.
        </p>
        <p>
          <b>URL path:</b>
            <code>/api/public/datatypes/{id}/</code>
        </p>
        <p>
          <b>Examples:</b>
        </p>
        <ul>
          <li>
            <p>
              <a href="/api/public/datatype/4/">
              <code>/api/public/datatype/4/</code>
              </a>
            </p>
          </li>
        </ul>
      </li>

    </ul>

    <hr>
    <h3>Legacy endpoints</h3>
    <p>
      These are deprecated.
    </p>
    <ul>
      <li>
        <p>
          <h4>Public data files</h4>
        </p>
        <p>
          <b>URL path:</b> <a
            href="/api/public-data/">
            <code>/api/public-data/</code></a>
        </p>
        <p>
          <b>Filter options:</b>
        </p>
        <ul>
          <li><code>created_start</code> the start date to filter from
            (inclusive)</li>
          <li><code>created_end</code> the end date to filter to (inclusive)</li>
          <li><code>source</code> the name of a data souce, like
            <code>direct-sharing-134</code> or <code>direct-sharing-139</code>, or
            a comma-separated list of sources, like
            <code>direct-sharing-134,direct-sharing-139</code>.</li>
          <li><code>username</code> a username, like <code>madprime</code></li>
          <li><code>member_id</code> an Open Humans member ID, like
            <code>94621811</code></li>
        </ul>
        <p>
          <b>Examples:</b>
          <p>
            This query searches for the 5 most recently updated data files from user
            <code>madprime</code>:
          </p>

          <p>
            <code><a
              href="/api/public-data/?username=madprime&limit=5">
                /api/public-data/?username=madprime&limit=5</a>
            </code>
          </p>

          <p>
            This query shows all Harvard Personal Genomes Project data updated on
            2/14/2016:
          </p>

          <p>
            <code><a
              href="/api/public-data/?created_start=2/14/2016&created_end=2/14/2016&source=direct-sharing-139">
                /api/public-data/?created_start=2/14/2016&created_end=2/14/2016&source=direct-sharing-139</a>
            </code>
          </p>
        </p>
      </li>
      <li>
        <h4>Which users have which sources?</h4>

        <p>
          Deprecated ways to see which users have which data sources:
        </p>

        <ul>
          <li>
            <a href="/api/public-data/sources-by-member/">
              <code>/api/public-data/sources-by-member/</code></a></li>

          <li>
            <a href="/api/public-data/members-by-source/">
              <code>/api/public-data/members-by-source/</code></a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
