{% extends 'base-bs4.html' %}

{% block head_title %}Self Research{% endblock %}

{% block main %}
<p class="text-muted"><i>This page contains extended information about the
  <a href="https://www.openhumans.org/activity/keating-memorial-self-research/">Keating
  Memorial Self Research</a> activity run by Open Humans.
</i></p>
<div class="embed-responsive embed-responsive-1by1">
  <iframe class="embed-responsive-item" src="https://docs.google.com/document/d/e/2PACX-1vReHFVpQcby_wBSGvWZ6UztOnN7duRUTTylpAVzHtvLncr6dFXhqZ398NkK6hu4VFyKXVYcPAfYH2RN/pub?embedded=true"></iframe>
</div>
{% endblock main %}