{% extends 'base.html' %}

{% load humanize %}

{% block main %}
<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Statistics</h2>

    <h3>Open Humans members</h3>

    {{ members|intcomma }}

    <h3>Highly active users</h3>

    2+ public files: {{ public_two_plus }}<br>
    2+ private files: {{ private_two_plus }} (excludes members with 2+ public
    files)<br>

    <h3>Study connections</h3>

    {% for application in studies %}
    {{ application.name }}: {{ application.count }}<br>
    {% endfor %}

    <h3>Public data connections</h3>
    {% for source, list in public_sources.items %}
    {{ source }}: {{ list|length }}<br>
    {% endfor %}

    <h3>Private data connections</h3>
    {% for source, list in private_sources.items %}
    {{ source }}: {{ list|length }}<br>
    {% endfor %}
  </div>
</div>
{% endblock %}
