{% extends 'base.html' %}

{% block head_title %}Terms of use{% endblock %}

{% block main %}
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Open Humans Terms of Use</h2>
  </div>
  <div class="col-lg-12">
    <p>
      Open Humans is a project of PersonalGenomes.org, a 501(c)(3) nonprofit
      founded in 2008 and is dedicated to creating public genome, health, and
      trait data. Sharing data is critical to scientific progress, but has been
      hampered by traditional research practices. Our approach is to invite
      willing participants to publicly share their personal data for the greater
      good. Open Humans strives to make this possible by helping connect
      researchers and participants who wish to share data with each other.
    </p>
    <p>
    These Terms of Use (&ldquo;Terms&rdquo;) apply to your use of the Open
    Humans website and service. Please read these Terms carefully, since when
    you use Open Humans, you agree to be bound by them.
    </p>
    <h3>Content</h3>
    <p>
      You can post your own content on Open Humans, including profile photos,
      comments, and other material you choose.
    </p>
    <p>
      You&mdash;and you alone&mdash;own the rights to the content you create and
      post on Open Humans. By publishing it on our site, you give Open Humans
      permission to use your content to do what we reasonably believe is
      necessary to provide our service, including storing, displaying,
      reproducing, distributing, and creating derivative works of your content.
    </p>
    <p>
      You are responsible for the information you import to or publish on Open
      Humans and assume all risk associated with it, including anyone else’s
      reliance on its accuracy or legal claims that might stem from it. By
      posting content on Open Humans, you represent that you have the necessary
      rights to publish that material, and that doing so doesn’t conflict with
      any licenses you may have granted to others.
    </p>
    <p>
      We don’t pre-screen anyone&rsquo;s content. However, we have the right to
      review and disable access to any content posted on Open Humans. We
      aren&rsquo;t responsible for anything that you or anyone else imports to
      or posts on our service.
    </p>
    <p>
      Open Humans may contains links to websites, data, and content that we
      don&rsquo;t own or control. We don’t endorse or assume responsibility for
      that material, either.
    </p>
    <p>
      Any feedback, comments, or suggestions you send us about Open Humans is
      entirely voluntary. We are free to use such feedback, comments, or
      suggestions as we see fit and without any obligation.
    </p>
    <h3>Your Imported Personal Data</h3>
    <p>
      You decide whether you’d like to import your personal data into Open
      Humans and share it with researchers or other users. Please understand
      that if you choose to make your personal data available to anyone else,
      they may decide to use it for other purposes with or without your
      explicit approval. Open Humans isn&rsquo;t responsible for enforcing any
      agreements you might make with others about their use of your data.
    </p>
    <h3>Research and Similar Uses</h3>
    <p>
      We must rely on our users to post only data that is accurate and that
      they have the right to post. We do not pre-screen data and do not have
      the ability to independently confirm that any posted data is accurate or
      legal to use. We are not liable for any damages caused to any researcher
      or similar user by reliance on data that proves to be inaccurate or
      otherwise unusable.
    </p>
    <h3>Open Humans&rsquo; Rights</h3>
    <p>
      Our service is protected by copyright, trademark, and other intellectual
      property laws. Open Humans gives you a personal, worldwide, non-assignable
      license to use the software we provide for your own personal,
      non-commercial use. This license lets you use Open Humans solely as
      permitted by these Terms.
    </p>
    <p>
      For some content, alternative licenses or public domain dedications may
      allow more permissive use.
    </p>
    <p>
      Unauthorized use of any of Open Humans&rsquo; trademarks, logos, domain
      names, or other distinctive brand features is not allowed.
    </p>
    <h3>Our Use of Content and Data on Open Humans</h3>
    <p>
      We reserve the right to access, read, preserve, and disclose any
      information we believe is necessary to (i) satisfy any applicable law,
      regulation, legal process or governmental request; (ii) enforce the Terms,
      including investigation of potential violations; (iii) detect, prevent, or
      otherwise address fraud, security or technical issues; (iv) respond to
      user support requests; or (v) protect the rights, property or safety of
      Open Humans, its users and the public.
    </p>
    <h3>Community Guidelines</h3>
    <p>
      You promise to use Open Humans only for lawful purposes, and to not
      violate the rights of others. Our
      <a href="{% url 'community_guidelines' %}">Community Guidelines</a>,
      which are part of these Terms, contain more information about acceptable
      and unacceptable uses of the service. Any unacceptable use &ndash;
      including posting content that is illegal &ndash; threatening or harassing,
      may result in termination of your account and suspension of service
      access in the future.
    </p>
    <h3>Data Collection and Sharing</h3>
    <p>
      Any information you provide to Open Humans is subject to our
      <a href="{% url 'data-use-policy' %}">Data Use Policy</a>, which governs
      our collection and use of your information. By using Open Humans you
      consent to the collection and use of this information as explained in the
      Data Use Policy. Please review those provisions, as well.
    </p>
    <p>
      Open Humans is intended only for users located within the United States.
      Please do not post data if you are not a resident of the United States.
    </p>
    <h3>Data Security</h3>
    <p>
      We take the security of our service very seriously. We use reasonable
      practices to protect the security of your account and data, but we
      can&rsquo;t guarantee that someone won’t be able to defeat our security
      measures. Please let us know immediately if you discover any compromise
      of your account.
    </p>
    <p>
      If you discover a vulnerability in our service, we would be grateful for
      your report and encourage you to let us know immediately. To report a
      security vulnerability, please email
      <a href="mailto:security@openhumans.org">security@openhumans.org</a>.
    </p>
    <h3>Copyright</h3>
    <p>
      Open Humans complies with the Digital Millennium Copyright Act. We
      respond to takedown notices and have a policy of terminating repeat
      infringers when appropriate.
    </p>
    <p>
      For more information, see our
      <a href="{% url 'copyright-policy' %}">Copyright Policy</a>.
    </p>
    <h3>Kids</h3>
    <p>
      Sorry, but Open Humans is not directed to people 12 and younger. If we
      become aware that we have collected personal information from a child
      under 13, we will delete that information.
    </p>
    <h3>Changes to Our Service</h3>
    <p>
      We’re always working to make Open Humans better. This means we may change
      the functionality or appearance of the service at any time, for any
      reason, with or without advance notice.
    </p>
    <h3>Disclaimers</h3>
    <p>
      Open Humans is provided “as is” without any warranties, express or implied.
      </p>
    <p><em>
      Open Humans disclaims all warranties and representations of
      merchantability, fitness for a particular purpose and non-infringement.
    </em></p>
    <h3>Limitation of Liability</h3>
    <p><em>
      To the fullest extent allowed by law, Open Humans shall not be liable for
      any indirect, incidental, special, consequential or punitive damages, or
      any loss of profits or revenues (whether incurred directly or indirectly),
      or any loss of data, use, goodwill or other intangible losses resulting
      from (A) your access to, use of, inability to access or inability to use
      Open Humans; (B) any third party conduct or content on Open Humans,
      including any defamatory, offensive or illegal conduct of third parties;
      or (C) any unauthorized access, use or alteration of your content. To the
      extent permitted by law, the total liability of PersonalGenomes.org, for
      any claims under these terms, including for any implied warranties, is
      limited to the amount you paid us to use these services.
    </em></p>
    <h3>Arbitration</h3>
    <p>
      If you become unhappy with Open Humans for any reason, we encourage you to
      contact us at <a
        href="mailto:support@openhumans.org">support@openhumans.org</a>. We’ll
      work with you to resolve the dispute in good faith.
    </p>
    <p>
      If we aren’t able to solve the problem informally, we both agree that we
      will resolve any claims arising from these Terms or our service by final
      and binding arbitration through the American Arbitration Association
      (&ldquo;AAA&rdquo;) under the Commercial Arbitration Rules and
      Supplementary Procedures for Consumer Related Disputes.
    </p>
    <p>
      The arbitration will take place in the United States town where you live
      or work; Chapel Hill, North Carolina; or another location we both agree
      upon. Either of us may file a lawsuit in court solely for injunctive
      relief against the other to stop misuse of Open Humans or intellectual
      property infringement without first going through arbitration.
    </p>
    <p>
      You agree to resolve any dispute you have with us on an individual basis
      in arbitration, and not as a class arbitration, class action or
      consolidated proceeding of any kind.
    </p>
    <h3>Governing Law and Jurisdiction</h3>
    <p>
      These Terms will be governed by the laws of the Commonwealth of
      Massachusetts, except for its conflict of laws principles.
    </p>
    <p>
      Any action based on, relating to, or alleging a breach of these Terms must
      be brought in a state or federal court in Massachusetts. We each agree to
      submit to the exclusive personal jurisdiction and venue of those courts.
    </p>
    <h3>Waiver and Severability</h3>
    <p>
      The failure of Open Humans to enforce any right or provision of these
      Terms is not a waiver. If any provision of these Terms is held invalid or
      unenforceable, the other provisions will remain in full force and effect.
    </p>
    <h3>Termination or Suspension of Access to Open Humans</h3>
    <p>
      Open Humans has the right to suspend or terminate your ability to access
      our service for any reason, with or without notice.
    </p>
    <h3>Entire Agreement</h3>
      These Terms, our <a href="{% url 'data-use-policy' %}">Data Use
      Policy</a>, and our <a href="{% url 'community_guidelines' %}">Community
      Guidelines</a> govern your use of Open Humans and our operation of the
      site. In addition, if you participate in a study operated by Open Humans,
      that study may have an informed consent agreement that further describes
      interactions with us.
    </p>
    <p>
      The most current version of these Terms supersede any prior versions of
      this agreement.
    </p>
    <p>
      Open Humans may revise these Terms from time to time. The most current
      version will always be at
      <a href="/terms/">https://openhumans.org/terms/</a>. If we believe a
      revision is material, we will notify you via email and prominently display
      a notice on our site 7 days before we make those changes. By continuing to
      access or use Open Humans after those revisions become effective, you
      agree to be bound by the revised Terms.
    </p>
    <h3>Contact</h3>
    <p>
      Open Humans welcomes questions, concerns, and feedback about these terms.
      If you have suggestions for us, feel free to let us know at
      <a href="mailto:support@openhumans.org">support@openhumans.org</a>.
    </p>
  </div> <!-- col-lg-12 -->
</div> <!-- row -->
{% endblock %}
