{% extends 'base.html' %}

{% load utilities %}

{% block main %}
<div class="row" style="margin-top:5px;">
  <div class="col-sm-3">
    <ul class="nav nav-pills nav-stacked" style="margin-top:10px;">
      <li class="{% active 'profile/$' %}">
        <a href="{% url 'profile_dashboard' %}">Public profile</a></li>
      <li class="{% active 'profile/research_data' %}">
        <a href="{% url 'profile_research_data' %}">Research data</a></li>
      <li class="{% active 'profile/account_settings' %}">
        <a href="{% url 'profile_account_settings' %}">Account settings</a></li>
    </ul>
    <hr class="visible-xs-block" style="margin-top:0px;" />
  </div>
  <div class="col-sm-9">
    {% block dashboard_main %}
    <div style="min-height:28px;">
      <span class="small muted">The following is your public profile.
        <a href="/members/{{ profile.user.username }}">[Go to public URL]</a>
      </span>
      <a class="btn btn-xs btn-default pull-right"
      href="{% url 'profile_edit' %}">Edit profile</a>
    </div>
    <div class="container-fluid panel panel-default pad-all-sides"
      style="clear:both;">
      {% include 'profile/detail.html' %}
    </div>
  {% endblock dashboard_main %}
  </div>
</div>
{% endblock main %}
