{% load thumbnail %}
{% load utilities %}

<div class="row">
  <div class="col-xs-12" id="about-me">
      <img class="img-rounded img-responsive"
        src="{% thumbnail profile.profile_image 250x250 %}"
        style="width:30%; margin-left:2%; float:right; max-width: 250px;">
    <div><span class="h3"><small>Username: </small>
      {{ profile.user.username }}</span></div>
    <h6 class="text-muted section-header" style="width:68%">About me</h6>
    <hr class="section-header"
    style="width:67%;text-align:left;margin: 0 auto 0 0;" />
    {{ profile.about_me|markdown }}
  </div>
</div>
