{% extends 'profile/personal_dashboard.html' %}

{% load bootstrap_tags %}

{% block dashboard_main %}
  <form class="form-horizontal" role="form" method="post"
      action="{% url 'personal_profile_edit' %}" id="profile-edit-form"
      enctype="multipart/form-data">

    {% csrf_token %}

    {{ form|as_bootstrap_horizontal }}

    <input id="profile-edit" type="submit" value="Update profile"
      form="profile-edit-form" class="btn btn-primary col-md-offset-2">

  </form>

{% endblock dashboard_main %}
