{% extends 'panel.html' %}

{% block panel_title %}Account set up: Contact Preferences{% endblock %}

{% block panel_content %}
<div class="row">
  <div class="col-xs-12">
    <h5>Receive news and updates</h5>
    <p>Find out about new research studies and site features! You can always
      unsubscribe later.</p>
    <p>(Radio box Yes/No here, default selection "Yes".)</p>
    <h5>Allow Open Humans members to contact you</h5>
    <p>If you allow this option, we'll let other members send you emails. Your
      email address is not revealed to them unless you reply to their message.
      </p>
    <p>(Radio box Yes/No here, default selection "No".)</p>
  </div>
</div>
{% endblock %}
