{% extends 'scopes/scope-container.html' %}

{% block icon %}
<span class="glyphicon glyphicon glyphicon-folder-open"
  aria-hidden="true"></span>
{% endblock %}

{% block description %}
<p>This permission grants access to your <strong>GoViral</strong> data. A
  combination of read and write access is granted based on the other requested
  permissions.</p>

<p><strong>Write Access</strong> allows the requesting application to add or
  remove a GoViral user ID to or from your Open Humans account.</p>

<p><strong>Read Access</strong> allows the requesting application to access the
  GoViral user ID associated with your Open Humans account.</p>
{% endblock %}
